.project-menu {
  font-weight: 100;
}

.project-menu .selector {
  border-radius: 2px;
  cursor: pointer;
  line-height: 24px;
  margin: 14px 6px;
  float: right;
  padding: 4px 6px;
}

.project-menu .selector.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.project-menu.closed .selector:hover {
  background: var(--dark-grey-1);
}

.project-menu .selector .icon {
  color: var(--light-green-1);
  padding-left: 7px;
}

.project-menu .menu {
  background-color: var(--black-3);
  border: 1px solid var(--dark-grey-1);
  border-top: none;
  color: var(--light-grey-7);
  line-height: 1.231em;
  list-style: none;
  padding: 10px 12px;
  position: absolute;
  top: 59px;
  width: 600px;
  z-index: 20;
}

.project-menu .menu .search-wrapper {
  margin-bottom: 10px;
  position: relative;
  font-size: 13px;
}

.project-menu .menu .search-wrapper .icon {
  color: var(--light-grey-7);
  font-size: 1.2em;
  position: absolute;
  left: 6px;
  top: 6px;
  z-index: 20;
}

.project-menu .menu .search-wrapper input[type='search'] {
  color: var(--white-1);
  padding: 4px 3px 3px 25px;
  background: var(--dark-grey-1);
  border: 1px solid var(--grey-3);
  border-radius: 3px;
  font-weight: 300;
  height: 28px;
  position: relative;
  width: 100%;
  z-index: 10;
}

/* Remove highlight in Chrome */
.project-menu .menu .search-wrapper input[type='search']:focus {
  outline: none;
}

.project-menu
  .menu
  .search-wrapper
  input[type='search']::-webkit-search-decoration,
.project-menu
  .menu
  .search-wrapper
  input[type='search']::-webkit-search-cancel-button {
  display: none;
}

.project-menu .menu ul {
  max-height: 318px;
  overflow: auto;
}

.project-menu .menu .static-links {
  border-top: 1px solid var(--light-grey-1);
  margin-top: 5px;
  padding-top: 5px;
}

.project-menu .menu .current a {
  color: var(--light-green-1);
}

.project-menu .menu .header {
  border-bottom: 1px solid var(--light-grey-1);
  padding: 5px 4px;
  overflow: auto;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5px;
}

.project-menu .menu .header .project {
  float: left;
}

.project-menu .menu .header .progress {
  float: right;
}

.project-menu .menu .header .icon {
  margin: 1px 5px;
}
