<section id="main">

  <!-- Section-1: Introduction -->
  <section id="section-1" class="section">
    <div class="container">
      <h1>Welcome to Pontoon</h1>
      <p>
        Pontoon is a translation management system used and developed by
        the Mozilla localization community. It specializes in open source localization
        that is driven by the community and uses version-control systems
        for storing translations.
      </p>
      <div class="flex">
        <a class="button primary" href="{{ start_url }}">Start Localizing Now</a>
        <span>or</span>
        <a class="button" href="{% url 'pontoon.translate.locale.agnostic' 'tutorial' 'playground' %}">Take a Tour</a>
      </div>
    </div>
    <div class="footer">
      <a href="#section-2" class="scroll">Learn more</a>
    </div>
  </section>

  <!-- Section-2: Add custom content here -->

  <!-- Section-3: Path to contribution -->
  <section id="section-3" class="section">
    <div class="container">
      <div class="content-wrapper flex-col-2 flex-direction-col">
        <h2>This is how it works.</h2>
        <p>
          Pontoon is a simple and intuitive tool that requires little technical skills to use it.
          Each language has its own team of localizers.
          Join one, find a project you'd like to contribute to, and you're ready to start contributing!
        </p>
      </div>
      <div class="flex-col-2 flex">
        <div class="timeline"></div>
        <ol>
          <li class="first">Pick your team and project</li>
          <li class="second">Submit a suggestion</li>
          <li class="third">Have it approved by a trusted localizer</li>
          <li class="flex">
            <div class="checkmark fa fa-check"></div>
            <p>Show it to your friends as it lands in product</p>
          </li>
        </ol>
      </div>
    </div>
  </section>

  <!-- Section-4: Features -->
  <section id="section-4" class="section">
    <div class="container">
      <div class="content-wrapper flex-col-2 flex-direction-col">
        <h2>Things which make it special.</h2>
        <p>
          From the ground up, Pontoon has been designed as the tool
          that brings all your team's localization tasks together in one place.
          All the functionality and services you need are seamlessly integrated
          into a single platform.
        </p>
      </div>
      <div class="flex-col-2">
        <div class="flex">
          <div class="box">
            <div class="box-image fas fa-cogs"></div>
            <p>Machine translation</p>
          </div>
          <div class="box">
            <div class="box-image fas fa-tasks"></div>
            <p>Mass actions</p>
          </div>
        </div>
        <div class="flex">
          <div class="box">
            <div class="box-image fas fa-chart-line"></div>
            <p>Localization dashboards</p>
          </div>
          <div class="box">
            <div class="box-image far fa-clock"></div>
            <p>Deadline and priority info</p>
          </div>
        </div>
        <div class="flex">
          <div class="box">
            <div class="box-image far fa-bell"></div>
            <p>Notifications</p>
          </div>
          <div class="box">
            <div class="box-image fas fa-sync"></div>
            <p>Sync with Git and Mercurial</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section-5: In-context localization -->
  <section id="section-5" class="section">
    <div class="container">
      <div class="content-wrapper flex-col-2 flex-direction-col">
        <h2>One more thing.</h2>
        <p>
          One of the coolest features of Pontoon
          is localizing web content in-place,
          on the web page itself.
          The moment you submit a translation,
          it replaces the original text in the web page,
          making you the first proofreader and tester.
          Talk about context?
        </p>
        <a class="button primary" href="{% url 'pontoon.translate.locale.agnostic' 'pontoon-intro' 'messages.properties' %}">Try In-context Localization</a>
      </div>
      <div class="image-wrapper flex-col-2">
        <img class="section-side-image-3" src="static/img/section-5.svg" />
      </div>
    </div>
  </section>

  <!-- Section-6: Final -->
  <section id="section-6" class="section">
    <div class="container">
      <div class="content-wrapper flex-direction-col">
        <h2>Join us.</h2>
        <p>Now that you know what Pontoon is, come on in!</p>
        <a class="button primary" href="{{ start_url }}">Start Localizing Now</a>
        <p>Want to learn more?</p>
        <a class="button" href="{% url 'pontoon.translate.locale.agnostic' 'tutorial' 'playground' %}">Take a Tour</a>
      </div>
      <div class="footer flex">
        <div class="flex-col-3 mozilla">
          <a href="https://mozilla.org/">
            <img class="logo" src="static/img/moz-logo.svg" />
          </a>
        </div>
        <div class="flex-col-3 github">
          <a href="https://github.com/mozilla/pontoon/">Hack it on Github</a>
        </div>
        <div class="flex-col-3 contact">
          <a href="https://discourse.mozilla.org/c/pontoon">Give Feedback</a>
        </div>
      </div>
    </div>
  </section>

</section>
