{% extends 'base.html' %}

{% block title %}Localize Mozilla{% endblock %}

{% block class %}homepage{% endblock %}

{% block middle %}
<section id="main">

  <!-- Side Navigation -->
  <ul class="side-navigation">
    <li href="#section-1" class="active"></li>
    <li href="#section-2"></li>
    <li href="#section-3"></li>
    <li href="#section-4"></li>
    <li href="#section-5"></li>
    <li href="#section-6"></li>
  </ul>

  <!-- Section-1: Introduction -->
  <section id="section-1" class="snaps dark" data-section-name="section-1">
    <div class="container neg-margin-large">
      <div class="title">Localize Mozilla</div>
      <div class="content">
        If you want to make Firefox available in your language,
        join a global community of localizers from all over the world,
        track progress of various Mozilla localization projects, and more,
        Pontoon is there for you.
      </div>
      <div class="flex">
        <a class="button primary" href="{{ url('pontoon.teams') }}">Start Localizing Now</a>
        <span>or</span>
        <a class="button" href="{{ url('pontoon.translate.locale.agnostic', 'demo', 'playground') }}">Take a Tour</a>
      </div>
    </div>
    <div class="footer">
      <a href="#section-2" class="scroll">Learn more</a>
    </div>
  </section>

  <!-- Section-2: Why Mozilla? -->
  <section id="section-2" class="snaps" data-section-name="section-2">
    <div class="container vertical-align-center container-full-height">
      <div  class= "flex-col-5"><img class="section-side-image-1 neg-margin-large" src="{{ static('img/section-2.svg') }}" /></div>
      <div class="why-mozilla flex-col-7 flex-direction-col neg-margin-large">
        <div class="title">Here's why localizing Mozilla matters.</div>
        <div class="content colored-content">Mozilla's localization (L10n) objective is to improve the world by culturally adapting Mozilla products by region and offering them to every user throughout the world and create an open web available for everyone beyond all the linguistic, cultural and geographical boundaries.<br/><br/>This program is a non-profit open source project where we work closely with communities of volunteer contributors who also care about the fate of the open web. Their contributions to our L10n effort make having an open and accessible web possible.<br/><br/>Working together, we can open the web to all and protect user rights all over the world.
        </div>
      </div>
    </div>
  </section>

  <!-- Section-3: Path to contribution -->
  <section id="section-3" class="snaps" data-section-name="section-3">
    <div class="container vertical-align-center container-full-height">
      <div  class= "flex-col-7 neg-margin-large">
        <div class="colored-content align-center path-startend-text"><p>Create an account</p></div>
        <div class="relative center">
          <div class="colored-content absolute content-div portrait-align-left">
            <div class="text-1"><p>Pick your team and project</p></div>
            <div class="text-2 align-right"><p>Submit a suggestion</p></div>
            <div class="text-1"><p>Suggestion gets approved by a trusted localizer</p></div>
            <div class="text-4 align-right"><p>And it lands in product</p></div>
          </div>
          <img class="section-side-image-2" src="{{ static('img/section-3.svg') }}" />
        </div>
        <div class="colored-content align-center path-startend-text"><p>Show it to your friends</p></div>
      </div>
      <div class="path flex-col-5 flex-direction-col neg-margin-large">
        <div class="title">This is how it works.</div>
        <div class="content colored-content">So you would like to get involved in the Mozilla localization efforts? We're very happy to have you! Pontoon is a simple and intuitive tool that requires little to no technical skills for localizers to use it.</div>
      </div>
    </div>
  </section>

  <!-- Section-4: Features -->
  <section id="section-4" class="snaps" data-section-name="section-4">
    <div class="container vertical-align-center container-full-height">
      <div class="features flex-col-6 flex-direction-col neg-margin-large">
        <div class="title align-left">Things which make it special.</div>
        <div class="content colored-content">From the ground up, Pontoon has been designed as the localization management platform that is fast, powerful and easy to use.</div>
      </div>
      <div class="cards-of-fetaures flex-col-6 neg-margin-large flex relative">
        <div class="card-border">
        </div>
        <div class="cards">
          <div class="card-features flex vertical-align-center">
            <div class="card-image"><img src="{{ static('img/feature-1.svg') }}" />
            </div>
            <div class="card-text content colored-content">Built in machine translation and translation memory services.
            </div>
          </div>
          <div class="card-features flex vertical-align-center">
            <div class="card-image"><img src="{{ static('img/feature-2.svg') }}" />
            </div>
            <div class="card-text content colored-content">Notifications to stay on top of localization all the time.
            </div>
          </div>
          <div class="card-features flex vertical-align-center">
            <div class="card-image"><img src="{{ static('img/feature-3.svg') }}" />
            </div>
            <div class="card-text content colored-content">Tracking progress, deadlines and priorities on dashboard.
            </div>
          </div>
          <div class="card-features flex vertical-align-center">
            <div class="card-image"><img src="{{ static('img/feature-4.svg') }}" />
            </div>
            <div class="card-text content colored-content">Mass actions for quick translation and review tasks.
            </div>
          </div>
          <div class="card-features flex vertical-align-center">
            <div class="card-image"><img src="{{ static('img/feature-5.svg') }}" />
            </div>
            <div class="card-text content colored-content">Automated bi-di synchronization with version control systems.
            </div>
          </div>
          <div class="card-features flex vertical-align-center">
            <div class="card-image"><img src="{{ static('img/feature-6.svg') }}" />
            </div>
            <div class="card-text content colored-content">In-context localization.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section-5: In-context localization -->
  <section id="section-5" class="snaps" data-section-name="section-5">
    <div class="container vertical-align-center container-full-height">
      <div class="content-wrapper flex-col-6 flex-direction-col neg-margin-large">
        <div class="title">One more thing.</div>
        <div class="content">
          One of the coolest features of Pontoon is localizing web content in-place,
          on the web page itself.
          The moment you submit a translation,
          it replaces the original text in the web page,
          making you the first proofreader and tester.
          <br />
          Talk about context?
        </div>
        <a class="button primary" href="{{ url('pontoon.translate.locale.agnostic', 'pontoon-intro', 'messages.properties') }}">Give it a Try!</a>
      </div>
      <div class="image-wrapper flex-col-6">
        <img class="section-side-image-3 neg-margin-large" src="{{ static('img/section-5.svg') }}" />
      </div>
    </div>
  </section>

  <!-- Section-6: Final -->
  <section id="section-6" class="snaps dark" data-section-name="section-6">
    <div class="container">
      <div class="footer vertical-align-center flex-direction-col">
        <div class="title">Join us.</div>
        <p class="content">Now that you know what Pontoon is, come on in.</p>
        <a class="button primary" href="{{ url('pontoon.teams') }}">Start Localizing Now</a>
        <p class="content">Want to learn more?</p>
        <a class="button" href="{{ url('pontoon.translate.locale.agnostic', 'demo', 'all-resources') }}">Take a Tour</a>
      </div>
      <div class="homepage-footer flex">
        <div class="flex-col-4 align-left"><a href="https://mozilla.org/"><img class="moz-logo" src="{{ static('img/moz-logo.svgz') }}" /></a></div>
        <div class="flex-col-4 flex">
          <p class="content"><a href="https://github.com/mozilla/pontoon/">Hack it on Github</a></p>
          <img class="github" src="{{ static('img/section-6-github.svg') }}" />
        </div>
        <div class="flex-col-4 align-right">
          <p class="content"><a href="mailto:pontoon-team@mozilla.com">Get in touch</a></p>
        </div>
      </div>
    </div>
  </section>

</section>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'homepage' %}
{% endblock %}

{% block extend_js %}
  {% javascript 'homepage' %}
{% endblock %}
