.history {
  line-height: 22px;
}

.history ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.history p {
  color: var(--translation-color);
  min-height: 22px;
}

.history > p {
  color: var(--light-grey-7);
  font-style: italic;
  padding: 15px 10px;
}
