{% extends "base.html" %}
{% import 'heading.html' as Heading %}
{% import 'widgets/multiple_item_selector.html' as multiple_item_selector %}

{% block heading %}
  {{ Heading.heading(title='Insights', subtitle='Configuration') }}
{% endblock %}

{% block class %}admin-project{% endblock %}

{% block middle %}
  <form
    id="config-form"
    method="POST"
    action="{{ request.path }}"
    class="{% if pk %}edit{% else %}add{% endif %}"
  >
    {% csrf_token %}

    <section class="controls clearfix">
      <h3>
        <span>Target Locales</span>
      </h3>
      <div class="locales-pretranslate clearfix">
        {{
          multiple_item_selector.render(
              available_locales,
              selected_locales,
              form_field='dashboard_locales',
          )
        }}
      </div>
    </section>

    <div class="controls clearfix">
      <button class="button active save">Save Configuration</button>
      <a href="{{ url('pontoon.insights') }}" class="cancel">Cancel</a>
    </div>
  </form>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'insights' %}
{% endblock %}

{% block extend_js %}
  {% javascript 'insights' %}
{% endblock %}
