{% extends "base.html" %}
{% import 'heading.html' as Heading %}
{% import "insights/widgets/tooltip.html" as Tooltip %}
{% import 'insights/widgets/community_health_table.html' as CommunityHealthTable %}

{% block title %}Insights{% endblock %}

{% block class %}insights{% endblock %}

{% block heading %}
  {{ Heading.heading(title='Insights', subtitle=(start_date|format_datetime("date")) + " - " + end_date|format_datetime("date")) }}
{% endblock %}

{% block bottom %}
  <section id="main">
    <div class="container">
      <div id="insights">
        <section class="team-community-health-activity block">
          <h3 class="controls">Community Health activity</h3>
          {% if locales %}
            <menu class="controls clearfix">
              <div class="search-wrapper small clearfix">
                <div class="icon fas fa-search"></div>
                <input
                  class="table-filter"
                  type="search"
                  autocomplete="off"
                  autofocus
                  placeholder="Filter teams"
                  data-filter="td:nth-child(1)"
                />
              </div>
              <div class="button-container">
                <a
                  class="button config-button"
                  id="edit-config"
                  href="{{ url('pontoon.insights.config') }}"
                  >Edit Configuration
                </a>
                <button class="button config-button" id="show-scores">
                  Show scores
                </button>
              </div>
            </menu>
            <div class="dashboard-container">
              {{ CommunityHealthTable.header() }}

              {% for locale in locales %}
                {% set main_link = url('pontoon.teams.team', locale.code) %}

                {{ CommunityHealthTable.item(locale, main_link, curr_snapshot=current_snapshots.get(locale.id), base_deltas=snapshot_base_deltas.get(locale.id), score_deltas=snapshot_score_deltas.get(locale.id), columns=columns) }}
              {% endfor %}

              {{ CommunityHealthTable.footer() }}
            </div>
          {% else %}
            <div class="no-locales">
              <p>No locales selected.</p>
              <p>
                Please
                <a href="{{ url('pontoon.insights.config') }}"
                  >choose one or more locales</a
                >
                to display.
              </p>
            </div>
          {% endif %}
          {% if global_locale_health_insights and locales %}
            <figure>
              <h3 class="controls">
                Community health score
                {{ Tooltip.display(intro='Community health score for each team.') }}
              </h3>
              <div class="chart-wrapper">
                <canvas
                  id="community-health-chart"
                  data-dataset="{{ global_locale_health_insights.dataset|to_json() }}"
                  data-dates="{{ global_locale_health_insights.dates|to_json() }}"
                >
                </canvas>
              </div>
              <div
                id="community-health-chart-legend"
                class="legend"
                width="240"
              ></div>
            </figure>
          {% endif %}
        </section>
        <section class="team-pretranslation-quality">
          <figure class="block">
            <h3 class="controls">
              Team pretranslation quality
              {{ Tooltip.display(intro='Approval rate of pretranslations for each team.') }}
            </h3>
            <div class="chart-wrapper">
              <canvas
                id="team-pretranslation-quality-chart"
                data-dataset="{{ team_pretranslation_quality.dataset|to_json() }}"
                data-dates="{{ team_pretranslation_quality.dates|to_json() }}"
              >
              </canvas>
            </div>
            <div
              id="team-pretranslation-quality-chart-legend"
              class="legend"
              width="240"
            ></div>
          </figure>
        </section>
        <section class="project-pretranslation-quality">
          <figure class="block">
            <h3 class="controls">
              Project pretranslation quality
              {{ Tooltip.display(intro='Approval rate of pretranslations for each project.') }}
            </h3>
            <div class="chart-wrapper">
              <canvas
                id="project-pretranslation-quality-chart"
                data-dataset="{{ project_pretranslation_quality.dataset|to_json() }}"
                data-dates="{{ project_pretranslation_quality.dates|to_json() }}"
              >
              </canvas>
            </div>
            <div
              id="project-pretranslation-quality-chart-legend"
              class="legend"
            ></div>
          </figure>
        </section>
      </div>
    </div>
  </section>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'insights' %}
{% endblock %}

{% block extend_js %}
  {% javascript 'insights' %}
{% endblock %}
