/* Base styles defined */
.flex {
  display: flex;
}

.flex-direction-col {
  display: flex;
  flex-direction: column;
}

.flex-col-2 {
  flex-basis: 50%;
}

.flex-col-3 {
  flex-basis: 33.3333333%;
}

.flex-col-5 {
  flex-basis: 41.6666666%;
}

.flex-col-7 {
  flex-basis: 58.3333333%;
}

.container-full-height {
  height: 100vh;
}

.vertical-align-center {
  display: flex;
  align-items: center;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.neg-margin-large {
  margin-top: -50px;
}

/* General styles */
body > header {
  width: 100%;
  position: fixed;
  background: transparent;
  z-index: 10;
}

#main {
  background: #FFFFFF;
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5rem;
  padding: 0;
}

.snaps {
  padding-top: 50px;
}

.dark {
  background-image: url(../img/background.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #F4F4F4;
  display: flex;
  font-weight: 400;
  align-items: center;
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 50px;
  padding-bottom: 16px;
}

.dark .title {
  color: #FFFFFF;
}

.dark .content {
  color: #AAAAAA;
}

#main .button {
  background-color: #FFFFFF;
  color: #000000;
  display: flex;
  border-radius: 2px;
  width: 240px;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
}

#main .button.primary {
  background-color: #7BC876;
  color: #FFFFFF;
}

/* Side Navigation */
.side-navigation {
  position: fixed;
  top: 50vh;
  margin: 0;
  transform: translateY(-50%);
  z-index: 15;
}

.side-navigation li {
  cursor: pointer;
  width: 10px;
  height: 10px;
  display: block;
  background-color: #DFDFDF;
  border-radius: 50%;
  margin-bottom: 24px;
  margin-left: 16px;
}

.side-navigation li.active {
  background-color: #7BC876;
  transition-duration: 0.5s;
}

/* Section-1 */
#section-1 {
  text-align: left;
}

#section-1 .title {
  font-size: 64px;
  margin-bottom: 10px;
}

#section-1 .content {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 60px;
  width: 900px;
}

#section-1 .flex {
  align-items: center;
}

#section-1 .flex span {
  padding: 0 20px;
}

/* Scroll for more animation */
#section-1 .footer {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 40px;
}

#section-1 .scroll {
  color: #AAAAAA;
  display: inline-block;
  font-size: 12px;
  height: 100px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#section-1 .scroll:after {
  content: '';
  border-right: 2px solid #7BC876;
  border-bottom: 2px solid #7BC876;
  width: 30px;
  height: 30px;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  -webkit-animation: 3s jump infinite ease;
  animation: 3s jump infinite ease;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@-webkit-keyframes jump {
  0%, 100% {
    top: 20px;
  }
  50% {
    top: 40px;
  }
}

@keyframes jump {
  0%, 100% {
    top: 20px;
  }
  50% {
    top: 40px;
  }
}

/* Section-2 */
.why-mozilla {
  margin-left: 80px;
}

.section-side-image-1 {
  width: 345px;
}

/* Section-3 */
.path {
  margin-left: 66px;
}

.section-side-image-2 {
  width: 493px;
}

.path-startend-text {
  font-weight: 400;
  color: black;
  margin-right: 60px;
  margin-bottom: 7px;
  font-size: 12px;
}

.content-div {
  width: 476px;
  padding-top: 66px;
  font-size: 12px;
}

.text-1 {
  color: #5F5F5F;
  margin-top: 10px;
  margin-bottom: 50px;
  padding-left: 66px;
  width: 150px;
  line-height: 19px;
}

.text-2 {
  color: #5F5F5F;
  margin-bottom: 55px;
  padding-right: 80px;
}

.text-4 {
  color: #5F5F5F;
  margin-top: -20px;
  padding-right: 80px;
}

/* Section-4 */
#section-4 {
  position: relative;
}

.features .title {
  padding-right: 26px;
}

.features .content {
  padding-right: 40px;
}

.card-border {
  position: absolute;
  height: 90%;
  width: 2px;
  background-color: #DFDFDF;
  margin-left: 60px;
  z-index: 0;
}

.cards {
  z-index: 5;
}

.card-features {
  padding-bottom: 16px;
  align-items: flex-start;
}

.card-image img {
  width: 60px;
  margin: 0 26px;
}

.card-text {
  font-size: 15px;
  line-height: 20px;
  margin: auto 0px;
  margin-right: 8px;
}

/* Section-5 */
#section-5 .content-wrapper  {
  padding-right: 40px;
}

#section-5 .content {
  padding-bottom: 30px;
}

#section-5 .image-wrapper  {
  text-align: right;
}

#section-5 img {
  box-shadow: 2px 2px 4px 0 #BFBFBF;
  width: 450px;
}

/* Section-6 */
#section-6 .content-wrapper {
  margin-top: -120px;
}

#section-6 .content-wrapper .title {
  padding-bottom: 50px;
}

#section-6 .content-wrapper .content {
  padding-bottom: 10px;
}

#section-6 .content-wrapper .button.primary {
  margin-bottom: 30px;
}

#section-6 .footer {
  position: absolute;
  height: 8vh;
  top: 92vh;
  align-items: center;
  width: 980px;
}

#section-6 .footer .mozilla .logo {
  width: 80px;
}

#section-6 .footer .github {
  text-align: center;
}

#section-6 .footer .contact {
  text-align: right;
}

#section-6 .footer a {
  color: #FFFFFF;
}

#section-6 .footer a:hover {
  color: #7BC876;
}
