/* General styles */
body > header {
  background: transparent;
  border-color: transparent;
  position: fixed;
  transition: background-color 0.3s;
  width: 100%;
  z-index: 10;
}

body > header.menu-opened {
  border-color: #333941;
}

#main {
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
}

#main p {
  line-height: 1.5rem;
}

.section {
  background: #FFFFFF;
}

.dark {
  background-image: url(../img/background.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #F4F4F4;
  display: flex;
  align-items: center;
  position: relative;
}

.section .container  {
  display: flex;
  align-items: center;
}

.dark .container  {
  display: block;
}

.section .content-wrapper  {
  padding-right: 40px;
}

h2 {
  color: inherit;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 50px;
  padding-bottom: 16px;
  text-transform: none;
}

.dark .h2 {
  color: #FFFFFF;
}

.dark p {
  color: #CCCCCC;
}

#main .button {
  background-color: #FFFFFF;
  color: #000000;
  display: flex;
  border-radius: 2px;
  width: 240px;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
}

#main .button.primary {
  background-color: #7BC876;
  color: #FFFFFF;
}

.flex {
  display: flex;
}

.flex-direction-col {
  display: flex;
  flex-direction: column;
}

.flex-col-2 {
  flex-basis: 50%;
}

.flex-col-3 {
  flex-basis: 33.3333333%;
}

/* Side Navigation */
#fp-nav ul li a span {
  background: #888888;
}

#fp-nav ul li a.active span {
  background: #7BC876;
}

/* Section-1 */
#section-1 {
  text-align: left;
}

#section-1 h1 {
  font-size: 64px;
  margin-bottom: 10px;
}

#section-1 p {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 60px;
  width: 900px;
}

#section-1 .flex {
  align-items: center;
}

#section-1 .flex span {
  padding: 0 20px;
}

/* Scroll for more animation */
#section-1 .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#section-1 .scroll {
  display: inline-block;
  font-size: 12px;
  height: 90px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#section-1 .scroll:after {
  content: '';
  border-right: 2px solid #7BC876;
  border-bottom: 2px solid #7BC876;
  width: 30px;
  height: 30px;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  -webkit-animation: 3s jump infinite ease;
  animation: 3s jump infinite ease;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@-webkit-keyframes jump {
  0%, 100% {
    top: 20px;
  }
  50% {
    top: 40px;
  }
}

@keyframes jump {
  0%, 100% {
    top: 20px;
  }
  50% {
    top: 40px;
  }
}

/* Section-3 */
.section-side-image-2 {
  width: 493px;
}

.path-startend-text {
  font-weight: 400;
  color: black;
  margin-right: 40px;
  margin-bottom: 7px;
  font-size: 12px;
  text-align: center;
}

.content-div {
  width: 476px;
  padding-top: 66px;
  position: absolute;
  font-size: 12px;
}

.text-1 {
  color: #5F5F5F;
  margin-top: 10px;
  margin-bottom: 50px;
  padding-left: 66px;
  width: 150px;
  line-height: 19px;
}

.text-2 {
  color: #5F5F5F;
  margin-bottom: 45px;
  padding-right: 80px;
  text-align: right;
}

.text-4 {
  color: #5F5F5F;
  margin-top: -20px;
  padding-right: 80px;
  text-align: right;
}

/* Section-4 */
#section-4 {
  position: relative;
}

.cards-of-fetaures {
  position: relative;
}

.card-border {
  position: absolute;
  height: 90%;
  width: 2px;
  background-color: #DFDFDF;
  margin-left: 60px;
  z-index: 0;
}

.cards {
  z-index: 5;
}

.card-features {
  display: flex;
  align-items: flex-start;
  padding-bottom: 16px;
}

.card-image img {
  width: 60px;
  margin: 0 26px;
}

.card-text {
  font-size: 15px;
  line-height: 20px;
  margin: auto 0px;
  margin-right: 8px;
}

/* Section-5 */
#section-5 p {
  padding-bottom: 30px;
}

#section-5 .image-wrapper  {
  text-align: right;
}

#section-5 img {
  box-shadow: 2px 2px 4px 0 #BFBFBF;
  width: 450px;
}

/* Section-6 */
#section-6 .content-wrapper {
  align-items: center;
  padding: 0;
}

#section-6 h2 {
  padding-bottom: 50px;
}

#section-6 p {
  padding-bottom: 10px;
}

#section-6 .button.primary {
  margin-bottom: 30px;
}

#section-6 .footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 980px;
  align-items: center;
}

#section-6 .footer .mozilla .logo {
  width: 80px;
}

#section-6 .footer .github {
  text-align: center;
}

#section-6 .footer .contact {
  text-align: right;
}

#section-6 .footer a {
  color: #FFFFFF;
}

#section-6 .footer a:hover {
  color: #7BC876;
}
