html {
  font-size: 8.22px;
}

/* Base styles defined */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.vertical-align-center {
  display: flex;
  align-items: center;
}

.flex-direction-col {
  display: flex;
  flex-direction: column;
}

.flex-col-4 {
  flex-basis: 33.3333333%;
}

.flex-col-5 {
  flex-basis: 41.6666666%;
}

.flex-col-6 {
  flex-basis: 50%;
}

.flex-col-7 {
  flex-basis: 58.3333333%;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.neg-margin-large {
  margin-top: -6rem;
}

.container-full-height {
  height: 100vh;
}

.white-background {
  background: #FFFFFF;
}

.title {
  font-weight: 700;
  font-size: 4rem;
  color: #FFFFFF;
  line-height: 6rem;
  padding-bottom: 2rem;
}

.content {
  font-size: 1.7rem;
  line-height: 3.2rem;
  color: #f4f4f4;
}

.colored-title {
  color: #272a2f;
}

.colored-content {
  color: #333333;
}


/* All the styles for individual sections */

/*  Header, side-navigation style*/
body > header {
  width: 100%;
  position: fixed;
  background: transparent;
  z-index: 10;
}

#main {
  padding: 0;
}

.side-navigation {
  position: fixed;
  top: 50vh;
  margin: 0;
  transform: translateY(-50%);
  z-index: 15;
}

.side-navigation li {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  background-color: #DFDFDF;
  border-radius: 50%;
  margin-bottom: 2.5rem;
  margin-left: 4rem;
}

.side-navigation li.active {
  background-color: #7BC176;
  transition-duration: 0.5s;
}

.snaps {
  padding-top: 6rem;
}

/* Section-1 */
#section-1 {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
}

#section-1 .container .flex {
  justify-content: center;
  align-items: center;
  padding: 3.2rem 0;
}

#section-1 .container p {
  padding: 0 2.4rem;
  font-size: 1.6rem;
}

#section-1 .container .title {
  width: 100rem;
  margin: 0 auto;
}

#section-1 .container .content {
  width: 80rem;
  margin: 0 auto;
}

#section-1 .footer {
  background-color: #FFFFFF;
  width: 100%;
  height: 14vh;
  display: flex;
  justify-content: center;
  position: absolute;
  padding-top: 1.2vh;
  top: 94vh;
}

#section-1 .footer p {
  cursor: pointer;
  font-size: 1.5rem;
}

#section-1 .footer p:hover {
  text-decoration: underline;
}

/* Section-2 */
.why-mozilla {
  margin-left: 10rem;
}

.section-side-image-1 {
  width: 42rem;
}

/* Section-3 */
.path {
  margin-left: 8rem;
}

.section-side-image-2 {
  width: 60rem;
}

.path-startend-text {
  font-weight: 400;
  color: black;
  margin-right: 7rem;
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
}

.content-div {
  width: 58rem;
  padding-top: 8rem;
  font-size: 1.5rem;
}

.text-1 {
  color: #5F5F5F;
  margin-top: 1.2rem;
  margin-bottom: 4rem;
  padding-left: 8rem;
  width: 18rem;
  line-height: 2.3rem;
}

.text-2 {
  color: #5F5F5F;
  /* margin-top: 0.75rem; */
  margin-bottom: 6.5rem;
  padding-right: 9.5rem;
}

.text-4 {
  color: #5F5F5F;
  margin-top: -2.5rem;
  padding-right: 9.5rem;
}

/* Section-4 */
#section-4 {
  position: relative;
}

.features .title {
  padding-right: 3.2rem;
}

.features .content {
  padding-right: 4.8rem;
}

.card-border {
  position: absolute;
  height: 90%;
  width: 0.3rem;
  background-color: #DFDFDF;
  margin-left: 7rem;
  z-index: 0;
}

.cards {
  z-index: 5;
}

.card-features {
  padding-bottom: 2rem;
  align-items: flex-start;
}

.card-image img {
  width: 7.5rem;
  margin: 0 3.2rem;
}

.card-text {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: auto 0px;
  margin-right: 1rem;
}

/* Section-5 */
.section-side-image-3 {
  width: 50rem;
  box-shadow: 0.3rem 0.3rem 0.6rem 0 #BFBFBF;
}

.in-context .content {
  padding-right: 1.6rem;
}

.in-context a {
  margin: 3.2rem 0;
}

/* Section-6 */
#section-6 {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
}

#main .button {
  display: flex;
  border-radius: 0.2rem;
  width: 28rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
}

#main .button.primary {
  background-color: #7BC176;
  color: #FFFFFF;
}

#main .button.secondary {
  background-color: #FFFFFF;
  color: #000000;
}

#section-6 .footer {
  margin-top: -15rem;
}

#section-6 .footer .content {
  padding-bottom: 1.2rem;
}

#section-6 .footer .button.primary {
  margin-bottom: 4.0rem;
}

#section-6 .homepage-footer {
  width: 980px;
}

.moz-logo {
  width: 10rem;
}

.github {
  margin-left: 2rem;
  width: 3rem;
}

.homepage-footer {
  position: absolute;
  height: 8vh;
  top: 92vh;
  justify-content: space-around;
  align-items: center;
}

.homepage-footer .flex-col-4 {
  justify-content: center;
  align-items: flex-end;
}

.homepage-footer .content a {
  color: #FFFFFF;
}

.homepage-footer .content a:hover {
  color: #7BC176;
}
