.comments-list .add-comment form.container {
    flex-flow: row nowrap;
    align-items: flex-end;
    padding-bottom: 5px;
}

.comments-list .add-comment .submit-button {
    background-color: #4d5967;
    border: solid 1px #4d5967;
    border-radius: 4px;
    color: #ccc;
    display: flex;
    align-items: center;
    height: 36px;
    width: 36px;
    margin-left: 6px;
    padding-left: 10px;
}

.comments-list .add-comment .submit-button:hover {
    color: #272A2F;
    background: #7BC876;
}

.mentions {
    background-color: #333941;
    border-radius: 4px;
    display: flex;
    flex-grow: 2;
}

.mentions--multiLine .mentions__control {
  font-size: 11px;
  line-height: 24px;
  min-height: 36px;
  max-height: 144px;
}
.mentions--multiLine .mentions__highlighter {
  border: none;
  padding: 5px 6px;
  min-height: 36px;
}

.mentions--multiLine .mentions__input {
  border: none;
  color: #fff;
  padding: 9px 6px;
  overflow: auto;
}
  
.mentions__suggestions__list {
  background-color:#4d5967;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 10pt;
}

.mentions__suggestions__item {
  padding: 5px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.mentions__suggestions__item--focused {
  background-color: #333941;
}

.mentions__mention {
  position: relative;
  z-index: 1;
  color: #7BC876;
  text-shadow: 1px 1px 1px #333941, 1px -1px 1px #333941, -1px 1px 1px #333941,
    -1px -1px 1px #333941;
  pointer-events: none;
}
