.comments-list {
    line-height: 22px;
}

.comments-list .comment {
    display: flex;
    margin-left: 58px;
}
.comments-list ul li {
    border-bottom: 1px solid #5e6475;
    padding: 8px;
}

.comments-list ul.pinned-comments li:last-child {
    border-bottom-color: #7bc876;
}

.comments-list .comment .user-avatar {
    padding-right: 8px;
}

.comments-list .comment .user-avatar img {
    border-radius: 4px;
    border: 2px solid #5e6475;
    width: 32px;
    height: 32px;
}

.comments-list .comment .container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}
