
.comment-list .comment {
    padding: 8px 10px;
    transition: all 0.1s ease-out;
    display: flex;
    margin-left: 60px;
}

.comment-list .comment .user-avatar {
    padding-right: 8px;
    position: relative;
    top: 3px;
}

.comment-list .comment .user-avatar img {
    border-radius: 6px;
    border: 2px solid #5E6475;
    width: 38px;
    height: 38px;
}

.comment-list .comment :hover .user-avatar img {
    border-color: #637283;
}

.comment-list .comment .container {
    display: flex;
    flex-flow: column wrap;
}

.comment-list .comment a {
    color: #7BC876;
    font-weight: 400;
}

.comment-list .comment .content {
    background-color: #4d5967;
    border: solid 1px #4d5967;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 8px;
}

.comment-list .add-comment .content,
.comment-list .add-comment input {
    background-color: #272a2f;
    border: solid 1px #272a2f;
    color: #AAAAAA;
}

.comment-list .comment .content p {
    display: inline-block;
    margin-left: 8px;
}

.comment-list .comment .info,
.comment-list .add-comment .options {
    color: #AAAAAA;
    font-size: 0.85em;
    padding: 0 10px;
}

.comment-list .comment button {
    background: none;
    border: none;
    color: #AAAAAA;
    font-size: 1em;
    padding: 0;
    text-transform: uppercase;
}

.comment-list .comment .btn:before {
    content: "•";
    padding: 0 3px;
}

.comment-list .add-comment .comment-btn {
    color: #7BC876;
}
