.comments-list ul .comment {
    padding-bottom: 10px;
}

.comments-list .comment a {
    color: #7BC876;
    font-weight: 400;
    white-space: nowrap;
}

.comments-list .comment-author {
    margin-right: 4px;
}

.comments-list .comment .content {
    background-color: #4d5967;
    border: solid 1px #4d5967;
    border-radius: 4px;
    display: flex;
    font-size: 11px;
    padding: 6px;
    white-space: pre-wrap;
}

.comments-list .comment .content p {
    color: #CCCCCC;
}

.comments-list .comment .info {
    color: #AAAAAA;
    font-size: 11px;
    font-weight: 300;
    margin-top: -2px;
    padding-left: 8px;
}
