{% extends "base.html" %}

{% block class %}translate{% endblock %}

{% block content %}
<!-- Server data -->
<div id="server"
     class="hidden"
     data-csrf="{{ csrf_token }}"
     data-locale="{{ locale.stringify() }}"
     data-project="{{ project.as_json() }}">
</div>

<div id="translation-view-container"></div>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'translate_new' %}
{% endblock %}

{% block site_js %}
  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="{{ static('js/jquery-1.11.1.min.js') }}"%3E%3C/script%3E'))</script>

  {% javascript 'translate_new' %}

  <script src="https://login.persona.org/include.js"></script>
{% endblock %}
