/* {{{ Details */

header, hgroup, nav, section, article, aside, footer { display: block; }
html, body, form, fieldset, legend, h1, h2, h3, h4, h5, h6, dd { margin: 0; padding: 0; }
p, pre, blockquote, ul, ol, dl, table { margin: 0 0 1.5em; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset { border: 0; }
form ul, form ol { list-style: none; margin: 0 0 1.5em; }
a img { border: 0; }
input, select, textarea { font-family: inherit; font-size: 100%; }
.dtstart, .dtend, .published, .updated { border: 0; }

/* }}} */
/* {{{ Layout */

html {

}

body {
    background: #fff url("img/covehead/firefoxlive/bg.png") top center repeat-x;
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 1.3;
    color: #484848;
    border-top: 2px solid #686868;
}

#doc {
    width: 820px;
    margin: 0 auto;
    padding: 0 70px;
}

#content-main {
    width: 820px;
    margin: 0 auto;
    float: left;
}

/* }}} */
/* {{{ Primary Content Area */

#primary {
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #b1b1b1;
    float: left;
    position: relative;
}

#primary h2,
#primary p,
#share {
    margin-left: 480px;

}

html[dir=rtl] #primary h2,
html[dir=rtl] #primary p,
html[dir=rtl] #share {
    margin-left: 0;
    margin-right: 480px;
}

#primary h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

#primary h2 span {
    font-size: 42px;
    line-height: 42px
}

#intro,
#video {
    background: #ed7025;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    height: 334px;
    width: 444px;
    float: left;
    padding: 0;
    margin: 0;
    border: 6px solid #ed7025;
    position: relative;
}

html[dir=rtl] #intro,
html[dir=rtl] #video {
    float: right;
}

#video-controls {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 70px;
    left: -75px;
    bottom: 20px;
}

html[dir=rtl] #video-controls {
    left: auto;
    right: -70px;
}

#video-controls ul {
    padding: 0;
    margin: 0;
}

#video-controls li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background: url(img/covehead/firefoxlive/video-controls.png) 0 0 no-repeat;
    text-align: right;
}

html[dir=rtl] #video-controls li {
    background-image: url(img/covehead/firefoxlive/video-controls-rtl.png);
    background-position: 0 100%;
}

#video-controls li a {
    display: block;
    padding: 6px;
    font-family: "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-size: 11px;
}

#video-controls h4 {
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-size: 11px;
    padding: 0 10px 25px 10px;
    margin-bottom: 5px;
    background: url(img/covehead/firefoxlive/video-controls.png) center 100% no-repeat;
}

#share {
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #ffffff 0%, #dbdbdb 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dbdbdb)); /* webkit */
    background: linear-gradient(top, #ffffff 0%, #dbdbdb 100%);
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: px;
    padding: 15px 0 15px 15px;
}

#share h4 {
    color: #666;
    line-height: 1;
    margin-bottom: 8px;
}

#share p {
    color: #666;
    margin: 2px 0 4px 0;
}

#share iframe {
    float: left;
}

/* }}} */
/* {{{ Secondary Content Area */

#firefox,
#zoo,
#tweet-container {
    float: left;
    padding: 0 30px 20px 0;
    margin: 0;
    width: 360px;
}

.locale-en-US #firefox,
.locale-en-US #zoo,
.locale-en-US #tweet-container {
    width: 226px;
    min-height: 17em;
}

#zoo,
#tweet-container {
    padding: 0 0 20px 40px;
    margin-right: 30px;
    background-position: 0 0;
    background-repeat: repeat-y;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAFCAMAAABYbc2uAAAAElBMVEX////5+vru7+/e3+DY2du9v8HbYl3sAAAAGklEQVR42iXBtwEAAAjDMKfw/8sMkUCMQ+8BAD8AEIT9DTkAAAAASUVORK5CYII=);
}

#tweet-container {
    margin-right: 0;
}

#firefox h3 span,
#zoo h3 span {
    font-size: 28px;
}

#overlay-nonfx .button,
#firefox a,
#zoo a {
    display: inline-block;
    background: #ed6c25;
    background: -moz-linear-gradient(top, #fc9b10 0%, #ed6c25 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc9b10), color-stop(100%,#ed6c25)); /* webkit */
    background: linear-gradient(top, #fc9b10 0%, #ed6c25 100%);
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 24px;
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
    font-style: italic;
    padding: 5px 20px 7px 70px;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    position: relative;
}

#overlay-nonfx .button {
    padding-left: 14px;
    padding-right: 10px;
    font-style: normal;
    margin: 20px 20px 5px 0;
    float: right;
    -moz-box-shadow:    0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    box-shadow:         0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#firefox a img {
    position: absolute;
    left: -18px;
    top: -32px;
}

#zoo a img {
    position: absolute;
    left: -20px;
    top: -10px;
}

#firefox p,
#zoo p {
    margin-top: 10px;
}

.locale-en-US #firefox p,
.locale-en-US #zoo p {
    min-height: 6em;

}

#tweet-container h4 {
    border-bottom: 1px solid #f8c4a8;
    padding-bottom: 5px;
}

#tweet ul {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 11px;
}

#tweet ul li {
    list-style-type: none;
    padding: 8px 0;
    border-bottom: 1px solid #f8c4a8;
}

#tweet span.tweet_text {
    display: block;
}

#tweet span.tweet_text a {
    color: #333;
}

#tweet-container .tweet-more,
#tweet-container .tweet-follow {
    font-family: "trebuchet MS", sans-serif;
    color: #333;
    border-bottom: 1px solid #ccc;
    font-size: 11px;
}

#tweet-container .tweet-more:hover,
#tweet-container .tweet-more:active,
#tweet-container .tweet-follow:hover,
#tweet-container .tweet-follow:active {
    text-decoration: none;
    border-color: #888;
}


#tweet-container .tweet-more {
    float: left;
}

#tweet-container .tweet-follow {
    float: right;
}

h3 {
    font-size: 18px;
}

h3 span {
    font-size: 140%;
    line-height: 1;
}

/* }}} */
/* {{{ Links */

a:link { text-decoration: none; color: #dc4800; }
a:visited { text-decoration: none; color: #dc4800; }
a:hover,
a:focus,
a:active { text-decoration: underline; color: #dc4800; }

a.download-link,
a.download-link:link,
a.download-link:visited {
    display: inline-block;
    margin: 15px 10px 10px 50px;
    height: 95px;
    -moz-box-shadow:    0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    box-shadow:         0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    overflow: visible;
    text-decoration: none;
    background: #58a100; /* old browsers */
    background: -moz-linear-gradient(top, #84C63C 0%, #489615 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84C63C), color-stop(100%,#489615)); /* webkit */
    background: linear-gradient(top, #84C63C 0%, #489615 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84C63C', endColorstr='#489615',GradientType=0 ); /* ie */
    -moz-transition:   box-shadow 0.2s ease-in-out;
    -webit-transition: box-shadow 0.2s ease-in-out;
    transition:        box-shadow 0.2s ease-in-out;
    zoom: 1;
}

a.download-link:hover,
a.download-link:active {
    -moz-box-shadow:    0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
    -webkit-box-shadow: 0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
    box-shadow:         0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);
    -moz-transition:    box-shadow 0.2s ease-in-out;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition:         box-shadow 0.2s ease-in-out;
}

a.download-link span {
    position: relative;
    margin-left: -50px;
    display: block;
    background: url(download-logo.png) 0 0 no-repeat;
    height: 95px;
    font-family: georgia, "Bitstream Charter", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 10px 0 112px;
}

* html a.download-link,
* html a.download-link:link,
* html a.download-link:active,
* html a.download-link:hover,
* html a.download-link:active {
    background: none;
    box-shadow: none;
}

* html a.download-link span {
    background: url(download-ie6.jpg) 0 0 no-repeat;
}

a.download-link span {
    display: block;
    font-style: normal;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.02em;
}

.home-download a.download-link span {
    font-size: 26px;
}

a.download-link .download-arrow {
    position: absolute;
    top: 15px;
    right: 15px;
}

a.download-link:hover,
a.download-link:active {
    background-position: -300px 0;
    text-decoration: none;
    cursor: pointer;
}

* html a.download-link {
    overflow: hidden;
    height: 105px;
    filter: none;
}

a.download-link span.download-info {
    display: block;
    margin-top: 3px;
    color: #346012;
    font-size: 12px;
    font-style: normal;
    line-height: 12px;
}

a.download-link span.download-info em {
    display: block;
    font-style: normal;
}

a.download-link,
a.download-link:link,
a.download-link:visited {
    height: 45px;
    margin-bottom: 3px;
    margin-left: 40px;
}

* html a.download-link {
    height: 48px;
}

a.download-link span {
    margin-left: -25px;
    padding-left: 55px;
    background-image: url(img/covehead/firefoxlive/download-logo-sub.png);
    height: 40px;
    line-height: auto;
    padding-top: 8px;
    font-size: 18px;
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 3px;
    margin-right: 5px;
    vertical-align: middle;
}

/* }}} */
/* {{{ Accessible */

#nav-access {
    position: absolute;
    top: -10em;
}

#nav-access a:active,
#nav-access a:focus {
    background: rgba(255,255,255,.8);
    display: block;
    position: absolute;
    top: 15em;
    left: 240px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    outline: 0;
    z-index: 99;
    padding: .25em 20px;
    border: 1px solid #db4215;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
    box-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

/* }}} */
/* {{{ Brand Header */

#branding {
    position: relative;
    margin: 0 0 40px;
}

#nav-mozilla {
    width: 118px;
    position: absolute;
    top: 0;
    right: 0;
}


html[dir=rtl] #nav-mozilla {
    left: 0;
    right: auto;
}

#nav-mozilla a.mozilla {
    background: url("img/covehead/annualreport/mozilla-tab.png") center bottom no-repeat;
    display: block;
    width: 118px;
    height: 50px;
    text-indent: -999em;
    overflow: hidden;
}

#site-title {
    font-size: 40px;
    font-weight: normal;
    color: #373737;
    margin: 0;
    padding: 0;
    clear:both;
}

#site-title img {
}


#tagline {
    clear: both;
}

/* }}} */
/* {{{ Footer */

#footer {
    position: relative;
    clear: both;
    margin: 20px 0 0;
    color: #aaa;
    background: none;
    text-align: left;
}

#footer .section {
    position: relative;
    width: 820px;
    padding: 10px 0 20px;
    margin: 0 auto;
    border-top: 1px solid #b1b1b1;
}

#footer a:link,
#footer a:visited {
    color: #888;
    text-decoration: none;
}

#footer a:hover,
#footer a:active {
    color: #666;
    text-decoration: underline;
}

#footer #copyright {
    clear: both;
    padding: 10px 0;
    float: left;
    width: 450px;
}

#footer #copyright p {
    margin-bottom: 1em;
    font-size: 11px;
}

#footer #copyright a:hover,
#footer #copyright a:focus,
#footer #copyright a:active { text-decoration: underline; }

#footer #lang_form {
    margin: 0;
    padding: 10px 0;
    float: right;
}

#footer #lang_form label {
    display: inline;
    color: #676767;
    font-family: TrebuchetMS, sans-serif;
    font-size: 12px;
    margin-right: 10px;
    font-weight: normal;
}

/* }}} */
/* {{{ Overlays */

#overlay-faq,
#overlay-nonfx,
#overlay-returning {
    display: none;
    background: #f0eee9;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 400px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 50px rgba(0,0,0,0.3);
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
}


#overlay-faq p,
#overlay-nonfx p,
#overlay-returning p {
    margin: 0px 30px 10px 20px;
}

#overlay-returning img {
    float: right;
    margin: 0 20px 5px 10px;
}

#overlay-faq h3 {
    margin: 0;
    padding: 20px;
}

#overlay-nonfx h3,
#overlay-returning h3 {
    background: #fa9513 url(img/covehead/firefoxlive/overlay-header.png) 0 100% no-repeat;
    margin: 0 0 20px 0;
    padding: 20px 20px 20px 110px;
    border-bottom: 2px solid #d64727;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #fff;
}

#overlay-twitter,
#overlay-facebook {
    margin: 0 20px 10px 20px;
}

#intro {
    background: #f3e9d5;
    padding: 0;
    background: -webkit-gradient(radial,center center,0,center center,100%,from(#fff), to(#f7c479));
    background: -webkit-radial-gradient(center center, rgba(255,255,255,1) 0, rgba(247,196,121,1) 100%);
    background: -moz-radial-gradient(center center, rgba(255,255,255,1) 0, rgba(247,196,121,1) 100%);
    background: radial-gradient(center center, rgba(255,255,255,1) 0, rgba(247,196,121,1) 100%);
    position: relative;
    display: none;
}


#intro li {
    font-size: 20px;
    width: 350px;
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    list-style-type: none;
    text-align: center;
    font-style: italic;
    color: #ed6c25;
    position: absolute;
    left: 50px;
}

/* }}} */
/* {{{ Lightboxen */

.overlay-window {
    padding: 0;
    position: fixed;
    left: 50%; /* for centering */
    top: 0;
    z-index: 1000;
    display: none;
    text-align: left;
}

a.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #444;
    background: -webkit-gradient(radial,center center,0,center center,100%,from(#fff), to(#000));
    background: -webkit-radial-gradient(center center, rgba(255,255,255,1) 0, rgba(0,0,0,0.9) 100%);
    background: -moz-radial-gradient(center center, rgba(255,255,255,1) 0, rgba(0,0,0,0.9) 100%);
    background: radial-gradient(center center, rgba(255,255,255,1) 0, rgba(0,0,0,0.9) 100%);
    z-index: 500;
    outline: 0;
    cursor: default;
    display: none;
}

.overlay-close {
    position: absolute;
    top: -12px;
    right: -12px;
}

.overlay-close img {
    display: block;
}

.overlay-close a {
    border: 3px solid #ccc;
    display: block;
    height: 25px;
    width: 25px;
    margin: 0 0 0 auto;
    overflow: hidden;
    zoom: 1;
    background: rgb(50,50,50);
    background: rgba(0,0,0,0.7);
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.overlay-close a:hover {
    border-color: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}


/* }}} */
/* {{{ Locales mods  */

body.locale-en-US #primary h2 {
    font-size: 28px;
}

body.locale-en-US #primary h2 span {
    font-size: 54px;
    line-height: 48px
}


body.locale-de #primary h2 span {
    font-size: 33px;
}

/* }}} */
