**/*.bundle.js
**/*.js.map
**/dist/**
**/build/**
vendor/**
webpack.config.js
coverage/**
static/*
**/*.min.js
**/js/lib/**/*.js
**/app/error_pages/**/*.js
**/*blockrain*js
assets/*
**/node_modules/**
docs/

pontoon/base/templates/js/pontoon.js
