[flake8]
max_line_length = 88
ignore = E203, E501, W503

exclude =
    media/*,
    */pontoon-intro/*,
    docs/conf.py,
    */migrations/*,
    docs/conf.py,
    setup.py,
    node_modules,
    bin,
    frontend
