*.py[co]
*.sw[po]
/pontoon/coverage.xml
pip-log.txt
docs/_gh-pages
build.py
build
dist
.DS_Store
node_modules
*-min.css
*-min.js
*-all.js
.noseids
tmp/*
.idea
.vscode
*~
*.mo
.vagrant
/env/
/static/
/.env
docs/_build
venv
/media/
.cache/
coverage/
*.log

# Docker
.server-build
docker/config/server.env
docker/config/server.env-e
