[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/django-browserid"]
	path = vendor-local/src/django-browserid
	url = git://github.com/mozilla/django-browserid.git
