# Local settings
hooks/php/local-settings.php
settings_local.py
settings/local.py
*/settings/local.py
*.py[co]
*.sw[po]
.coverage
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
*-min.css
*-all.css
*-min.js
*-all.js
.noseids
tmp/*
*~
*.mo
.vagrant
/env/
/static/
.env
docs/_build
