.vscode/
tag-admin/dist/
translate/dist/
coverage/
docs/_build/
docs/venv/
package-lock.json
specs/

/.github/
/media/
/static/

# Jinja templates
translate/public/translate.html
**/templates/**/*.html

# Vendored code
error_pages/css/blockrain.css
error_pages/js/
pontoon/base/static/css/boilerplate.css
pontoon/base/static/css/fontawesome-all.css
pontoon/base/static/css/nprogress.css
pontoon/base/static/js/lib/
