# This requirements file is formatted to make it easy to see what are the
# direct requirements of our application, and what are dependencies of
# those requirements.
#
# The intent is to make this big mess of a file more maintainable. When removing
# a dependency, it should be easy to see exactly what else can be removed. This
# way we avoid keeping things in here that we don't require anymore.
#
# When adding a new requirement, it should fall in one of two categories:
#
# 1. Top-level requirements with no dependencies.
# 2. Top-level requirement, followed by its dependencies.
#
# The first group is straight-forward: all top-level dependencies (resources that
# are used by the application directly) are sorted by alphabetical order.
# Dependencies that do not come from pypi (eg. eggs from github) are listed at
# the end of that list.
#
# The second group has sub-groups. Each group has, at the top, the requirement
# being used by the application, followed by all the requirements of that resource.
# These groups are order by alphabetical order of the top-level requirement.
#
# For example:
#   # ---------------------------
#   depA==1.1
#
#   # Required by depA
#   resource1
#   resource2
#
#   # Required by resource1
#   depB

# ==================================================================================
# Requirements with no sub-dependencies
# (or where dependencies are required by other packages).
# ==================================================================================

# ----------------------------------------------------------------------------------

coverage==4.4.2	\
    --hash=sha256:eea9135432428d3ca7ee9be86af27cb8e56243f73764a9b6c3e0bda1394916be
codecov==2.0.9 \
    --hash=sha256:ad82f054837b02081f86ed1eb6c04cddc029fbc734eaf92ff73da1db3a79188b
pytest-django==3.1.2 \
    --hash=sha256:00995c2999b884a38ae9cd30a8c00ed32b3d38c1041250ea84caf18085589662 \
    --hash=sha256:038ccc5a9daa1b1b0eb739ab7dce54e495811eca5ea3af4815a2a3ac45152309
pytest-cov==2.5.1 \
    --hash=sha256:890fe5565400902b0c78b5357004aab1c814115894f4f21370e2433256a3eeec \
    --hash=sha256:03aa752cf11db41d281ea1d807d954c4eda35cfa1b21d6971966cc041bbf6e2d
requests_mock==1.3.0 \
    --hash=sha256:23edd6f7926aa13b88bf79cb467632ba2dd5a253034e9f41563f60ed305620c7 \
    --hash=sha256:bd86970d6c52cc97071f5185aa594de6a997a5ca63b3bb36aceb9bb9db49294b

# ==================================================================================
# Requirements with dependencies.
# ==================================================================================

pytest==3.2.3 \
    --hash=sha256:81a25f36a97da3313e1125fce9e7bbbba565bc7fec3c5beb14c262ddab238ac1 \
    --hash=sha256:27fa6617efc2869d3e969a3e75ec060375bfb28831ade8b5cdd68da3a741dc3c

# Required by pytest
py==1.4.34 \
    --hash=sha256:2ccb79b01769d99115aa600d7eed99f524bf752bba8f041dc1c184853514655a \
    --hash=sha256:0f2d585d22050e90c7d293b6451c83db097df77871974d90efd5a30dc12fcde3
