# This file is required by Heroku: "To specify Python package dependencies on Heroku via pip,
# add a pip requirements file named requirements.txt to the root of your repository."
#
# Source: https://devcenter.heroku.com/articles/python-pip
-r requirements/default.txt

# All dependencies which support Python 2 only.
-r requirements/python2.txt
Jinja2==2.10.1 \
    --hash=sha256:065c4f02ebe7f7cf559e49ee5a95fb800a9e4528727aec6f24402a5374c65013 \
    --hash=sha256:14dd6caf1527abb21f08f86c784eac40853ba93edb79552aa1e4b8aef1b61c7b
