#entity-list-header {
  display: flex;
  border-bottom: 1px solid var(--main-border-1);

  span {
    color: var(--light-grey-7);
    flex: 1;
    font-weight: bold;
    padding: 10px 16px;
    text-transform: uppercase;
  }

  .source-header {
    padding-right: 8px;
  }

  .translation-header {
    padding-left: 8px;
  }
}

.entity-container {
  display: grid;
  align-items: stretch;
  border-bottom: 1px solid var(--main-border-1);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  padding: 16px;
  font-size: 14px;
  line-height: 1.5;

  .source-string-container {
    padding-right: 8px;
    overflow: hidden;
  }

  .translation-string-container {
    padding-left: 8px;
    overflow: hidden;
  }

  .source-string,
  .translation-string {
    overflow-wrap: break-word;
    word-break: break-word;
  }

  mark {
    background: var(--search-background);
    color: var(--search-color);
    font-weight: inherit;
    font-style: inherit;
    border-radius: 3px;
  }
}
