#search-menu {
  margin: 0 auto;
  width: 980px;
  display: flex;
  gap: 8px;
}

#no-results {
  color: var(--light-grey-7);
  font-style: italic;
  text-align: center;
  margin: 40px;
}

#search-filters {
  display: flex;
  margin: 15px 10px;
  gap: 20px;
}

#locale-selector,
#project-selector {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.errors {
  p {
    color: var(--status-error);
    font-size: 13px;
    padding-top: 5px;
    text-transform: uppercase;
  }
}
