#translation-list-header {
  display: flex;
  border-bottom: 1px solid var(--main-border-1);
  padding: 10px 10px 10px 16px;
}

#translation-list {
  color: var(--white-1);
  line-height: 1.5;
  font-size: 14px;
}

#translation-list .translation-container {
  border-bottom: 1px solid var(--main-border-1);
  padding: 16px;
}

#initial-section-container {
  background-color: var(--dark-grey-1);
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 16px;
}

#initial-section-container .button {
  background: var(--background-1);
}

#initial-section-container .button:hover {
  background: var(--status-translated);
}

.translation-info-container {
  display: flex;
}

.translation-info-container .locale-container,
.translation-info-container .entity-info-container,
.translation-info-container .utility-container {
  flex: 1;
}

.locale-container {
  font-style: italic;
  margin-top: 20px;
}

.locale-container .translation-locale-name {
  color: var(--light-grey-7);
}

.locale-container .translation-locale-name:hover {
  color: var(--status-translated);
}

.locale-container .translation-locale-code {
  color: var(--status-translated-alt);
}

.locale-container .translation-locale-code,
.locale-container .divider,
.locale-container .translation-locale-name {
  vertical-align: middle;
}
