.translations-table tbody {
  color: var(--white-1);
  line-height: 1.5;
  font-size: 14px;
  font-weight: 300;
}

.locale-column {
  display: flex;
  gap: 8px;
}

.locale-column .translation-locale-name {
  width: 108px;
}

.locale-column .translation-locale-code {
  width: 40px;
  color: var(--status-translated-alt);
}

#locale-header,
#translation-header {
  text-align: center;
}

.utility-btn-column {
  display: flex;
  margin-bottom: 0;
  gap: 8px;
}

.striped tr:nth-child(even) .controls a,
.striped tr:nth-child(even) .controls button {
  background: var(--background-1);
}

.striped tr:nth-child(even) .controls a:hover,
.striped tr:nth-child(even) .controls button:hover,
.utility-btn-column button:hover,
.utility-btn-column a:hover {
  background: var(--status-translated);
}
