.user-signout a {
    color: #aaa;
    display: inline-block;
    font-size: 14px;
    height: 17px;
    line-height: 16px;
    text-align: center;
    margin: 22px 10px;
}

.user-signout a:hover {
    color: white;
}
