/* Dark Theme Variables */
:root {
  --black-1: #1c1e21;
  --black-2: #000000;
  --black-3: #000;
  --black-4: #272a2f;
  --black-5: rgba(0, 0, 0, 0.8);
  --black-6: black;
  --black-7: rgb(39, 42, 47);
  --black-8: #000b;
  --black-9: #333;
  --black-brown: #2d2323;
  --blue-1: #3e7089;
  --blue-2: #5f7285;
  --brown-1: #676054;
  --brown-2: #3b3b3b;
  --coral: #fe8f8f;
  --dark-brown: #232323;
  --dark-green: #3b3d3b;
  --dark-grey-1: #333941;
  --dark-grey-2: #3f4752;
  --dark-grey-3: #333333;
  --dark-grey-4: #444;
  --forest-green-1: #41554c;
  --forest-green-2: #4b6259;
  --green: #4f7256;
  --grey-1: #637283;
  --grey-2: #525a65;
  --grey-3: #4d5967;
  --grey-4: #5c6172;
  --grey-5: #385465;
  --grey-6: #777777;
  --grey-7: rgba(51, 57, 65, 0.9);
  --grey-8: rgba(255, 255, 255, 0.2);
  --light-blue: #4fc4f6;
  --light-green-1: #7bc876;
  --light-green-2: #7bc176;
  --light-green-3: #9cd699;
  --light-grey-1: #5e6475;
  --light-grey-2: #888;
  --light-grey-3: #888888;
  --light-grey-4: #666;
  --light-grey-5: #bbb;
  --light-grey-6: #7c8b9c;
  --light-grey-7: #ccc;
  --light-grey-8: #aaaaaa;
  --light-grey-9: #cccccc;
  --light-grey-10: #aaa;
  --light-grey-11: #c0c0c0;
  --magenta: #843650;
  --mustard-yellow: #fed271;
  --neon-green: #c0ff00;
  --orange-1: #ffa10f;
  --orange-2: #ff7b00;
  --pink: #ff3366cc;
  --purple-pink: #674b54;
  --red: #ff0a43;
  --red-pink: #f36;
  --taupe: #898989;
  --taupe-2: #999;
  --white-1: #fff;
  --white-2: #f4f4f4;
  --white-3: #ebebeb;
  --white-4: #ffffff;
  --white-5: white;
  --white-6: #dddddd;
  --white-7: #e2e2e2;
}
