{% extends "landing.html" %}

{% block class %}home{% endblock %}

{% block before %}
<!-- Server data -->
<div id="server"
     class="hidden"
     data-accept-language="{{ accept_language }}"
     data-locale="{{ locale_code }}"
     data-project="{{ project }}"
     data-redirect="{{ redirect }}">
</div>
{% endblock %}

{% block intro_class %}{% endblock %}

{% block middle %}
<form class="clearfix{% if not user.is_authenticated() %} hidden{% endif %}">

  <!-- Project selector -->
  <div class="project select">
    {% if projects|length > 0 %}
    <div class="button breadcrumbs selector">
      <span class="title">Select website</span>
    </div>
    {% endif %}
    <div class="menu">
      <input type="text" class="search" autocomplete="off">
      <ul>
        {% for project in projects %}
        <li class="clearfix">
          <span class="project-name"
            data-slug={{ project.slug }}
            data-locales="{% for l in project.locales.all() %}{{ l.code|lower }},{% endfor %}"
            data-pages="{% if pages %}{% for p in pages.filter(project=project) %}{{ p.name }},{% endfor %}{% endif %}">{{ project.name }}</span>
          <span class="project-url">{{ project.url }}</span>
        </li>
        {% endfor %}
        <li class="no-match">No results</li>
      </ul>
    </div>
  </div>

  <!-- Locale selector -->
  <div class="locale select">
    <div class="button breadcrumbs selector">
      <span class="language">Select language
      </span>
    </div>
    <div class="menu">
      <input type="text" class="search" autocomplete="off">
      <ul>
        {% for locale in locales %}
        <li><span class="language {{ locale.code|lower }}">{{ locale.name }}<span class="code">{{ locale.code }}</span></span></li>
        {% endfor %}
        <li class="no-match">No results</li>
      </ul>
    </div>
  </div>

  <!-- Go -->
  <div class="go select">
    <a id="go" href="#">Go</a>
  </div>

</form>

{% if not user.is_authenticated() %}
<p id="action">
  <a id="link" href="{{ url('pontoon.translate', 'de', 'testpilot') }}">Try it out</a>
  <span id="loading" class="spacing">or</span>
  <img id="browserid" src="{{ static('img/plain_sign_in_blue.png') }}" alt="Sign in with Persona" />
</p>
{% endif %}

<ul class="notification{% if not messages %} hidden{% endif %}">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endblock %}

{% block after %}
<!-- Project loading indicator -->
{% include 'base/loader.html' %}
{% endblock %}

{% block extend_css %}
  <link rel="stylesheet" href="{{ static('css/home.css') }}">
{% endblock %}

{% block extend_js %}
  {% compress js %}
  <script src="{{ static('js/home.js') }}"></script>
  {% endcompress %}

<script src="https://login.persona.org/include.js"></script>
{% endblock %}
