{% extends "landing.html" %}

{% block title %}Pontoon &middot; {{ locale.name }} ({{ locale.code }}){% endblock %}

{% block class %}locale{% endblock %}

{% block before %}
<!-- Server data -->
<div id="server"
     class="hidden"
     data-locale="{{ locale.code }}">
</div>
{% endblock %}

{% block subtitle %}{{ locale.name }} ({{ locale.code }}){% endblock %}

{% block middle %}
<form>
  <!-- Project selector -->
  <div class="project select">
    {% if projects|length > 0 %}
    <div class="button breadcrumbs selector">
      <span class="title">Select website</span>
    </div>
    {% endif %}
    <div class="menu">
      <input type="text" class="search" autocomplete="off">
      <ul>
        {% for project in projects %}
        <li class="clearfix">
          <span class="project-name"
            data-slug="{{ project.slug }}"
            data-locales="{% for l in project.locales.all() %}{{ l.code|lower }},{% endfor %}"
            data-pages="{% if pages %}{% for p in pages.filter(project=project) %}{{ p.name }},{% endfor %}{% endif %}">{{ project.name }}</span>
          <span class="project-url">{{ project.url }}</span>
        </li>
        {% endfor %}
        <li class="no-match">No results</li>
      </ul>
    </div>
  </div>
</form>
{% endblock %}

{% block extend_js %}
  {% compress js %}
  <script src="{{ static('js/locale.js') }}"></script>
  {% endcompress %}
{% endblock %}
