.machinery {
    line-height: 22px;
}

.machinery ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.machinery > .search-wrapper {
    padding: 10px 5px;
    position: relative;
}

.machinery > .search-wrapper > label {
    color: #aaaaaa;
    cursor: text;
    font-size: 17px;
    left: auto;
    position: absolute;
    right: 16px;
    top: 16px;
}

.machinery > .search-wrapper > label > button {
    background-color: transparent;
    border: none;
    color: #aaaaaa;
    padding: 0 4px;
}

.machinery > .search-wrapper input[type='search'] {
    background: #333941;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    padding: 5px 33px 5px 12px;
    width: 100%;
}

/* Remove highlight in Chrome */
.machinery > .search-wrapper input[type='search']:focus {
    outline: none;
}

/* Remove cancel button in Chrome */
.machinery
    > .search-wrapper
    input[type='search']::-webkit-search-cancel-button {
    display: none;
}

/* Style placeholder color in Chrome */
.machinery > .search-wrapper input[type='search']::-webkit-input-placeholder {
    color: #aaaaaa;
}
