.machinery .translation {
    border-bottom: 1px solid #5E6475;
    cursor: pointer;
    padding: 5px 10px 20px 10px;
    transition: all 0.1s ease-out;
}

.machinery .translation.cannot-copy {
    pointer-events: none;
}

.machinery .translation:not(.cannot-copy):hover {
    background: #4D5967;
}

.machinery .translation > header {
    color: #AAAAAA;
    display: block;
    font-size: 11px;
    font-weight: 300;
    padding: 1px 0 5px;
    text-align: right;
    text-transform: uppercase;
}

.machinery .translation > header ul {
    display: inline-block;
}

.machinery .translation > header ul li {
    display: inline-block;
    padding-left: 3px;
}

.machinery .translation > header a{
    pointer-events: auto;
}

.machinery .translation > header ul li:not(:first-child)::before {
    content: "•";
    padding-right: 3px;
}

.machinery .translation > header .quality::after {
    content: "•";
    color: #AAAAAA;
    padding-left: 3px;
}

.machinery .translation > header .quality,
.machinery .translation > header sup {
    color: #7BC876;
}

.machinery .translation p {
    min-height: 22px;
    text-align: start;
    white-space: pre-wrap;
}

.machinery .translation p.original {
    color: #AAAAAA;
}
