.machinery .translation {
    border-bottom: 1px solid #5e6475;
    cursor: pointer;
    padding: 10px;
}

.machinery .translation.cannot-copy {
    pointer-events: none;
}

.machinery .translation:not(.cannot-copy):hover {
    background: #4d5967;
}

.machinery .translation > header {
    color: #aaaaaa;
    display: block;
    font-size: 11px;
    font-weight: 300;
    padding: 1px 0 5px;
    text-align: right;
}

.machinery .translation > header ul {
    display: inline-block;
}

.machinery .translation > header ul li {
    display: inline-block;
    padding-left: 3px;
}

.machinery .translation > header a {
    pointer-events: auto;
}

.machinery .translation > header ul li:not(:first-child)::before {
    content: '•';
    padding-right: 3px;
}

.machinery .translation > header .quality::after {
    content: '•';
    color: #aaaaaa;
    padding-left: 3px;
}

.machinery .translation > header .quality,
.machinery .translation > header sup {
    color: #7bc876;
}

.machinery .translation p {
    min-height: 22px;
    text-align: start;
    white-space: pre-wrap;
}

.machinery .translation p.original {
    color: #aaaaaa;
}
