.editableText {
    min-height: 20px;
}

.hovered {
    -moz-box-shadow: 0px 0px 5px blue;
}

.editableText:hover {
    -moz-box-shadow: 0px 0px 5px blue;
}
.editableToolbar:hover + * {
    -moz-box-shadow: 0px 0px 5px blue;
}
.editableToolbar {
  position:absolute;
  top:0;
  left:0;
  display: none;
  background-color: #eee;
  border-top:1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  -moz-border-radius-topright: 0.2em;
  -moz-border-radius-topleft: 0.2em;
  z-index: 100;
}
.editableToolbar a{
    display: block;
    width: 17px;
    height: 15px;
    float: left;
    margin: 2px;
}
.editableToolbar .edit {    
    background: url("http://localize.mozilla.org/pontoon/client/www/icons.png");
}
.editableToolbar .save {
    background: url("http://localize.mozilla.org/pontoon/client/www/icons.png") -16px 0;
}
.editableToolbar .cancel {
    background: url("http://localize.mozilla.org/pontoon/client/www/icons.png") 25px 0;
}
