{% import 'widgets/latest_activity.html' as LatestActivity %}
{% import 'widgets/progress_chart.html' as ProgressChart %}

{% macro header(request=False) %}
  <table class="table table-sort team-list item-list">
    <thead>
      <tr>
        <th class="name asc">Language<i class="fa"></i></th>
        <th class="code">Locale<i class="fa"></i></th>
        <th class="population">Speakers<i class="fa"></i></th>
        <th class="latest-activity">Latest Activity<i class="fa"></i></th>
        <th class="progress">Progress<i class="fa"></i></th>
        <th class="unreviewed-status inverted" title="Unreviewed suggestions"><span class="fa fa-lightbulb"></span><i class="fa"></i></th>
        {% if request %}
          <th class="check">Request<i class="fa"></i></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
{% endmacro %}

{% macro item(locale, main_link, chart_link, latest_activity, chart, class='limited', request=False, link_parameter=False, has_param=False, not_ready_message='Not synced yet') %}
  <tr class="{{ class }}">
    <td class="name" data-slug="{{ locale.code }}">
      <h4>
        <a href="{{ main_link }}">{{ locale.name }}</a>
      </h4>
    </td>
    <td class="code">
      <div>
        <a href="{{ main_link }}">{{ locale.code }}</a>
      </div>
    </td>
    <td class="population">
      <span>{{ locale.population|intcomma or 'Unknown' }}</span>
    </td>
    <td class="latest-activity">
      {{ LatestActivity.span(latest_activity) }}
    </td>
    <td class="progress" colspan="2">
      {% if chart.total_strings %}
        {{ ProgressChart.span(chart, chart_link, link_parameter, has_param) }}
      {% else %}
        <span class="not-ready">{{ not_ready_message }}</span>
      {% endif %}
    </td>
    {% if request %}
      <td class="radio far fa-circle"></td>
    {% endif %}
  </tr>
{% endmacro %}

{% macro footer(request=False, form=None) %}
    </tbody>
  </table>
  {% if request %}
    {% if form %}
    <form id="request-team-form">
      <div id="team-form">
        <div class="field">
          {{ form.name.label_tag(label_suffix='') }}
          {{ form.name }}
        </div>
        <div class="field">
          {{ form.code.label_tag(label_suffix='') }}
          {{ form.code }}
        </div>
      </div>
      <div id="request-item-note">
        <p>The requested team won’t be enabled automatically: an email will be sent to Pontoon admins to evaluate the request. We’ll try to respond as soon as possible.</p>
      </div>
      <button type="submit" id="request-item">Request new team</button>
    </form>
    {% else %}
    <div id="request-item-note">
      <p>The requested language won’t be enabled automatically: an email will be sent to Pontoon admins and team managers to evaluate the request. We’ll try to respond as soon as possible. Please make sure to get in touch with the localization team if you are a new contributor.</p>
    </div>
    <button type="submit" id="request-item">Request new language</button>
    {% endif %}
  {% endif %}
{% endmacro %}
