<!-- Locale selector -->
<div class="locale select">
  <div class="button breadcrumbs selector noselect">
    <span class="language" data-code="{{ locale.code }}">{{ locale.name }}</span><span class="code">{{ locale.code }}</span>
  </div>

  <div class="menu">
    <div class="search-wrapper clearfix">
      <div class="icon fa fa-search"></div>
      <input type="search" autocomplete="off" autofocus>
    </div>

    <ul>
      {% for l in locales %}
        <li class="clearfix">
          <span class="language"
            {% for key, value in l.serialize().iteritems() %}
              data-{{ key }}="{{ value }}"
            {% endfor %}
            {% if project and locale and locale == l %}
              data-projects="{{ l.available_projects_list()|to_json }}"
            {% endif %}
          >
            {{ l.name }}
          </span>
          <span class="code">
            {{ l.code }}
          </span>
        </li>
      {% endfor %}
      <li class="no-match">No results</li>
    </ul>

    {% if part and locale %}
    <div class="static-links">
      <a href="{{ url('pontoon.teams') }}">
        <div class="all-teams">
          <span class="title">All Teams</span>
        </div>
      </a>
      <a href="{{ url('pontoon.teams.team', locale.code) }}">
        <div class="current-team">
          <span class="title">Current Team</span>
        </div>
      </a>
    </div>
    {% endif %}
  </div>
</div>
