#info-wrapper .edit-info .fas {
  padding-right: 5px;
}

#info-wrapper .read-write-info textarea {
  background: var(--input-background-1);
  border: 1px solid var(--main-border-1);
  border-radius: 3px;
  color: var(--white-1);
  font-weight: 300;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#info-wrapper .read-write-info .toolbar .subtitle {
  color: var(--light-grey-7);
  float: left;
  text-transform: uppercase;
}

#info-wrapper .controls {
  text-align: right;
}

#info-wrapper .controls .cancel {
  display: none;
  color: var(--status-translated-alt);
  margin: 9px;
  text-transform: uppercase;
}

#info-wrapper .controls .save {
  display: none;
}
