.request-toggle {
  float: right;
}

.request-toggle:before {
  margin-right: 2px;
}

.request-toggle.back:after {
  margin-left: 2px;
}

.request-team:before {
  content: "Request a new team";
}

.request-team.back:after {
  content: "Back to enabled teams";
}

.request-projects:before {
  content: "Request more projects";
}

.request-projects.back:after {
  content: "Back to enabled projects";
}

.request-toggle:after,
.request-toggle.back:before {
  content: "";
}

#request-team-form {
  margin: 0 auto;
  display: none;
}

#request-item-note {
  margin: 25px 0 5px;
  display: none;
}

#request-item-note p {
  font-style: italic;
  color: #AAAAAA;
  text-align: center;
  display: block;
}

#request-item {
  display: none;
  background: #7BC876;
  border: none;
  border-radius: 3px;
  margin-top: 15px;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
}

#request-item.confirmed {
  background: #FED271;
}

#team-form {
  display: block;
  position: relative;
  text-align: left;
  margin: 0 auto 0px auto;
}

#team-form .field {
  margin: 20px 30px 20px 30px;
  text-align: left;
  display: inline-block;
}

#team-form .field input {
  color: #FFFFFF;
  background: #333941;
  border: 1px solid #4d5967;
  border-radius: 3px;
  float: none;
  width: 420px;
  padding: 4px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#team-form .field label {
  display: block;
  padding-bottom: 3px;
  text-align: left;
}

.project-list tbody tr:not(.limited) {
  display: none;
}

.projects.request .project-list .all-strings {
  display: table-cell;
}

.projects.request .project-list th.check {
  text-align: right;
  width: auto;
}

.project-list .check,
.project-list .all-strings {
  display: none;
}

.projects.request .project-list .check {
  cursor: pointer;
  display: block;
}

.project-list td.check {
  color: #3F4752;
  float: right;
  font-size: 16px;
  height: 47px;
  text-align: right;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.project-list td.check:before {
  content: "";
  display: block;
  margin-top: 16px;
}

.project-list td.check:hover:before,
.project-list td.check.enabled:before {
  content: "";
  color: #7BC876;
}

.project-list td.check.enabled:before {
  content: "";
}

.projects.request .project-list .latest-activity,
.projects.request .project-list .progress,
.projects.request .project-list .unreviewed-status {
  display: none;
}
