.request-toggle {
  float: right;
}

.request-toggle:before {
  margin-right: 2px;
}

.request-toggle.back:after {
  margin-left: 2px;
}

.request-team:before {
  content: "Request new team";
}

.request-team.back:after {
  content: "Back to enabled teams";
}

.request-projects:before {
  content: "Request more projects";
}

.request-projects.back:after {
  content: "Back to enabled projects";
}

.request-toggle:after,
.request-toggle.back:before {
  content: "";
}

#request-team-form {
  margin: 0 auto;
  display: none;
}

#request-item-note {
  margin: 25px 0 5px;
  display: none;
}

#request-item-note p {
  font-style: italic;
  color: #AAAAAA;
  text-align: center;
  display: block;
}

#request-item {
  display: none;
  background: #7BC876;
  border: none;
  border-radius: 3px;
  margin-top: 15px;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
}

#request-item.confirmed {
  background: #FED271;
}

#team-form {
  display: flex;
  position: relative;
  text-align: left;
  margin: 0 auto;
  justify-content: space-between;
}

#team-form .field {
  display: inline-block;
  margin-top: 10px;
  text-align: left;
}

#team-form .field input {
  color: #FFFFFF;
  background: #333941;
  border: 1px solid #4d5967;
  border-radius: 3px;
  float: none;
  width: 480px;
  padding: 4px;
  box-shadow: none;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#team-form .field label {
  display: block;
  padding-bottom: 3px;
  text-align: left;
}

.item-list tbody tr:not(.limited) {
  display: none;
}

.items.request .item-list .all-strings {
  display: table-cell;
}

.items.request .item-list th.check {
  text-align: right;
  width: auto;
}

.item-list .check,
.item-list .radio,
.item-list .all-strings {
  display: none;
}

.items.request .item-list .check,
.items.request .item-list .radio {
  cursor: pointer;
  display: block;
}

.item-list td.check,
.item-list td.radio {
  color: #3F4752;
  float: right;
  font-size: 16px;
  height: 47px;
  text-align: right;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

+.item-list td.radio {
+  color: #4d5967;
+}
+

.item-list td.check:before {
  content: "";
  display: block;
  margin-top: 16px;
}

.item-list td.check:hover:before,
.item-list td.check.enabled:before {
  content: "";
  color: #7BC876;
}

.item-list td.check.enabled:before {
  content: "";
}

.item-list td.radio:before {
  display: block;
  margin-top: 16px;
}

.item-list td.radio:hover:before,
.item-list td.radio.enabled:before {
  color: #7BC876;
}

.items.request .item-list .latest-activity,
.items.request .item-list .progress,
.items.request .item-list .unreviewed-status {
  display: none;
}
