.locale-selector .locale.select .button {
  background: var(--button-background-1);
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
  height: 28px;
  margin: 0;
  padding: 6px 12px;
  text-align: left;
  text-transform: uppercase;
  width: 240px;
}

.locale-selector .locale.select .button:before,
.locale-selector .locale.select .button:after {
  display: none;
}

.locale-selector .locale.select.opened .button {
  border-radius: 2px 2px 0 0;
}

.locale-selector .locale.select .button .language {
  margin-right: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.locale-selector .locale.select .button .code {
  text-transform: none;
}

.locale-selector .locale.select .menu {
  background: var(--popup-background-1);
  top: 28px;
  display: none;
  position: absolute;
  right: 0;
  width: 240px;
}

.locale-selector .locale.select .menu ul {
  max-height: 214px;
}

.locale-selector .locale.select .menu li {
  color: var(--light-grey-6);
  cursor: pointer;
  display: flex;
  text-align: left;
}

.locale-selector .locale.select .menu ul li span.language {
  flex: 1;
  margin-right: 4px;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.locale-selector .locale.select .menu ul li span.code {
}
