.request-toggle {
  float: right;
}

.request-toggle:before {
  content: "Request a new team";
  margin-right: 2px;
}

.request-toggle.back:after {
  content: "Back to enabled teams";
  margin-left: 2px;
}

.request-toggle:after,
.request-toggle.back:before {
  content: "";
}

#request-team-form {
  margin: 0 auto;
  display: none;
}

#request-team-note {
  margin: 25px 0 5px;
  display: none;
}

#request-team-note p {
  font-style: italic;
  color: #AAAAAA;
  text-align: center;
  display: block;
}

#request-team {
  display: none;
  background: #7BC876;
  border: none;
  border-radius: 3px;
  margin-top: 15px;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
}

#request-team.confirmed {
  background: #FED271;
}

#team-form {
  display: block;
  position: relative;
  text-align: left;
  margin: 0 auto 0px auto;
}

#team-form .field {
  margin: 20px 30px 20px 30px;
  text-align: left;
  display: inline-block;
}

#team-form .field input {
  color: #FFFFFF;
  background: #333941;
  border: 1px solid #4d5967;
  border-radius: 3px;
  float: none;
  width: 420px;
  padding: 4px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

label {
  display: block;
  padding-bottom: 3px;
  text-align: left;
}
