.entity-details {
    background: #3f4752;
    height: 100%;
    display: flex;
}

.entity-details > section {
    height: 100%;
}

.entity-details .main-column {
    width: 66.67%;
    overflow: auto;
}

.entity-details .third-column {
    width: 33.33%;
    border-left: 1px solid #5e6475;
    box-sizing: border-box;
}
