.third-column .top {
    border-bottom: 1px solid #5e6475;
    box-sizing: border-box;
    height: calc(40% + 21px);
    min-height: 200px;
}

.third-column .bottom {
    box-sizing: border-box;
    height: calc(60% - 21px);
}

/* Styling the react-tabs library */
.react-tabs {
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

.react-tabs__tab-list {
    display: table;
    table-layout: fixed;
    margin: 0;
    width: 100%;
}

.react-tabs__tab {
    background: #4d5967;
    border-bottom: 1px solid #5e6475;
    border-right: 1px solid #5e6475;
    box-sizing: border-box;
    color: #cccccc;
    cursor: pointer;
    display: table-cell;
    font-weight: 300;
    height: 44px;
    line-height: 18px;
    list-style: none;
    padding: 12px 5px 13px;
    text-align: center;
}

.react-tabs__tab:last-child {
    border-right: none;
}

.react-tabs__tab--selected {
    background: #3f4752;
    border-bottom: none;
}

.react-tabs__tab-panel {
    display: none;
    overflow-y: auto;
}

.react-tabs__tab-panel--selected {
    display: block;
}

/* Other tools styles */
.react-tabs span.count {
    background: #3f4752;
    border-radius: 3px;
    color: #cccccc;
    font-weight: 300;
    margin-left: 3px;
    padding: 0 5px;
}

.react-tabs .react-tabs__tab--selected span.count {
    background: #4d5967;
}

.react-tabs span.count .preferred,
.react-tabs span.count .pinned {
    color: #7bc876;
}

.react-tabs__tab-panel {
    height: calc(100% - 44px);
}
