.metadata {
    background-color: #3f4752;
    color: #AAA;
    font-size: 12px;
    font-style: italic;
    height: 20%;
    min-height: 100px;
    line-height: 22px;
    overflow: auto;
    padding: 10px;
}

.metadata h2 {
    font-style: normal;
    font-size: 11px;
    font-weight: 300;
    line-height: 11px;
    margin-top: 6px;
    text-transform: uppercase;
    padding-bottom: 2px;
}

.metadata .title {
    color: #888;
    text-transform: uppercase;
}

.metadata p a {
    color: #7BC876;
    text-decoration: none;
}

.metadata .original {
    color: white;
    font-size: 13px;
    font-style: normal;
    line-height: 22px;
    padding-bottom: 6px;
    text-align: start;
    white-space: pre-wrap;
}

.metadata .original .placeable {
    cursor: pointer;
}

.metadata ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.metadata button {
    background: none;
    border: none;
    color: #7BC876;
    float: right;
    font-weight: 300;
    padding: 0;
}
