.metadata {
    background-color: #3f4752;
    color: #AAA;
    font-size: 0.9em;
    font-style: italic;
    height: 20%;
    min-height: 100px;
    line-height: 22px;
    overflow: auto;
    padding: 10px;
}

.metadata h2 {
    font-style: normal;
    font-size: 11px;
    font-weight: 300;
    line-height: 11px;
    margin-top: 6px;
    text-transform: uppercase;
    padding-bottom: 2px;
}

.metadata .title {
    color: #888;
    padding-right: 3px;
    text-transform: uppercase;
}

/* Bug 1228873: do not cross element select on double click */
.metadata .title,
.metadata .content {
  display: inline-block;
}

.metadata p a {
    color: #7BC876;
    text-decoration: none;
}

.metadata .original {
    color: white;
    font-size: 1.1em;
    font-style: normal;
    text-align: start;
    white-space: pre-wrap;
}

.metadata .original .placeable {
    cursor: pointer;
}

.metadata ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 6px;
}
