@import '../../../../../pontoon/static/css/dark-theme.css';

.editor-settings {
  float: left;
  font-size: 14px;
  line-height: 22px;
}

.editor-settings .selector {
  cursor: pointer;
  color: var(--light-grey-10);
  font-size: 22px;
  padding: 9px 5px 9px 0;
}

.editor-settings .selector:hover {
  color: var(--light-green-1);
}

.editor-settings .menu {
  background-color: var(--black-4);
  bottom: auto;
  color: var(--light-grey-10);
  list-style: none;
  margin: 0;
  max-height: 318px;
  overflow: auto;
  padding: 10px 12px;
  position: absolute;
  top: 60px;
  width: 185px;
  z-index: 20;
}

.editor-settings .menu li {
  color: var(--light-grey-10);
  cursor: pointer;
  font-weight: 300;
  padding: 2px 4px;
}

.editor-settings .menu li:hover {
  background: var(--dark-grey-2);
}

.editor-settings .menu li:hover,
.editor-settings .menu li:hover a,
.editor-settings .menu li:active a {
  color: var(--white-1);
}

.editor-settings .menu .horizontal-separator {
  border-top: 1px solid var(--grey-2);
  height: 0;
  margin: 5px 0;
  padding: 0;
}

.editor-settings .menu .check-box .fa {
  margin-right: 6px;
}

.editor-settings .menu .check-box .fa:before {
  color: var(--red-pink);
  content: '';
}

.editor-settings .menu .check-box.enabled .fa:before {
  color: var(--light-green-1);
  content: '';
}
