.editor-menu {
  background: var(--editor-menu-background);
  color: var(--white-1);
  padding: 10px;
  position: relative;
}

.translationform + .editor-menu {
  background: var(--editor-form-background);
}

.editor-menu .actions {
  float: right;
}

.editor-menu .actions button {
  background: transparent;
  border: none;
  color: var(--editor-menu-action-button-color);
  height: 40px;
  margin: 0 2px;
  padding: 10px 3px;
}

.editor-menu .actions button:hover {
  color: var(--status-translated);
}

.editor-menu .actions button .fas {
  margin-right: 4px;
}

.editor-menu .actions .action-approve,
.editor-menu .actions .action-save,
.editor-menu .actions .action-suggest {
  background: var(--status-translated);
  border-radius: 3px;
  color: var(--translation-main-button-color);
  font-weight: 600;
  margin-left: 10px;
  padding: 10px;
}

.editor-menu .actions .action-suggest {
  background: var(--status-unreviewed);
}

.editor-menu .actions .action-approve:hover,
.editor-menu .actions .action-save:hover,
.editor-menu .actions .action-suggest:hover {
  color: var(--white-1);
}

.editor-menu .banner {
  font-style: italic;
  line-height: 40px;
}

.editor-menu .banner form {
  display: inline-block;
}

.editor-menu .banner button {
  background: none;
  border: none;
  color: var(--status-translated);
  font-style: inherit;
  padding: 0;
}
