@import '../../../../../pontoon/static/css/dark-theme.css';

.editor {
  background: var(--black-3);
  border-bottom: 1px solid var(--light-grey-1);
  display: flex;
  flex-direction: column;
  position: relative;
}
