.editor .ftl {
  background: transparent;
  border: 0;
  color: var(--light-grey-7);
  float: left;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  line-height: 0;
  padding: 10px 5px 10px 0;
  text-transform: uppercase;
}

.editor .ftl.active,
.editor .ftl:hover {
  color: var(--light-green-1);
}

.editor .ftl.error {
  color: var(--red-pink);
}
