.tm-source {
  font-size: 11px;
  padding: 10px 0;
  border-top: 1px solid var(--light-grey-1);
  width: 100%;
  text-align: center;
  background: var(--grey-3);
  color: var(--light-grey-6);
}

.tm-source .stress {
  color: var(--light-green-1);
}
