.tm-source {
  background-color: var(--background-1);
  border: 1px solid var(--main-border-1);
  border-radius: 3px;
  color: var(--editor-menu-color);
  float: left;
  font-size: 11px;
  line-height: 20px;
  margin-left: 5px;
  padding: 9px;
}

.tm-source .stress {
  color: var(--status-translated);
}
