.new-contributor-tooltip {
  background: var(--black-3);
  border: 1px solid var(--dark-grey-1);
  border-radius: 10px;
  box-shadow: 0 0 20px -2px var(--tooltip-background);
  box-sizing: border-box;
  left: 0;
  margin: -50px auto;
  padding: 20px;
  position: fixed;
  right: 0;
  width: 250px;
  z-index: 20;
}

.new-contributor-tooltip p {
  color: var(--light-grey-7);
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.new-contributor-tooltip p:not(:last-child) {
  padding-bottom: 10px;
}

.new-contributor-tooltip p.title {
  font-size: 24px;
  padding-bottom: 20px;
  text-align: center;
}

.new-contributor-tooltip p a {
  color: var(--status-error);
}
