.comments-list .add-comment div.container {
  flex-flow: row nowrap;
  align-items: flex-end;
  padding-bottom: 6px;
}

.comments-list .add-comment .comment-editor {
  background-color: var(--dark-grey-1);
  border: none;
  border-radius: 4px;
  color: var(--translation-color);
  font-size: 11px;
  max-height: 144px;
  margin: auto;
  overflow: auto;
  padding: 7px;
  width: 100%;
  word-break: break-word;
}

/* Override Slate, to account for the padding in .comment-editor */
.comments-list .add-comment .comment-editor span[data-slate-placeholder] {
  max-width: calc(100% - 14px) !important;
}

.comments-list .add-comment .comment-editor .mention-element {
  color: var(--light-green-1);
}

.comments-mention-list {
  top: -9999px;
  left: -9999px;
  position: absolute;
  z-index: 1;
  padding: 10px 12px;
  background-color: var(--black-3);
  border: 1px solid var(--dark-grey-1);
}

.comments-mention-list .mention {
  padding: 4px 4px 0;
  cursor: pointer;
}

.comments-mention-list .mention:hover,
.comments-mention-list .active-mention {
  background: var(--dark-grey-2);
}

.comments-mention-list .mention .user-avatar {
  display: inline-block;
  vertical-align: middle;
}

.comments-mention-list .mention .user-avatar img {
  border-radius: 2px;
  border: 1px solid var(--light-grey-1);
  margin-right: 8px;
}

.comments-mention-list .mention .name {
  font-weight: 300;
}

.comments-list .add-comment .submit-button {
  background-color: var(--grey-3);
  border: solid 1px var(--grey-3);
  border-radius: 4px;
  color: var(--light-grey-6);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 36px;
  width: 36px;
  margin-left: 6px;
  padding-left: 10px;
}

.comments-list .add-comment .submit-button:hover:not(:disabled) {
  color: var(--black-3);
  background: var(--light-green-1);
}

.comments-list .add-comment .submit-button:disabled {
  cursor: wait;
}
