{% import 'contributors/widgets/contributor_selector_list.html' as ContributorSelectorList %}

{% macro user_selector(all_users, index=None) %}
    {{ ContributorSelectorList.list(
        'available',
        choices=all_users,
        label='<a class="contributors active" href="#">팀 기여자 </a> &middot; <a class="all" href="#">전체 사용자</a>',
        description="사용자 email을 클릭하여 그룹을 움직일 수 있습니다.",
        index=index,
        extra=contributors_emails
    ) }}
{% endmacro %}

{% macro translator_selector(description, translators, index=None) %}
    {{ ContributorSelectorList.list(
        'translators',
        choices=translators,
        label='번역자',
        description=description,
        index=index,
        extra=contributors_emails
    ) }}
{% endmacro %}

{% macro manager_selector() %}
    {{ ContributorSelectorList.list(
        'managers',
        choices=managers,
        label='관리자',
        description='관리자는 팀의 권한부여와 더불어 팀 설명등을 수정할 수 있습니다.',
        extra=contributors_emails
    ) }}
{% endmacro %}

<form id="permissions-form" method="POST" action="{{ url('pontoon.teams.ajax.permissions', locale.code) }}">
    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">

    <div class="permissions-groups general clearfix">
        <h3 class="controls">일반 <span class="small stress">(아래에서 오버라이드 되어도 여기서 전체 프로젝트에 제안을 내고 번역을 허가할수 있습니다)</span></h3>
        <div class="selector-wrapper double-list-selector clearfix">
            {{ user_selector(all_users) }}
            {{ translator_selector('아래에서 오버라이드 되어도 여기서 전체 프로젝트에 제안을 내고 번역을 허가할수 있습니다.', translators) }}
            {{ manager_selector() }}
        </div>
    </div>

    {{ project_locale_form.management_form }}
    {% for pk, slug, name, all_users, translators, has_custom_translators in locale_projects %}
        <div class="permissions-groups project-locale clearfix{% if not has_custom_translators %} hidden{% endif %}"
             data-slug="{{ slug }}"
             data-index="{{ loop.index0 }}">
            <input type="hidden" name="project-locale-{{ loop.index0 }}-id" value="{{ pk }}">

            {% if has_custom_translators %}
                <input type="hidden" name="project-locale-{{ loop.index0 }}-has_custom_translators" value="1">
            {% endif %}

            <h3 class="controls">
                {{ name }} <span class="small stress">(이 프로젝트에 대한 팀 번역자 오버라이드)</span>
                <a href="#" class="remove-project button" title="Remove custom project permissions"><span class="fa fa-trash"></span>제거</a>
            </h3>
            <div class="selector-wrapper double-list-selector clearfix">
                {{ user_selector(all_users, pk) }}
                {{ translator_selector('번역자를 추가하거나 제거함으로서 기본 번역자 설정을 오버라이드 할 수 있습니다.', translators, pk) }}
            </div>
        </div>
    {% endfor %}

    <menu class="controls">
        <button class="button active save">저장</button>
        <div id="project-selector" class="select{% if all_projects_in_translation %} hidden{% endif %}">
            <div class="button selector">프로젝트에 대한 사용자 정의 권한 지정<span class="icon fa fa-caret-up"></span></div>
            <div class="menu">
                <div class="search-wrapper clearfix">
                    <div class="icon fa fa-search"></div>
                    <input autocomplete="off" autofocus="" type="search">
                </div>
                <ul>
                    {% for pk, slug, name, all_users, translators, has_custom_translators in locale_projects %}
                        <li data-slug="{{ slug }}" data-id="{{ pk }}" class="{% if has_custom_translators %}hidden{% else %}limited{% endif %}">{{ name }}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </menu>
</form>
