{% import 'contributors/widgets/contributor_selector_list.html' as ContributorSelectorList %}

{% macro user_selector(all_users, index=None) %}
    {{ ContributorSelectorList.list(
        'available',
        choices=all_users,
        label='<a class="contributors active" href="#">team contributors</a> &middot; <a class="all" href="#">all users</a>',
        description="Click on user's email address to move it to the group pointed to by the arrow.",
        index=index,
        extra=contributors_emails
    ) }}
{% endmacro %}

{% macro translator_selector(description, translators, index=None) %}
    {{ ContributorSelectorList.list(
        'translators',
        choices=translators,
        label='translators',
        description=description,
        index=index,
        extra=contributors_emails
    ) }}
{% endmacro %}

{% macro manager_selector() %}
    {{ ContributorSelectorList.list(
        'managers',
        choices=managers,
        label='managers',
        description='Managers can change team permissions and edit other settings like team description.',
        extra=contributors_emails
    ) }}
{% endmacro %}

<form id="permissions-form" method="POST" action="{{ url('pontoon.teams.ajax.permissions', locale.code) }}">
    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">

    <div class="permissions-groups general clearfix">
        <h3 class="controls">General <span class="small stress">(default team permissions for all projects)</span></h3>
        <div class="selector-wrapper double-list-selector clearfix">
            {{ user_selector(all_users) }}
            {{ translator_selector('Translators can submit and approve translations in all projects, unless overridden below.', translators) }}
            {{ manager_selector() }}
        </div>
    </div>

    {{ project_locale_form.management_form }}
    {% for pk, slug, name, all_users, translators, has_custom_translators in locale_projects %}
        <div class="permissions-groups project-locale clearfix{% if not has_custom_translators %} hidden{% endif %}"
             data-slug="{{ slug }}"
             data-index="{{ loop.index0 }}">
            <input type="hidden" name="project-locale-{{ loop.index0 }}-id" value="{{ pk }}">

            {% if has_custom_translators %}
                <input type="hidden" name="project-locale-{{ loop.index0 }}-has_custom_translators" value="1">
            {% endif %}

            <h3 class="controls">
                {{ name }} <span class="small stress">(override team translators for this project)</span>
                <a href="#" class="remove-project button" title="Remove custom project permissions"><span class="fa fa-trash"></span>Remove</a>
            </h3>
            <div class="selector-wrapper double-list-selector clearfix">
                {{ user_selector(all_users, pk) }}
                {{ translator_selector('Add or remove Translators to override default team translators set in the General section.', translators, pk) }}
            </div>
        </div>
    {% endfor %}

    <menu class="controls">
        <button class="button active save">Save</button>
        <div id="project-selector" class="select{% if all_projects_in_translation %} hidden{% endif %}">
            <div class="button selector">Add custom permissions for project<span class="icon fa fa-caret-up"></span></div>
            <div class="menu">
                <div class="search-wrapper clearfix">
                    <div class="icon fa fa-search"></div>
                    <input autocomplete="off" autofocus="" type="search">
                </div>
                <ul>
                    {% for pk, slug, name, all_users, translators, has_custom_translators in locale_projects %}
                        <li data-slug="{{ slug }}" data-id="{{ pk }}" class="{% if has_custom_translators %}hidden{% else %}limited{% endif %}">{{ name }}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </menu>
</form>
