{% if tm_entries|length == 0 %}
<p class="no-results">No translation memory entries stored yet.</p>
{% else %}
<div class="translation-memory items">
    <menu class="controls">
        <div class="search-wrapper small clearfix">
            <div class="icon fa fa-search"></div>
            <input class="table-filter" type="search" autocomplete="off" autofocus
                placeholder="Search translation memory">
        </div>

        <button class="upload-button button">
            <span class="fa fa-upload"></span>
            Upload .TMX
        </button>
    </menu>

    <table class="translation-memory-list">
        <thead>
            <tr>
                <th class="source text">Source</th>
                <th class="target text">Translation</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% include "teams/widgets/translation_memory_entries.html" with context %}
        </tbody>
    </table>
</div>
{% endif %}
