@import '../../../../../pontoon/static/css/dark-theme.css';

.other-locales .translation {
  border-bottom: 1px solid var(--light-grey-1);
  cursor: pointer;
  padding: 10px;
}

.other-locales ul.preferred-list .translation:last-child {
  border-bottom-color: var(--light-green-1);
}

.other-locales .translation.cannot-copy {
  pointer-events: none;
}

.other-locales .translation:not(.cannot-copy):hover,
.other-locales .translation.selected {
  background: var(--dark-grey-1);
  border-color: var(--light-grey-1);
}

.other-locales .translation > header {
  color: var(--light-grey-8);
  display: block;
  font-size: 11px;
  font-weight: 300;
  padding: 1px 0 5px;
  text-align: right;
  text-transform: uppercase;
}

.other-locales .translation > header span {
  color: var(--light-green-1);
  padding-left: 3px;
}

.other-locales .translation > p {
  min-height: 22px;
  text-align: start;
  white-space: pre-wrap;
}

.other-locales .translation > header a {
  pointer-events: auto;
}
