@import '../../../../../pontoon/static/css/dark-theme.css';

.addon-promotion + header {
  margin-top: 44px;
}

.addon-promotion {
  background: var(--black-3);
  border-bottom: 1px solid var(--dark-grey-1);
  height: 44px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.addon-promotion .container {
  align-items: center;
  background: var(--pink);
  display: flex;
  height: 100%;
  padding: 0 10px;
}

.addon-promotion .dismiss {
  background: transparent;
  border: none;
  color: var(--white-1);
  font-size: 28px;
  padding: 0;
}

.addon-promotion .dismiss:hover {
  color: var(--black-3);
}

.addon-promotion .text {
  margin-left: 20px;
}

.addon-promotion .get {
  background: var(--black-3);
  border-radius: 3px;
  color: var(--white-1);
  font-weight: normal;
  margin-left: auto;
  padding: 7px 12px;
}

.addon-promotion .get:hover {
  background: var(--dark-grey-1);
}
