body > header {
  background: transparent;
  border-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 10;
}

body > header.menu-opened {
  border-color: var(--main-border-1);
}

#main {
  padding: 0;
}

#main section {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background-image: var(--homepage-background-image);
  background-attachment: fixed;
  background-size: cover;
}

#main section .container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  overflow: hidden;
}

#main .buttons {
  display: flex;
  margin-bottom: 10px;
}

#main .buttons button {
  background-color: var(--homepage-tour-button-background);
  border: none;
  border-radius: 2px;
  box-sizing: content-box;
  color: var(--homepage-tour-button-color);
  display: flex;
  font-size: 16px;
  width: 320px;
  height: 40px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

#main .buttons button.enable {
  background-color: var(--status-translated);
  color: var(--homepage-tour-button-color);
  margin-right: 30px;
}

#main h1 {
  font-size: 64px;
  margin-bottom: 10px;
}

#main p {
  font-size: 22px;
  font-weight: 300;
  line-height: 36px;
  width: 900px;
}

#main p.main-text {
  margin-bottom: 60px;
}

#main p.privacy-notice {
  font-size: 14px;
}

#main p.privacy-notice a {
  color: var(--status-translated);
}
