.messaging {
  h3 {
    margin-bottom: 20px;
  }

  .right-column {
    background: transparent;

    section {
      padding: 20px;
    }
  }

  .controls {
    margin: 40px 0 20px;

    .button {
      font-size: 15px;
      padding: 10px 20px;

      .fa-chevron-left {
        margin-right: 5px;
      }

      .fa-chevron-right {
        margin-left: 5px;
      }

      .fa-spin {
        font-size: 16px;
      }
    }

    .button:hover {
      color: inherit;
    }

    .button.fetching {
      pointer-events: none;
    }

    .button.fetch-again {
      display: none;
      background-color: var(--status-error);
      color: var(--translation-main-button-color);
    }

    .button.active {
      display: none;
      width: auto;

      .fa-spin {
        display: none;
      }
    }

    .button.disabled {
      pointer-events: none;
    }

    .button.active.sending {
      pointer-events: none;

      .fa-spin {
        display: inline;
      }
    }

    .right {
      float: right;

      .button {
        margin-left: 10px;
      }
    }
  }

  .no-results {
    padding: 26px;
  }

  #compose {
    box-sizing: border-box;

    form {
      background: var(--dark-grey-1);
      border-radius: 6px;
    }

    li:hover {
      background: inherit;
    }

    .errors {
      visibility: hidden;

      p {
        color: var(--status-error);
        font-size: 13px;
        padding-top: 5px;
        text-transform: uppercase;
      }
    }

    .check-list {
      overflow: visible;

      .check-box.transactional {
        display: none;
        padding-left: 20px;

        .help {
          padding: 5px 0 0 30px;
          font-style: italic;
        }
      }

      .check-box-wrapper {
        text-align: left;

        .fas {
          margin: 2px 10px 0 0;
          float: left;
        }
      }
    }

    .filters {
      .check-list {
        width: 100%;

        .check-list-contents {
          padding-bottom: 20px;

          .check-box-wrapper {
            color: var(--status-translated);
            font-size: 26px;
            font-weight: 300;
            font-style: italic;
            letter-spacing: -1px;
            width: 100%;

            .fas {
              font-size: 16px;
              padding-top: 7px;
            }
          }
        }
      }
    }

    .field {
      color: var(--light-grey-7);
      font-size: 16px;
      margin-bottom: 10px;
      text-align: left;
    }

    .field.half {
      float: left;
      width: 285px;
    }

    .field.half:nth-child(2n) {
      float: right;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input[type='text'],
    input[type='date'],
    input[type='number'],
    textarea {
      background: var(--black-3);
      float: none;
      font-size: 16px;
      padding: 4px;
      width: 100%;
      box-sizing: border-box;
    }

    textarea {
      height: 300px;
    }

    input#id_send_to_myself,
    textarea#id_recipient_ids,
    textarea#id_body {
      display: none;
    }

    .message-content .subtitle {
      color: var(--light-grey-7);
      float: right;
      font-size: 13px;
      padding-top: 5px;
      text-transform: uppercase;
    }

    .multi-selector .menu {
      width: 285px;
    }

    .collapsible {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .collapsible h3 {
      user-select: none;
    }

    .collapsible-content {
      display: none;
    }
  }

  #review {
    display: none;

    p {
      color: var(--light-grey-6);
      font-size: 16px;
      line-height: 1.5;
    }

    p.transactional {
      margin-top: 20px;
      font-style: italic;

      i {
        color: var(--status-error);
      }
    }

    >section {
      background: var(--dark-grey-1);
      border-radius: 6px;
      margin-bottom: 40px;
    }

    >section:last-child {
      margin-bottom: 0;
    }

    .subject {
      .value {
        color: var(--white-1);
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 14px;
      }
    }

    .recipients {
      >div {
        margin-top: 20px;
      }

      h5 {
        color: var(--light-grey-6);
        font-size: 16px;
      }

      .value {
        font-weight: 100;
      }

      .locales,
      .projects,
      .submitted-translations,
      .performed-reviews,
      .last-login {
        display: none;
      }
    }
  }

  #sent {
    background: var(--black-3);

    .no {
      padding: 20px;
      text-align: center;

      .icon {
        color: var(--background-hover-2);
        font-size: 100px;
      }

      .title {
        color: var(--light-grey-7);
        font-size: 18px;
        font-weight: bold;
      }
    }

    ul {
      max-height: none;

      .message {
        background: var(--dark-grey-1);
        border-radius: 6px;
        color: var(--light-grey-6);
        margin-bottom: 60px;
        padding: 20px;
        position: relative;
        transition: background-color 2s ease-in;

        >div {
          display: inline-block;
        }

        .user-avatar {
          float: left;
          width: 68px;
        }

        .details {
          width: 532px;
          font-size: 16px;

          .info {
            margin-bottom: 10px;
            font-size: 14px;

            .sender {
              color: var(--status-translated-alt);
              width: 50%;
            }

            .types {
              float: right;
              text-align: right;
              width: 50%;

              i {
                color: var(--status-translated);
                font-size: 18px;
                margin-left: 5px;
              }
            }
          }

          .subject {
            color: var(--white-1);
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }

        .footer {
          position: absolute;
          bottom: -25px;
          left: 5px;
          right: 5px;

          .use-as-template {
            color: inherit;
            float: left;
            text-transform: uppercase;

            .fas {
              color: var(--status-translated);
              margin-right: 5px;
            }
          }

          .use-as-template:hover {
            color: var(--white-1);
          }

          time {
            float: right;
          }
        }
      }

      .message.new {
        background: var(--light-grey-1);
      }
    }
  }

  .body {
    .value {

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: bold;
        letter-spacing: inherit;
        margin: inherit;
        padding-bottom: 1em;
        text-transform: inherit;
      }

      h1 {
        font-size: 2em;
      }

      h2 {
        font-size: 1.8em;
      }

      h3 {
        font-size: 1.5em;
      }

      h4 {
        font-size: 1.3em;
      }

      h5 {
        font-size: 1.15em;
      }

      p {
        font-weight: normal;
        line-height: 1.5em;
      }

      p:not(:last-child) {
        padding-bottom: 1em;
      }

      a {
        color: var(--status-translated);
        font-weight: inherit;
      }

      ol,
      ul {
        font-size: 16px;
        margin-left: 1.5em;
        padding-bottom: 1em;
      }

      ul {
        overflow: inherit;
        list-style: disc;
      }

      li {
        color: var(--light-grey-6);
        font-weight: normal;
      }

      li:hover {
        background: inherit;
      }
    }
  }
}