.messaging {
  .right-column {
    > div:not(.selected) {
      display: none;
    }

    section {
      padding: 20px;
    }
  }

  .controls {
    margin: 0;

    .button {
      width: 160px;
      .fa-chevron-left {
        margin-right: 5px;
      }
      .fa-chevron-right {
        margin-left: 5px;
      }
    }

    .button:hover {
      color: inherit;
    }

    .button:not(.active) {
      background: var(--button-background-2);
    }

    .right {
      float: right;

      .button {
        margin-left: 10px;
      }
    }
  }

  #compose {
    box-sizing: border-box;

    h3 {
      margin-bottom: 20px;

      .stress {
        color: var(--status-translated);
      }
    }

    li:hover {
      background: inherit;
    }

    .errors {
      visibility: hidden;

      p {
        color: var(--status-error);
        font-size: 13px;
        padding-top: 5px;
        text-transform: uppercase;
      }
    }

    .check-list {
      .check-box.transactional {
        display: none;
        padding-left: 20px;

        .help {
          padding: 5px 0 0 30px;
          font-style: italic;
        }
      }

      .check-box-wrapper {
        text-align: left;
      }

      .fa {
        margin: 2px 10px 0 0;
        float: left;
      }

      [type='checkbox'] {
        display: none;
      }
    }

    .field {
      color: var(--light-grey-7);
      font-size: 16px;
      margin-bottom: 10px;
      text-align: left;
    }

    .field.half {
      float: left;
      width: 285px;
    }

    .field.half:nth-child(2n) {
      float: right;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input[type='text'],
    input[type='date'],
    input[type='number'],
    textarea {
      background: var(--black-3);
      float: none;
      font-size: 16px;
      padding: 4px;
      width: 100%;
      box-sizing: border-box;
    }

    textarea {
      border-radius: 3px;
      height: 150px;
    }

    .message-content .subtitle {
      color: var(--light-grey-7);
      float: right;
      font-size: 13px;
      padding-top: 5px;
      text-transform: uppercase;
    }

    .multi-selector .menu {
      width: 285px;
    }
  }
}
