
{% macro list_entities(entities, preferred_locale, has_more, search, match_case_enabled, match_whole_word_enabled) %}
<div id="entity-list-header">
  <span class="source-header">Source</span>
  <span class="translation-header">Translation</span>
</div>
<ul id="entity-list" class="striped" data-has-more="{{ 'true' if has_more else 'false' }}">
  {% for entity in entities %}
        <li class="entity-container">
            <div class="source-string-container">
              <span class="source-string">{{ entity.string|new_highlight_matches(search, match_case_enabled, match_whole_word_enabled) }}</span>
            </div>

            <div class="translation-string-container">
              <span class="translation-string">{{ entity.translation.string|new_highlight_matches(search, match_case_enabled, match_whole_word_enabled) }}</span>
            </div>

            <div class="entity-info-container">
              <div class="context">
                <a class="project" href="/projects/{{ entity.project.slug }}">{{ entity.project.name }}</a>
                {% if entity.resource.format != "gettext" %}
                  <span class="divider">&bull;</span>
                  <span class="entity-keys">{{ ", ".join(entity.key)|advanced_highlight_matches(search, match_case_enabled, match_whole_word_enabled) }}</span>
                {% endif %}
              </div>
            </div>
            <div class="utility-btn-container controls clearfix">
              <a class="all-locales button" href="/entities/{{ entity.id }}">
                <span class="fas fa-globe"></span>
                All Locales
              </a>
              <a class="edit button" href="/{{ preferred_locale.code}}/{{ entity.project.slug }}/{{ entity.resource.path }}/?string={{ entity.id }}">
                <span class="fas fa-pencil-alt"></span>
                Edit
              </a>
              <button class="copy button" type="button" data-clipboard-text="{{ entity.translation.string }}">
                <span class="far fa-copy"></span>
                Copy
              </button>
            </div>
        </li>
        {% endfor %}
</ul>
{% endmacro %}
