
{% macro list_entities(entities, entities_url, has_more) %}
<ul class="entity-list" data-has-more="{{ 'true' if has_more else 'false' }}">
  {% for entity in entities %}
    <li class="entity-item">
        <span class="source-string">{{ entity.string }}</span>
        {% if entity.resource.format != "gettext" %}
          <span class="entity-keys">{{ ", ".join(entity.key) }}</span>
        {% else %}
          <span class="entity-keys">N/A</span>
        {% endif %}
        <span>Entity URL:</span>
        <a href="{{ entities_url }}/{{ entity.id }}">/entities/{{ entity.id }}</a>
        <div class="entity-project">
            <span class="entity-project-slug">{{ entity.project.slug }}</span>
            <span class="entity-project-name">{{ entity.project.name }}</span>
        </div>
    
        <div class="entity-resource">
            <a>{{ entity.resource.path }}</a>
        </div>
    
        <div class="entity-locale">
            <span class="entity-locale-code">{{ entity.translation.locale.code }}</span>
            <span class="entity-locale-name">{{ entity.translation.locale.name }}</span>
        </div>
    
        <div class="translation-string">{{ entity.translation.string }}</div>
    </li>
    {% if not loop.last %}
      <li class="horizontal-separator"></li>
    {% endif %}
  {% endfor %}
</ul>
{% endmacro %}
