{% import "widgets/menu.html" as Menu %}

{# Widget to display list of contributors. #}
{% macro list_translations(entity, site_url) %}
  <table class="translations-table striped">
    <thead>
      <tr>
        <th id="locale-header">Locale</th>
        <th id="translation-header">Translation</th>
      </tr>
    </thead>
    <tbody>
    {% for translation in entity.translations %}
      <tr>
        <td class="locale-column">
            <span class="translation-locale-name">{{ translation.locale.name }}</span>
            <a class="translation-locale-code" href="/{{ translation.locale.code }}">{{ translation.locale.code }}</a>
        </td>
        <td>
          <div>
            <span class="translation-string">{{ translation.string }}</span>
          </div>
        </td>
        <td class="utility-btn-column controls">
            <a class="edit button" href="/{{ translation.locale.code}}/{{ entity.project.slug }}/{{ entity.resource.path }}/?string={{ entity.id }}">
              <span class="fas fa-pencil-alt"></span>
              Edit
            </a>
            <button class="copy button" type="button" data-clipboard-text="{{ translation.string }}">
              <span class="far fa-copy"></span>
              Copy
            </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{# Widget to display notification if no translations are available. #}
{% macro no_translations() %}
  <p class="no-results">No translations found.</p>
{% endmacro %}
