{# Widget to display list of translations. #}
{% macro list_translations(entity) %}
  <ul id="translation-list" class="striped">
    <li id="initial-section-container" class="translation-container">
      <div class="source-string-container">
        <span class="source-string">{{ entity.string }}</span>
      </div>

      <div class="translation-info-container">
        <div class="entity-info-container">
          <a class="project" href="/projects/{{ entity.project.slug }}">{{ entity.project.name }}</a>
          {% if entity.resource.format != "gettext" %}
            <span class="divider">&bull;</span>
            <span class="entity-keys">{{ ", ".join(entity.key)}}</span>
          {% endif %}
        </div>

        <div class="utility-container controls">
          <button class="copy button" type="button" data-clipboard-text="{{ entity.string }}">
            <span class="far fa-copy"></span>
            Copy
          </button>
        </div>
      </div>
    </li>
    {% for translation in entity.translations %}
      <li class="translation-container">
        <div class="source-string-container">
          <span class="translation-string">{{ translation.string }}</span>
        </div>

        <div class="translation-info-container">
          <div class="locale-container">
            <span class="translation-locale-name">{{ translation.locale.name }}</span>
            <a class="translation-locale-code" href="/{{ translation.locale.code }}">{{ translation.locale.code }}</a>
          </div>
          <div class="utility-container controls">
            <a class="edit button" href="/{{ translation.locale.code}}/{{ entity.project.slug }}/{{ entity.resource.path }}/?string={{ entity.id }}">
              <span class="fas fa-pencil-alt"></span>
              Edit
            </a>
            <button class="copy button" type="button" data-clipboard-text="{{ translation.string }}">
              <span class="far fa-copy"></span>
              Copy
            </button>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{# Widget to display notification if no translations are available. #}
{% macro no_translations() %}
  <p class="no-results">No translations found.</p>
{% endmacro %}
