.user-menu {
  float: right;
  height: 60px;
}

.user-menu .selector {
  cursor: pointer;
  height: 100%;
}

.user-menu .selector img,
.user-menu .selector .menu-icon,
.user-menu .menu li.details img {
  border: 2px solid var(--icon-border-1);
  border-radius: 6px;
}

.user-menu .selector img {
  height: 44px;
  width: 44px;
  margin: 6px 5px 6px 5px;
}

.user-menu .selector .menu-icon {
  font-size: 20px;
  height: 20px;
  width: 20px;
  margin: 6px 5px 6px 5px;
  padding: 12px;
  text-align: center;
}

.user-menu .menu {
  background-color: var(--black-3);
  border: 1px solid var(--main-border-1);
  border-right: none;
  border-top: none;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  position: absolute;
  right: 0;
  top: 59px;
  width: 250px;
  z-index: 20;
}

.user-menu .menu li {
  color: var(--light-grey-7);
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  padding: 0 4px;
}

.user-menu .menu li.details {
  padding: 10px 4px;
  text-align: center;
}

.user-menu .menu li.details .name {
  color: var(--white-1);
  font-size: 16px;
}

.user-menu .menu li.details .email {
  color: var(--light-grey-7);
  font-size: 12px;
}

.user-menu .menu li a,
.user-menu .menu li button {
  display: block;
  line-height: 22px;
}

.user-menu li button {
  background: none;
  border: none;
  color: var(--light-grey-7);
  font-weight: 300;
  padding: 0;
  text-align: left;
  width: 100%;
}

.user-menu .menu li i.fas,
.user-menu .menu li i.fab {
  margin: 0 8px 0 -2px;
}

.user-menu .menu li:hover {
  background: var(--dark-grey-2);
}

.user-menu .menu li:hover,
.user-menu .menu li:hover a,
.user-menu .menu li:hover button,
.user-menu .menu li:active a {
  color: var(--white-1);
}

.user-menu .menu .horizontal-separator {
  border-top: 1px solid var(--main-border-1);
  height: 0;
  margin: 5px 0;
  padding: 0;
}

/* Theme Toggle */

.appearance {
  color: var(--light-grey-7);
  padding: 4px 0;
}

.appearance .help {
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.toggle-button button {
  background: transparent;
  border: 1px solid var(--main-border-1);
  border-radius: 3px;
  color: var(--toggle-color-1);
  font-size: 14px;
  font-weight: 100;
  padding: 4px;
  width: 78px;
}

.toggle-button button:nth-child(2) {
  margin: 0 8px;
}

.toggle-button button:hover {
  color: var(--light-grey-6);
}

.toggle-button button.active {
  background: var(--button-background-1);
  border-color: var(--main-border-1);
  color: var(--light-grey-7);
  font-weight: 400;
}

.toggle-button button .icon {
  display: block;
  margin: 5px 0;
}
