/* Dark Theme Variables */
.dark-theme,
.system-theme {
  /* Main */
  --main-border-1: #4d5967;
  --moz-logo: url(../img/moz-logo-light.svg);

  /* User banner and details */
  --user-admin: #ff3366;
  --user-pm: #ffa10f;
  --user-manager: #4fc4f6;
  --user-translator: #7bc876;
  --user-new: #fed271;

  /* Primary (darker) background */
  --background-1: #272a2f;
  --background-hover-1: #333941;
  --button-background-1: #333941;
  --popup-background-1: #333941;
  --input-background-1: #333941;
  --input-color-1: #aaaaaa;
  --input-color-2: #ffffff;
  --toggle-color-1: #777777;
  --icon-background-1: #3f4752;
  --icon-border-1: #4d5967;

  /* Secondary (lighter) background */
  --background-hover-2: #3f4752;
  --button-background-2: #3f4752;
  --button-background-hover-2: #272a2f;
  --popup-background-2: #272a2f;
  --icon-background-2: #4d5967;

  /* Tooltip */
  --tooltip-background: #000000dd;
  --tooltip-color: #ffffff;
  --tooltip-color-2: #888888;
  --tooltip-border: #4d5967;

  /* Homepage */
  --homepage-background-image: url(../img/background.svg);
  --homepage-tour-button-background: #ffffff;
  --homepage-tour-button-color: #000000;

  /* Translation status */
  --status-translated: #7bc876;
  --status-translated-alt: #7bc876;
  --status-pretranslated: #c0ff00;
  --status-pretranslated-alt: #c0ff00;
  --status-warning: #ffa10f;
  --status-error: #ff3366;
  --status-missing: #5f7285;
  --status-missing-alt: #5f7285;
  --status-unreviewed: #4fc4f6;
  --status-fuzzy: #fed271;

  /* Translation workspace */
  --translation-background: #3f4752;
  --translation-border: #5e6475;
  --translation-color: #ffffff;
  --translation-secondary-color: #aaaaaa;
  --translation-main-button-color: #272a2f;
  --translation-subtitle-color: #888888;
  --editor-background: #ffffff;
  --editor-color: #444444;
  --editor-form-background: #272a2f;
  --editor-menu-background: #272a2f;
  --editor-menu-color: #aaaaaa;
  --editor-menu-action-button-color: #ffffff;
  --time-range-handles: #272a2f;

  /* Highlights */
  --diff-del-background: #674b54;
  --diff-del-color: #fe8f8f;
  --diff-ins-background: #4b6259;
  --diff-ins-color: #9cd699;
  --search-color: #ffa10f;
  --search-background: #676054;

  /* Chart colors */
  --green-blue: #4fc4f666;
  --grey-9: #5f7285;
  --dark-purple: #f148fb33;
  --pink-3: #ffacfc;
  --dark-purple-2: #ffacfc33;
  --dark-magenta: #b3005e66;
  --dark-green: #3b3d3b;
  --forest-green-1: #41554c;
  --green: #4f7256;
  --green-2: #64906d;
  --dark-green: #7bc87633;
  --magenta: #843650;
  --blue-1: #3e7089;
  --light-pink: #ffbed1;
  --hot-pink: #ff5f9e;
  --dark-pink: #b3005e;
  --lilac: #c6c1f0;
  --grey-5: #385465;

  /* Insights Pretranslation Quality Chart */
  --brown-grey: #9c9290;
  --brown-grey-2: #c5bfbe;
  --lilac-purple: #9b93c9;
  --pink-2: #c46487;
  --light-pink-2: #ddb5d5;
  --light-pink-3: #f498b6;
  --light-pink-4: #c799bc;
  --dark-pink: #b173a0;
  --purple: #8074a8;
  --green-brown: #7c7270;

  --black-3: #272a2f;
  --grey-3: #4d5967;
  --white-1: #ffffff;

  --dark-grey-1: #333941;
  --dark-grey-2: #3f4752;
  --light-grey-1: #5e6475;
  --light-grey-2: #888888;
  --light-grey-6: #cccccc;
  --light-grey-7: #aaaaaa;
}
