/* Dark Theme Variables */
.dark-theme,
.system-theme {
  /* Main */
  --main-border-1: #4d5967;
  --moz-logo: url(../img/moz-logo-light.svg);

  /* Primary (darker) background */
  --background-1: #272a2f;
  --background-hover-1: #333941;
  --button-background-1: #333941;
  --popup-background-1: #333941;
  --input-background-1: #333941;
  --input-color-1: #aaaaaa;
  --toggle-background-1: #777777;
  --icon-background-1: #3f4752;
  --icon-border-1: #4d5967;

  /* Secondary (lighter) background */
  --background-hover-2: #3f4752;
  --button-background-2: #3f4752;
  --button-background-hover-2: #272a2f;
  --popup-background-2: #272a2f;

  /* Homepage */
  --homepage-background-image: url(../img/background.svg);
  --homepage-tour-button-background: #ffffff;

  /* Diff */
  --forest-green-2: #4b6259;
  --light-green-3: #9cd699;
  --purple-pink: #674b54;
  --coral: #fe8f8f;

  /* Tooltip */
  --tooltip-background: #000000dd;
  --tooltip-color: #ffffff;
  --tooltip-color-2: #888888;
  --tooltip-border: #4d5967;

  /* Translation status */
  --light-green-1: #7bc876;
  --neon-green: #c0ff00;
  --orange-1: #ffa10f;
  --red-pink: #ff3366;
  --blue-2: #5f7285;
  --light-blue: #4fc4f6;

  /* Chart colors */
  --green-blue: #4fc4f666;
  --grey-9: #5f7285;
  --dark-purple: #f148fb33;
  --pink-3: #ffacfc;
  --dark-purple-2: #ffacfc33;
  --dark-magenta: #b3005e66;
  --dark-green: #3b3d3b;
  --forest-green-1: #41554c;
  --green: #4f7256;
  --green-2: #64906d;
  --dark-green: #7bc87633;
  --magenta: #843650;
  --blue-1: #3e7089;
  --light-pink: #ffbed1;
  --hot-pink: #ff5f9e;
  --dark-pink: #b3005e;
  --lilac: #c6c1f0;

  /* Insights Pretranslation Quality Chart */
  --brown-grey: #9c9290;
  --brown-grey-2: #c5bfbe;
  --lilac-purple: #9b93c9;
  --pink-2: #c46487;
  --light-pink-2: #ddb5d5;
  --light-pink-3: #f498b6;
  --light-pink-4: #c799bc;
  --dark-pink: #b173a0;
  --purple: #8074a8;
  --green-brown: #7c7270;

  --black-2: #000000;
  --black-3: #272a2f;
  --black-4: #000000cc;
  --black-5: #000000bb;

  --grey-1: #637283;
  --grey-2: #525a65;
  --grey-3: #4d5967;
  --grey-5: #385465;
  --grey-7: #333941e6;

  --dark-grey-1: #333941;
  --dark-grey-2: #3f4752;
  --dark-grey-4: #444444;

  --light-grey-1: #5e6475;
  --light-grey-2: #888888;
  --light-grey-6: #cccccc;
  --light-grey-7: #aaaaaa;

  --white-1: #ffffff;
  --white-5: #e2e2e2;

  --black-brown: #2d2323;
  --brown-1: #676054;
  --mustard-yellow: #fed271;
  --pink: #ff3366cc;
  --red: #ff0a43;
}
