ul {
  list-style: none;
  margin: 0;
}

#heading:not(.simple) {
  padding: 30px 0;
}

#heading:not(.simple) h1 {
  padding-bottom: 30px;
}

#heading h1 a {
  color: var(--white-1);
  font-weight: bold;
  font-size: 32px;
}

#heading h1 .small {
  color: var(--status-translated);
  font-weight: 300;
  padding-left: 5px;
}

#heading .details,
#heading .legend {
  font-weight: 300;
}

#heading .details li,
#heading .legend li {
  line-height: 24px;
}

#heading .details {
  float: left;
  width: 360px;
}

#heading .details .title {
  color: var(--light-grey-7);
  padding-right: 5px;
  position: relative;
  text-transform: uppercase;
}

#heading .details .title sup {
  position: absolute;
  top: -5px;
}

#heading .details .value {
  color: var(--light-grey-7);
  float: right;
}

#heading .details .value a {
  color: var(--white-1);
}

#heading .details .value a:hover {
  color: var(--status-translated);
}

#heading .details .priority .value {
  margin-top: 6px;
}

#heading .details .value.overflow {
  max-width: 275px;
  overflow: hidden;
  padding-left: 1px; /* Needed to avoid cutting off overlay due to overflow: hidden; */
  padding-right: 1px; /* Needed to avoid cutting off overlay due to overflow: hidden; */
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#heading .details .resources .value.overflow {
  max-width: 280px;
  white-space: normal;
}

#heading .progress {
  float: left;
  margin: -10px 65px 0;
  position: relative;
  text-align: center;
}

#heading .progress .number {
  display: none;
  font-size: 50px;
  font-weight: bold;
  left: 0;
  right: 0;
  top: 25px;
  margin: 0;
  position: absolute;
}

#heading .progress .number:after {
  content: '%';
  color: var(--light-grey-2);
  display: block;
  font-size: 20px;
  font-weight: 100;
  line-height: 10px;
}

#heading .legend {
  float: left;
  width: 190px;
}

#heading .legend li {
  color: var(--light-grey-7);
  padding-left: 25px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

#heading .legend li a {
  color: var(--white-1);
}

#heading .legend li:hover a {
  color: var(--status-translated);
}

#heading .legend li .status.fas {
  left: 0;
  top: 4px;
}

#heading .legend li span.value {
  color: var(--light-grey-7);
  float: right;
}

#heading .legend li a span.value {
  color: var(--white-1);
}

#heading .legend li:hover a span.value {
  color: var(--status-translated);
}

#heading .non-plottable {
  float: right;
}

#heading .non-plottable p {
  color: var(--light-grey-7);
  font-weight: 300;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
}

#heading .non-plottable a p {
  color: var(--white-1);
}

#heading .non-plottable a:hover p {
  color: var(--status-translated);
}

#heading .non-plottable p.value {
  font-size: 20px;
}

#heading .non-plottable .all {
  padding-bottom: 21px;
}

#heading .non-plottable .unreviewed .status.fas {
  left: auto;
  position: relative;
  top: -1px;
  left: -0.5px;
}

#heading .non-plottable .unreviewed .status.fas:before {
  color: var(--icon-background-2);
  font-size: 18px;
}

#heading .non-plottable .unreviewed.pending .status.fas:before {
  color: var(--status-unreviewed);
}
#heading .controls label {
  color: var(--white-1);
  background-color: var(--button-background-1);
}

#heading .controls label:hover {
  color: var(--black-3);
  background-color: var(--status-translated);
}
