html {
  font-size: 8.22px;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 0.8320644vw;
  }
  header > .container {
    width: 80%;
  }
  section > .container {
    width: 80%;
  }
  .section-6 .homepage-footer {
    width: 80%;
  }
}

@media only screen and (min-width: 1100px) {
  html {
    font-size: 0.7320644vw;
  }
  header > .container {
    width: 80%;
  }
  section > .container {
    width: 80%;
  }
  .section-6 .homepage-footer {
    width: 80%;
  }
}

@media only screen and (min-width: 1500px) {
  html {
    font-size: 12.44px;
  }
  header > .container {
    width: 75%;
  }
  section > .container {
    width: 65%;
  }
  .section-6 .homepage-footer {
    width: 75%;
  }
}


/* Base styles defined */

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.flex{
  display: flex;
}

.vertical-align-center {
  display: flex;
  align-items: center;
}

.flex-direction-col {
  display: flex;
  flex-direction: column;
}

.flex-col-4 {
  flex-basis: 33.3333333%;
}

.flex-col-5 {
  .flex-basis: 41.6666666%;
}

.flex-col-6 {
  flex-basis: 50%;
}

.flex-col-7 {
  flex-basis: 58.3333333%;
}

.flex-col-8 {
  flex-basis: 66.6666666%;
}

.align-center{
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left{
  text-align: left;
}

.neg-margin--small {
  margin-top: -4rem;
}

.neg-margin--large {
  margin-top: -6rem;
}

.container--full-height {
  height: 100vh;
}

.white-background {
  background: white;
}

.title-style {
  font-family: 'Mosk', sans-serif;
  font-size: 4rem;
  color: white;
  line-height: 5.6rem;
  padding-bottom: 2rem;
}

.content-style{
  font-family: 'Lato Regular',sans-serif;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: #f4f4f4;
}

.colored-title-style {
  color: #272a2f;
}

.colored-content-style {
  color: #333333;
}


/* All the styles for individual sections */

/*  Header, side-navigation style*/
.home-header{
  width: 100%;
  position: fixed;
  background: transparent;
  border-bottom: none;
  z-index: 10;
}

.side-navigation {
  position: fixed;
  list-style-type: none;
  top: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50%);
  z-index: 15;
}

.side-navigation li {
  cursor:pointer;
  width: 1rem;
  height: 1rem;
  display: block;
  background-color: #DFDFDF;
  border-radius: 50%;
  margin-bottom: 2.5rem;
  margin-left: 3rem;
}

.pagination.active {
  background-color: #7BC876;
  width: 1.25rem;
  height: 1.25rem;
}

.snaps{
  padding-top: 6rem;
}

/* Section-1 */
.section-1{
  background-image: url(../img/Homepage/background.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.introduction .flex {
  justify-content: center;
  align-items: center;
  padding: 3.2rem 0;
}

.introduction p{
  padding: 0 2.4rem;
  font-size: 1.3rem;
}
.introduction .title-style{
  width: 76rem;
  margin: 0 auto;
}

.introduction .content-style{
  width: 68rem;
  margin: 0 auto;
}

.intro-footer {
  background-color: white;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  position: absolute;
  padding-top: 0.8rem;
  top: 94vh;

}

.intro-footer p{
  font-size: 1.4rem;
  cursor: pointer;
}

.intro-footer p:hover{
  text-decoration: underline;
}

/* Section-2 */
.why-mozilla {
  margin-left: 10rem;
}

.section-side-image-1 {
  width: 36rem;
}

/* Section-3 */
.path {
  margin-left: 8rem;
}

.section-side-image-2 {
  width: 58rem;
}

.path-startend-text {
  font-weight: 400;
  color: black;
  margin-right: 2.4rem;
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
}

.content-div {
  width:58rem;
  padding-top: 8rem;
  font-size: 1.5rem;
}
.text-1 {
  color: #5F5F5F;
  margin-top: 1rem;
  margin-bottom: 4rem;
  padding-left: 7.5rem;
  width: 18rem;
  line-height: 2rem;
}

.text-2 {
  color: #5F5F5F;
  margin-top: 0.25rem;
  margin-bottom: 4.5rem;
  padding-right: 11rem;
}

.text-3 {
  color: #5F5F5F;
  margin-top: 6rem;
  padding-left: 7.5rem;
  width: 16rem;
  line-height: 2.25rem;
  margin-bottom: 4rem;
}

.text-4 {
  color: #5F5F5F;
  margin-top: -2.5rem;
  padding-right: 11rem;
}

/* Section-4 */
.section-4 {
  position: relative;
}

.features .title-style{
  padding-right: 3.2rem;
}

.features .content-style{
  padding-right: 4.8rem;
}

.card-border {
  position: absolute;
  height: 90%;
  width: 0.2rem;
  background-color: #DFDFDF;
  margin-left: 6.2rem;
  z-index: 0;
}

.cards{
  z-index: 5;
}

.card-features{
  padding-bottom: 2rem;
  align-items: flex-start;
}

.card-image img{
  width: 6rem;
  margin: 0 3.2rem;
}

.card-text{
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: auto 0px;
  margin-right: 1rem;
}

.card-text .colored-content-style{
  padding: auto 0px;
}

/* Section-5 */
.section-side-image-3 {
  width: 42rem;
  box-shadow: 0.3rem 0.3rem 0.6rem 0 #BFBFBF;
}

.in-context .content-style {
  padding-right: 1.6rem;
}

.in-context a{
  margin: 3.2rem 0;
}

/* Section-6 */
.section-6{
  background-image: url(../img/Homepage/background.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
}

.homepage-button {
  display:flex;
  border-radius: 0.2rem;
  width:24rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Lato regular',sans-serif;
  font-size: 1.6rem;
}

.primary-button-cta {
  background-color: #7BC176;
}

.primary-button-cta div {
  color: white;
}

.secondary-button-cta {
  background-color: #FFFFFF;
}

.secondary-button-cta div {
  color: #000000;
}


.footer {
  margin-top: -15rem;
}

.footer .content-style {
  padding-bottom: 1.2rem;
}

.footer .primary-button-cta {
  margin-bottom: 4.0rem;
}

.moz-logo {
  width: 10rem;
}

.github{
  margin-left: 2rem;
  width: 3rem;
}

.homepage-footer {
  position: absolute;
  height: 8vh;
  top: 92vh;
  justify-content: space-around;
  align-items: center;
}

.homepage-footer .flex-col-4{
  justify-content: center;
  align-items: flex-end;
}

.github--link .content-style{
  margin-bottom: 0.3rem;
}

.homepage-footer .content-style a{
  color: white;
}

.homepage-footer .content-style a:hover{
  color: #7BC176;
}

@media only screen and (orientation: portrait) {
  html {
    font-size: 12.44px;
  }
  header > .container {
    width: 80%;
  }
  section > .container {
    width: 80%;
  }

  .section-6 .homepage-footer {
    width: 80%;
  }

  .portrait-align-center {
    align-items: center;
    text-align: center;
  }

  .portrait-align-left {
    text-align: left;
  }

  .portrait-align-right {
    text-align: right;
  }

  .flex--wrap {
    height: auto;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin:15vh auto;
  }

  .flex-col-full {
    flex-basis: 75%;
    margin-left: 0;
    margin-top: 8rem;
    justify-content: center;
  }

  .section-1 .flex--wrap {
    margin:0;
  }
  .section-1 .flex-col-full {
    margin-top: 3rem;
    flex-basis: 50%;
  }

  .introduction .title-style {
    width: 60%;
  }
  .introduction .content-style{
    width: 60%;
  }

  .section-1 .intro-footer {
    padding-top: 1.5vh;
    top: 96vh;
  }
  .section-4 .card-text {
    text-align: left;
  }

  .section-4 .card-border {
    margin-left: -39rem;
  }

  .section-4 .title-style {
    padding-right: 0;
  }

  .section-4 .content-style {
    padding-right: 0;
  }

  .section-5 a {
    margin: 5.2rem auto;
  }
}
