/* Light Theme Variables */
.light-theme {
  /* Main */
  --main-border-1: #d8d8d8;
  --moz-logo: url(../img/moz-logo.svg);

  /* User banner and details */
  --user-admin: #ff3366;
  --user-pm: #ffa10f;
  --user-manager: #4fc4f6;
  --user-translator: #7bc876;
  --user-new: #fed271;

  /* Primary (darker) background */
  --background-1: #f6f6f6;
  --background-hover-1: #ffffff;
  --button-background-1: #ffffff;
  --popup-background-1: #ffffff;
  --input-background-1: #ffffff;
  --input-color-1: #000000;
  --input-color-2: #000000;
  --toggle-color-1: #999999;
  --toggle-color-2: #d0d0d0;
  --icon-background-1: #d0d0d0;
  --icon-border-1: #bbbbbb;

  /* Secondary (lighter) background */
  --background-hover-2: #ededed;
  --button-background-2: #e8e8e8;
  --button-background-hover-2: #f6f6f6;
  --popup-background-2: #f6f6f6;
  --icon-background-2: #d0d0d0;

  /* Tooltip */
  --tooltip-background: #000000dd;
  --tooltip-color: #ffffff;
  --tooltip-color-2: #888888;
  --tooltip-border: #4d5967;

  /* Homepage */
  --homepage-background-image: url(../img/background-light.svg);
  --homepage-tour-button-background: #ffffff;
  --homepage-tour-button-color: #000000;

  /* Translation status */
  --status-translated: #7bc876;
  --status-translated-alt: #49a643;
  --status-pretranslated: #c0ff00;
  --status-pretranslated-alt: #80a900;
  --status-warning: #ffa10f;
  --status-error: #ff3366;
  --status-missing: #bec7d1;
  --status-missing-alt: #5f7285;
  --status-unreviewed: #4fc4f6;
  --status-fuzzy: #fed271;

  /* Translation workspace */
  --translation-background: #f6f6f6;
  --translation-border: #bbbbbb;
  --translation-color: #000000;
  --translation-secondary-color: #888888;
  --translation-main-button-color: #000000;
  --translation-subtitle-color: #555555;
  --editor-background: #ffffff;
  --editor-color: #444444;
  --editor-form-background: #e8e8e8;
  --editor-menu-background: #ffffff;
  --editor-menu-color: #555555;
  --editor-menu-action-button-color: #000000;
  --editor-readonly-background: #c7cacf;
  --time-range-handles: #888888;

  /* Highlights */
  --diff-del-background: #ffebe9;
  --diff-del-color: #fe5c5c;
  --diff-ins-background: #e5feeb;
  --diff-ins-color: #42983e;
  --search-color: #ffa10f;
  --search-background: #fff4e2;
  --tags-brace-color: #872bff;
  --tags-bracket-color: #3e9682;
  --tags-keyword-color: #872bff;
  --tags-literal-color: #3e9682;
  --tags-name-color: #872bff;
  --tags-quote-color: #3e9682;
  --tags-tag-name-color: #3e9682;

  /* Chart colors */
  --green-blue: #4fc4f666;
  --grey-9: #5f7285;
  --dark-purple: #f148fb33;
  --pink-3: #ffacfc;
  --dark-purple-2: #ffacfc33;
  --dark-magenta: #b3005e66;
  --dark-green: #3b3d3b;
  --forest-green-1: #41554c;
  --green: #4f7256;
  --green-2: #64906d;
  --dark-green: #7bc87633;
  --magenta: #843650;
  --blue-1: #3e7089;
  --light-pink: #ffbed1;
  --hot-pink: #ff5f9e;
  --dark-pink: #b3005e;
  --lilac: #c6c1f0;
  --grey-5: #385465;

  /* Insights Pretranslation Quality Chart */
  --brown-grey: #9c9290;
  --brown-grey-2: #c5bfbe;
  --lilac-purple: #9b93c9;
  --pink-2: #c46487;
  --light-pink-2: #ddb5d5;
  --light-pink-3: #f498b6;
  --light-pink-4: #c799bc;
  --dark-pink: #b173a0;
  --purple: #8074a8;
  --green-brown: #7c7270;

  --black-3: #f6f6f6;
  --grey-3: #e8e8e8;
  --white-1: #444444;

  --dark-grey-1: #ffffff;
  --dark-grey-2: #e8e8e8;
  --light-grey-1: #e8e8e8;
  --light-grey-2: #888888;
  --light-grey-6: #444444;
  --light-grey-7: #666666;
}
