.notification {
  margin: -37px 12px 20px;
}

.notification li {
  text-align: center;
}

.project .menu li:not(.filter) {
  display: none;
}

.project .menu li a {
  display: block;
}

.project .menu li .check {
  display: none;
}

.project .menu.request li {
  cursor: pointer;
}

.project .menu.request .sort .progress,
.project .menu.request .latest {
  display: none;
}
