form {
  padding: 25px 12px;
  text-align: left;
}

p.intro {
  color: #AAA;
  font-style: italic;
  font-weight: 300;
  padding-bottom: 20px;
}

.user.select {
  float: left;
  width: auto;
}

.user.select.selected {
  float: right;
  text-align: right;
}

.user.select label {
  color: #AAAAAA;
  display: block;
  text-transform: uppercase;
}

.user.select label a.active,
.user.selected label {
  color: #7BC876;
}

.user.select .menu {
  border-bottom: 1px solid #5E6475;
  margin: 2px 0 -4px -1px;
  overflow: auto;
  padding: 10px 0;
  width: 295px;
}

.user.select .menu input[type="search"] {
  width: 100%;
}

.user.select .menu ul {
  height: 168px;
  margin-bottom: 0;
}

.user.select .menu ul li {
  cursor: pointer;
  line-height: 17px;
}

.user.select .menu ul li .arrow {
  display: none;
  padding-top: 2px;
}

.user.select.available .menu ul li .arrow {
  float: right;
}

.user.select .menu ul li.hover .arrow {
  display: inline-block;
}

.user.available .menu ul li .arrow:after {
  content: "";
}

.user.selected .menu ul li .arrow:after {
  content: "";
}

.user.select .remove-all {
  display: block;
  margin-top: 5px;
  text-align: right;
  text-transform: uppercase;
}

.button {
  background: #7BC876;
  border: none;
  border-radius: 3px;
  color: #272A2F;
  font-size: 14px;
  font-weight: 400;
  float: left;
  height: 31px;
  margin-top: 10px;
  text-transform: uppercase;
}
