.select .menu ul li > span:first-child,
.select .menu ul li > a > span:first-child {
  width: 200px;
}

.locale .code {
  float: left;
}

.locale .menu li a {
  display: block;
}

.new {
  display: none;
}
