body > .container {
  width: 1035px;
  margin-top: 45px;
}

#subtitle a {
  color: #EBEBEB;
}

.menu .sort span.name {
  width: 520px;
}

.part.select .menu ul li .name {
  width: 519px; /* Instead of 520px; because of padding */
}

.menu .static-links {
  font-weight: 300;
  position: absolute;
  top: -36px;
  left: 0;
  right: 0;
  text-transform: uppercase;
}

.menu .static-links a {
  padding: 10px;
}

.menu .static-links .all-resources {
  color: #7BC876;
  display: inline;
}

.menu .static-links .all-resources.hover {
  background: transparent;
  color: #7BC876;
}

.menu .static-links .all-resources .title:before {
  content: "Translate ";
}
