/*
 * PRIMARY STYLES
 *
 * Author: Matjaž Horvat
 * Using #pontoon with every selector is need for bookmarklet
 * 
 * Using Free Wireframe Toolbar Icons for GUI designers:
 * http://gentleface.com/free_icon_set.html
 */





/* COMMONS */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.eot');
  src: local('Open Sans'),
    local('OpenSans'),
    url('../fonts/OpenSans-Regular.eot') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/OpenSans-Light.eot');
  src: local('Open Sans Light'),
    local('OpenSans-Light'),
    url('../fonts/OpenSans-Light.eot') format('embedded-opentype'),
    url('../fonts/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.eot');
  src: local('Open Sans Bold'),
    local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.eot') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/OpenSans-Italic.eot');
  src: local('Open Sans Italic'),
    local('OpenSans-Italic'),
    url('../fonts/OpenSans-Italic.eot') format('embedded-opentype'),
    url('../fonts/OpenSans-Italic.woff') format('woff'),
    url('../fonts/OpenSans-Italic.ttf') format('truetype');
}

/* WebKit doesn't use the text color as placeholder color */
::-webkit-input-placeholder {
  color: #444444;
}

body, select, input, textarea, button {
  font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

#pontoon h2 {
  color: #888888;
  font-size: 14px;
  font-weight: 300;
  text-shadow: 1px 1px 1px #000000;
  text-transform: uppercase;
  padding-bottom: 2px;
}

#pontoon a:link,
#pontoon a:visited {
  color: #AAAAAA;
  font-weight: 300;
  text-decoration: none;

  -moz-transition: all 0.3s ease-out;  /* FF3.7+ */
  -o-transition: all 0.3s ease-out;  /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
  transition: all 0.3s ease-out;  
}

#pontoon a:hover,
#pontoon a:active {
  color: #7BC876;
  text-decoration: none;
}

#pontoon input[type=text],
#pontoon input[type=search],
#pontoon input[type=password],
#pontoon textarea {
  background: #888888;
  border: none;
  padding: 4px 3px 3px;
  width: 205px;
  float: left;
}

#pontoon textarea {
  float: none;
}

#pontoon input[type=text]:focus,
#pontoon input[type=search]:focus,
#pontoon input[type=password]:focus,
#pontoon textarea:focus {
  background-color: #FFFFFF;
  outline: none; /* Remove WebKit Glow */

  -moz-transition: all 0.3s ease-out;  /* FF3.7+ */
  -o-transition: all 0.3s ease-out;  /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
  transition: all 0.3s ease-out;  
}

#pontoon label {
  font-weight: 300;
}

#pontoon .button {
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  height: 17px;
  padding: 5px 4px 2px;
}

#pontoon .select {
  position: relative;
}

#pontoon .select .menu,
#pontoon .select .popup {
  background: #272A2F;
  border-radius: 0 0 5px 5px;
  color: #AAAAAA;
  display: none;
  list-style: none;
  margin-left: 0;
  padding: 10px 12px;
  position: absolute;
  top: 60px;
  width: 150px;
  z-index: 20; /* Must be higher than iframe-cover */
}

#pontoon .menu li {
  font-weight: 300;
  padding: 2px 4px;
  text-shadow: 1px 1px 2px #000000;
}

#pontoon #profile-menu li {
  padding: 2px 0 2px 12px;
}

#pontoon .menu li.hover {
  cursor: pointer;
  color: #FFFFFF;
  background: #3F4752;
}

#pontoon #profile-menu li.horizontal-separator {
  margin: 5px 0;
  padding: 0;
}

#pontoon .menu li a:link,
#pontoon .menu li a:visited {
  height: 100%;
  width: 100%;
  display: block;
  margin: -8px -12px -4px ;
  padding: 8px 0 4px 12px;

  -moz-transition: none;  /* FF3.7+ */
  -o-transition: none;  /* Opera 10.5 */
  -webkit-transition: none;  /* Saf3.2+, Chrome */
  transition: none;  
}

#pontoon .menu li a:hover,
#pontoon .menu li a:active {
  color: #FFFFFF;
}

#pontoon .menu li.no-match {
  display: none;
  cursor: default;
}

#pontoon .menu li.no-match.hover {
  display: none;
  cursor: default;
  color: #AAAAAA;
  background: transparent;
}

#pontoon .right {
  float: right;
  padding-right: 5px;
}





/* HEADER */

#pontoon > header {
  background: #272A2F;
  display: none;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 15; /* Must be higher than iframe-cover */
}

#pontoon > header > .container {
  display: none;
  min-width: 800px;
}

#pontoon > header #spinner {
  display: inline-block;
  height: 60px;
}

#pontoon > header .loader {
  background: transparent url('../img/loader-light.gif') right 22px no-repeat;
  padding-left: 30px;
}

#pontoon #switch {
  background: url('../img/align_just_icon&24.png') 17px 18px no-repeat transparent;
  float: left;
  height: 60px;
  width: 60px;
  border: none;
}

#pontoon .select {
  float: left;
}

#pontoon .select .button.breadcrumbs,
#pontoon #go {
  background: #3f4752;
  font-size: 16px;
  height: 20px;
  margin: 10px 10px 10px 0px;
  padding: 10px 20px 10px 40px;
}

#pontoon .select.hidden {
  display: none!important;
}

#pontoon .select > .button.breadcrumbs:before,
#go:before {
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #272A2F;
  position: absolute;
  left: 0;
  top: 10px;
}

#pontoon .select > .button.breadcrumbs:after {
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #3f4752;
  position: absolute;
  right: -10px;
  top: 10px;
  z-index: 1;
}

#pontoon .project.select > .button.breadcrumbs {
  border-radius: 3px 0 0 3px;
  padding-left: 20px;
}

#pontoon .project.select > .button.breadcrumbs:before {
  display: none;
}

#pontoon .select > .button.breadcrumbs:hover {
  background: #4d5967;
}

#pontoon .select > .button.breadcrumbs:hover:after {
  border-left-color: #4d5967;
}

#pontoon .select.opened > .button.breadcrumbs {
  background: #272A2F;
}

#pontoon .select.opened > .button.breadcrumbs:after {
  border-left-color: #272A2F;
}

#pontoon .vertical-separator {
  border-left: 1px solid #888888;
  display: block;
  float: left;
  height: 26px;
  margin: 0 10px;
}

#pontoon .horizontal-separator {
  border-top: 1px solid #525A65;
}

#pontoon .project.select .menu {
  width: 510px;
}

#pontoon .project.select .search {
  width: 450px;
}

#pontoon .project.select .menu ul {
  list-style: none;
  overflow: auto;
}

#pontoon .project.select .menu ul li .project-name {
  float: left;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 110px;
}

#pontoon .project.select .menu ul li .project-url {
  color: #7BC876;
  float: right;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 350px;
}

#pontoon .locale .selector,
#pontoon .project .selector {
  float: right;
}

#pontoon .locale .menu,
#pontoon .page .menu {
  width: 236px;
}

#pontoon .menu ul {
  max-height: 150px;
  overflow: auto;
  margin: 0;
  position: relative;
}

#pontoon .menu .search {
  background: url("../img/search.png") no-repeat 3px 3px transparent;
  border-bottom: 1px solid #525A65;
  color: #FFFFFF;
  float: none;
  margin-bottom: 10px;
  padding-left: 25px;
  padding-right: 11px;
  width: 200px;
}

#pontoon .menu .search:focus {
  background-color: transparent;
}

#pontoon .locale .code {
  color: #7BC876;
  float: right;
  margin-left: 10px;
}

#pontoon #go {
  border-radius: 0 3px 3px 0;
  color: #FFFFFF;
  float: left;

  -moz-transition: none;  /* FF3.7+ */
  -o-transition: none;  /* Opera 10.5 */
  -webkit-transition: none;  /* Saf3.2+, Chrome */
  transition: none;
}

#pontoon #go:hover {
  background: #7BC876;
  color: #272A2F;
}

#pontoon .page .menu .progress {
  float: right;
  font-size: 10px;
  margin-top: 2px;
  color: #7BC876;
}

#pontoon #progress {
  border: 1px solid #7BC876;
  float: left;
  height: 28px;
  margin: 15px 20px 15px 10px;
  position: relative;
  width: 180px;
  text-align: center;
}

#pontoon #progress .graph {
  background: #C1E3BF;
  float: left;
  height: 100%;
  width: 0%;

  -moz-transition: all 0.3s ease-out;  /* FF3.7+ */
  -o-transition: all 0.3s ease-out;  /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
  transition: all 0.3s ease-out;  
}

#pontoon #progress .graph.reviewed {
  background: #7BC876;
}

#pontoon #progress .number {
  color: #FFFFFF;
  right: 5px;
  font-size: 14px;
  line-height: 30px;
  position: absolute;
}

#pontoon #progress .number.left {
  color: #272A2F;
  left: 5px;
  right: auto;
}

#pontoon > header #loading {
  float: left;
  height: 60px;
}

#pontoon > header .notification {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  color: #7BC876;
  cursor: pointer;
  display: none;
  font-weight: 100;
  padding: 10px;
  position: absolute;
  right: 15px;
  text-transform: uppercase;
  top: 70px;
  visibility: visible;
  width: auto;
}

#pontoon > header .notification.error {
  color: #FD5F60;
}

#pontoon #logo {
  background: url("../img/home_icon&24.png") no-repeat center center;
  float: left;
  height: 24px;
  margin: 0px;
  padding: 18px 5px;
  width: 24px;
}

#pontoon #info .button {
  background: url("../img/info_icon&24.png") no-repeat center center;
  height: 24px;
  margin: 0;
  padding: 18px 5px;
  width: 24px;
}

#pontoon #info h2 {
  margin-bottom: 5px;
}

#pontoon #info .menu {
  line-height: 18px;
  width: 360px;
}

#pontoon #profile > .button {
  height: 60px;
  padding: 0 5px;
}

#pontoon #profile .button .title {
  float: left;
  margin: 20px 10px;
  font-size: 16px;
}

#pontoon #info .menu,
#pontoon #profile-menu {
  display: none;
  right: 0;
}

#pontoon #profile-menu {
  min-width: 150px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

#pontoon .select#profile .popup {
  right: 0;
  width: 200px;
}

#pontoon .popup h2 {
  margin-bottom: 5px;
}

#pontoon .popup .cancel {
  background: url('../img/cancel-active.png') no-repeat;
  float: right;
  height: 16px;
  width: 16px;
}

#pontoon .popup .cancel:hover {
  background-image: url('../img/cancel.png');
}

#pontoon .popup input[type=text],
#pontoon .popup input[type=password] {
  background: transparent;
  border-bottom: 1px solid #525A65;
  color: #FFFFFF;
  margin-bottom: 7px;
  padding: 3px 0;
  width: 200px;
}

#pontoon .popup input[type=password] {
    width: 135px;
}

#pontoon .popup .button {
  background: #7BC876;
  border-radius: 3px;
  color: #272A2F;
  float: right;
  font-weight: 400;
  text-transform: uppercase;
}

#pontoon .popup .remember {
  float: left;
  padding: 6px 0 0 14px;
}

#pontoon .popup .remember input {
  float: left;
  margin-left: -16px;
}

#pontoon .popup .bottom {
  font-size: 11px;
}

#pontoon .popup .bottom .new {
  float: right;
  margin-top: 6px;
}

#pontoon > header.opened #switch {
  background: url('../img/arrow-down.png') no-repeat;
}

#pontoon > header.opened #switch:hover {
  background: url('../img/arrow-down-active.png') no-repeat;
}





/* ENTITY LIST */

#pontoon #sidebar {
  background: #3F4752;
  border-right: 1px solid #5E6475;
  bottom: 0;
  display: none;
  overflow: hidden;
  position: fixed;
  top: 60px;
  width: 450px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #sidebar.advanced {
  display: block;
  width: 900px;
}

#pontoon #sidebar #drag {
  cursor: ew-resize;
  height: 100%;
  position: absolute;
  right: 0;
  width: 7px;
}

#pontoon #entitylist {
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;

  -moz-transition: all 0.2s ease-out;  /* FF3.7+ */
  -o-transition: all 0.2s ease-out;  /* Opera 10.5 */
  -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
  transition: all 0.2s ease-out;
}

#pontoon .advanced #entitylist,
#pontoon .advanced #editor {
  width: 50%;
}

#pontoon #search {
  background: url('../img/search.png') 6px 13px no-repeat #4D5967;
  border-bottom: 1px solid #5E6475;
  color: #FFFFFF;
  float: none;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 10px 10px 30px;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #search:-moz-placeholder {
  color: #AAAAAA;
}

#pontoon #search::-webkit-input-placeholder {
  color: #AAAAAA;
}

#pontoon #entitylist > .wrapper {
  bottom: 0px;
  overflow-y: auto;
  position: absolute;
  top: 44px;
  width: 100%;
}

#pontoon #entitylist > .wrapper > ul {
  background: #EBEBEB;
  margin: 0;
  list-style: none;
  text-align: left;
}

#pontoon #entitylist > .wrapper > ul > li {
  background: #3f4752;
  color: #FFFFFF;
  cursor: pointer;
  line-height: 2em;
  padding: 10px 25px;
  position: relative;
}

#pontoon #entitylist > .wrapper > ul > li:hover,
#pontoon #entitylist > .wrapper > ul > li.hovered,
#pontoon #entitylist > .wrapper > ul > li.active {
  background-color: #4d5967;
}

#pontoon #entitylist > .wrapper > ul > li:hover {
  background: url('../img/right.png') no-repeat center right 8px #4d5967;
}

#pontoon #entitylist > .wrapper > ul > li > .status {
  border: 2px solid #FD5F60;
  border-radius: 6px;
  height: 8px;
  left: 6px;
  position: absolute;
  top: 15px;
  width: 8px;
}

#pontoon #entitylist > .wrapper > ul > li.translated > .status {
  border-color: #7BC876;
}

#pontoon #entitylist > .wrapper > ul > li.reviewed > .status {
  background: #7BC876;
  border-color: #7BC876;
}

#pontoon #entitylist > .wrapper > ul > li p {
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#pontoon #entitylist h2  {
  background: #272A2F;
  color: #AAAAAA;
  padding: 10px 6px;
  text-shadow: none;
}

#pontoon #entitylist .no-match  {
  color: #FFFFFF;
  display: none;
  font-size: 28px;
  font-weight: 300;
  padding-top: 60px;
  text-align: center;
}

#pontoon #entitylist .no-match div  {
  color: #7BC876;
  font-size: 128px;
  margin-bottom: 20px;
}





/* EDITOR */

#pontoon #editor {
  background: #3F4752;
  bottom: 0;
  color: #FFFFFF;
  left: 450px;
  line-height: 22px;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;

  -moz-transition: all 0.2s ease-out;  /* FF3.7+ */
  -o-transition: all 0.2s ease-out;  /* Opera 10.5 */
  -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
  transition: all 0.2s ease-out;
}

#pontoon .advanced #editor {
  border-left: 1px solid #5E6475;
  left: 50%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #editor p {
  white-space: normal;
}

#pontoon #topbar {
  background: #4D5967;
  border-bottom: 1px solid #5E6475;
  line-height: 23px;
  padding: 10px ;
  text-transform: uppercase;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #topbar a[href="#back"] {
  background: url('../img/left.png') no-repeat -5px 3px transparent;
  float: left;
  padding-left: 15px;
}

#pontoon .advanced #topbar a[href="#back"] {
  display: none;
}

#pontoon #topbar a[href="#previous"] {
  background: url('../img/up.png') no-repeat 0 3px transparent;
  padding-left: 20px;
  padding-right: 30px;
}

#pontoon #topbar a[href="#next"] {
  background: url('../img/down.png') no-repeat 0 3px transparent;
  padding-left: 20px;
}

#pontoon #topbar a {
  color: #CCCCCC;
  float: right;
}

#pontoon #topbar a:hover {
  color: #7BC876;
}

#pontoon #source-pane {
  background: #3F4752;
  border-bottom: 1px solid #CCCCCC;
  height: 20%;
  min-height: 100px;
  overflow: auto;
  padding: 10px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #comment {
  color: #AAAAAA;
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
}

#pontoon #editor textarea {
  background: #FFFFFF;
  display: block;
  font-size: 13px;
  height: 20%;
  line-height: 22px;
  min-height: 100px;
  overflow: auto;
  padding: 10px;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #editor > menu {
  background: #272A2F;
  border-bottom: 1px solid #5E6475;
  padding: 10px;
  text-align: right;
}

#pontoon #translation-length {
  color: #AAAAAA;
  display: none;
  float: left;
  line-height: 22px;
  padding: 10px 0;
}

#pontoon #editor > menu > button {
  background: transparent;
  border: none;
  color: #EBEBEB;
  padding: 10px;
  text-transform: uppercase;
}

#pontoon .advanced button#cancel {
  display: none;
}

#pontoon #editor > menu > button#save {
  background: #7bc876;
  border-radius: 3px;
  color: #272A2F;
  font-weight: 600;
  margin-left: 10px;
  padding: 10px 20px;
}

#pontoon #editor > menu > button:hover {
  color: #7BC876;
}

#pontoon #editor > menu > button#save:hover {
  color: #EBEBEB;
}

#pontoon #helpers {
  background: #3F4752;
}

#pontoon #helpers nav ul {
  display: table;
  width: 100%;
}

#pontoon #helpers nav li {
  background: #4D5967;
  border-bottom: 1px solid #5E6475;
  border-right: 1px solid #5E6475;
  display: table-cell;
  text-align: center;
}

#pontoon #helpers nav li:last-child {
  border-right: none;
}

#pontoon #helpers nav li.active {
  background: #3F4752;
  border-bottom: none;
}

#pontoon #helpers nav li:hover {
  background: #3F4752;
}

#pontoon #helpers nav li a {
  color: #CCCCCC;
  display: block;
  padding: 10px;
  text-transform: uppercase;
}

#pontoon #helpers > section {
  display: none;
  padding-top: 25px;
}

#pontoon #helpers > section ul {
  list-style: none;
  margin: 0;
}

#pontoon #helpers > section ul li {
  border-bottom: 1px solid #525a65;
  cursor: pointer;
  padding: 5px 10px 20px;
}

#pontoon #helpers > section ul li:not(.disabled):hover {
  background: #4D5967;
  border-color: #5E6475;
}

#pontoon #helpers > section ul li.disabled {
  cursor: default;
}

#pontoon #helpers > section ul li > a:link,
#pontoon #helpers > section ul li > header {
  color: #AAAAAA;
  display: block;
  font-size: 11px;
  padding-bottom: 5px;
  text-align: right;
  text-transform: uppercase;
}

#pontoon #helpers > section ul li > header .info {
  float: left;
}

#pontoon #helpers > section ul li > header .toolbar {
  float: right;
}

#pontoon #helpers > section ul li > header button {
  background: no-repeat transparent;
  border: none;
  display: none;
  height: 16px;
  opacity: 0.5;
  vertical-align: bottom;
  width: 16px;
}

#pontoon #helpers > section ul li > header.localizer button {
  display: inline-block;
}

#pontoon #helpers > section ul li > header button:hover {
  opacity: 1;
}

#pontoon #helpers > section ul li > header button.approve {
  background-image: url('../img/star_fav_empty_icon&16.png');
}

#pontoon #helpers > section ul li > header button.approve:hover {
  background-image: url('../img/star_fav_icon&16.png');
}

#pontoon #helpers > section ul li.approved > header button.approve {
  background-image: url('../img/star_fav_icon&16.png');
  display: inline-block;
  opacity: 1;
}

#pontoon #helpers > section ul li > header button.delete {
  background-image: url('../img/trash_icon&16.png');
  margin-left: 10px;
}

#pontoon #helpers > section ul li > header.own button.delete {
  display: inline-block;
}

#pontoon #helpers > section ul li .stress {
  color: #7BC876;
  padding-left: 3px;
}

#pontoon #helpers > section ul li p.loader {
  background: transparent url('../img/loader-light.gif') 0 0 no-repeat;
  height: 12px;
  padding: 10px 0 0 30px;
}

#pontoon #helpers > section ul li.disabled p {
  color: #AAAAAA;
  font-style: italic;
}
