body > .container {
  width: 1035px;
}

.notification {
  display: none;
}

form {
  padding: 25px 12px;
  text-align: left;
}

h3 {
  color: #EBEBEB;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 30px;
  position: relative;
  text-align: left;
  text-transform: none;
}

h3 .small {
  color: #AAAAAA;
  font-size: .7em;
}

h3 .remove-project {
  bottom: 33px;
  color: #7BC876;
  font-size: 14px;
  letter-spacing: 0;
  position: absolute;
  right: 0;
  text-transform: uppercase;
}

h3 .remove-project .fa {
  float: left;
  margin-top: 1px;
  padding-right: 5px;
}

.permissions-groups {
  margin-bottom: 80px;
}

.user.select {
  display: inline-block;
  vertical-align: top;
  width: 295px;
}

.user.select.translators {
  text-align: center;
}

.user.select.managers {
  text-align: right;
}

.user.select.translators,
.user.select.managers {
  margin-left: 59px;
}

.user.select label {
  color: #AAAAAA;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.user.select label a.active,
.user.translators label,
.user.managers label {
  color: #7BC876;
}

.user.select .menu {
  border-bottom: 1px solid #5E6475;
  overflow: auto;
  padding: 10px 0;
}

.user.select .menu input[type="search"] {
  width: 100%;
}

.user.select .menu ul {
  height: 168px;
  margin-bottom: 0;
}

.user.select .menu ul li {
  cursor: pointer;
  line-height: 17px;
  position: relative;
}

.user.select.available .menu ul li:not(.contributor) {
  display: none;
}

.user.select .menu ul li .arrow {
  display: none;
  position: absolute;
  top: 4px;
  right: 2px;
}

.user.select .menu ul li.hover .arrow {
  display: inline-block;
}

.user.select.available .menu ul li .arrow:after,
.general .user.select.translators .menu ul li .arrow:after {
  content: "";
}

.user.select.translators .menu ul li.left .arrow:after,
.project-locale .user.select.translators .menu ul li.hover .arrow:after,
.user.select.managers .menu ul li .arrow:after {
  content: "";
}

.user.select.translators .menu ul li.left .arrow,
.project-locale .user.select.translators .menu ul li.hover .arrow,
.user.select.managers .menu ul li .arrow {
  left: 2px;
}

.user.select .intro {
  color: #AAA;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  margin: 10px 0;
  text-align: center;
}

.button {
  background: #4D5967;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  float: right;
  height: 20px;
  margin-top: 30px;
  padding: 12px 10px 8px;
  width: 240px;
}

.button.save {
  background: #7BC876;
  color: #272A2F;
  font-weight: 400;
  height: 40px;
  padding-top: 9px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
}

#project-selector  {
  float: right;
}

#project-selector .button {
  margin-right: 10px;
}

#project-selector .button .icon {
  color: #7BC876;
  float: right;
  margin-top: 2px;
}

#project-selector .menu {
  background: #4D5967;
  bottom: 40px;
  width: 236px;
}

#project-selector .menu .search-wrapper {
  border-color: #82899B;
}

#project-selector .menu li {
  color: #CCCCCC;
  cursor: pointer;
}

#project-selector .menu li:not(.limited) {
  display: none;
}
