.hovered {
  -moz-box-shadow: 0 0 5px #444444;
  -webkit-box-shadow: 0 0 5px #444444;
  box-shadow: 0 0 5px #444444;
}

.editableToolbar {
  background-color: #EBEBEB;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999999;
  display: none;
  border-top: 1px solid #AAAAAA;
  border-left: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;

  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
}

.editableToolbar.bottom {
  border-top: none;
  border-bottom: 1px solid #AAAAAA;

  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
}

.editableToolbar:hover + * {
  -moz-box-shadow: 0 0 5px #444444;
  -webkit-box-shadow: 0 0 5px #444444;
  box-shadow: 0 0 5px #444444;
}

.editableToolbar a {
  background: transparent none 0 0 no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin: 2px;
}

.editableToolbar .edit {    
  background-image: url('../img/edit-active.png');
}

.editableToolbar .save {
  background-image: url('../img/save-active.png');
  display: none;
}

.editableToolbar .cancel {
  background-image: url('../img/cancel-active.png');
  display: none;
}
