.pontoon-hovered {
  -moz-box-shadow: 0 0 5px #444444;
  -webkit-box-shadow: 0 0 5px #444444;
  box-shadow: 0 0 5px #444444;
}

.pontoon-editable-toolbar {
  background-color: #EBEBEB;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999999;
  display: none;
  border-top: 1px solid #AAAAAA;
  border-left: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
}

.pontoon-editable-toolbar.bottom {
  border-top: none;
  border-bottom: 1px solid #AAAAAA;
}

.pontoon-editable-toolbar:hover + * {
  -moz-box-shadow: 0 0 5px #444444;
  -webkit-box-shadow: 0 0 5px #444444;
  box-shadow: 0 0 5px #444444;
}

.pontoon-editable-toolbar a {
  background: transparent none 0 0 no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin: 2px;
}

.pontoon-editable-toolbar .edit {
  background-image: url('../img/edit-active.png');
}

.pontoon-editable-toolbar .save {
  background-image: url('../img/save-active.png');
  display: none;
}

.pontoon-editable-toolbar .cancel {
  background-image: url('../img/cancel-active.png');
  display: none;
}
