.about {
  padding: 0 12px;
  text-align: left;
}

.about p {
  font-weight: 300;
  padding-bottom: 12px;
}

#pontoon .about p a:link,
#pontoon .about p a:visited {
  color: #7BC876;
}

#pontoon .select .menu ul li > span:first-child {
  width: 160px;
}

#pontoon .locale .code {
  float: left;
}
