.about {
  padding: 0 12px;
  text-align: left;
}

.about p {
  font-weight: 300;
  padding: 12px 0;
}

.about p a:link,
.about p a:visited {
  color: #7BC876;
}

.notification {
  line-height: 17px;
  margin: -17px 12px 0px;
}

.notification li {
  text-align: center;
}

.select .menu ul li > span:first-child,
.select .menu ul li > a > span:first-child {
  width: 160px;
}

.locale .code {
  float: left;
}

.locale .menu li:not(.filter) {
  display: none;
}

.locale .menu li a {
  display: block;
}
