.notification {
  margin: -37px 12px 20px;
}

.notification li {
  text-align: center;
}

.locale .menu li:not(.filter) {
  display: none;
}

.locale .menu li a {
  display: block;
}

.locale .menu.request li {
  cursor: pointer;
}
