.locale.select {
  height: 40px;
  margin-bottom: 40px;
}

.locale.select .selector {
  float: none;
  margin: 0;
  padding: 10px;
  text-align: left;
  width: 212px;
}

.locale.select .selector:before,
.locale.select .selector:after {
  display: none;
}

.locale.select .menu {
  background: #4D5967;
  bottom: 40px;
  display: none;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 232px;
}

.locale.select .menu .search-wrapper {
  border-color: #82899B;
}

.locale.select .menu ul {
  max-height: 212px;
}

.locale.select .menu li {
  color: #CCCCCC;
}

.locale .code {
  text-align: right;
}

#search.search-wrapper {
  margin-bottom: 0px;
}

#search.search-wrapper .icon {
  font-size: 1.6em;
  height: 19px;
  width: 19px;
}

#search.search-wrapper .fa-spin,
#search.search-wrapper.loading .fa-search {
  display: none;
}

#search.search-wrapper.loading .fa-spin {
  display: block;
}

#search input {
  background: transparent;
  color: #FFFFFF;
  font-size: 16px;
  padding-left: 30px;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.new {
  display: none;
}
