@import '../../../static/css/dark-theme.css';

.menu.left-column {
  float: left;
  width: 300px;
}

.menu.left-column ul {
  max-height: none;
}

.menu.left-column li.selected {
  background: var(--dark-grey-2);
}

.menu.left-column li.selected a {
  color: var(--white-1);
}

.menu.left-column li {
  padding: 0;
}

.menu.left-column li a {
  display: block;
  font-size: 15px;
  padding: 5px;
}

.menu.left-column .count {
  background: var(--dark-grey-1);
  float: right;
}

.menu.right-column {
  background: var(--dark-grey-1);
  float: right;
  width: 640px;
}

.menu.right-column > section {
  display: none;
}

.menu.right-column > section.selected {
  display: block;
}

.menu.right-column li.no .title {
  font-size: 22px;
  margin-top: 10px;
}

.menu.right-column li.no .description {
  font-size: 14px;
}
