.menu.left-column {
  background: var(--background-hover-1);
  border-radius: 6px;
  box-sizing: border-box;
  float: left;
  padding: 10px;
  width: 300px;
}

.menu.left-column ul {
  max-height: none;
}

.menu.left-column li.selected {
  background: var(--background-hover-2);
  border-radius: 6px;
}

.menu.left-column li.selected a {
  color: var(--white-1);
}

.menu.left-column li {
  padding: 0;
}

.menu.left-column li a {
  display: block;
  font-size: 16px;
  padding: 10px;
}

.menu.left-column .count {
  background: var(--button-background-2);
  float: right;
}

.menu.left-column li.selected .count {
  background: var(--button-background-1);
  float: right;
}

.menu.right-column {
  background: var(--dark-grey-1);
  float: right;
  width: 640px;
}

.menu.right-column > section {
  display: none;
}

.menu.right-column > section.selected {
  display: block;
}

.menu.right-column li.hover {
  background: var(--background-hover-2);
}

.menu.right-column li.no .title {
  font-size: 22px;
  margin-top: 10px;
}

.menu.right-column li.no .description {
  font-size: 14px;
}
