body > header {
  background: transparent;
  border-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 10;
}

body > header.menu-opened {
  border-color: var(--main-border-1);
}

#error {
  background: transparent;
}

#main {
  padding: 0;
}

#main section {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background-image: var(--homepage-background-image);
  background-attachment: fixed;
  background-size: cover;
}

#main section .container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  overflow: hidden;
}

#main h1 {
  font-size: 64px;
  margin-bottom: 10px;
}

#main p {
  font-size: 22px;
  font-weight: 300;
  line-height: 36px;
  width: 900px;
}

#main p a {
  color: var(--status-translated);
}
