/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 

/* 
 * minimal base styles 
 */


body, select, input, textarea { 
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
  color: #444; 
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */   
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE
html { overflow-y: scroll; } */ 

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }


ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
 
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }





 /* Primary Styles
    Author: Matjaž Horvat
 */

body {
	overflow: hidden;
	background: #DBDBDB;
}

body.admin-form {
  overflow: auto;
  background: #000000;
}

#intro {
  bottom: 0;
  display: none;
  height: 100%;
  overflow: hidden;
  position: fixed;
  text-align: center;  
  width: 100%;

  background: #26173F;
  background-image: url('../img/grain.png'); /* fallback */
  background-image: url('../img/grain.png'), -webkit-gradient(linear, left top, left bottom, from(#26173F), to(#000000)); /* Saf4+, Chrome */
  background-image: url('../img/grain.png'), -webkit-linear-gradient(top, #26173F, #000000); /* Chrome 10+, Saf5.1+ */
  background-image: url('../img/grain.png'),    -moz-linear-gradient(top, #26173F, #000000); /* FF3.6+ */
  background-image: url('../img/grain.png'),         linear-gradient(top, #26173F, #000000); /* W3C */
}

body.admin-form #intro {
  overflow: auto;
  position: relative;

  background: #10091A;
  background-image: url('../img/grain.png'); /* fallback */
  background-image: url('../img/grain.png'), -webkit-gradient(linear, left top, left bottom, from(#10091A), to(#000000)); /* Saf4+, Chrome */
  background-image: url('../img/grain.png'), -webkit-linear-gradient(top, #10091A, #000000); /* Chrome 10+, Saf5.1+ */
  background-image: url('../img/grain.png'),    -moz-linear-gradient(top, #10091A, #000000); /* FF3.6+ */
  background-image: url('../img/grain.png'),         linear-gradient(top, #10091A, #000000); /* W3C */
}

#intro.visible {
  display: table;
}

#intro.visible .notification li {
  text-align: center;
  visibility: visible;
}

.inner {
  display: table-cell;
  vertical-align: middle;
}

.links {
  left: 50%;
  margin-left: -350px;
  position: absolute;
  top: 20px;
  width: 700px;
}

.links li {
  list-style: none;
  display: inline;
  margin: 0 20px;
  font-size: 14px;
  line-height: 14px;
}

.links li.hidden {
  display: none;
}

#intro .links li a:link,
#intro .links li a:visited {
  color: #EBEBEB;
}

#intro .links li a:hover,
#intro .links li a:active {
  color: #AEEE00;
}

#intro noscript p {
  text-transform: uppercase;
}

#title {
  color: #AEEE00;
  display: inline-block;
  font-size: 108px;
  font-weight: 300;
  letter-spacing: -4px;
  text-align: center;
  text-shadow: 0px 0px 15px #000000;
}

#pontoon.admin-form #title {
  display: block;
  font-size: 50px;
  letter-spacing: -3px;
  text-align: left;
}

#intro #subtitle {
  color: #EBEBEB;
  font-size: 48px;
  letter-spacing: -2px;
  text-shadow: 0px 0px 10px #000000;
  text-transform: none;
}

#action {
  color: #AAAAAA;
  font-size: 14px;
  font-weight: 300;
  height: 35px;
  margin-top: 50px;
}

#action #link {
  color: #AEEE00;
}

#action #loading {
  display: inline-block;
  height: 20px;
  padding: 0 10px;
  width: 20px;
}

#action #loading.loader {
  background: transparent url('../img/loader-light.gif') center center no-repeat;
}

#intro form {
  width: 730px;
  height: 35px;
  margin: 50px auto 0;
  position: relative;
}

#pontoon.admin #intro form {
  width: 512px; /* Must be same as #pontoon #intro input[type=text].url width + padding + border + margin */
}

#pontoon.admin-form #intro form {
  color: #AAAAAA;
  font-size: 14px;
  height: auto;
  width: 620px;
  padding: 100px 20px;
}

#pontoon.admin-form #intro form > div {
  margin: 20px 0;
  text-align: right;
}

#pontoon.admin-form #intro form > div.controls {
  margin-top: 70px;
}

#pontoon.admin-form #intro h2 {
  color: #EBEBEB;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-left: -2px;
  margin-top: 70px;
  text-align: left;
  text-transform: none;
}

#pontoon.admin-form #intro h3 {
  color: #F00038;
  font-weight: 300;
  margin-left: -1px;
  text-align: left;
  text-transform: uppercase;
}

#pontoon.admin-form #intro label {
  display: block;
  text-align: left;
}

#pontoon.admin-form #intro input[type=text],
#pontoon.admin-form #intro input[type=password],
#pontoon.admin-form #intro textarea {
  display: block;
  float: none;
  height: 24px;
  margin-left: -1px;
  width: 613px; /* Must be same as #pontoon.admin-form #intro form width - padding - margin-left */
}

#pontoon.admin-form #intro .button {
  display: block;
  float: right;
  font-size: 14px;
  height: 32px;
  width: 32px;
}

#pontoon.admin-form #intro .controls .button {
  padding: 3px;
  height: auto;
  width: auto;
}

#pontoon.admin-form #intro .controls .button.delete-project {
  float: left;

  background-color: #F00038;
  background-image: -moz-linear-gradient(top, #F00038, #3D000D); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F00038),color-stop(1, #3D000D)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#F00038, #3D000D); /* Chrome 10+, Saf6 */
  background-image: linear-gradient(top, #F00038, #3D000D);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F00038', EndColorStr='#3D000D'); /* IE6–IE9 */ 
}

#pontoon.admin-form #intro .controls .button.delete-project:hover {
  background-color: #FF0A43;
  background-image: -moz-linear-gradient(top, #FF0A43, #570013); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FF0A43),color-stop(1, #570013)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#FF0A43, #570013); /* Chrome 10+, Saf6 */
  background-image: linear-gradient(top, #FF0A43, #570013);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FF0A43', EndColorStr='#570013'); /* IE6–IE9 */ 
}

#pontoon.admin-form #intro .controls .button.delete-project:active {
  background-color: #570013;
  background-image: -moz-linear-gradient(top, #570013, #240008); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #570013),color-stop(1, #240008)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#570013, #240008); /* Chrome 10+, Saf6 */
  background-image: linear-gradient(top, #570013, #240008);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#570013', EndColorStr='#240008'); /* IE6–IE9 */ 
}

#pontoon.admin-form #intro form a {
  color: #AEEE00;
  float: right;
  text-transform: uppercase;
}

#pontoon.admin-form #intro .controls a {
  margin: 7px;
}

#pontoon.admin-form #intro .repository .button,
#pontoon.admin-form #intro .transifex .button {
  height: 32px;
  width: 32px;
}

#pontoon.admin-form #intro .locale.select {
  float: left;
  margin-bottom: 2px;
}

#pontoon.admin-form #intro .locale.select.selected {
  float: right;
}

#pontoon.admin-form #intro .locale.select .menu,
#pontoon.admin-form #intro .popup {
  border: 1px solid #000000;
  display: inline-block;
  margin: 2px 0 0 -1px;
  overflow: auto;
  position: relative;
  top: 0;
  width: 295px;

  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;

  box-shadow: 0 0 5px #111111;
  -moz-box-shadow: 0 0 5px #111111;
  -webkit-box-shadow: 0 0 5px #111111;
}

#pontoon.admin-form #intro .popup {
  background: #333333;
  padding: 6px 12px;
  width: 595px;
}

#pontoon.admin-form #intro .edit section .bottom {
  font-size: 12px;
  text-transform: uppercase;
}

#pontoon.admin-form #intro .locale.select .menu .search {
  background-position: 7px 8px;
  width: 233px;

  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px
}

#pontoon.admin-form #intro .locale.select .menu ul {
  height: 176px;
  max-height: none;
}

#pontoon.admin-form #intro #id_locales {
  display: none;
}

#pontoon.admin-form #intro .checkbox {
  margin: 0;
}

#pontoon.admin-form #intro .checkbox label {
  float: left;
  padding: 6px 0 0 16px;
}

#pontoon.admin-form #intro .checkbox label input {
  float: left;
  margin-left: -16px;
}

#pontoon.admin-form #intro .edit .repository input[type=text] {
  float: left;
  width: 576px;
}

#pontoon.admin-form #intro .transifex input[type=text] {
  float: left;
  width: 300px;
}

#pontoon.admin-form #intro .edit .transifex input#id_transifex_project,
#pontoon.admin-form #intro .edit .transifex input#id_transifex_username {
  width: 282px;
}

#pontoon.admin-form #intro .edit .transifex input#id_transifex_resource,
#pontoon.admin-form #intro .edit .transifex input#id_transifex_password {
  width: 281px;
}

#pontoon.admin-form #intro .transifex label {
  float: left;
  width: 307px;
}

#pontoon.admin-form #intro .edit .transifex label {
  float: left;
  width: 288px;
}

#pontoon.admin-form #intro .transifex p {
  color: #F00038;
  display: none;
  font-size: 12px;
  text-transform: uppercase;
}

#pontoon.admin-form #intro .transifex.popup p {
  display: block;
}

#pontoon.admin-form #intro .transifex section {
  display: none;
}

#pontoon.admin-form #intro .transifex.popup section {
  display: inline-block;
  margin-top: 10px;
}

#pontoon.admin-form #intro .edit .transifex.popup input#id_transifex_project,
#pontoon.admin-form #intro .edit .transifex.popup input#id_transifex_username {
  width: 288px;
  margin-right: 6px;
}

#pontoon.admin-form #intro .edit .transifex.popup input#id_transifex_resource {
  width: 250px;
}

#pontoon.admin-form #intro .edit .transifex.popup input#id_transifex_password {
  float: left;
  width: 287px;
}

#pontoon.admin-form #intro .edit .transifex.popup label {
  width: 294px;
  margin-right: 6px;
}

#pontoon.admin-form #intro .edit .transifex.popup label[for=id_transifex_resource],
#pontoon.admin-form #intro .edit .transifex.popup label[for=id_transifex_password] {
  width: 287px;
}

#pontoon.admin-form #intro .subpages[data-count] {
  display: none;
}

#pontoon.admin-form #intro .subpages input[id*=name] {
  float: left;
  width: 200px;
}

#pontoon.admin-form #intro .subpages input[id$=DELETE] {
  display: none;
}

#pontoon.admin-form #intro .subpages label[for*=name] {
  float: left;
  width: 207px;
}

#pontoon.admin-form #intro .subpages input[id*=url] {
  float: left;
  width: 363px;
}

#pontoon.admin-form #intro .subpages label[for*=url] {
  float: left;
  width: 407px;
}

#pontoon.admin-form #intro .transifex input#id_transifex_project,
#pontoon.admin-form #intro .transifex label[for*=project],
#pontoon.admin-form #intro .subpages input[id*=name],
#pontoon.admin-form #intro .subpages label[for*=name] {
  margin-right: 6px;
}

#pontoon.admin-form #intro textarea {
  height: 60px;
}

#pontoon.admin-form #intro .errorlist {
  color: #F00038;
  display: inline-block;
  font-size: 12px;
  line-height: 14px; /* Strange, but needed to keep controls in line when error occures */
  list-style: none;
  margin-left: 0;
  margin-top: 2px;
  text-transform: uppercase;
}

#pontoon.admin-form #intro .errorlist li {
  display: inline;
  margin-left: 5px;
}

#pontoon #intro .select {
  float: right;
  display: inline;
  margin-left: 0;
  text-align: left;
  font-size: 14px;
}

#pontoon #intro .project.select {
  float: left;
}

#pontoon #intro .project.select input[type=text].url {
  padding: 2px 5px;
  height: 27px;
  margin-left: 0;
  width: 480px;
  font-size: 20px;
  text-align: left;
}

#pontoon #intro .project.select input[type=text].url:focus {
  text-align: left;
}

#pontoon #intro .project.select.opened input[type=text].url {
  border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
}

#pontoon #intro .project.select .menu {
  width: 510px;
}

#pontoon #intro .select.opened > .confirm {
  border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
}
 
#pontoon #intro .select.opened > .selector {
  border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
}
 
#pontoon #intro .select .button {
  height: 21px;
  padding: 8px 5px 2px;
  width: 9px;
}

#pontoon #intro .select .confirm {
  width: 180px;
}

#pontoon #intro .select .menu {
  border: 1px solid #000000;
  left: 0;
  bottom: 32px;
  width: 210px;

  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;

  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
}

#pontoon #intro .select .menu .search {
  background-position: 7px 6px;
  margin: 6px 12px;
  width: 148px;

  border-radius: 14px 14px 14px 14px;
  -moz-border-radius: 14px 14px 14px 14px;
  -webkit-border-radius: 14px 14px 14px 14px
}

#pontoon #intro .select .menu ul {
  max-height: 176px;
  margin-bottom: 6px;
}

#pontoon #intro .select .menu ul li {
  line-height: 18px;
}

#pontoon #intro .select .menu .code {
  padding: 1px 4px 0 0;
}

#pontoon .notification {
  color: #F00038;
  margin: 5px auto 0;
  text-align: left;
  text-transform: uppercase;
  font-weight: 300;
  width: 730px; /* Must be same as #intro form */
}

#pontoon .notification li {
  list-style: none;
}

#pontoon .notification.center li {
  text-align: center;
}

#pontoon #browserid {
  cursor: pointer;
  margin-top: -1px;
  vertical-align: middle;
}

#source {
  display: none;
  width: 100%;
  height: 0;
}

#iframe-cover {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10; /* Must be lower than locale-list */
}

#project-load {
  display: table;
  overflow: hidden;
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
}

#project-load p {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -3px;
  margin-bottom: 5px;
  text-shadow: 1px 1px 3px #666666;
}

.unselectable * {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
