#main .container {
  color: var(--light-grey-7);
  font-size: 16px;
  font-weight: 300;
}

#main a:link,
#main a:visited {
  color: var(--status-translated);
}

#main p,
#main dd {
  margin-bottom: 40px;
  line-height: 1.5em;
}

#main dt {
  color: var(--white-1);
  font-size: 28px;
  padding-bottom: 10px;
}
