.container {
  color: #AAAAAA;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

a:link, a:visited {
  color: #7BC876;
}

p, dd {
  margin-bottom: 40px;
  line-height: 1.5em;
}

dt {
  color: #EBEBEB;
  font-size: 28px;
  padding-bottom: 10px;
}

p.center {
  text-align: center;
}

a.action {
  background: #7BC876;
  border: none;
  border-radius: 3px;
  color: #272A2F;
  display: block;
  margin: 0 auto;
  padding: 5px;
  text-transform: uppercase;
  width: 300px;
}
