#main .container {
    color: #aaaaaa;
    font-size: 16px;
    font-weight: 300;
}

#main a:link,
#main a:visited {
    color: #7bc876;
}

#main p,
#main dd {
    margin-bottom: 40px;
    line-height: 1.5em;
}

#main dt {
    color: #ebebeb;
    font-size: 28px;
    padding-bottom: 10px;
}
