@import '../../../static/css/dark-theme.css';

.toggle-button {
  font-size: 0;
}

.toggle-button button {
  background: var(--black-3);
  border: 1px solid var(--light-grey-3);
  border-radius: 3px;
  box-sizing: border-box;
  color: var(--grey-6);
  float: none;
  font-size: 16px;
  font-weight: 100;
  padding: 4px;
  width: 147.5px;
}

.toggle-button button:first-child {
  border-right-color: var(--grey-3);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.toggle-button button:nth-child(2) {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.toggle-button button:hover {
  color: var(--light-grey-6);
}

.toggle-button button.active {
  background: var(--dark-grey-1);
  border-color: var(--grey-3);
  color: var(--light-grey-7);
  font-weight: 400;
}
