body {
  overflow: hidden;
}

mark.placeable {
  background: transparent;
  color: #FE8388;
  font-style: normal;
  font-weight: normal;
}

#project-load {
  background: #272A2F;
  display: table;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

#project-load p {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -3px;
  margin-bottom: 5px;
}

/*
 * SpinKit
 * https://github.com/tobiasahlin/SpinKit/blob/master/LICENSE
 */

#project-load .animation {
  margin: 20px auto;
  width: 100px;
  height: 60px;
  text-align: center;
  font-size: 20px;
}

#project-load .text {
  font-size: 1.5em;
  opacity: 0;
}

#project-load .animation > div {
  background-color: #7BC876;
  height: 100%;
  width: 12px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

#project-load .animation div:nth-child(2) {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

#project-load .animation div:nth-child(3) {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

#project-load .animation div:nth-child(4) {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

#project-load .animation div:nth-child(5) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* HEADER */

body > header {
  background: #272A2F;
  display: none;
  height: 60px;
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: 15; /* Must be higher than iframe-cover */
}

body > header > .container {
  display: none;
  min-width: 800px;
}

body > header .loader {
  color: #FFFFFF;
  display: inline-block;
  margin: 23px 16px;
}

#switch {
  background: transparent;
  border: none;
  color: #FFFFFF;
  float: left;
  height: 60px;
  margin-left: 8px;
  padding: 0; /* Needed to prevent jumping on click */
  transition: all 0.2s ease-out;
  width: 27px;
}

#switch.opened {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.select {
  float: left;
  padding-left: 0;
  text-align: left;
}

.locale .code {
  margin-left: 10px;
}

body > header .project.select {
  margin-left: 10px;
  width: auto;
}

body > header .locale.select {
  width: auto;
}

.select > .button.breadcrumbs {
  width: auto;
}

.select.opened > .button.breadcrumbs {
  background: #272A2F;
}

.select.opened > .button.breadcrumbs:after {
  border-left-color: #272A2F;
}

.select .menu,
.select .popup {
  bottom: auto;
  top: 60px;
}

.project.select .menu,
.part.select .menu {
  display: none;
  position: absolute;
  width: 580px;
}

.locale.select .menu {
  display: none;
  position: absolute;
  width: 236px;
}

.menu ul,
.project.select .menu ul,
.locale.select .menu ul {
  margin: 0;
  max-height: 318px;
}

.menu ul li.current {
  color: #7BC876;
}

.part .menu ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.part.select .menu ul li > span:nth-child(2),
.project.select .menu ul li > span:nth-child(2) {
  float: right;
  text-align: right;
}

.menu li.horizontal-separator {
  border-top: 1px solid #525A65;
  height: 0;
  margin: 5px 0;
  padding: 0;
}

.status {
  font-size: 16px;
  left: 16px;
  position: absolute;
  top: 13px;
}

.status:before {
  color: #FD5F60;
  content: "";
}

.translated .status:before {
  color: #4FC4F6;
  content: "";
}

.fuzzy .status:before {
  color: #FED271;
  content: "";
  margin-left: -1px;
}

.approved .status:before {
  color: #7BC876;
  content: "";
}

.unchanged .status:before {
  color: #AAAAAA;
  content: "";
}

.all .status {
  top: 11px;
  left: 14px;
}

.all .status:before {
  color: #AAAAAA;
  content: "";
  font-size: 21px;
}

#progress {
  cursor: pointer;
  float: left;
  margin: 8px 5px 4px 0;
}

#progress canvas {
  border-radius: 100%;
}

#progress:hover .selector canvas {
  background: #3F4752;
}

#progress.opened:hover {
  background: inherit;
}

#progress .number {
  left: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 100%;
}

#progress .number:after {
  content: "%";
  color: #888888;
  display: block;
  font-size: 10px;
  line-height: 3px;
}

#progress .menu .number {
  color: #FFFFFF;
  font-size: 90px;
  line-height: 100px;
  top: 110px;
}

#progress .menu .number:after {
  font-size: 30px;
  line-height: 15px;
}

#progress .menu {
  cursor: auto;
  left: 50%;
  line-height: 18px;
  margin-left: -180px; /* Must be half the width */
  padding: 0;
  text-align: center;
  top: 48px;
}

#progress .menu > div:first-child {
  padding: 10px 12px;
}

#progress .menu header h2 {
  font-size: 20px;
  padding: 4px;
}

#progress .menu header h2 span {
  color: #FFFFFF;
  font-size: 28px;
  padding: 0 2px;
}

#progress .menu .big.graph {
  margin: 10px auto;
}

#progress .menu .details {
  padding: 0;
  width: 100%;
}

body > header #loading {
  display: none;
  float: left;
  margin-right: 5px;
}

body > header #loading.loader {
  display: inline-block;
}

body > header .notification {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  list-style: none;
  margin: 0;
  max-width: 500px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: 15px;
  top: 70px;
  visibility: visible;
  width: auto;
}

body > header .notification.hide {
  display: none;
}

body > header .notification li {
  color: #7BC876;
  white-space: pre-wrap;
}

#profile > .button {
  height: 60px;
  padding: 0;
}

#profile .button .title {
  float: left;
  margin: 20px 5px 20px 10px;
  font-size: 16px;
}

#profile .button .title span {
  margin-left: 5px;
}

#profile .button img {
  margin: 6px 5px 0 0;
}

#profile .menu {
  line-height: 18px;
  width: 200px;
}

#profile .menu ul,
#filter .menu ul {
  max-height: none;
}

#profile .menu li.download.hover {
  color: inherit;
  cursor: inherit;
  background: inherit;
}

#profile .menu li i.fa {
  margin: 0 8px 0 -2px;
}

#profile .menu li i.file-format {
  font-weight: 300;
  font-size: 13px;
  font-style: normal;
}

#profile .menu li i.file-format:hover {
  border-color: #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
}

#profile.select .popup {
  right: 5px;
  width: 300px;
}

#info .button {
  font-size: 1.6em;
  height: 22px;
  padding: 19px 5px;
}

#info .menu a {
  color: #7BC876;
}

#hotkeys table {
  width: 100%;
}

#hotkeys td:first-child {
  font-weight: 300;
  height: 26px;
  width: 60%;
}

#profile .menu li i.file-format,
#hotkeys span {
  background: #3F4752;
  border: 1px solid #5E6475;
  border-radius: 2px;
  font-weight: 300;
  padding: 0 4px;
}

body > header .select aside.menu {
  width: 360px;
}

body > header aside h2 {
  margin-bottom: 15px;
}

body > header aside p {
  font-weight: 300;
}

.right {
  float: right;
}

.right .menu {
  right: 5px;
}

#projects {
  color: #FFFFFF;
  padding: 17px 5px;
}





/* ENTITY LIST */

#sidebar {
  background: #3F4752;
  border-right: 1px solid #5E6475;
  bottom: 0;
  display: none;
  overflow: hidden;
  position: fixed;
  top: 60px;
  width: 350px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#sidebar.advanced {
  display: block;
  width: 700px;
}

#sidebar [id^="drag"] {
  cursor: ew-resize;
  display: none;
  height: 100%;
  position: absolute;
  width: 7px;
}

#sidebar #drag,
#sidebar.advanced #drag-1 {
  display: block;
  right: 0;
}

#sidebar.advanced #drag-1 {
  left: -4px;
  z-index: 5;
}

#entitylist {
  left: 0;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.advanced #entitylist,
.advanced #editor {
  width: 50%;
}

#entitylist .search-wrapper {
  margin-bottom: 0;
}

#sidebar .search-wrapper .icon {
  font-size: 19px;
  left: auto;
  right: 5px;
  top: 12px;
}

#sidebar .search-wrapper input[type=search] {
  background: #4D5967;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 30px 10px 43px;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#sidebar .search-wrapper input[type=search]:-moz-placeholder {
  color: #AAAAAA;
}

#sidebar .search-wrapper input[type=search]:-webkit-input-placeholder {
  color: #AAAAAA;
}

#filter {
  position: static;
}

#filter .button {
  height: 43px;
  padding: 0;
  position: absolute;
  left: 0;
  width: 43px;
}

#filter .button:hover .status:before {
  color: #FFFFFF;
}

#filter.opened .button {
  background-color: #272A2F;
  border-bottom: 1px solid #525A65;
  width: 100%;
  z-index: 30;
}

#filter .button .title {
  color: #AAAAAA;
  display: none;
  font-size: 16px;
  left: 43px;
  position: absolute;
  top: 12px;
}

#filter.opened .button .title {
  display: block;
}

#filter .menu {
  left: 0;
  top: 43px;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#filter .menu li:not(.horizontal-separator) {
  padding: 4px 0 4px 30px;
  position: relative;
}

#filter .menu li .status {
  left: 4px;
  top: 4px;
}

#filter .menu li.all .status {
  left: 2px;
  top: 2px;
}

#entitylist > .wrapper {
  bottom: 0px;
  overflow-y: auto;
  position: absolute;
  top: 44px;
  width: 100%;
}

#entitylist > .wrapper > ul {
  background: #EBEBEB;
  margin: 0;
  list-style: none;
  text-align: left;
}

#entitylist > .wrapper > ul > li {
  background: #3f4752;
  color: #FFFFFF;
  cursor: pointer;
  line-height: 2em;
  padding: 10px 25px 10px 43px;
  position: relative;
}

#entitylist > .wrapper > ul > li:hover,
#entitylist > .wrapper > ul > li.hovered,
#entitylist > .wrapper > ul > li.active {
  background-color: #4d5967;
}

#entitylist > .wrapper > ul > li .arrow {
  color: #CCCCCC;
  display: none;
  float: right;
  margin: -17px -18px;
}

#entitylist > .wrapper > ul > li:hover .arrow {
  display: block;
}

#entitylist > .wrapper > ul > li p {
  height: 22px;
  line-height: 22px;
}

#entitylist > .wrapper > ul > li p span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

#entitylist > .wrapper > ul > li p span.translation-string {
  color: #AAAAAA;
  display: none;
  font-style: italic;
  padding-left: 2%;
}

#entitylist > .wrapper > ul > li.approved p span.source-string,
#entitylist > .wrapper > ul > li.translated p span.source-string,
#entitylist > .wrapper > ul > li.fuzzy p span.source-string,
#entitylist > .wrapper > ul > li p span.translation-string:not(:empty) {
  display: inline-block;
  width: 49%;
}

#entitylist > .wrapper > ul > li p span.source-string br {
  display: none;
}

#entitylist h2  {
  background: #272A2F;
  color: #AAAAAA;
  padding: 10px 6px;
  text-align: left;
}

#entitylist .no-match  {
  color: #FFFFFF;
  display: none;
  font-size: 28px;
  font-weight: 300;
  padding-top: 60px;
  text-align: center;
}

#entitylist .no-match div  {
  color: #7BC876;
  font-size: 128px;
  margin-bottom: 20px;
}





/* EDITOR */

#editor {
  background: #3F4752;
  bottom: 0;
  color: #FFFFFF;
  left: 350px;
  line-height: 22px;
  padding: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-out;
  width: 100%;
}

.advanced #editor {
  border-left: 1px solid #5E6475;
  left: 50%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#editor p {
  text-align: left;
  white-space: normal;
}

#topbar {
  background: #4D5967;
  border-bottom: 1px solid #5E6475;
  line-height: 23px;
  padding: 10px ;
  text-transform: uppercase;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#topbar a {
  color: #CCCCCC;
  float: right;
}

#topbar a#back {
  float: left;
}

.advanced #topbar a#back {
  display: none;
}

#topbar a#previous {
  margin-right: 30px;
}

#topbar a:hover {
  color: #7BC876;
}

#topbar a span {
  padding-right: 5px;
}

#source-pane {
  background: #3F4752;
  border-bottom: 1px solid #5E6475;
  height: 20%;
  min-height: 100px;
  overflow: auto;
  padding: 10px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#metadata {
  color: #AAAAAA;
  display: none;
  font-size: 12px;
  font-style: italic;
}

#metadata span {
  display: none;
}

#metadata #comment {
  display: inline;
  padding-right: 4px;
}

#metadata .details {
  color: #7BC876;
  float: right;
  padding-left: 4px;
}

#source-pane h2 {
  color: #AAAAAA;
  display: none;
  font-size: 11px;
  line-height: 11px;
  margin-top: 6px;
}

#source-pane.pluralized h2 {
  display: block;
  text-align: left;
}

#source-pane #original mark.placeable {
  cursor: pointer;
}

#editor nav ul {
  display: table;
  width: 100%;
}

#editor nav li {
  background: #4D5967;
  border-bottom: 1px solid #5E6475;
  border-right: 1px solid #5E6475;
  display: table-cell;
  text-align: center;
}

#editor nav li:last-child {
  border-right: none;
}

#editor nav li.active {
  background: #3F4752;
  border-bottom: none;
}

#editor nav li:hover {
  background: #3F4752;
}

#editor nav li a {
  color: #CCCCCC;
  display: block;
  outline: none;
  padding: 10px;
  text-transform: uppercase;
}

#editor nav li a > span > span {
  left: 0px;
  position: absolute;
  right: 0px;
  top: 2px;
  vertical-align: 0;
  visibility: hidden;
}

#editor nav li a.loading > span > span {
  visibility: visible;
}

#editor nav li a > span {
  position: relative;
}

#editor nav li a.loading > span {
  visibility: hidden;
}

#editor textarea {
  background: #FFFFFF;
  display: block;
  font-size: 13px;
  height: 20%;
  line-height: 22px;
  min-height: 100px;
  overflow: auto;
  padding: 10px;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#plural-tabs ul li {
  display: none;
}

#plural-tabs ul li a span {
  color: #7BC876;
}

#editor > menu {
  background: #272A2F;
  border-bottom: 1px solid #5E6475;
  padding: 10px;
  position: relative;
  text-align: right;
}

.warning-overlay {
  background: #272A2F;
  bottom: 0;
  display: none;
  left: 0;
  min-height: 90px;
  padding: 10px;
  position: absolute;
  text-align: left;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.warning-overlay .cancel {
  color: #AAAAAA;
  float: right;
  font-size: 24px;
  font-weight: 100;
  margin-top: -1px;
}

.warning-overlay .cancel:hover {
  color: #FFFFFF;
}

.warning-overlay h2 {
  color: #FD5F60;
}

.warning-overlay ul {
  float: left;
  list-style: disc;
}

.warning-overlay #save-anyway,
.warning-overlay #leave-anyway {
  bottom: 10px;
  position: absolute;
  right: 10px;
}

#translation-length {
  color: #AAAAAA;
  display: none;
  float: left;
  line-height: 22px;
  padding: 9px 0;
}

#editor > menu button {
  background: transparent;
  border: none;
  color: #EBEBEB;
  padding: 10px 5px;
  text-transform: uppercase;
}

.advanced button#cancel {
  display: none;
}

#editor > menu button[id^="save"],
#editor > menu button#leave-anyway {
  background: #7bc876;
  border-radius: 3px;
  color: #272A2F;
  font-weight: 600;
  margin-left: 10px;
  padding: 10px 15px;
}

#editor > menu button#leave-anyway {
  background: #FF0A43;
  color: #EBEBEB;
}

#editor > menu button:hover {
  color: #7BC876;
}

#editor > menu button[id^="save"]:hover {
  color: #EBEBEB;
}

#editor > menu button#leave-anyway:hover {
  color: #272A2F;
}

#helpers {
  background: #3F4752;
  height: calc(60% - 104px);
  position: relative;
}

#source-pane.pluralized ~ #helpers {
  height: calc(60% - 147px);
}

#helpers > section {
  bottom: 0;
  display: none;
  left: 0;
  overflow-y: auto;
  padding-top: 25px;
  position: absolute;
  right: 0;
  top: 43px;
}

#helpers > section#custom-search .search-wrapper {
  margin-bottom: 0;
}

#helpers > section#custom-search .icon {
  right: 10px;
}

#helpers > section#custom-search.loading .icon,
#helpers > section#custom-search .icon.fa-cog {
  display: none;
}

#helpers > section#custom-search.loading .icon.fa-cog {
  display: block;
}

#helpers > section#custom-search input[type=search] {
  background: transparent;
  padding-left: 10px;
}

#helpers > section ul li {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.2s ease-out;
}

#helpers > section ul li.delete {
  -webkit-transform: scale(0); /* MANDATORY! Or transitionend in main.js triggered too late */
  transform: scale(0);
}

#helpers > section ul li:not(.disabled):hover,
#helpers > section ul li:not(.disabled).hover {
  background: #4D5967;
  border-color: #5E6475;
}

#helpers > section ul li.disabled {
  cursor: default;
}

#helpers > section ul li > header .info {
  float: left;
}

#helpers > section ul li > header .toolbar {
  float: right;
}

#helpers > section#history ul li > header .stress,
#helpers > section#other-locales ul li > header .stress {
  padding-right: 0;
}

#helpers > section ul li > header button {
  background: no-repeat transparent;
  border: none;
  color: #AAAAAA;
  display: none;
  font-size: 1.8em;
  height: 22px;
  padding: 0;
  vertical-align: bottom;
  width: 22px;
}

#helpers > section ul li > header.localizer button,
#helpers > section ul li > header.own button.delete,
#helpers > section ul li.approved > header button.approve {
  display: inline-block;
}

#helpers > section ul li > header button.approve:before {
  content: "";
}

#helpers > section ul li > header button.approve:hover:before,
#helpers > section ul li.approved > header button.approve:before {
  color: #7BC876;
  content: "";
}

#helpers > section ul li > header button.delete:before {
  content: "";
  margin-left: 5px;
}

#helpers > section ul li > header button.delete:hover:before {
  color: #FD5F60;
}
