/* HEADER */

#pontoon > header {
  background: #272A2F;
  display: none;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 15; /* Must be higher than iframe-cover */
}

#pontoon > header > .container {
  display: none;
  min-width: 800px;
}

#pontoon > header #spinner {
  display: inline-block;
  height: 60px;
}

#pontoon > header .loader {
  background: transparent url('../img/loader-light.gif') right 22px no-repeat;
  padding-left: 30px;
}

#pontoon #switch {
  background: url('../img/align_just_icon&24.png') 10px 18px no-repeat transparent;
  float: left;
  height: 60px;
  width: 33px;
  border: none;
}

#pontoon .select {
  float: left;
}

#pontoon > header .project.select {
  margin-left: 10px;
}

#pontoon .select > .button.breadcrumbs {
  width: auto;
}

#pontoon .select.opened > .button.breadcrumbs {
  background: #272A2F;
}

#pontoon .select.opened > .button.breadcrumbs:after {
  border-left-color: #272A2F;
}

#pontoon .select .search {
  border-color: #525A65;
}

#pontoon .project.select .search {
  width: 474px;
}

#pontoon .select .menu,
#pontoon .select .popup {
  background: #272A2F;
  bottom: auto;
  top: 60px;
}

#pontoon .project.select .menu {
  width: 510px;
}

#pontoon .menu ul {
  max-height: 150px;
  margin: 0;
}

#pontoon .menu ul li {
  color: #AAAAAA;
}

#pontoon .menu li.horizontal-separator {
  border-top: 1px solid #525A65;
  height: 0;
  margin: 5px 0;
  padding: 0;
}

#pontoon .status {
  border: 2px solid #FD5F60;
  border-radius: 6px;
  height: 8px;
  left: 16px;
  position: absolute;
  top: 15px;
  width: 8px;
}

#pontoon .translated .status {
  border-color: #7BC876;
}

#pontoon .approved .status {
  background: #7BC876;
  border-color: #7BC876;
}

#pontoon .page .menu .progress {
  float: right;
  font-size: 10px;
  margin-top: 2px;
  color: #7BC876;
}

#pontoon #progress {
  border: 1px solid #7BC876;
  float: left;
  height: 38px;
  margin: 10px 20px 10px 0;
  position: relative;
  width: 180px;
  text-align: center;
}

#pontoon #progress .graph {
  background: #C1E3BF;
  float: left;
  height: 100%;
  transition: all 0.2s ease-out;
  width: 0%;
}

#pontoon #progress .graph.approved {
  background: #7BC876;
}

#pontoon #progress .number {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
}

#pontoon #progress .number.left {
  color: #272A2F;
  left: 5px;
  right: auto;
}

#pontoon > header #loading {
  float: left;
  height: 60px;
}

#pontoon > header .notification {
  background: rgba(0, 0, 0, 0.8);
  color: #7BC876;
  cursor: pointer;
  display: none;
  font-weight: 100;
  padding: 10px;
  position: absolute;
  right: 15px;
  text-transform: uppercase;
  top: 70px;
  visibility: visible;
  width: auto;
}

#pontoon > header .notification.error {
  color: #FD5F60;
}

#pontoon #logo {
  background: url("../img/home_icon&24.png") no-repeat center center;
  float: left;
  height: 24px;
  margin: 0px;
  padding: 18px 5px;
  width: 24px;
}

#pontoon #info .button {
  background: url("../img/info_icon&24.png") no-repeat center center;
  height: 24px;
  margin: 0;
  padding: 18px 5px;
  width: 24px;
}

#pontoon #info h2 {
  margin-bottom: 5px;
}

#pontoon #info p {
  font-weight: 300;
}

#pontoon #info .menu {
  line-height: 18px;
  width: 360px;
}

#pontoon #profile > .button {
  height: 60px;
  padding: 0 5px;
}

#pontoon #profile .button .title {
  float: left;
  margin: 20px 10px;
  font-size: 16px;
}

#pontoon #info .menu,
#pontoon #profile .menu {
  right: 0;
}

#pontoon #profile .menu ul,
#pontoon #filter .menu ul {
  max-height: none;
}

#pontoon .select#profile .popup {
  right: 0;
  width: 200px;
}

#pontoon .popup h2 {
  margin-bottom: 5px;
}

#pontoon .popup .cancel {
  float: right;
  font-size: 22px;
  margin-top: -5px;
}

#pontoon .popup .cancel:hover {
  color: #FFFFFF;
}

#pontoon .popup input[type=text],
#pontoon .popup input[type=password] {
  background: transparent;
  border-bottom: 1px solid #525A65;
  color: #FFFFFF;
  margin-bottom: 7px;
  padding: 3px 0;
  width: 200px;
}

#pontoon .popup input[type=password] {
    width: 120px;
}

#pontoon .popup .button {
  background: #7BC876;
  border-radius: 3px;
  color: #272A2F;
  float: right;
  font-weight: 400;
  padding: 5px 10px;
  text-transform: uppercase;
}

#pontoon .popup .remember {
  float: left;
  padding: 6px 0 0 14px;
}

#pontoon .popup .remember input {
  float: left;
  margin-left: -16px;
}

#pontoon .popup .bottom {
  font-size: 11px;
}

#pontoon .popup .bottom .new {
  float: right;
  margin-top: 6px;
}





/* ENTITY LIST */

#pontoon #sidebar {
  background: #3F4752;
  border-right: 1px solid #5E6475;
  bottom: 0;
  display: none;
  overflow: hidden;
  position: fixed;
  top: 60px;
  width: 350px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #sidebar.advanced {
  display: block;
  width: 700px;
}

#pontoon #sidebar [id^="drag"] {
  cursor: ew-resize;
  display: none;
  height: 100%;
  position: absolute;
  width: 7px;
}

#pontoon #sidebar #drag,
#pontoon #sidebar.advanced #drag-1 {
  display: block;
  right: 0;
}

#pontoon #sidebar.advanced #drag-1 {
  left: -4px;
  z-index: 5;
}

#pontoon #entitylist {
  left: 0;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

#pontoon .advanced #entitylist,
#pontoon .advanced #editor {
  width: 50%;
}

#pontoon .search-wrapper {
  border-bottom: 1px solid #5E6475;
  position: relative;
}

#pontoon #search {
  background: url('../img/search.png') center right 10px no-repeat #4D5967;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 30px 10px 43px;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #search:-moz-placeholder {
  color: #AAAAAA;
}

#pontoon #search::-webkit-input-placeholder {
  color: #AAAAAA;
}

#pontoon #filter {
  position: static;
}

#pontoon #filter .button {
  height: 43px;
  padding: 0;
  position: absolute;
  left: 0;
  width: 43px;
}

#pontoon #filter .button.all,
#pontoon #filter .button.custom {
  background: url('../img/filter.png') 13px center no-repeat transparent;
  opacity: 0.5;
}

#pontoon #filter.opened .button,
#pontoon #filter .button:hover {
  background-color: #272A2F;
  opacity: 1;
  width: 100%;
}

#pontoon #filter .button .title {
  color: #AAAAAA;
  display: none;
  font-size: 16px;
  left: 43px;
  position: absolute;
  top: 12px;
}

#pontoon #filter.opened .button .title,
#pontoon #filter .button:hover .title {
  display: block;
}

#pontoon #filter .menu {
  left: 0;
  top: 43px;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #filter .menu li {
  padding-left: 30px;
  position: relative;
}

#pontoon #filter .menu li .status {
  left: 4px;
  top: 5px;
}

#pontoon #filter .all .status,
#pontoon #filter .custom .status {
  display: none;
}

#pontoon #entitylist > .wrapper {
  bottom: 0px;
  overflow-y: auto;
  position: absolute;
  top: 44px;
  width: 100%;
}

#pontoon #entitylist > .wrapper > ul {
  background: #EBEBEB;
  margin: 0;
  list-style: none;
  text-align: left;
}

#pontoon #entitylist > .wrapper > ul > li {
  background: #3f4752;
  color: #FFFFFF;
  cursor: pointer;
  line-height: 2em;
  padding: 10px 25px 10px 43px;
  position: relative;
}

#pontoon #entitylist > .wrapper > ul > li:hover,
#pontoon #entitylist > .wrapper > ul > li.hovered,
#pontoon #entitylist > .wrapper > ul > li.active {
  background-color: #4d5967;
}

#pontoon #entitylist > .wrapper > ul > li:hover {
  background: url('../img/right.png') no-repeat center right 8px #4d5967;
}

#pontoon #entitylist > .wrapper > ul > li p {
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#pontoon #entitylist h2  {
  background: #272A2F;
  color: #AAAAAA;
  padding: 10px 6px;
}

#pontoon #entitylist .no-match  {
  color: #FFFFFF;
  display: none;
  font-size: 28px;
  font-weight: 300;
  padding-top: 60px;
  text-align: center;
}

#pontoon #entitylist .no-match div  {
  color: #7BC876;
  font-size: 128px;
  margin-bottom: 20px;
}





/* EDITOR */

#pontoon #editor {
  background: #3F4752;
  bottom: 0;
  color: #FFFFFF;
  left: 350px;
  line-height: 22px;
  padding: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-out;
  width: 100%;
}

#pontoon .advanced #editor {
  border-left: 1px solid #5E6475;
  left: 50%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #editor p {
  text-align: left;
  white-space: normal;
}

#pontoon #topbar {
  background: #4D5967;
  border-bottom: 1px solid #5E6475;
  line-height: 23px;
  padding: 10px ;
  text-transform: uppercase;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #topbar a#back {
  background: url('../img/left.png') no-repeat -5px 3px transparent;
  float: left;
  padding-left: 15px;
}

#pontoon .advanced #topbar a#back {
  display: none;
}

#pontoon #topbar a#previous {
  background: url('../img/up.png') no-repeat 0 3px transparent;
  padding-left: 20px;
  margin-right: 30px;
}

#pontoon #topbar a#next {
  background: url('../img/down.png') no-repeat 0 3px transparent;
  padding-left: 20px;
}

#pontoon #topbar a {
  color: #CCCCCC;
  float: right;
}

#pontoon #topbar a:hover {
  color: #7BC876;
}

#pontoon #source-pane {
  background: #3F4752;
  border-bottom: 1px solid #5E6475;
  height: 20%;
  min-height: 100px;
  overflow: auto;
  padding: 10px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #metadata {
  color: #AAAAAA;
  display: none;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 5px;
}

#pontoon #metadata span {
  display: none;
}

#pontoon #metadata #comment {
  display: inline;
  padding-right: 4px;
}

#pontoon #metadata .details {
  color: #7BC876;
}

#pontoon #source-pane.pluralized #metadata .details {
  float: right;
  margin-top: -1px;
}

#pontoon #source-pane h2 {
  color: #AAAAAA;
  display: none;
  font-size: 11px;
  line-height: 11px;
}

#pontoon #source-pane.pluralized h2 {
  display: block;
}

#pontoon #editor nav ul {
  display: table;
  width: 100%;
}

#pontoon #editor nav li {
  background: #4D5967;
  border-bottom: 1px solid #5E6475;
  border-right: 1px solid #5E6475;
  display: table-cell;
  text-align: center;
}

#pontoon #editor nav li:last-child {
  border-right: none;
}

#pontoon #editor nav li.active {
  background: #3F4752;
  border-bottom: none;
}

#pontoon #editor nav li:hover {
  background: #3F4752;
}

#pontoon #editor nav li a {
  color: #CCCCCC;
  display: block;
  padding: 10px;
  text-transform: uppercase;
}

#pontoon #editor nav li a.loading {
  background: transparent url('../img/loader-light.gif') center center no-repeat;
  transition: none;
}

#pontoon #editor nav li a.loading span {
  visibility: hidden;
}

#pontoon #editor textarea {
  background: #FFFFFF;
  display: block;
  font-size: 13px;
  height: 20%;
  line-height: 22px;
  min-height: 100px;
  overflow: auto;
  padding: 10px;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #plural-tabs ul li {
  display: none;
}

#pontoon #plural-tabs ul li a span {
  color: #7BC876;
}

#pontoon #editor > menu {
  background: #272A2F;
  border-bottom: 1px solid #5E6475;
  padding: 10px;
  position: relative;
  text-align: right;
}

#pontoon #warning {
  background: #272A2F;
  bottom: 0;
  display: none;
  left: 0;
  min-height: 90px;
  padding: 10px;
  position: absolute;
  text-align: left;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #warning .cancel {
  color: #AAAAAA;
  float: right;
  font-size: 24px;
  font-weight: 100;
  margin-top: -1px;
}

#pontoon #warning .cancel:hover {
  color: #FFFFFF;
}

#pontoon #warning h2 {
  color: #FD5F60;
}

#pontoon #warning ul {
  float: left;
  list-style: disc;
}

#pontoon #warning #save-anyway {
  bottom: 10px;
  position: absolute;
  right: 10px;
}

#pontoon #translation-length {
  color: #AAAAAA;
  display: none;
  float: left;
  line-height: 22px;
  padding: 9px 0;
}

#pontoon #editor > menu button {
  background: transparent;
  border: none;
  color: #EBEBEB;
  padding: 10px 5px;
  text-transform: uppercase;
}

#pontoon .advanced button#cancel {
  display: none;
}

#pontoon #editor > menu button[id^="save"] {
  background: #7bc876;
  border-radius: 3px;
  color: #272A2F;
  font-weight: 600;
  margin-left: 10px;
  padding: 10px 15px;
}

#pontoon #editor > menu button:hover {
  color: #7BC876;
}

#pontoon #editor > menu button[id^="save"]:hover {
  color: #EBEBEB;
}

#pontoon #helpers {
  background: #3F4752;
  height: calc(60% - 104px);
  position: relative;
}

#source-pane.pluralized ~ #helpers {
  height: calc(60% - 147px);
}

#pontoon #helpers > section {
  bottom: 0;
  display: none;
  left: 0;
  overflow-y: auto;
  padding-top: 25px;
  position: absolute;
  right: 0;
  top: 43px;
}

#pontoon #helpers > section ul {
  list-style: none;
  margin: 0;
}

#pontoon #helpers > section ul li {
  border-bottom: 1px solid #525a65;
  cursor: pointer;
  padding: 5px 10px 20px;
  text-align: right;
  transition: all 0.2s ease-out;
}

#pontoon #helpers > section ul li.delete {
  transform: scale(0);
}

#pontoon #helpers > section ul li:not(.disabled):hover {
  background: #4D5967;
  border-color: #5E6475;
}

#pontoon #helpers > section ul li.disabled {
  cursor: default;
}

#pontoon #helpers > section ul li > header {
  color: #AAAAAA;
  display: block;
  font-size: 11px;
  font-weight: 300;
  padding: 1px 0 5px;
  text-transform: uppercase;
}

#pontoon #helpers > section ul li > header .info {
  float: left;
}

#pontoon #helpers > section ul li > header .toolbar {
  float: right;
}

#pontoon #helpers > section ul li > header button {
  background: no-repeat transparent;
  border: none;
  display: none;
  height: 16px;
  opacity: 0.5;
  vertical-align: bottom;
  width: 16px;
}

#pontoon #helpers > section ul li > header.localizer button {
  display: inline-block;
}

#pontoon #helpers > section ul li > header button:hover {
  opacity: 1;
}

#pontoon #helpers > section ul li > header button.approve {
  background-image: url('../img/star_fav_empty_icon&16.png');
}

#pontoon #helpers > section ul li > header button.approve:hover {
  background-image: url('../img/star_fav_icon&16.png');
}

#pontoon #helpers > section ul li.approved > header button.approve {
  background-image: url('../img/star_fav_icon&16.png');
  display: inline-block;
  opacity: 1;
}

#pontoon #helpers > section ul li > header button.delete {
  background-image: url('../img/trash_icon&16.png');
  margin-left: 10px;
}

#pontoon #helpers > section ul li > header.own button.delete {
  display: inline-block;
}

#pontoon #helpers > section ul li > header .stress {
  color: #7BC876;
  padding-left: 3px;
}

#pontoon #helpers > section#machinery ul li > header .stress {
  padding-right: 3px;
}

#pontoon #helpers > section ul li.disabled p {
  color: #AAAAAA;
  font-style: italic;
}
