table {
  font-size: 14px;
  text-align: left;
  width: 100%;
}

thead tr {
  border-bottom: 1px solid #4D5967;
}

th {
  color: #AAAAAA;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

td {
  padding: 20px 10px;
}


tr:nth-child(even) {
  background: #333941;
}

img {
  margin-right: 5px;
}

.rank {
  font-size: 36px;
  text-align: center;
  width: 40px;
}

.contributor {
  display: inline-block;
  width: 210px;
}

.contributor > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.contributor a {
  display: block;
  font-size: 1.5em;
}

.contributor p {
  margin-top: 1px;
}

th:last-child,
.details {
  width: 360px;
}

.details div {
  border: none;
  text-align: center;
}

.details div.approved {
  color: #7BC876;
}

.details div.translated {
  color: #4FC4F6;
}

.details div.fuzzy {
  color: #FED271;
}

.details div p {
  font-size: 25px;
  padding: 0;
}
