#title {
  font-size: inherit;
}

#title a {
  display: block;
  position: relative;
}

#title a .desc {
  bottom: 0;
  color: #FFFFFF;
  display: none;
  font-size: 16px;
  font-weight: bold;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

#title a:hover .desc {
  display: block;
}

#title a:hover .desc ~ img {
  opacity: 0.3;
}

#subtitle .uneditable {
  letter-spacing: normal;
  padding: 8px 0 20px;
}

#subtitle .wrapper {
  display: inline-block;
  position: relative;
}

#subtitle .wrapper input {
  background: transparent;
  border-bottom: 1px dashed transparent;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 300;
  padding: 4px 50px;
  text-align: center;
  width: 700px;
}

#subtitle .wrapper input:hover,
#subtitle .wrapper input:focus {
  border-color: #888888;
}

#subtitle .wrapper .submit {
  bottom: -8px;
  color: #888888;
  opacity: 0;
  padding: 20px 0;
  position: absolute;
  right: 0;
  /* Needed or click doesn't trigger */
  transition: all 0.1s ease-out;
}

#subtitle .wrapper input:focus + .submit {
  cursor: pointer;
  opacity: 1;
}

#subtitle .wrapper input:focus + .submit:hover {
  color: #7BC876;
}

.notification {
  margin-top: 2em;
}

.notification li {
  text-align: center;
}

.info {
  list-style: none;
  margin: 0;
  display: inline-block;
  text-align: left;
}

.info li {
  color: #AAAAAA;
  display: block;
  font-size: 16px;
  font-weight: 300;
  overflow: hidden;
  padding: 4px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 730px;
}

.info a {
  color: #7BC876;
}

.info .fa {
  margin-right: 6px;
}

.info li.check-box {
  cursor: pointer;
  display: table;
}

#timeline-loader {
  display: none;
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

#timeline-loader div {
  color: #7BC876;
  font-size: 48px;
}
