#subtitle {
  margin-bottom: -40px;
}

.submenu.tabs,
.submenu {
  margin-top: 40px;
}

.notification {
  display: none;
}

.about {
  margin-top: 40px;
  margin-bottom: -40px;
}

table {
  font-size: 14px;
  text-align: left;
  width: 100%;
}

thead tr {
  border-bottom: 1px solid #4D5967;
}

th {
  color: #AAAAAA;
  padding: 10px;
  text-transform: uppercase;
}

td {
  padding: 20px 10px;
}

tr:nth-child(even) {
  background: #333941;
}

tfoot tr {
  border-top: 1px solid #4D5967;
}

tfoot td {
  padding: 10px 0px;
  text-align: right;
  font-style: italic;
}

tfoot td a {
  font-style: normal;
}

sup a:link,
sup a:visited {
  color: #7BC876;
}

.rank {
  font-size: 36px;
  text-align: center;
  width: 41px;
}

.contributor {
  display: inline-block;
  position: relative;
  width: 269px;
}

.contributor img {
  margin-right: 5px;
}

.contributor p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 212px;
}

.contributor p.name {
  display: inline-block;
  font-size: 1.5em;
  height: 1.5em;
}

.contributor p.role {
  left: 67px;
  position: absolute;
  top: 47px;
}

th:last-child,
.details {
  text-align: center;
  width: 360px;
}

.details div {
  border: none;
}

.details div.approved {
  color: #7BC876;
}

.details div.translated {
  color: #4FC4F6;
}

.details div.fuzzy {
  color: #FED271;
}

.details div p {
  font-size: 25px;
  padding: 0;
}
