#title {
  font-size: inherit;
}

#title a {
  display: block;
}

#subtitle .uneditable {
  letter-spacing: normal;
  padding: 8px 0 20px;
}

#subtitle .wrapper {
  display: inline-block;
  position: relative;
}

#subtitle .wrapper input {
  background: transparent;
  border-bottom: 1px dashed transparent;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 300;
  padding: 4px 50px;
  text-align: center;
  width: 700px;
}

#subtitle .wrapper input:hover,
#subtitle .wrapper input:focus {
  border-color: #888888;
}

#subtitle .wrapper .submit {
  bottom: -8px;
  color: #888888;
  opacity: 0;
  padding: 20px 0;
  position: absolute;
  right: 0;
  /* Needed or click doesn't trigger */
  transition: all 0.1s ease-out;
}

#subtitle .wrapper input:focus + .submit {
  cursor: pointer;
  opacity: 1;
}

#subtitle .wrapper input:focus + .submit:hover {
  color: #7BC876;
}

.notification {
  margin-top: 2em;
}

.notification li {
  text-align: center;
}

.info {
  list-style: none;
  margin: 0;
}

.info li {
  color: #AAAAAA;
  font-size: 16px;
  font-weight: 300;
  padding: 2px 0;
}

.details {
  background: #333941;
  padding: 1em;
}

.details p {
  line-height: 18px;
}

.details div {
  width: 181px;
}

.details div:last-child {
  width: 182px;
}

#timeline {
  padding: 5em 0;
}

#timeline .container {
  margin: 0 auto 18em;
  width: 730px;
  position: relative;
  text-align: left;
}

#timeline .container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  margin-left: -2px;
  padding-bottom: 8em;
  width: 4px;
  background: #AAAAAA;
}

#timeline .container > div {
  position: relative;
  margin: 8em 0;
}

#timeline .container > div:first-child {
  margin-top: 0;
}

#timeline .container > div:last-child {
  margin: 0;
  position: absolute;
  width: 100%;
}

#timeline .tick {
  background: #272A2F;
  border: 4px solid #AAAAAA;
  position: absolute;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: -12px;
}

#timeline .tick.is-hidden {
  visibility: hidden;
}

#timeline .content {
  border: 2px solid #AAAAAA;
  border-radius: 8px;
  position: relative;
  padding: 1.5em;
  top: -19px;
  width: 39%;
}

#timeline .content:before {
  content: '';
  position: absolute;
  top: 24px;
  left: 100%;
  border: 6px solid transparent;
  border-left-color: #AAAAAA;
}

#timeline .content:after {
  content: "";
  display: table;
  clear: both;
}

#timeline .content h3 {
}

#timeline .content h3 > div {
  display: inline-block;
}

#timeline .content h3 .day {
  font-size: 36px;
}

#timeline .content h3 .weekday {
  text-transform: uppercase;
}

#timeline .content h3 .month {
  font-weight: 300;
}

#timeline .content h2 {
  color: #7BC876;
  font-size: 20px;
}

#timeline .content h2 div {
  font-size: 0.7em;
}

#timeline .content p {
  color: #AAAAAA;
  font-size: 16px;
  margin: 1em 0;
  line-height: 1.6;
}

#timeline .label {
  padding: 0.5em 0;
  position: absolute;
  width: 100%;
  left: 122%;
  top: 0;
}

#timeline .label figure {
  display: inline-block;
  text-align: center;
}

#timeline .label .fa {
  color: #7BC876;
}

#timeline .label figcaption {
  margin: 4px 2px 0 0;
}

#timeline .label a {
  display: inline-block;
  font-size: 1.4em;
  font-weight: 400;
  margin-top: 12px;
  padding: 0 10px;
  vertical-align: top;
}

#timeline .container > div:nth-child(even) .content,
#timeline .container > div:nth-child(even) .label figure {
  float: right;
}

#timeline .container > div:nth-child(even) .content:before {
  top: 24px;
  left: auto;
  right: 100%;
  border-color: transparent;
  border-right-color: #AAAAAA;
}

#timeline .container > div:nth-child(even) .content .read-more {
  float: right;
}

#timeline .container > div:nth-child(even) .content .label {
  left: auto;
  right: 122%;
  text-align: right;
}

#timeline .content.is-hidden {
  visibility: hidden;
}

/*
 * VERTICAL TIMELINE ANIMATION
 *
 * Inspired by:
 * http://codyhouse.co/gem/vertical-timeline/
 */

#timeline .tick.bounce-in {
  visibility: visible;
  -webkit-animation: bounce-1 0.6s;
  animation: bounce-1 0.6s;
}

@-webkit-keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.5);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

#timeline .content.bounce-in {
  visibility: visible;
  -webkit-animation: bounce-2 0.6s;
  animation: bounce-2 0.6s;
}

#timeline .container > div:nth-child(even) .content.bounce-in {
  -webkit-animation: bounce-2-inverse 0.6s;
  animation: bounce-2-inverse 0.6s;
}

@-webkit-keyframes bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes bounce-2 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}
