.editor {
    background: rgb(39, 42, 47);
    display: flex;
    flex-direction: column;
    height: 20%;
    min-height: 100px;
}

.editor textarea {
    border: none;
    box-sizing: border-box;
    line-height: 22px;
    height: 100%;
    padding: 10px;
    resize: none;
}

/* Remove highlight in Chrome */
.editor textarea:focus {
    outline: none;
}

.editor .plural-selector ~ textarea {
    min-height: auto;
}

.editor textarea[readonly] {
    background: #C7CACF;
}

.editor textarea[data-script="Arabic"] {
    font-size: 15px;
}

.banner {
    font-style: italic;
    line-height: 40px;
}

.banner a {
    color: #7BC876;
}

.editor-menu {
    background: rgb(39, 42, 47);
    border-bottom: 1px solid #5E6475;
    color: #fff;
    padding: 10px;
    position: relative;
    text-align: right;
}

.editor-menu .actions button {
    background: transparent;
    border: none;
    color: #EBEBEB;
    height: 40px;
    margin: 0 2px;
    padding: 10px 3px;
    text-transform: uppercase;
}

.editor-menu .actions button:hover {
    color: #7BC876;
}

.editor-menu .actions .action-save,
.editor-menu .actions .action-suggest {
    background: #7BC876;
    border-radius: 3px;
    color: #272A2F;
    font-weight: 600;
    margin-left: 10px;
    padding: 10px;
}

.editor-menu .actions .action-suggest {
    background: #4FC4F6;
}

.editor-menu .actions .action-save:hover,
.editor-menu .actions .action-suggest:hover {
    color: #EBEBEB;
}
