.editor {
    background: rgb(39, 42, 47);
    border-bottom: 1px solid #5E6475;
    display: flex;
    flex-direction: column;
    height: calc(20% + 60px);
    min-height: 160px;
}

.editor textarea {
    border: none;
    box-sizing: border-box;
    display: block;
    line-height: 22px;
    height: calc(100% - 60px);
    min-height: 100px;
    overflow: auto;
    padding: 10px;
    resize: none;
    width: 100%;
}

.editor .plural-selector ~ textarea {
    min-height: auto;
}

.editor textarea[readonly] {
    background: #C7CACF;
}

.editor textarea[data-script="Arabic"] {
    font-size: 15px;
}

.editor .banner {
    font-style: italic;
    line-height: 40px;
}

.editor .banner a {
    color: #7BC876;
}

.editor menu {
    color: #fff;
    padding: 10px;
    position: relative;
}

.editor .actions {
    float: right;
}

.editor .actions button {
    background: transparent;
    border: none;
    color: #EBEBEB;
    height: 40px;
    margin: 0 2px;
    padding: 10px 3px;
    text-transform: uppercase;
}

.editor .actions button:hover {
    color: #7BC876;
}

.editor .actions .action-save,
.editor .actions .action-suggest {
    background: #7BC876;
    border-radius: 3px;
    color: #272A2F;
    font-weight: 600;
    margin-left: 10px;
    padding: 10px;
}

.editor .actions .action-suggest {
    background: #4FC4F6;
}

.editor .actions .action-save:hover,
.editor .actions .action-suggest:hover {
    color: #EBEBEB;
}
