{% import "widgets/menu.html" as Menu %}

{# Widget to select period for filtering contributors #}
{% macro select_period(period, viewurl) %}
    {% call Menu.submenu() %}
        {{ Menu.item('전체 기간', viewurl, is_active = (period == None), class='button') }}
        {{ Menu.item('1년', viewurl + '?period=12', is_active = (period == 12), class='button') }}
        {{ Menu.item('6개월', viewurl + '?period=6', is_active = (period == 6), class='button') }}
        {{ Menu.item('3개월', viewurl + '?period=3', is_active = (period == 3), class='button') }}
        {{ Menu.item('저번달', viewurl + '?period=1', is_active = (period == 1), class='button') }}
    {% endcall %}
{% endmacro %}

{# Widget to display list of contributors. #}
{% macro list_contributors(contributors) %}
  <table class="striped">
    <thead>
      <tr>
        <th>기여자</th>
        <th>번역자</th>
      </tr>
    </thead>
    <tbody>
    {% for contributor in contributors %}
      <tr>
        <td class="contributor">
          <a href="{{ url('pontoon.contributors.contributor.username', contributor.username) }}">
            <img class="rounded" src="{{ contributor.gravatar_url(88) }}" width="44" height="44">
            <p class="name">{{ contributor.name_or_email }}</p>
          </a>
          <p class="role">{{ contributor.user_role }}</p>
        </td>
        <td class="stats">
          <div class="details">
            <div class="total">
              <span>전체 줄 수</span>
              <p>{{ contributor.translations_count|intcomma }}</p>
            </div><div class="approved">
              <span>번역됨</span>
              <p>{{ contributor.translations_approved_count|intcomma }}</p>
            </div><div class="fuzzy">
              <span>애매한 번역</span>
              <p>{{ contributor.translations_needs_work_count|intcomma }}</p>
            </div><div class="unreviewed">
              <span>리뷰 안됨</span>
              <p>{{ contributor.translations_unapproved_count|intcomma }}</p>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{# Widget to display notification if no contributors available. #}
{% macro no_contributors() %}
  <p class="no-results">기여자를 찾을 수 없습니다.</p>
{% endmacro %}
