{% macro menu() %}
{% if user.is_authenticated %}

<div id="notifications" class="notifications select{% if user.notifications.unread() %} unread{% endif %}">

  <div class="button selector">
    <i class="icon far fa-bell fa-fw"></i>
  </div>

  <div class="menu">
    {{ list(notifications=user.menu_notifications) }}

    <ul>
      <li class="horizontal-separator"></li>
      <li class="see-all"><a href="{{ url('pontoon.contributors.notifications') }}">전체 알림 보기</a></li>
    </ul>
  </div>

</div>

{% endif %}
{% endmacro %}


{% macro list(notifications, no_title="새로운 알림이 없습니다.", no_description="여기서 여러분이 기여하는 번역에 대해 업데이트를 받아볼 수 있습니다.") %}
<ul class="notification-list">
  {% for notification in notifications %}
    <li class="notification-item" data-id="{{ notification.id }}" data-level="{{ notification.level }}" data-unread="{{ notification.unread|to_json() }}">
      <div class="item-content">
        {% if notification.actor.slug %}
          {% set actor_anchor = notification.actor %}
          {% set actor_url = url('pontoon.projects.project', notification.actor.slug) %}

        {% elif notification.actor.email %}
          {% set actor_anchor = notification.actor.name_or_email|nospam %}
          {% set actor_url = url('pontoon.contributors.contributor.username', notification.actor.username) %}
        {% endif %}

        <span class="actor">
          <a href="{{ actor_url }}">{{ actor_anchor }}</a>
        </span>

        <span class="verb">{{ notification.verb }}</span>

        {% set target = notification.target %}
        {% set description_safe = True %}

        {% if target %}
          {% if target.slug %}
            <span class="target">
              <a href="{{ url('pontoon.projects.project', target.slug) }}">{{ target }}</a>
            </span>

          {% elif target.resource %}
            {% set description_safe = False %}
            {% set link = url('pontoon.translate', notification.action_object.code, target.resource.project.slug, target.resource.path) %}
            <span class="target">
              <a href="{{ link + '?string=' + target.pk|string }}">{{ target.resource.project.name }}</a>
            </span>
          {% endif %}
        </span>
        {% endif %}

        <p class="timeago">{{ notification.timesince() }} ago</p>

        {% set description = notification.description %}
        {% if description %}
          {% if description_safe %}
            <div class="message">{{ description|safe }}</div>
          {% else %}
            <div class="message trim">{{ description|linkify|safe }}</div>
          {% endif %}
        {% endif %}
      </div>
    </li>
    {% if not loop.last %}
      <li class="horizontal-separator"></li>
    {% endif %}
  {% endfor %}

  {% if notifications|length == 0 %}
    <li class="no">
      <i class="icon fa fa-bell fa-fw"></i>
      <p class="title">{{ no_title }}</p>
      <p class="description">{{ no_description }}</p>
    </li>
  {% endif %}
</ul>
{% endmacro %}
