{% extends "landing.html" %}

{% block title %}Pontoon &middot; Admin{% endblock %}

{% block class %}admin{% endblock %}

{% block heading %}Admin{% endblock %}

{% block subtitle %}Don't mess it up. Please.{% endblock %}

{% block middle %}
<form>
  {% include 'project_selector.html' %}

  <div>
    <a class="add" href="{{ url('pontoon.admin.project.new') }}">Add new</a>
  </div>
</form>
{% endblock %}

{% block extend_js %}
  {% compress js %}
  <script src="{{ static('administration/js/admin.js') }}"></script>
  {% endcompress %}
{% endblock %}
