@import '../../../../../pontoon/static/css/dark-theme.css';

.progress-chart canvas {
  border-radius: 100%;
}

.progress-chart:hover .selector canvas {
  background: var(--dark-grey-2);
}

.progress-chart .menu canvas {
  margin: 10px auto;
}
