.newtab-thumbnail {
    background-image: url(../images/whimsycorn.png);
    background-color: #eee;
}

.newtab-title {
  font-family: Segoe UI, Lucida Grande, sans-serif;
}

h1 {
    font-family: Segoe UI, Lucida Grande, sans-serif;
    font-size: 30px;
}

p {
    font-size: 16px;
}

body {
    background: white;
}

#new-tab-grid {
    text-align: center;
}
