Pontoon: Update {{ locale.name }} ({{ locale.code }}) localization of {{ project.name }}
{% if authors %}
{% for author in authors -%}
Co-authored-by: {{ author.display_name_and_email|safe }}
{% endfor %}
{%- endif -%}
