Pontoon: Update {{ locale.name }} ({{ locale.code }}) localization of {{ project.name }}
{%- if authors %}

Localization authors:
{% for author in authors -%}
- {{ author.display_name_and_email|safe }}
{% endfor %}
{%- endif -%}
