{% extends "base.html" %}
{% import 'heading.html' as Heading %}

{% block title %}Sync Log{% endblock %}

{% block heading %}
  {{ Heading.heading(title='Sync Log', subtitle='Synchronization history and details') }}
{% endblock %}

{% block bottom %}
<section id="main" class="clearfix">
  <div class="container">
    <menu class="controls">
      <div class="search-wrapper small clearfix">
        <div class="icon fas fa-search"></div>
        <input class="table-filter" type="search" autocomplete="off" autofocus placeholder="Filter projects">
      </div>
        {% if show_no_changes %}
          {% set no_changes = 0 %}
          {% set button_title = "Hide syncs with no changes" %}
        {% else %}
          {% set no_changes = 1 %}
          {% set button_title = "Show syncs with no changes" %}
        {% endif %}
        <a class="button small view-toggle" href="{{ url('pontoon.sync.log.errors') }}">Sync Log Errors <span class="fas fa-chevron-right"></span></a>
        <a class="button small no-changes-toggle" href="?no_changes={{ no_changes }}">{{ button_title }}</a>
    </menu>

    <table class="table table-sort log-list item-list">
        <thead>
          <tr>
            <th class="project asc">Project<i class="fas"></i></th>
            <th class="last-status">Last Status<i class="fas"></i></th>
            <th class="last-start">Last Start<i class="fas"></i></th>
            <th class="duration" data-sort="">Duration<i class="fas"></i></th>
          </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr class="limited">
              <td class="project">
                <h4>
                {% if is_manager %}
                  <a href="{{ project.sync_url }}">{{ project.name }}</a>
                {% else %}
                  {{ project.name }}
                {% endif %}
                </h4>
              </td>
              <td class="last-status {{ format_sync_status_class(project.sync_status) }}">
                {{ format_sync_status_label(project.sync_status) }}
              </td>
              <td class="last-start">
                {{ project.sync_start_time|date("Y-m-d H:i:s") or "―" }}
              </td>
              <td class="duration" title='{% if project.sync_end_time %}Last end: {{ project.sync_end_time|date("Y-m-d H:i:s") }}{% endif %}' data-sort="{{ format_sync_duration(project.sync_start_time, project.sync_end_time, ms=True) }}">
                {{ format_sync_duration(project.sync_start_time, project.sync_end_time) }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</section>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'sync_log' %}
{% endblock %}

{% block extend_js %}
  {% javascript 'sync_log' %}
{% endblock %}
