{% extends "base.html" %}
{% import 'heading.html' as Heading %}

{% block title %}Sync Log Errors{% endblock %}

{% block heading %}
  {{ Heading.heading(title='Sync Log Errors', subtitle='History of synchronization failures') }}
{% endblock %}

{% block bottom %}
<section id="main">
  <div class="container">
    <menu class="controls clearfix">
      <a class="button small errors" href="{{ url('pontoon.sync.log') }}"><span class="fas fa-chevron-left"></span> Sync Log</a>
    </menu>

    <table class="table table-sort log-list item-list">
        <thead>
          <tr>
            <th class="start asc">Start<i class="fas"></i></th>
            <th class="project">Project<i class="fas"></i></th>
            <th class="status">Status<i class="fas"></i></th>
            <th class="duration">Duration<i class="fas"></i></th>
          </tr>
        </thead>
        <tbody>
            {% for sync in sync_page %}
            <tr class="sync-log limited">
              <td class="start">
                {{ sync.start_time|date("Y-m-d H:i:s") }}
              </td>
              <td class="project">
                <h4>
                {% if is_manager %}
                  <a href="{{ sync.project_sync_url }}">{{ sync.project.name }}</a>
                {% else %}
                  {{ sync.project.name }}
                {% endif %}
                </h4>
              </td>
              <td class="status {{ format_sync_status_class(sync.status) }}">
                {{ format_sync_status_label(sync.status) }}
              </td>
              <td class="duration" title='{% if sync.end_time %}End: {{ sync.end_time|date("Y-m-d H:i:s") }}{% endif %}' data-sort="{{ format_sync_duration(sync.start_time, sync.end_time) }}">
                {{ format_sync_duration(sync.start_time, sync.end_time) }}
              </td>
            </tr>
            {% if sync.error %}
              <tr class="sync-error-message"><td colspan="4">{{ sync.error }}</td></tr>
            {% endif %}
          {% endfor %}
        </tbody>
    </table>

    <div class="pagination controls">
        {% if sync_page.has_previous() %}
          <a class="first button" href="?page=1">
            First
          </a>

          <a class="previous button" href="?page={{ sync_page.previous_page_number() }}">
            <span class="fas fa-chevron-left"></span>
            Previous
          </a>
        {% endif %}

        <span class="page">
          Page <span class="current">{{ sync_page.number }}</span> of {{ sync_page.paginator.num_pages }}
        </span>

        {% if sync_page.has_next() %}
          <a class="last button" href="?page={{ sync_page.paginator.num_pages }}">
            Last
          </a>
          <a class="next button" href="?page={{ sync_page.next_page_number() }}">
            Next
            <span class="fas fa-chevron-right"></span>
          </a>
        {% endif %}
    </div>
</div>
</section>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'sync_log' %}
{% endblock %}

{% block extend_js %}
  {% javascript 'sync_log' %}
{% endblock %}
