{% extends "base.html" %}
{% import 'heading.html' as Heading %}

{% block title %}Sync Logs{% endblock %}

{% block heading %}
  {{ Heading.heading(title='Sync Logs') }}
{% endblock %}

{% block bottom %}
<section id="main">
  <div class="container">
    <table class="log-list">
      <tr class="log-list-header">
        <th class="log-list-column">시작 시간</th>
        <th class="log-list-column">시작 날짜</th>
        <th class="log-list-column">걸린 시간</th>
      </tr>
      {% for log in sync_logs %}
        <tr class="sync-log">
          <td class="start-time">
            <a href="{{ log.get_absolute_url() }}">
              {{ log.start_time|format_datetime('time') }}
            </a>
          </td>
          <td class="start-date">
            {{ log.start_time|format_datetime('date') }}
          </td>
          <td class="duration">{{ log.duration|format_timedelta }}</td>
        </tr>
      {% endfor %}
    </table>

    <div class="pagination">
      {% if sync_logs.has_previous() %}
        <a class="previous" href="?page={{ sync_logs.previous_page_number() }}">
          <span class="fa fa-chevron-left"></span>
          Previous
        </a>
      {% endif %}

      <span class="current">
        Page {{ sync_logs.number }} of {{ sync_logs.paginator.num_pages }}
      </span>

      {% if sync_logs.has_next() %}
        <a class="next" href="?page={{ sync_logs.next_page_number() }}">
          Next
          <span class="fa fa-chevron-right"></span>
        </a>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'sync_logs' %}
{% endblock %}
