.plural-selector ul {
    display: table;
    line-height: 22px;
    table-layout: fixed;
    width: 100%;
}

.plural-selector ul li {
    background: #4d5967;
    border: 1px solid #5e6475;
    border-left: none;
    display: table-cell;
    text-align: center;
}

.plural-selector ul li.active,
.plural-selector ul li:hover {
    background: #3f4752;
}

.plural-selector ul li.active {
    border-bottom: none;
}

.plural-selector ul li button {
    background: none;
    border: none;
    color: #ccc;
    cursor: pointer;
    display: block;
    font-weight: 300;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
}

.plural-selector ul li button sup {
    color: #7bc876;
    font-size: 11px;
    font-weight: 400;
    padding-left: 1px;
}
