.project-info {
    float: left;
    font-size: 14px;
}

.project-info .button {
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 900;
    line-height: 18px;
    height: 18px;
    padding: 19px 7px 23px;
}

.project-info .panel {
    background: #272a2f;
    bottom: auto;
    color: #aaa;
    padding: 10px 12px;
    position: absolute;
    top: 59px;
    width: 360px;
    z-index: 20;
}

.project-info .panel h2 {
    color: #888888;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
    padding-bottom: 2px;
}

.project-info .panel p {
    font-weight: 300;
}

.project-info .panel a {
    color: #7bc876;
}
