body {
  overflow: auto;
  position: relative;
}

.select {
  padding-left: 0;
  text-align: left;
}

select {
  margin-top: 4px;
}

h1 {
  color: #EBEBEB;
  font-size: 48px;
  letter-spacing: -1px;
  margin-bottom: 40px;
  position: relative;
}

h1 aside {
  bottom: 8px;
  position: absolute;
  right: 0;
}

h1 a {
  color: #7BC876;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  margin-left: 20px;
}

body > form {
  color: #AAAAAA;
  font-size: 14px;
  width: 620px;
  padding: 40px 20px 100px;
}

form > div {
  margin: 20px 0;
  text-align: right;
}

form > div.controls {
  margin-top: 70px;
}

form > div.subpages.delete {
  opacity: 0.3;
}

h2 {
  color: #EBEBEB;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-left: -2px;
  margin-top: 70px;
  text-align: left;
  text-transform: none;
}

h2.mini {
  margin-top: 30px;
}

h2 .small {
  color: #AAAAAA;
  font-size: 0.7em;
}

h3 {
  color: #F36;
  font-weight: 300;
  margin-left: -1px;
  text-align: left;
  text-transform: uppercase;
}

label {
  display: block;
  padding-bottom: 3px;
  text-align: left;
}

input[type=text],
input[type=password],
input[type=url],
input[type=number],
textarea {
  display: block;
  height: 24px;
  margin-left: -1px;
  width: 615px; /* Must be same as form width - padding - margin-left */
}

form .button {
  background: #888888;
  border: none;
  display: block;
  float: right;
  font-size: 14px;
  height: 31px;
  width: 31px;
}

.button.delete-subpage {
  color: #333333;
  font-size: 20px;
  padding: 4px;
}

.controls .button {
  background: #7BC876;
  border-radius: 3px;
  color: #272A2F;
  font-weight: 400;
  text-transform: uppercase;
  width: 130px;
}

.controls .button.sync,
.controls .button.sync:hover {
  background: #F36;
  color: #272A2F;
  float: left;
  margin-right: 10px;
}

form a:link, form a:visited {
  color: #7BC876;
  float: right;
  text-transform: uppercase;
}

form a.add-subpage,
form a.add-repo {
  font-size: 14px;
  letter-spacing: 0;
  margin-top: 17px;
}

.controls a {
  margin: 6px 9px;
}

.controls .checkbox {
  float: left;
  text-transform: uppercase;
}

.locale.select {
  float: left;
  width: auto;
}

.locale.select.selected {
  float: right;
}

.locale.select .menu ul {
  height: 170px;
  margin-bottom: 0;
}

.locale.select .menu ul li span.code {
  float: right;
  width: auto;
}

#id_locales {
  display: none;
}

.can-be-requested,
.l10n-contact,
.deadline {
  float: left;
  width: 295px;
}

.deadline input {
  width: 289px;
}

.copy-locales,
.project-contact,
.priority {
  float: right;
  width: 295px;
}

.copy-locales select,
.contacts select,
.priority select {
  width: 100%;
}

.checkbox label {
  float: left;
  padding: 6px 0 0 15px;
}

.repository .delete-wrapper label {
  display: inline;
}

.repository .delete-wrapper input[type=checkbox] {
  float: right;
  margin: 2px;
}

.checkbox label input {
  float: left;
  margin-left: -18px;
  margin-top: 1px;
}

.repository .type-wrapper {
  float: left;
  margin-right: 6px;
}

.repository .details-wrapper {
  float: left;
  width: 552px;
}

.repository.git .details-wrapper {
  width: 408px;
}

.repository .details-wrapper input {
  width: 548px;
}

.repository.git .details-wrapper input {
  width: 403px;
}

.repository .branch-wrapper {
  display: none;
  float: left;
  margin-left: 6px;
  width: 138px;
}

.repository.git .branch-wrapper {
  display: block;
}

.repository .website-wrapper,
.repository .prefix-wrapper,
.repository .repository-toolbar {
  margin-top: 20px;
}

.repository .prefix-wrapper .prefix input[type=text] {
  width: 615px;
}

.repository .repository-toolbar > section {
  display: inline-block;
  float: left;
}

.repository .repository-toolbar > section.delete-wrapper {
  float: right;
}

.subpages input[id*=url] {
  float: left;
  width: 367px;
}

.branch-wrapper input[type=text] {
  width: 134px;
}

.edit section .bottom {
  font-size: 12px;
  text-transform: uppercase;
}

.subpages[data-count],
.repository-empty {
  display: none;
}

.subpages label[for*=name] {
  float: left;
  width: 205px;
}

.subpages input[id*=name] {
  float: left;
  width: 201px;
}

.subpages input[id$=DELETE] {
  display: none;
}

.subpages label[for*=url] {
  float: left;
  width: 407px;
}

.subpages input[id*=name],
.subpages label[for*=name] {
  margin-right: 6px;
}

textarea {
  height: 60px;
}

.subtitle {
  font-size: 12px;
  margin-top: 4px;
  text-transform: uppercase;
}

.errorlist {
  color: #F36;
  display: inline-block;
  font-size: 12px;
  line-height: 14px; /* Strange, but needed to keep controls in line when error occures */
  list-style: none;
  margin-left: 0;
  margin-top: 2px;
  text-transform: uppercase;
}

.errorlist li {
  display: inline;
  margin-left: 5px;
}

.notification {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
