body {
  overflow: auto;
  position: relative;
}

.select {
  padding-left: 0;
  text-align: left;
}

#title {
  display: block;
  font-size: 50px;
  letter-spacing: -3px;
  position: relative;
  text-align: left;
}

#title aside {
  bottom: 8px;
  position: absolute;
  right: 0;
}

#title a {
  font-size: 14px;
  letter-spacing: 0;
  margin-left: 20px;
}

body > form {
  color: #AAAAAA;
  font-size: 14px;
  width: 620px;
  padding: 0 20px 100px;
}

form > div {
  margin: 20px 0;
  text-align: right;
}

form > div.controls {
  margin-top: 70px;
}

form > div.subpages.delete {
  opacity: 0.3;
}

h2 {
  color: #EBEBEB;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-left: -2px;
  margin-top: 70px;
  text-align: left;
  text-transform: none;
}

h2 .small {
  color: #AAAAAA;
  font-size: 0.7em;
}

h3 {
  color: #FD5F60;
  font-weight: 300;
  margin-left: -1px;
  text-align: left;
  text-transform: uppercase;
}

label {
  display: block;
  padding-bottom: 3px;
  text-align: left;
}

input[type=text],
input[type=password],
input[type=url],
input[type=number],
textarea {
  display: block;
  height: 24px;
  margin-left: -1px;
  width: 615px; /* Must be same as form width - padding - margin-left */
}

.button {
  background: #888888;
  border: none;
  display: block;
  float: right;
  font-size: 14px;
  height: 31px;
  width: 31px;
}

.button.delete-subpage {
  color: #333333;
  font-size: 20px;
  padding: 4px;
}

.controls .button {
  background: #7BC876;
  border-radius: 3px;
  color: #272A2F;
  font-weight: 400;
  text-transform: uppercase;
  width: auto;
}

.controls .button.sync {
  background: #FD5F60;
  color: #272A2F;
  float: left;
  margin-right: 10px;
  width: 130px;
}

form a:link, form a:visited {
  color: #7BC876;
  float: right;
  text-transform: uppercase;
}

form a.add-subpage,
form a.add-repo {
  font-size: 14px;
  letter-spacing: 0;
  margin-top: 17px;
}

.controls a {
  margin: 9px;
}

.controls .checkbox {
  float: left;
  margin: 3px 0;
  text-transform: uppercase;
}

.authenticate .transifex .button {
  margin-top: 42px;
}

.locale.select {
  float: left;
  width: auto;
}

.locale.select.selected {
  float: right;
}

.locale.select .menu {
  border-bottom: 1px solid #5E6475;
  margin: 2px 0 -4px -1px;
  overflow: auto;
  padding: 10px 0;
  width: 295px;
}

.locale.select .menu ul {
  height: 170px;
  margin-bottom: 0;
}

.locale.select .menu ul li span.code {
  float: right;
  width: auto;
}

#id_locales {
  display: none;
}

.checkbox label {
  float: left;
  padding: 6px 0 0 13px;
}

.repository .locale-wrapper {
  padding-top: 20px;
}

.repository .locale-wrapper label,
.repository .source-wrapper label,
.repository .delete-wrapper label {
  display: inline;
}

.repository.authenticate .bottom label {
  padding-left: 13px;
}

.checkbox label input,
.repository.authenticate .bottom label input {
  float: left;
  margin-left: -16px;
  margin-top: 2px;
}

.repository.authenticate .bottom label input {
  margin-top: 0;
}

.repository .type-wrapper .authentication-title,
.repository .transifex .authentication-form,
.repository .transifex .bottom {
  display: none;
}

.repository.authenticate .type-wrapper .authentication-title,
.repository.authenticate .transifex .authentication-form,
.repository.authenticate .transifex .bottom {
  display: block;
}

.repository .type-wrapper {
  float: left;
  margin-right: 6px;
}

.repository .type.select {
  margin-left: -1px;
}

.repository .type.select .selector {
  color: #444444;
  font-weight: 400;
  height: 24px;
  line-height: 24px;
  width: 199px;
}

.repository .type.select .selector > span:nth-child(2) {
  float: right;
}

.repository .type.select .menu {
  background: #272A2F;
  border-top: 1px solid #5E6475;
  bottom: 31px;
  padding: 10px 0;
  width: 207px;
}

.repository .type-wrapper .authentication-title {
  color: #FD5F60;
  font-size: 12px;
  padding-top: 54px;
  text-align: left;
  text-transform: uppercase;
}

.repository .details-wrapper {
  float: left;
  width: 408px;
}

.repository .details-wrapper[data-repository-type="transifex"] .repo {
  display: none;
}

.repository .details-wrapper[data-repository-type="transifex"] .transifex {
  display: block;
}

.repository .details-wrapper .button.update {
  color: #444444;
  padding: 0;
}

.repository .prefix-wrapper,
.repository .branch-wrapper {
  clear: both;
}

.repository .prefix-wrapper .prefix input[type=text] {
  width: 100%;
}

.repository input[type=text] {
  width: 403px;
}

.edit .repository input[type=text],
.subpages input[id*=url] {
  float: left;
  width: 367px;
}

.transifex {
  display: none;
}

.transifex .authentication-form {
  padding-top: 73px;
  padding-bottom: 57px;
}

.transifex input#id_transifex_project,
.edit .authenticate .transifex input#id_transifex_project,
.edit .transifex input#id_transifex_username {
  float: left;
  width: 196px;
}

.transifex input#id_transifex_resource,
.edit .authenticate .transifex input#id_transifex_resource {
  float: left;
  width: 196px;
}

.edit .transifex input#id_transifex_project,
.edit .transifex input#id_transifex_resource {
  float: left;
  width: 178px;
}

.edit .transifex input#id_transifex_password,
.edit .authenticate .transifex .authentication-form label:nth-child(2) {
  float: left;
  width: 160px;
}

.transifex label,
.edit .authenticate .transifex label  {
  float: left;
  width: 200px;
}

.edit .transifex label {
  width: 182px;
}

.edit section .bottom {
  font-size: 12px;
  text-transform: uppercase;
}

.subpages[data-count],
.repository-empty {
  display: none;
}

.subpages label[for*=name] {
  float: left;
  width: 205px;
}

.subpages input[id*=name] {
  float: left;
  width: 201px;
}

.subpages input[id$=DELETE] {
  display: none;
}

.subpages label[for*=url] {
  float: left;
  width: 407px;
}

label[for=id_repository_type],
.transifex input#id_transifex_project,
.transifex input#id_transifex_username,
.transifex label[for*=project],
.transifex label[for*=username],
.subpages input[id*=name],
.subpages label[for*=name] {
  margin-right: 6px;
}

textarea {
  height: 60px;
}

.subtitle {
  font-size: 12px;
  margin-top: 4px;
  text-transform: uppercase;
}

.errorlist {
  color: #FD5F60;
  display: inline-block;
  font-size: 12px;
  line-height: 14px; /* Strange, but needed to keep controls in line when error occures */
  list-style: none;
  margin-left: 0;
  margin-top: 2px;
  text-transform: uppercase;
}

.errorlist li {
  display: inline;
  margin-left: 5px;
}

.notification {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
