.add {
  float: right;
}

menu.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.disabled-projects {
  display: none;
}

.request-toggle:before {
  content: 'disabled projects';
}

.request-toggle.back:after {
  content: 'enabled projects';
}

.request-toggle:after,
.request-toggle.back:before {
  content: '';
}
