.translation p ins,
.translation p del {
  border-radius: 2px;
  white-space: pre-wrap;
}

.translation p ins {
  background: var(--diff-ins-background);
  color: var(--diff-ins-color);
}

.translation p del {
  background: var(--diff-del-background);
  color: var(--diff-del-color);
}

.translation p ins mark,
.translation p del mark {
  background: transparent;
  border-color: transparent;
  margin: 0;
}
