{% import 'widgets/latest_activity.html' as LatestActivity %}
{% import 'widgets/progress_chart.html' as ProgressChart %}
{% import 'widgets/deadline.html' as Deadline %}
{% import 'widgets/priority.html' as Priority %}

{% macro header(request=False, visible=True) %}
  <table
    class="table table-sort project-list item-list {% if not visible %}hidden{% endif %}"
  >
    <thead>
      <tr>
        <th class="name asc">Project<i class="fas"></i></th>
        <th class="deadline">Target Date<i class="fas"></i></th>
        <th class="priority inverted">Priority<i class="fas"></i></th>
        <th class="latest-activity">Latest Activity<i class="fas"></i></th>
        <th class="progress controls">
          Progress
          <i class="fas"></i>
          <button
            class="button"
            id="detailed-view-toggle"
            title="Show detailed view"
          >
            Show detailed view
          </button>
        </th>
        <th class="unreviewed-status inverted" title="Unreviewed suggestions">
          <span class="fas fa-lightbulb"></span><i class="fas"></i>
        </th>
        {% if request %}
          <th class="all-strings">Number of Strings<i class="fas"></i></th>
          <th class="check">Request<i class="fas"></i></th>
        {% endif %}
      </tr>
    </thead>
    <!-- prettier-ignore-start -->
    <tbody>
{% endmacro %}

{% macro item(project, main_link, chart_link, latest_activity, chart, class='limited', all_strings=False, request=False, link_parameter=False) %}
  <tr class="{{ class }}">
    <td class="name" data-slug="{{ project.slug }}">
      <h4>
        <a href="{{ main_link }}">{{ project.name }}</a>
      </h4>
    </td>
    <td class="deadline">
      {{ Deadline.deadline(project.deadline, chart.total > 0 and chart.total == chart.approved + chart.warnings) }}
    </td>
    <td class="priority">{{ Priority.priority(project.priority) }}</td>
    <td class="latest-activity">{{ LatestActivity.span(latest_activity) }}</td>
    <td class="progress" colspan="2">
      {% if chart.total %}
        {{ ProgressChart.span(chart, chart_link, link_parameter) }}
      {% else %}
        <span class="not-ready">Not synced yet</span>
      {% endif %}
    </td>
    {% if all_strings %}
      <td class="all-strings">
        {% if chart.total %}
          <span
            >{{ (chart.total / project.enabled_locales) | int | intcomma }}</span
          >
        {% else %}
          <span class="not-ready">Not synced yet</span>
        {% endif %}
      </td>
    {% endif %}
    {% if request %}
      <td class="check fas fa-fw"></td>
    {% endif %}
  </tr>
{% endmacro %}

{% macro footer(request=False) %}
  <!-- prettier-ignore-start -->
    </tbody>
  </table>
  <!-- prettier-ignore-end -->
    {% if request %}
      <div id="request-item-note">
        <p class="locale-projects">
          The requested projects won’t be enabled automatically: an email will
          be sent to Pontoon admins and team managers to evaluate the request.
          We’ll try to respond as soon as possible. Please make sure to get in
          touch with the
          <a href="{{ url('pontoon.teams.info', locale.code) }}"
            >localization team</a
          >
          if you are a new contributor.
        </p>
        <p class="pretranslation">
          Pretranslation won’t be enabled automatically for the requested
          projects: an email will be sent to Pontoon admins and team managers to
          evaluate the request. We’ll try to respond as soon as possible. Note
          that, if a locale is not using pretranslation yet, this will require
          additional time to train a custom translation engine.
        </p>
      </div>
      <button class="request-item">Request new projects</button>
    {% endif %}
    <!-- prettier-ignore-end -->
  </table>
{% endmacro %}
