{% import 'widgets/latest_activity.html' as LatestActivity %}
{% import 'widgets/progress_chart.html' as ProgressChart %}
{% import 'widgets/deadline.html' as Deadline %}
{% import 'widgets/priority.html' as Priority %}

{% macro header(request=False, visible=True) %}
  <table class="table table-sort project-list item-list {% if not visible %}hidden{% endif %}">
    <thead>
      <tr>
        <th class="name asc">프로젝트<i class="fa"></i></th>
        <th class="deadline">마감선<i class="fa"></i></th>
        <th class="priority inverted">중요도<i class="fa"></i></th>
        <th class="latest-activity">마지막 활동<i class="fa"></i></th>
        <th class="progress">진행률<i class="fa"></i></th>
        <th class="unreviewed-status inverted" title="리뷰되지 않은 제안들"><span class="fa fa-lightbulb"></span><i class="fa"></i></th>
        {% if request %}
          <th class="all-strings">줄 숫자<i class="fa"></i></th>
          <th class="check">요청<i class="fa"></i></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
{% endmacro %}

{% macro item(project, main_link, chart_link, latest_activity, chart, class='limited', request=False, link_parameter=False) %}
  <tr class="{{ class }}">
    <td class="name" data-slug="{{ project.slug }}">
      <h4>
        <a href="{{ main_link }}">{{ project.name }}</a>
      </h4>
    </td>
    <td class="deadline">
      {{ Deadline.deadline(project.deadline, chart.completion_percent == 100) }}
    </td>
    <td class="priority">
      {{ Priority.priority(project.priority) }}
    </td>
    <td class="latest-activity">
      {{ LatestActivity.span(latest_activity) }}
    </td>
    <td class="progress" colspan="2">
      {% if project.total_strings %}
        {{ ProgressChart.span(chart, chart_link, link_parameter) }}
      {% else %}
        <span class="not-ready">Not synced yet</span>
      {% endif %}
    </td>
    {% if request %}
      <td class="all-strings">
        {% if project.total_strings %}
          <span>{{ project.avg_string_count|intcomma }}</span>
        {% else %}
          <span class="not-ready">Not synced yet</span>
        {% endif %}
      </td>
      <td class="check fa fa-fw"></td>
    {% endif %}
  </tr>
{% endmacro %}

{% macro footer(request=False) %}
    </tbody>
  </table>
  {% if request %}
    <div id="request-item-note">
      <p>프로젝트 요청은 자동으로 이뤄지지 않습니다. Pontoon 어드민과 팀 매니저가 이를 할 수 있습니다. 우린 빠른 시간내에 할 것입니다. 일단 새 사람을 모으기 위해 <a href="{{ url('pontoon.teams.info', locale.code) }}">로컬라이제이션 팀</a>을 두들겨 보세요.</p>
    </div>
    <button id="request-item">새 프로젝트 요청</button>
  {% endif %}
{% endmacro %}
