{% import 'teams/widgets/team_list.html' as TeamList %}

<div class="teams items">
  <menu class="controls">
    <div class="search-wrapper small clearfix">
      <div class="icon fa fa-search"></div>
      <input class="table-filter" type="search" autocomplete="off" autofocus placeholder="팀 필터" data-filter="td:nth-child(-n+2)">
    </div>

    {% if project.can_be_requested and user.is_authenticated %}
    <button class="request-toggle button small request-teams">
      <span class="fa fa-chevron-right"></span>
    </button>
    {% endif %}
  </menu>

  {{ TeamList.header(project.can_be_requested) }}

  {% set locale_projects = project.available_locales_list() %}

  {% for locale in locales %}
    {% set main_link = url('pontoon.projects.project', project.slug) %}
    {% set chart_link = url('pontoon.translate', locale.code, project.slug, 'all-resources') %}
    {% set latest_activity = locale.get_latest_activity(project) %}
    {% set chart = locale.get_chart(project) %}
    {% if locale.code in locale_projects %}
      {% set class = 'limited' %}
      {% if chart %}
        {% set main_link = url('pontoon.localizations.localization', locale.code, project.slug) %}
      {% endif %}
    {% else %}
      {% set class = '' %}
    {% endif %}

    {% if tag %}
      {% set main_link = url('pontoon.projects.project', project.slug) + '?tag=' + tag.slug %}
      {% set chart_link = url('pontoon.translate', locale.code, project.slug, 'all-resources') + '?tag=' + tag.slug %}
      {% if chart %}
        {% set main_link = chart_link %}
      {% endif %}
    {% endif %}

    {{ TeamList.item(locale, main_link, chart_link, latest_activity, chart, class, request=True, link_parameter=True, has_param=tag) }}
  {% endfor %}

  {{ TeamList.footer(project.can_be_requested) }}
</div>
