.admin-project {
  overflow: auto;
  position: relative;
}

.admin-project .select {
  padding-left: 0;
  text-align: left;
}

.admin-project h1 {
  color: var(--white-1);
  font-size: 48px;
  letter-spacing: -1px;
  margin-bottom: 40px;
  position: relative;
}

.admin-project > form {
  color: var(--light-grey-7);
  font-size: 14px;
  padding: 40px 20px 100px;
}

.admin-project form > div {
  margin: 20px 0;
  text-align: right;
}

.admin-project form > div.controls:last-child {
  margin-top: 70px;
}

.admin-project form > section > div {
  margin-top: 20px;
}

.admin-project h3 {
  font-size: 30px;
  margin-top: 70px;
}

.admin-project form .button {
  float: right;
}

.admin-project .controls .button {
  width: 150px;
}

.admin-project form .locales-pretranslate .item.select.selected {
  float: none;
  margin: 0 49px;
}
