.controls .no-changes-toggle {
  float: right;
}

.controls .errors {
  float: right;
  margin-left: 20px;
}

.log-list .project {
  text-align: left;
  width: 220px;
}

.log-list .project h4 {
  line-height: 47px;
  font-size: 15px;
  font-weight: 100;
  color: var(--white-1);
  width: 219px;
}

.log-list .status,
.log-list .last-status {
  width: 160px;
}

.log-list .start,
.log-list .last-start {
  width: 260px;
}

.log-list .duration {
  text-align: right;
  width: 260px;
}

.log-list .start {
  text-align: left;
}

.sync-status-success {
  color: var(--status-translated);
}

.sync-status-warn {
  color: var(--status-warning);
}

.sync-status-fail {
  color: var(--status-error);
}

.sync-error-message td {
  color: var(--input-color-2);
  font-size: 14px;
  padding: 0 0.4em 0.4em 1.2em;
}

.pagination {
  font-size: 14px;
  padding: 3em 0;
  text-align: center;
  text-transform: uppercase;
}

.pagination .first,
.pagination .previous {
  float: left;
}

.pagination .first {
  margin-right: 10px;
}

.pagination .last,
.pagination .next {
  float: right;
}

.pagination .last {
  margin-left: 10px;
}

.pagination .page {
  color: var(--light-grey-2);
  line-height: 28px;
}

.pagination .page .current {
  color: var(--status-translated);
}
