/** @listing */
.log-list {
    text-align: left;
    width: 100%;
}

.log-list .log-list-column {
    font-weight: bold;
    padding: 0.4em;
    text-transform: uppercase;
}

.sync-log .start-time,
.sync-log .start-date,
.sync-log .duration {
    padding: 0.4em;
    font-size: 14px;
}

.sync-log .start-time a {
    color: #7bc876;
}

/** @details */
td {
    padding: 5px 10px;
}

.sync-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 1em;
    text-align: center;
}

.sync-details .detail-item {
    flex: 1;
    margin: 0 1px;
}

.sync-details .detail-label {
    border: none;
    color: #aaaaaa;
    font-size: 12px;
    margin: 0.5em 0;
    text-transform: uppercase;
}

.sync-details .detail-value {
    border: none;
    font-size: 16px;
}

.command-details {
    background: #333941;
}

.command-details .detail-item {
    border-top: 4px solid;
    flex: 0 0 325px;
}

.command-details .start-time {
    border-color: #7bc876;
}

.command-details .end-time {
    border-color: #4fc4f6;
}

.command-details .duration {
    border-color: #fed271;
}

.project-details .start-time .detail-label,
.repository-details .start-time .detail-label {
    color: #7bc876;
}

.project-details .end-time .detail-label,
.repository-details .end-time .detail-label {
    color: #4fc4f6;
}

.project-details .duration .detail-label,
.repository-details .duration .detail-label {
    color: #fed271;
}

.project {
    border: 1px solid #5c6172;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em;
}

.project .project-name {
    color: #aaaaaa;
    font-size: 36px;
    text-align: left;
    text-transform: none;
}

.repository-logs {
    list-style-type: none;
    width: 100%;
}

.repository-logs .repository-logs-column {
    color: #aaaaaa;
    padding: 1em;
    text-align: left;
    text-transform: uppercase;
}

.repository .repository-url {
    vertical-align: middle;
}

.repository:nth-child(even) {
    background: #333941;
}

/** @pagination */
.pagination {
    font-size: 14px;
    padding: 3em 0;
    text-align: center;
    text-transform: uppercase;
}

.pagination .previous {
    float: left;
}

.pagination .next {
    float: right;
}
