/** @listing */
.log-list {
  text-align: left;
  width: 100%;
}

.log-list th {
  font-weight: bold;
  padding: 0.4em;
  text-transform: uppercase;
}

.sync-log td {
  padding: 0.4em;
  font-size: 14px;
}

.sync-log a {
  color: var(--status-translated-alt);
}

.sync-status-success {
  color: var(--status-translated);
}

.sync-status-warn {
  color: var(--status-warning);
}

.sync-status-fail {
  color: var(--status-error);
}

.sync-status-other {
  color: var(--status-missing);
}

.sync-error-message td {
  color: var(--input-color-2);
  font-size: 14px;
  padding: 0 0.4em 0.4em 1.2em;
}

/** @pagination */
.pagination {
  font-size: 14px;
  padding: 3em 0;
  text-align: center;
  text-transform: uppercase;
}

.pagination .previous {
  float: left;
}

.pagination .next {
  float: right;
}
