<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Mozilla Firefox Start Page</title>


    <link href='{{ static('snippets/css/aboutHome.css') }}' rel='stylesheet' />
    <script src="https://pontoon.mozilla.org/pontoon.js"></script>
  </head>

  <body dir="ltr">
    <div class="spacer"></div>
    <div id="topSection">
      <div id="brandLogo"></div>

      <div id="searchContainer">
        <form name="searchForm" id="searchForm" onsubmit="onSearchSubmit(event)">
          <div id="searchLogoContainer">
            <img id="searchEngineLogo" src="{{ static('snippets/images/google.png') }}" alt="Google" />
          </div>
          <input type="text" name="q" id="searchText" maxlength="256" placeholder="" />
          <input type="submit" id="searchSubmit" value="Search" />
        </form>
      </div>

      <div id="snippetContainer">
        <div id="snippets">
          <div class="snippet_set">
            <div data-snippet-id="4228" data-weight="100">
              <div class="snippet" style="display: block;">
                <a href="https://blog.mozilla.org/blog/2013/12/05/unleash-the-game-creator-in-you-by-entering-our-holiday-gaming-competition/"><img class="icon" src="{{ static('snippets/images/icon.png') }}" /></a>

                <p>{{ snippets[snippet_index]|safe }}</p>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="spacer"></div>

    <div id="launcher">
      <button class="launchButton" id="downloads">Downloads</button>
      <button class="launchButton" id="bookmarks">Bookmarks</button>
      <button class="launchButton" id="history">History</button>
      <button class="launchButton" id="addons">Add-ons</button>
      <button class="launchButton" id="sync">Sync</button>
      <button class="launchButton" id="settings">Settings</button>
    </div>

    <a id="aboutMozilla" href="https://www.mozilla.org/about/"></a>
  </body>
</html>