<html>
<head>
    <meta charset=utf-8>
    <title>Test page for Tiles</title>
    <link href='{{ static('tiles/css/newTab.css') }}' rel='stylesheet' />
    <link href='{{ static('tiles/css/newTabSkin.css') }}' rel='stylesheet' />
    <link href='{{ static('tiles/css/newTabExtra.css') }}' rel='stylesheet' />
    <script src="https://pontoon.mozilla.org/pontoon.js"></script>
</head>
<body>
    <div id="new-tab-grid">
    {% if snippets %}
        {% for snippet in snippets %}
        <div class="newtab-cell">
            <div class="newtab-site">
                <a class="newtab-link" href="#">
                    <span class="newtab-thumbnail" ></span>
                    <span class="newtab-title">{{ snippet|safe }}</span>
                </a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>There are no available translations for this file.</p>
    {% endif %}
    </div>
</body>
</html>