<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Update Hotfix Mockup</title>

  <link href='{{ static('updater/css/updater.css') }}' rel='stylesheet' />
  </head>
    <body>
        
        <div class="outerContainer">
        <div class="window">
        
          <div class="mainToolbar">
          
              <div class="titleBar">
              <div class="windowControls">
                  <div class="widget widgetClose"></div>
                  <div class="widget widgetMinimize"></div>
                  <div class="widget widgetZoom"></div>
              </div>
            <div class="spacer"></div>
              </div>
              
              <div class="navBar">
            <div class="toolbarButton backButton"><div class="iconContainer"></div></div>
            <div class="locationBar">
              <div class="notificationBlock toggled"><div class="iconContainer" id="buttonIDpluginPanel" class="toggled"></div></div>
              <div class="identityBlock stateEV">Mozilla Corporation</div>
              <div class="identityBlockSeparator"></div>
              <div class="urlText" contenteditable="true">https://www.<span class="domainName">mozilla.org</span>/en-US/webmaker</div>
            </div>
            <div class="searchBar">
              <input class="searchText" placeholder="Search" contenteditable="true">
            </div>
          </div>
          <div class="ctpPanelContainer toggled" id="ctpPanelContainer">
            <div class="ctpPanelArrow"></div>
            <div class="ctpPanelBase">
              <div class="ctpPanelHeader">
                <span id="s1">{{ snippets[snippet_index] }}</span>
              </div>
              <div class="ctpPanelButtonContainer">
                <div id="ctpButton">
                  <div id="ctpMain">
                  {% if snippet_index == 1 %}
                    {{ snippets[5] }}
                  {% else %}
                    {{ snippets[4] }}
                  {% endif %}
                  </div>
                  <div id="ctpExtra">
                    <div id="ctpDropdown">Not now</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          </div>
          
        <div class="contentArea">
        </div>
        
        </div>
        </div>

    <script>
      function _(id) { return document.getElementById(id); }

      _("buttonIDpluginPanel").addEventListener("click", function() {
        _("ctpPanelContainer").classList.toggle("toggled");
        _("buttonIDpluginPanel").classList.toggle("toggled");
      }, false);
      _("ctpExtra").addEventListener("click", function() {
        console.log("ctpExtra click");
        _("ctpDropdown").classList.toggle("toggled");
      }, false);

    </script>

    <script src="https://pontoon.mozilla.org/pontoon.js"></script>
</body></html>
