{% macro header() %}
  <table class="table table-sort community-health-table item-list">
    <thead>
      <tr>
        <th class="code">Locale<i class="fas"></i></th>
        <th class="managers" data-sort="">Managers<i class="fas"></i></th>
        <th class="translators" title="Translators" data-sort="">
          Transl.<i class="fas"></i>
        </th>
        <th
          class="active-contributors"
          title="Active Contributors"
          data-sort=""
        >
          Act. Contr.<i class="fas"></i>
        </th>
        <th class="all-contributors" title="All Contributors" data-sort="">
          All Contr.<i class="fas"></i>
        </th>
        <th class="new-signups" title="New Signups" data-sort="">
          New<i class="fas"></i>
        </th>
        <th class="enabled-projects" title="Enabled Projects" data-sort="">
          Projects<i class="fas"></i>
        </th>
        <th class="completion" title="Project Completion" data-sort="">
          Completion<i class="fas"></i>
        </th>
        <th class="chs" title="Community Health Score" data-sort="">
          Score<i class="fas"></i>
        </th>
      </tr>
    </thead>
    <!-- prettier-ignore-start -->
    <tbody>
{% endmacro %}

{% macro delta_span(delta, percent=False) %}
  {% if delta is not none %}
    <span class="prev {% if delta > 0 %}up{% elif delta < 0 %}down{% else %}equal{% endif %}">
      <i class="fas {% if delta > 0 %}fa-caret-up{% elif delta < 0 %}fa-caret-down{% else %}fa-minus{% endif %}"></i>
      {% if delta != 0 %}
      <span class="prev-string">{{ '+' if delta > 0 }}{{ delta }}{{ '%' if percent }}</span>
      {% endif %}
    </span>
  {% endif %}
{% endmacro %}

{% macro value_cell(base_value, base_delta=None, base_threshold=None,
                    score_value=None, score_delta=None, score_threshold=None,
                    percent=False, single=False, locale_id=None, metric=None) %}
  <td class="cell" data-sort="{{ base_value }}"
      {% if not single %} data-base-sort="{{ base_value }}" data-score-sort="{{ score_value }}"{% endif %}>
    {% if single %}
      <div class="info-container">
        {{ delta_span(base_delta, percent) }}
        <span class="info {% if base_threshold and base_value >= base_threshold %}met{% endif %}">
          {{ base_value }}{{ '%' if percent }}
        </span>
      </div>
    {% else %}
      <div class="info-container base-view">
        {{ delta_span(base_delta, percent) }}
        <span class="info {% if base_threshold and base_value >= base_threshold %}met{% endif %}"{% if metric and base_value > 0 %} data-locale="{{ locale_id }}" data-metric="{{ metric }}"{% endif %}>
          {{ base_value }}{{ '%' if percent }}
        </span>
      </div>
      <div class="info-container score-view">
        {{ delta_span(score_delta, false) }}
        <span class="info {% if score_threshold and score_value >= score_threshold %}met{% endif %}"{% if metric and base_value > 0 %} data-locale="{{ locale_id }}" data-metric="{{ metric }}"{% endif %}>
          {{ score_value }}
        </span>
      </div>
    {% endif %}
  </td>
{% endmacro %}

{% macro item(locale, main_link, curr_snapshot=None, base_deltas=None, score_deltas=None, columns=None, class='limited') %}
  {% set contributor_columns = ['active_managers', 'active_translators', 'active_contributors', 'all_contributors', 'new_signups'] %}
  <tr class="{{ class }}">
    <td class="code">
      <div>
        <a href="{{ main_link }}">{{ locale.code }}</a>
      </div>
    </td>
    {% if curr_snapshot %}
      {% for field, column in columns.items() %}
        {% if field == 'chs' %}
          {{ value_cell(
               base_value=curr_snapshot[field],
               base_delta=base_deltas[field] if base_deltas else None,
               base_threshold=column.base_threshold,
               single=True) }}
        {% else %}
          {{ value_cell(
               base_value=curr_snapshot[field],
               base_delta=base_deltas[field] if base_deltas else None,
               base_threshold=column.base_threshold,
               score_value=curr_snapshot[field + '_score'],
               score_delta=score_deltas[field + '_score'] if score_deltas else None,
               score_threshold=column.score_threshold,
               percent=column.percent,
               locale_id=locale.id,
               metric=field if field in contributor_columns else none) }}
        {% endif %}
      {% endfor %}
    {% else %}
      <td class="no-snapshot" colspan="8">
        <span>No snapshot this month</span>
      </td>
    {% endif %}
  </tr>
{% endmacro %}

{% macro footer() %}
  <!-- prettier-ignore-start -->
    </tbody>
  <!-- prettier-ignore-end -->
  </table>
{% endmacro %}
