{# Widget to display insights. #}
{% macro display() %}
<div id="insights" data-dates="{{ dates }}">
    <section class="clearfix">
        <section
            id="active-users"
            class="half"
            data-total="{{ total_users|to_json() }}"
            data-1="{{ active_users_last_month|to_json() }}"
            data-3="{{ active_users_last_3_months|to_json() }}"
            data-6="{{ active_users_last_6_months|to_json() }}"
            data-12="{{ active_users_last_12_months|to_json() }}"
        >
            <div class="block clearfix">
                <h3 class="controls">
                    Active users
                    <div class="fa fa-info selector"></div>
                    <div class="tooltip">
                        <p>Ratios of active vs. all managers, reviewers, contributors.</p>
                        <ul>
                            <li class="active-managers">
                                <b>Active managers:</b>
                                Managers who logged into Pontoon within the selected time frame.
                            </li>
                            <li class="active-reviewers">
                                <b>Active reviewers:</b>
                                Users who reviewed translations within the selected time frame.
                            </li>
                            <li class="active-contributors">
                                <b>Active contributors:</b>
                                Users who submitted translations within the selected time frame.
                            </li>
                        </ul>
                    </div>
                    <ul class="period-selector noselect clearfix">
                        <li><div class="active selector" data-period="12">12m</div></li>
                        <li><div class="selector" data-period="6">6m</div></li>
                        <li><div class="selector" data-period="3">3m</div></li>
                        <li><div class="selector" data-period="1">1m</div></li>
                    </ul>
                </h3>
                <div id="managers" class="active-users">
                    <canvas class="chart" height="110" width="110"></canvas>
                    <div class="active-wrapper">
                        <span class="active noselect"></span>
                    </div>
                    <span class="total noselect"></span>
                    <h4>Active managers</h4>
                </div>
                <div id="reviewers" class="active-users">
                    <canvas class="chart" height="110" width="110"></canvas>
                    <div class="active-wrapper">
                        <span class="active noselect"></span>
                    </div>
                    <span class="total noselect"></span>
                    <h4>Active reviewers</h4>
                </div>
                <div id="contributors" class="active-users">
                    <canvas class="chart" height="110" width="110"></canvas>
                    <div class="active-wrapper">
                        <span class="active noselect"></span>
                    </div>
                    <span class="total noselect"></span>
                    <h4>Active contributors</h4>
                </div>
            </div>
        </section>
        <section class="half">
            <div class="block clearfix">
                <h3 class="controls">
                    Unreviewed suggestions lifespan
                    <div class="fa fa-info selector"></div>
                    <div class="tooltip">
                        How much time it takes on average to review a suggestion within the selected time frame.
                    </div>
                </h3>
                <canvas
                    id="unreviewed-suggestions-lifespan-chart"
                    data-lifespans="{{ unreviewed_lifespans }}"
                    width="410"
                    height="160">
                </canvas>
            </div>
        </section>
    </section>

    <section class="translation-activity">
        <figure class="block">
            <h3 class="controls">
                Translation activity
                <div class="fa fa-info selector"></div>
                <div class="tooltip">
                    <p>Impact of adding translations and source strings on the overal translation completion.</p>
                    <ul>
                        <li class="completion">
                            <b>Completion:</b>
                            Share of translated strings.
                        </li>
                        <li class="human-translations">
                            <b>Human translations:</b>
                            Translations authored by users.
                        </li>
                        <li class="machinery-translations">
                            <b>Machinery translations:</b>
                            Translations copied from Machinery.
                        </li>
                        <li class="new-source-strings">
                            <b>New source strings:</b>
                            Newly added source strings (hidden by default).
                        </li>
                    </ul>
                </div>
            </h3>
            <canvas
                id="translation-activity-chart"
                data-completion="{{ translation_activity.completion }}"
                data-human-translations="{{ translation_activity.human_translations }}"
                data-machinery-translations="{{ translation_activity.machinery_translations }}"
                data-new-source-strings="{{ translation_activity.new_source_strings }}"
                width="920"
                height="400">
            </canvas>
            <div id="translation-activity-chart-legend" class="legend"></div>
        </figure>
    </section>

    <section class="review-activity">
        <figure class="block">
            <h3 class="controls">
                Review activity
                <div class="fa fa-info selector"></div>
                <div class="tooltip">
                    <p>Impact of the review process and adding suggestions on the overal amount of unreviewed suggestions.</p>
                    <ul>
                        <li class="unreviewed">
                            <b>Unreviewed:</b>
                            Suggestions pending a review.
                        </li>
                        <li class="peer-approved">
                            <b>Peer-approved:</b>
                            Suggestions approved by peers of the author.
                        </li>
                        <li class="self-approved">
                            <b>Self-approved:</b>
                            Directly submitted translations.
                        </li>
                        <li class="rejected">
                            <b>Rejected:</b>
                            Rejected suggestions.
                        </li>
                        <li class="new">
                            <b>New suggestions:</b>
                            Newly added suggestions (hidden by default).
                        </li>
                    </ul>
                </div>
            </h3>
            <canvas
                id="review-activity-chart"
                data-unreviewed="{{ review_activity.unreviewed }}"
                data-peer-approved="{{ review_activity.peer_approved }}"
                data-self-approved="{{ review_activity.self_approved }}"
                data-rejected="{{ review_activity.rejected }}"
                data-new-suggestions="{{ review_activity.new_suggestions }}"
                width="920"
                height="400">
            </canvas>
            <div id="review-activity-chart-legend" class="legend"></div>
        </figure>
    </section>
</div>
{% endmacro %}
