.manual-notifications .right-column #compose {
    padding: 20px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.manual-notifications #compose h3 {
    color: #ebebeb;
    font-size: 22px;
    letter-spacing: 0;
}

.manual-notifications #compose h3 .stress {
    color: #7bc876;
}

.manual-notifications #compose .toolbar {
    padding: 10px 0 0;
}

.manual-notifications #compose .controls {
    margin: 0;
    text-align: right;
}

.manual-notifications #compose .errors {
    float: right;
    text-align: right;
}

.manual-notifications #compose .errors p {
    color: #f36;
    text-transform: uppercase;
    visibility: hidden;
}

.manual-notifications #compose .locale-selector {
    margin: 20px 0 40px;
}

.manual-notifications #compose .locale-selector .locale.select .menu {
    width: 285px; /* must be same as .shortcuts */
}

.manual-notifications #compose .locale-selector .shortcuts {
    float: left;
    font-size: 14px;
    width: 285px; /* must be same as .menu */
}

.manual-notifications #compose .locale-selector .shortcuts .complete {
    float: left;
}

.manual-notifications #compose .locale-selector .shortcuts .incomplete {
    float: right;
}

.manual-notifications #compose .message-wrapper .subtitle {
    color: #aaa;
    float: left;
    text-transform: uppercase;
}

.manual-notifications #compose textarea {
    background: #272a2f;
    color: #ebebeb;
    font-size: 14px;
    font-weight: 300;
    height: 150px;
    padding: 10px;
    width: 100%;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.manual-notifications #sent li.no {
    padding-top: 14px;
}

.manual-notifications #sent li.no .icon {
    color: #272a2f;
}
