/**
 * CSS classes related to the select project widget.
 */
form .project.select.selected {
  float: right;
}

form .project.select .menu {
  background: transparent;
  border-bottom: 1px solid var(--main-border-1);
  margin: 2px 0 -4px -1px;
  overflow: auto;
  padding: 10px 0;
  width: 295px;
}

form > div {
  margin: 20px 0;
}

form .project.select .menu ul {
  height: 170px;
  margin-bottom: 0;
}

form .project.select .menu ul li span.code {
  float: right;
  width: auto;
}

form .project.select {
  float: left;
  width: auto;
}

form .project li {
  cursor: pointer;
}

form .project .sortable li {
  cursor: grab;
  cursor: -webkit-grab;
}

.select {
  text-align: left;
}

label {
  display: block;
  padding-bottom: 3px;
  text-align: left;
}

form a:link,
form a:visited {
  color: var(--status-translated-alt);
  float: right;
  text-transform: uppercase;
}
