{% extends 'messaging/emails/base.html' %}

{% block title %}{{ subject }}{% endblock %}

{% block extend_css %}
.subheader p:not(:last-child) {
    padding-bottom: 10px;
}

h2 {
    font-size: 18px;
    font-weight: 100;
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
}

h2.team-activity {
    padding-top: 30px;
}

p {
    font-size: 15px;
    line-height: 1.6em;
    margin: 0;
}

p.completion {
    padding-top: 20px;
}

.bullet {
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    margin: 1px 4px;
    height: 7px;
    width: 7px;
}

.bullet.missing {
    background: #bec7d1;
    border-color: #bec7d1;
}

.bullet.unreviewed {
    background: #4fc4f6;
    border-color: #4fc4f6;
}

.bullet.pretranslated {
    background: #c0ff00;
    border-color: #c0ff00;
}
{% endblock %}

{% block header %}Hello.{% endblock %}

{% block subheader %}
<p>Here's your monthly activity summary for {{ month }} {{ year }}.</p>

{% if settings.EMAIL_MONTHLY_ACTIVITY_SUMMARY_INTRO %}
<p>{{ settings.EMAIL_MONTHLY_ACTIVITY_SUMMARY_INTRO }}</p>
{% endif %}
{% endblock %}

{% block content_class %}monthly-activity-summary{% endblock %}

{% block content %}
<h2>You personal activity</h2>
<p><span class="bullet"></span> Translations submitted: {{ user.data.submitted }} (vs. {{ user.previous_data.submitted }} month before)</p>
<p><span class="bullet"></span> Suggestions reviewed: {{ user.data.reviewed }} (vs. {{ user.previous_data.reviewed }} month before)</p>

{% for locale in locales %}
<h2 class="team-activity">Team activity for {{ locale.name }} ({{ locale.code }})</h2>

<p><span class="bullet"></span> New source strings added: {{ locale.data.added_source_strings }} (vs. {{ locale.previous_data.added_source_strings }} month before)</p>
<p><span class="bullet"></span> Translations submitted: {{ locale.data.submitted }} (vs. {{ locale.previous_data.submitted }} month before)</p>
<p><span class="bullet"></span> Suggestions reviewed: {{ locale.data.reviewed }} (vs. {{ locale.previous_data.reviewed }} month before)</p>

{{ list_contributors("New contributors", locale.contributors.new_contributors) }}
{{ list_contributors("Recently active managers", locale.contributors.active_managers) }}
{{ list_contributors("Recently active translators", locale.contributors.active_translators) }}
{{ list_contributors("Recently active contributors", locale.contributors.active_contributors) }}

<p class="completion"><span class="bullet"></span> Completion: {{ locale.state.completion }}% (vs. {{ locale.previous_state.completion }}% month before)</p>
<p><span class="bullet missing"></span> Strings with missing translations: <a href="{{ full_url('pontoon.translate', locale.code, 'all-projects', 'all-resources') }}?status=missing">{{ locale.state.missing_strings }}</a> (vs. {{ locale.previous_state.missing_strings }} month before)</p>
<p><span class="bullet unreviewed"></span> Unreviewed suggestions: <a href="{{ full_url('pontoon.translate', locale.code, 'all-projects', 'all-resources') }}?status=unreviewed">{{ locale.state.unreviewed_strings }}</a> (vs. {{ locale.previous_state.unreviewed_strings }} month before)</p>
<p><span class="bullet pretranslated"></span> Unreviewed pretranslations: <a href="{{ full_url('pontoon.translate', locale.code, 'all-projects', 'all-resources') }}?status=pretranslated">{{ locale.state.pretranslated_strings }}</a> (vs. {{ locale.previous_state.pretranslated_strings }} month before)</p>
{% endfor %}
{% endblock %}

{% block footer %}
If you no longer want to receive these activity summaries, you can turn off the “Monthly activity summary“ feature in
your <a href="{{ full_url('pontoon.contributors.settings') }}">Settings</a>.
{% endblock %}

{% macro list_contributors(label, contributors) %}
{% if contributors %}
<p>
    <span class="bullet"></span>
    {{ label }}:
    {% for contributor in contributors %}
    <a href="{{ full_url('pontoon.contributors.contributor.username', contributor.username) }}">
        <span class="name">{{ contributor.name_or_email }}</span></a>{% if not loop.last %}, {% endif %}
    {% endfor %}
</p>
{% endif %}
{% endmacro %}
