{% extends 'messaging/emails/base.html' %}

{% block title %}{{ subject }}{% endblock %}

{% block extend_css %}{% endblock %}

{% block header %}Hello.{% endblock %}

{% block subheader %}{% endblock %}

{% block content_class %}{% endblock %}

{% block content %}
<p>This is our final introductory email - so from here on out you won’t find us in your inbox (excluding essential account related communications) unless you choose to sign up for the future email updates described below.</p>

<p>We’d like to provide you with some additional resources that might be useful as you continue in your journey as a member of our localization community.</p>

<h2>Additional documentation</h2>

<p>For in-depth documentation on Mozilla localization, see our <a href="https://mozilla-l10n.github.io/localizer-documentation/index.html">Documentation for Mozilla localizers</a> which includes in depth explanations on topics such as:</p>

<ul>
    <li><a href="https://mozilla-l10n.github.io/localizer-documentation/community/l10n_community_roles.html">Community roles</a></li>
    <li>Specific <a href="https://mozilla-l10n.github.io/localizer-documentation/products/index.html">Mozilla product localization</a> (such as Firefox, Firefox for Android, etc.)</li>
    <li>Tools such as <a href="https://mozilla-l10n.github.io/localizer-documentation/tools/pontoon/index.html">Pontoon</a> and <a href="https://mozilla-l10n.github.io/localizer-documentation/tools/fluent/index.html">Fluent</a> (the advanced translation format used by Mozilla)</li>
</ul>

<h2>Pontoon Add-on</h2>

<p>You can use the Pontoon Add-on for <a href="https://addons.mozilla.org/firefox/addon/pontoon-tools/">Firefox</a> or <a href="https://chromewebstore.google.com/detail/pontoon-add-on/gnbfbnpjncpghhjmmhklfhcglbopagbb">Chrome</a> to be instantly notified of any Pontoon notifications right in your browser, as well as some helpful tools to help with proofreading, bug reporting, and fixing.</p>

<h2>Mozilla community participation guidelines</h2>

<p>As an active member of our community, we’d like you to be aware of the <a href="https://www.mozilla.org/en-US/about/governance/policies/participation/">Mozilla community participation guidelines</a> to ensure the wellbeing of all members of the community.</p>

<h2>Email settings</h2>

<p>Finally, if you’re interested in the latest updates, announcements about new Pontoon features, invitations to contributor events and more, be sure to enable “News and updates“ in your <a href="{{ full_url('pontoon.contributors.settings') }}">settings</a> so you can be the first to get notified.</p>

<p>Thanks,<br>
Pontoon Team</p>
{% endblock %}

{% block footer %}{% endblock %}
