@import '../../../../../pontoon/static/css/dark-theme.css';

.plural-selector ul {
  display: table;
  line-height: 22px;
  table-layout: fixed;
  width: 100%;
}

.plural-selector ul li {
  background: var(--grey-3);
  border: 1px solid var(--light-grey-1);
  border-bottom: none;
  border-left: none;
  display: table-cell;
  text-align: center;
}

.plural-selector ul li.active,
.plural-selector ul li:hover {
  background: var(--dark-grey-2);
}

.plural-selector ul li.active {
  border-bottom: none;
}

.plural-selector ul li button {
  background: none;
  border: none;
  color: var(--light-grey-6);
  cursor: pointer;
  display: block;
  font-weight: 300;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
}

.plural-selector ul li button sup {
  color: var(--light-green-1);
  font-size: 11px;
  font-weight: 400;
  padding-left: 1px;
}
