.translationform {
  background: var(--editor-form-background);
  line-height: 22px;
  padding: 10px 10px 0;
}

.translationform table {
  width: 100%;
}

.translationform td:first {
  width: calc(25% - 5px);
}

.translationform td:last-child {
  width: 75%;
}

.translationform label {
  background: transparent;
  border: 1px solid var(--translation-border);
  box-sizing: border-box;
  color: var(--light-grey-7);
  display: block;
  font-weight: normal;
  margin: 2px 5px 2px 0;
  padding: 1px 4px;
}

.translationform label > :not(:last-child)::after {
  content: '·';
  color: var(--status-translated-alt);
  padding: 0 3px;
}

.translationform label .stress {
  color: var(--status-translated-alt);
}

.translationform .accesskey-input {
  border: none;
  box-sizing: border-box;
  float: left;
  font-size: 14px;
  height: 24px;
  margin: 2px 3px 2px 0;
  text-align: center;
  width: 24px;
}

.translationform .accesskey-input:focus {
  outline: none;
}

.translationform .accesskeys {
  float: right;
  margin: 2px 0;
  width: calc(100% - 27px);
}

.translationform .accesskeys .key {
  border: 1px solid var(--light-grey-1);
  background: var(--grey-3);
  color: var(--white-1);
  cursor: pointer;
  display: inline-block;
  line-height: 22px;
  margin-right: 3px;
  padding: 0;
  text-align: center;
  vertical-align: top;
  width: 24px;
}

.translationform .accesskeys .key.active,
.translationform .accesskeys .key:hover:not(:disabled) {
  border-color: var(--status-translated);
}

.translationform .accesskeys .key:disabled {
  cursor: default;
}

.cm-editor {
  background: var(--editor-background);
  color: var(--editor-color);
  font-size: 14px;
  padding: 6px 0;
}

.cm-editor.cm-focused {
  outline: none;
}

.cm-editor .cm-scroller {
  font-family: inherit;
  line-height: 22px;
  padding: 0 8px 0 4px;
}

.cm-editor .cm-completionIcon {
  display: none;
}

.cm-editor .cm-tooltip {
  border: 1px solid var(--main-border-1);
  background-color: var(--black-3);
  padding: 10px 12px;
}

.cm-editor .cm-tooltip-autocomplete ul li {
  align-items: center;
  color: var(--light-grey-7);
  display: flex;
  font-size: 13px;
  height: 22px;
}

.cm-editor
  .cm-tooltip-autocomplete
  ul
  li
  .cm-completionLabel
  .cm-completionMatchedText {
  text-decoration: none;
  color: var(--search-color);
}

.cm-editor .cm-tooltip-autocomplete ul li[aria-selected] {
  background: var(--dark-grey-2);
  color: var(--white-1);
}

.singlefield .cm-content,
.singlefield .cm-gutter {
  min-height: calc(100px - 12px);
}

.translationform .cm-editor {
  margin: 2px 0;
  padding: 0;
}

.translationform .cm-scroller {
  padding: 0;
}

.translationform .cm-content {
  padding: 2px 0;
}

.editor input[readonly],
.editor .readonly .cm-editor {
  background: #c7cacf;
  cursor: default;
}

[data-script='Arabic'] .cm-editor {
  font-size: 15px;
}
