.translationform {
  line-height: 22px;
  padding: 10px;
}

.translationform table {
  width: 100%;
}

.translationform td:first {
  width: calc(25% - 5px);
}

.translationform td:last-child {
  width: 75%;
}

.translationform label {
  background: transparent;
  border: 1px solid var(--light-grey-1);
  box-sizing: border-box;
  color: var(--light-grey-7);
  display: block;
  font-weight: normal;
  margin: 2px 5px 2px 0;
  padding: 0 4px;
}

.translationform label > :not(:last-child)::after {
  content: '·';
  color: var(--light-green-1);
  padding: 0 3px;
}

.translationform label .stress {
  color: var(--light-green-1);
}

.translationform .accesskey-input {
  border: none;
  box-sizing: border-box;
  float: left;
  font-size: 14px;
  height: 24px;
  margin: 2px 3px 2px 0;
  text-align: center;
  width: 24px;
}

.translationform .accesskey-input:focus {
  outline: none;
}

.translationform .accesskeys {
  float: right;
  margin: 2px 0;
  width: calc(100% - 27px);
}

.translationform .accesskeys .key {
  border: 1px solid var(--light-grey-1);
  background: var(--grey-3);
  color: var(--white-1);
  cursor: pointer;
  display: inline-block;
  line-height: 22px;
  margin-right: 3px;
  padding: 0;
  text-align: center;
  vertical-align: top;
  width: 24px;
}

.translationform .accesskeys .key.active,
.translationform .accesskeys .key:hover:not(:disabled) {
  border-color: var(--light-green-1);
}

.translationform .accesskeys .key:disabled {
  cursor: default;
}

.cm-editor {
  background: white;
  color: var(--dark-grey-4);
  font-size: 14px;
  padding: 6px 8px 6px 4px;
}

.cm-editor .cm-scroller {
  font-family: inherit;
  line-height: 22px;
}

.singlefield .cm-content,
.singlefield .cm-gutter {
  min-height: calc(100px - 12px);
}

.translationform .cm-editor {
  margin: 2px 0;
  padding: 0;
}

.translationform .cm-content {
  padding: 2px 0;
}

.editor input[readonly],
.editor .readonly .cm-editor {
  background: #c7cacf;
  cursor: default;
}

[data-script='Arabic'] .cm-editor {
  font-size: 15px;
}
