.search-box {
    border: none;
    margin: 10px 5px;
    position: static;
}

.search-box input[type="search"] {
    background: #4D5967;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    color: #fff;
    float: left;
    font-size: 13px;
    font-weight: 300;
    line-height: 23px;
    padding: 7px 33px 8px 37px;
    width: 100%;
}

/* Remove highlight in Chrome */
.search-box input[type="search"]:focus {
    outline: none;
}

/* Remove cancel button in Chrome */
.search-box input[type=search]::-webkit-search-cancel-button {
    display: none;
}

/* Style placeholder color in Chrome */
.search-box input[type=search]::-webkit-input-placeholder {
    color: #AAAAAA;
}

.search-box > label {
    color: #aaa;
    font-size: 17px;
    left: auto;
    position: absolute;
    right: 16px;
    top: 19px;
}

.search-box .status.fa {
    position: absolute;
    left: 16px;
    top: 12px;
}

.search-box .all .status {
    left: 17px;
    top: 11px;
}

.search-box .status.fa::before {
    color: #4D5967;
    content: "";
}

.search-box .all .status::before {
    color: #AAAAAA;
    content: "";
    font-size: 16px;
}

.search-box .translated .status:before {
    color: #7BC876;
}

.search-box .fuzzy .status:before {
    color: #FED271;
}

.search-box .warnings .status:before {
    color: #FFA10F;
}

.search-box .errors .status:before {
    color: #F36;
}

.search-box .missing .status:before {
    color: #3F4752;
}

.search-box .unreviewed .status:before {
    color: #4FC4F6;
    content: "";
    font-size: 18px;
}

.search-box .unreviewed.selected .status:before,
.search-box .unreviewed .status:hover:before {
    font-size: 16px;
}

.search-box .unchanged .status:before {
    color: #AAAAAA;
    content: "";
}

.search-box .empty .status:before {
    color: #AAAAAA;
    content: "\f111";
    font-weight: 100;
}

.search-box .menu .empty.selected .status:before,
.search-box .menu .empty .status:hover:before {
    font-weight: 900;
}

.search-box .rejected .status:before {
    color: #AAAAAA;
    content: "";
}

.search-box .tag .status:before {
    color: #AAAAAA;
    content: "";
}

.search-box .time-range .status:before {
    color: #AAAAAA;
    content: "";
}

.search-box .author .status:before {
    color: #AAAAAA;
    content: "";
}

.search-box .missing:hover .status:before {
    color: #4D5967;
}
