@import '../../../../../pontoon/static/css/dark-theme.css';

.search-box {
  margin: 9px 5px 11px;
  position: static;
}

.search-box input[type='search'] {
  background: var(--dark-grey-1);
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  color: var(--white-1);
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
  padding: 5px 33px 5px 37px;
  width: 100%;
}

/* Remove highlight in Chrome */
.search-box input[type='search']:focus {
  outline: none;
}

/* Remove cancel button in Chrome */
.search-box input[type='search']::-webkit-search-cancel-button {
  display: none;
}

/* Style placeholder color in Chrome */
.search-box input[type='search']::-webkit-input-placeholder {
  color: var(--light-grey-7);
}

.search-box > label {
  color: var(--light-grey-7);
  cursor: text;
  font-size: 17px;
  left: auto;
  position: absolute;
  right: 16px;
  top: 16px;
}

.search-box .status.fa {
  position: absolute;
  left: 16px;
  top: 9px;
}

.search-box .all .status {
  left: 15px;
  top: 9px;
}

.search-box .status.fa::before {
  color: var(--light-grey-7);
  content: '';
}

.search-box .all .status::before {
  content: '';
  font-size: 16px;
}

.search-box .translated .status:before {
  color: var(--light-green-1);
}

.search-box .pretranslated .status:before {
  color: var(--neon-green);
}

.search-box .warnings .status:before {
  color: var(--orange-1);
}

.search-box .errors .status:before {
  color: var(--red-pink);
}

.search-box .missing .status:before {
  color: var(--blue-2);
}

.search-box .unreviewed .status:before {
  color: var(--light-blue);
  content: '';
  font-size: 18px;
}

.search-box .unreviewed.selected .status:before,
.search-box .unreviewed:not(.visibility-switch) .status:hover:before {
  font-size: 16px;
}

.search-box .list .status:before {
  content: '\f022';
}

.search-box .unchanged .status:before {
  content: '';
}

.search-box .empty .status:before {
  content: '\f111';
  font-weight: 100;
}

.search-box .fuzzy .status:before {
  content: '\f059';
}

.search-box .menu .empty.selected .status:before,
.search-box .menu .empty .status:hover:before {
  font-weight: 900;
}

.search-box .rejected .status:before {
  content: '';
}

.search-box .missing-without-unreviewed .status:before {
  content: '\f0eb';
  font-size: 18px;
  margin-left: 1px;
}

.filters-panel .menu .missing-without-unreviewed.selected .status::before,
.filters-panel .menu .missing-without-unreviewed .status:hover:before {
  font-size: 16px;
  margin-left: 0;
}

.search-box .tag .status:before {
  content: '';
}

.search-box .time-range .status:before {
  content: '';
}

.search-box .author .status:before {
  content: '';
}
