@import '../../../../../pontoon/static/css/dark-theme.css' .filters-panel .menu
  li.for-time-range button {
  background: transparent;
  border: none;
  color: var(--light-grey-8);
  float: right;
  font-weight: 300;
  margin: -3px 4px 0 0;
  padding: 1px 0;
}

.filters-panel .menu .for-time-range button.save-range {
  color: var(--light-green-1);
}

.filters-panel .menu li.for-time-range button:hover {
  color: var(--light-green-1);
}

.filters-panel .menu li.for-time-range button .fa {
  padding-right: 5px;
}

.filters-panel .menu li:not(.horizontal-separator).time-range {
  padding: 4px 0;
}

.filters-panel .menu li.time-range.editing {
  cursor: auto;
}

.filters-panel .menu li.time-range.editing:hover {
  background: transparent;
}

.filters-panel .menu li.time-range label {
  color: var(--white-4);
  float: left;
  font-size: 13px;
}

.filters-panel .menu li.time-range label.from {
  margin-left: 30px;
}

.filters-panel .menu li.time-range label.to {
  float: right;
  margin-right: 4px;
}

.filters-panel .menu li.time-range input {
  background: transparent;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: var(--light-grey-8);
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  height: 17px;
  margin-left: 5px;
  outline: none;
  vertical-align: baseline;
  width: 109px;
}

.filters-panel .menu li.time-range.editing input {
  border-color: var(--grey-2);
  cursor: auto;
}

.filters-panel .menu li.time-range input[disabled] {
  pointer-events: none;
}

.filters-panel .menu li.time-range input.error {
  color: var(--red-pink);
}

.filters-panel .menu li.time-range .to input {
  text-align: right;
}

.filters-panel .menu li.time-range .chart {
  height: 120px;
  margin: 0 auto;
  width: 306px;
}
