/* 

  PONTOON RESET: using #pontoon with every selector is need for bookmarklet

  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

#pontoon html, #pontoon body, #pontoon div, #pontoon span, #pontoon object, #pontoon iframe,
#pontoon h1, #pontoon h2, #pontoon h3, #pontoon h4, #pontoon h5, #pontoon h6, #pontoon p, #pontoon blockquote, #pontoon pre,
#pontoon abbr, #pontoon address, #pontoon cite, #pontoon code,
#pontoon del, #pontoon dfn, #pontoon em, #pontoon img, #pontoon ins, #pontoon kbd, #pontoon q, #pontoon samp,
#pontoon small, #pontoon strong, #pontoon sub, #pontoon sup, #pontoon var,
#pontoon b, #pontoon i,
#pontoon dl, #pontoon dt, #pontoon dd, #pontoon ol, #pontoon ul, #pontoon li,
#pontoon fieldset, #pontoon form, #pontoon label, #pontoon legend,
#pontoon table, #pontoon caption, #pontoon tbody, #pontoon tfoot, #pontoon thead, #pontoon tr, #pontoon th, #pontoon td,
#pontoon article, #pontoon aside, #pontoon canvas, #pontoon details, #pontoon figcaption, #pontoon figure, 
#pontoon footer, #pontoon header, #pontoon hgroup, #pontoon menu, #pontoon nav, #pontoon section, #pontoon summary,
#pontoon time, #pontoon mark, #pontoon audio, #pontoon video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

#pontoon article, #pontoon aside, #pontoon details, #pontoon figcaption, #pontoon figure,
#pontoon footer, #pontoon header, #pontoon hgroup, #pontoon menu, #pontoon nav, #pontoon section { 
    display:block;
}

#pontoon nav ul { list-style:none; }

#pontoon blockquote, #pontoon q { quotes:none; }

#pontoon blockquote:before, #pontoon blockquote:after,
#pontoon q:before, #pontoon q:after { content:''; content:none; }

#pontoon a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

#pontoon ins { background-color:#ff9; color:#000; text-decoration:none; }

#pontoon mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

#pontoon del { text-decoration: line-through; }

#pontoon abbr[title], #pontoon dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
#pontoon table { border-collapse:collapse; border-spacing:0; }

#pontoon hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

#pontoon input, #pontoon select { vertical-align:middle; }

/* END RESET CSS */