<!doctype html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 
    <title>{{ _('Pontoon') }}</title>
    <meta name="description" content="{{ _('Live web localization tool') }}">
    <meta name="author" content="{{ _('Mozilla') }}">
    
    <!-- Place favicon.ico in the root of domain and delete these reference -->
    <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico">

    {{ css('app') }}
  </head>
  
  <body id="pontoon">
    <!-- Frontpage -->
    <section id="intro">
      <div id="inner">

        <h1 id="title">{{ _('Pontoon') }}</h1>

        <form>
          <input name="url" class="url" type="text" placeholder="{{ _('Type URL and press Enter') }}" />
          <!-- Locale selector -->
          <div class="locale select">
            <div class="button confirm">
              <span class="flag"></span>
              <span class="language"></span>
            </div>
            <div class="button selector">
              <span class="handle"> &#9652;</span>
            </div>
            <ul class="menu">
              <li class="add"><span>{{ _('Add language') }}</span></li>
              <li><span class="flag de"></span><span class="language">{{ _('Deutsch') }}</span></li>
              <li><span class="flag fr"></span><span class="language">{{ _('Français') }}</span></li>
              <li><span class="flag hr"></span><span class="language">{{ _('Hrvatski') }}</span></li>
              <li><span class="flag pl"></span><span class="language">{{ _('Polski') }}</span></li>
              <li><span class="flag sl"></span><span class="language">{{ _('Slovenščina') }}</span></li>
            </ul>
          </div>
        </form>

        <p class="notification">...</p>

        <nav>
          <ul class="links">
            <li><a id="test-pilot" class="button" href="?url=http://localhost/pontoon/hooks/php/test/testpilot/&locale=de" title="Web client">{{ _('Demo') }}</a></li>
            <li><a href="https://wiki.mozilla.org/L10n:Pontoon" target="_blank" title="Learn">Wiki</a></li>
            <li><a href="https://github.com/mathjazz/pontoon" target="_blank" title="Hack">GitHub</a></li>
            <li><a href="https://twitter.com/#!/mozillapontoon" target="_blank" title="Follow">Twitter</a></li>
          </ul>
        </nav>

        <div id="install">
          <p>{{ _('To enable localization of your site with Pontoon, paste this code before the closing &lt;/head&gt; tag:') }}</p>
          <pre>
            <code></code>
          </pre>
        </div>

        <noscript>
          <p>{{ _('In order to use Pontoon, please <a href="http://www.activatejavascript.org/" target="_blank">enable JavaScript</a>.') }}</p>
        </noscript>

      </div>
    </section>
    
    <!-- Main UI -->
    <aside id="main">

      <header>
        <div class="container">
          <hr id="drag">
          <span id="logo">{{ _('Pontoon') }}</span>

          <!-- General project info -->
          <div id="info" class="select">
            <div class="selector"></div>
            <aside class="menu">
              <section class="brief">
                <h2>{{ _('Campaign Brief') }}</h2>
                <p></p>
              </section>
              <section class="locales">
                <h2>{{ _('Locales and Regions') }}</h2>
                <p></p>
              </section>
              <section class="audience">
                <h2>{{ _('Audience, Reach, and Impact') }}</h2>
                <p></p>
              </section>
              <section class="metrics">
                <h2>{{ _('Success Metrics') }}</h2>
                <p></p>
              </section>
            </aside>
          </div>

          <input class="url" type="text" />

          <!-- Locale selector -->
          <div class="locale select">
            <div class="button confirm">
              <span class="flag"></span>
              <span class="language"></span>
            </div>
            <div class="button selector">
              <span class="handle"> &#9652;</span>
            </div>
            <ul class="menu">
              <li class="add"><span>{{ _('Add language') }}</span></li>
              <li><span class="flag de"></span><span class="language">{{ _('Deutsch') }}</span></li>
              <li><span class="flag fr"></span><span class="language">{{ _('Français') }}</span></li>
              <li><span class="flag hr"></span><span class="language">{{ _('Hrvatski') }}</span></li>
              <li><span class="flag pl"></span><span class="language">{{ _('Polski') }}</span></li>
              <li><span class="flag sl"></span><span class="language">{{ _('Slovenščina') }}</span></li>
            </ul>
          </div>
          
          <span class="vertical-separator"></span>

          <!-- Page selector -->
          <div class="page select">
            <div class="button selector">
              <span class="title"></span>
              <span> &#9652;</span>
            </div>
            <ul class="menu"></ul>
          </div>

          <!-- Progress indicator -->
          <div id="progress"><span></span></div>
          <span id="progress-value"></span>
                  
          <div class="right">
            <span id="loading"></span>
            <img id="browserid" src="{{ MEDIA_URL }}img/sign_in_blue.png" alt="Sign in using BrowserID"></a>
            <button id="switch"></button>
          </div>

        </div>
      </header>

      <!-- Strings placeholder -->
      <div id="entitylist"></div>
    </aside>

    <!-- Website placeholder + iframe fix: prevent iframes from capturing the mousemove events during a drag -->
    <iframe id="source"></iframe>
    <div id="iframe-cover"></div>
      
    <!-- Javascript at the bottom for fast page loading -->
    
    <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js"%3E%3C/script%3E'))</script>
    
    <script src="https://browserid.org/include.js"></script>
    {{ js('app') }}

  </body>
</html>
