   <div class="locale select">
     <div class="button confirm">
       <span class="language"></span>
     </div>
     <div class="button selector">
       <span class="handle"> &#9652;</span>
     </div>
     <div class="menu">
       <input type="text" class="search">
       <div class="horizontal-separator"></div>
       <ul>
       <li><span class="language af">{{ _('Afrikaans') }}<span class="code">af</span></span></li>
       <li><span class="language af-ZA">{{ _('Afrikaans') }}<span class="code">af-ZA</span></span></li>
       <li><span class="language ak">{{ _('Akan') }}<span class="code">ak</span></span></li>
       <li><span class="language sq">{{ _('Albanian') }}<span class="code">sq</span></span></li>
       <li><span class="language sq-AL">{{ _('Albanian') }}<span class="code">sq-AL</span></span></li>
       <li><span class="language aln">{{ _('Albanian Gheg') }}<span class="code">aln</span></span></li>
       <li><span class="language am">{{ _('Amharic') }}<span class="code">am</span></span></li>
       <li><span class="language am-ET">{{ _('Amharic') }}<span class="code">am-ET</span></span></li>
       <li><span class="language ar">{{ _('Arabic') }}<span class="code">ar</span></span></li>
       <li><span class="language ar-SA">{{ _('Arabic') }}<span class="code">ar-SA</span></span></li>
       <li><span class="language an">{{ _('Aragonese') }}<span class="code">an</span></span></li>
       <li><span class="language hy">{{ _('Armenian') }}<span class="code">hy</span></span></li>
       <li><span class="language hy-AM">{{ _('Armenian') }}<span class="code">hy-AM</span></span></li>
       <li><span class="language as">{{ _('Assamese') }}<span class="code">as</span></span></li>
       <li><span class="language as-IN">{{ _('Assamese') }}<span class="code">as-IN</span></span></li>
       <li><span class="language ast">{{ _('Asturian') }}<span class="code">ast</span></span></li>
       <li><span class="language az">{{ _('Azerbaijani') }}<span class="code">az</span></span></li>
       <li><span class="language az-AZ">{{ _('Azerbaijani') }}<span class="code">az-AZ</span></span></li>
       <li><span class="language bal">{{ _('Balochi') }}<span class="code">bal</span></span></li>
       <li><span class="language eu">{{ _('Basque') }}<span class="code">eu</span></span></li>
       <li><span class="language eu-ES">{{ _('Basque') }}<span class="code">eu-ES</span></span></li>
       <li><span class="language be">{{ _('Belarusian') }}<span class="code">be</span></span></li>
       <li><span class="language be-BY">{{ _('Belarusian') }}<span class="code">be-BY</span></span></li>
       <li><span class="language be@tarask">{{ _('Belarusian') }}<span class="code">be@tarask</span></span></li>
       <li><span class="language bn">{{ _('Bengali') }}<span class="code">bn</span></span></li>
       <li><span class="language bn-BD">{{ _('Bengali') }}<span class="code">bn-BD</span></span></li>
       <li><span class="language bn-IN">{{ _('Bengali') }}<span class="code">bn-IN</span></span></li>
       <li><span class="language bs">{{ _('Bosnian') }}<span class="code">bs</span></span></li>
       <li><span class="language bs-BA">{{ _('Bosnian') }}<span class="code">bs-BA</span></span></li>
       <li><span class="language br">{{ _('Breton') }}<span class="code">br</span></span></li>
       <li><span class="language bg">{{ _('Bulgarian') }}<span class="code">bg</span></span></li>
       <li><span class="language bg-BG">{{ _('Bulgarian') }}<span class="code">bg-BG</span></span></li>
       <li><span class="language my">{{ _('Burmese') }}<span class="code">my</span></span></li>
       <li><span class="language my-MM">{{ _('Burmese') }}<span class="code">my-MM</span></span></li>
       <li><span class="language ca">{{ _('Catalan') }}<span class="code">ca</span></span></li>
       <li><span class="language ca-ES">{{ _('Catalan') }}<span class="code">ca-ES</span></span></li>
       <li><span class="language ca@valencia">{{ _('Catalan') }}<span class="code">ca@valencia</span></span></li>
       <li><span class="language hne">{{ _('Chhattisgarhi') }}<span class="code">hne</span></span></li>
       <li><span class="language zh">{{ _('Chinese') }}<span class="code">zh</span></span></li>
       <li><span class="language zh-CN">{{ _('Chinese') }}<span class="code">zh-CN</span></span></li>
       <li><span class="language zh-CN.GB2312">{{ _('Chinese') }}<span class="code">zh-CN.GB2312</span></span></li>
       <li><span class="language zh-HK">{{ _('Chinese') }}<span class="code">zh-HK</span></span></li>
       <li><span class="language zh-TW">{{ _('Chinese') }}<span class="code">zh-TW</span></span></li>
       <li><span class="language zh-TW.Big5">{{ _('Chinese') }}<span class="code">zh-TW.Big5</span></span></li>
       <li><span class="language kw">{{ _('Cornish') }}<span class="code">kw</span></span></li>
       <li><span class="language crh">{{ _('Crimean Turkish') }}<span class="code">crh</span></span></li>
       <li><span class="language hr">{{ _('Croatian') }}<span class="code">hr</span></span></li>
       <li><span class="language hr-HR">{{ _('Croatian') }}<span class="code">hr-HR</span></span></li>
       <li><span class="language cs">{{ _('Czech') }}<span class="code">cs</span></span></li>
       <li><span class="language cs-CZ">{{ _('Czech') }}<span class="code">cs-CZ</span></span></li>
       <li><span class="language da">{{ _('Danish') }}<span class="code">da</span></span></li>
       <li><span class="language da-DK">{{ _('Danish') }}<span class="code">da-DK</span></span></li>
       <li><span class="language nl">{{ _('Dutch') }}<span class="code">nl</span></span></li>
       <li><span class="language nl-BE">{{ _('Dutch') }}<span class="code">nl-BE</span></span></li>
       <li><span class="language nl-NL">{{ _('Dutch') }}<span class="code">nl-NL</span></span></li>
       <li><span class="language dz">{{ _('Dzongkha') }}<span class="code">dz</span></span></li>
       <li><span class="language dz-BT">{{ _('Dzongkha') }}<span class="code">dz-BT</span></span></li>
       <li><span class="language en">{{ _('English') }}<span class="code">en</span></span></li>
       <li><span class="language en-AU">{{ _('English') }}<span class="code">en-AU</span></span></li>
       <li><span class="language en-CA">{{ _('English') }}<span class="code">en-CA</span></span></li>
       <li><span class="language en-IE">{{ _('English') }}<span class="code">en-IE</span></span></li>
       <li><span class="language en-ZA">{{ _('English') }}<span class="code">en-ZA</span></span></li>
       <li><span class="language en-GB">{{ _('English') }}<span class="code">en-GB</span></span></li>
       <li><span class="language en-US">{{ _('English') }}<span class="code">en-US</span></span></li>
       <li><span class="language eo">{{ _('Esperanto') }}<span class="code">eo</span></span></li>
       <li><span class="language et">{{ _('Estonian') }}<span class="code">et</span></span></li>
       <li><span class="language et-EE">{{ _('Estonian') }}<span class="code">et-EE</span></span></li>
       <li><span class="language fo">{{ _('Faroese') }}<span class="code">fo</span></span></li>
       <li><span class="language fo-FO">{{ _('Faroese') }}<span class="code">fo-FO</span></span></li>
       <li><span class="language fil">{{ _('Filipino') }}<span class="code">fil</span></span></li>
       <li><span class="language fi">{{ _('Finnish') }}<span class="code">fi</span></span></li>
       <li><span class="language fi-FI">{{ _('Finnish') }}<span class="code">fi-FI</span></span></li>
       <li><span class="language frp">{{ _('Franco-Provençal') }}<span class="code">frp</span></span></li>
       <li><span class="language fr">{{ _('French') }}<span class="code">fr</span></span></li>
       <li><span class="language fr-CA">{{ _('French') }}<span class="code">fr-CA</span></span></li>
       <li><span class="language fr-FR">{{ _('French') }}<span class="code">fr-FR</span></span></li>
       <li><span class="language fr-CH">{{ _('French') }}<span class="code">fr-CH</span></span></li>
       <li><span class="language fur">{{ _('Friulian') }}<span class="code">fur</span></span></li>
       <li><span class="language gd">{{ _('Gaelic, Scottish') }}<span class="code">gd</span></span></li>
       <li><span class="language gl">{{ _('Galician') }}<span class="code">gl</span></span></li>
       <li><span class="language gl-ES">{{ _('Galician') }}<span class="code">gl-ES</span></span></li>
       <li><span class="language ka">{{ _('Georgian') }}<span class="code">ka</span></span></li>
       <li><span class="language ka-GE">{{ _('Georgian') }}<span class="code">ka-GE</span></span></li>
       <li><span class="language de">{{ _('German') }}<span class="code">de</span></span></li>
       <li><span class="language de-DE">{{ _('German') }}<span class="code">de-DE</span></span></li>
       <li><span class="language de-CH">{{ _('German') }}<span class="code">de-CH</span></span></li>
       <li><span class="language el">{{ _('Greek') }}<span class="code">el</span></span></li>
       <li><span class="language el-GR">{{ _('Greek') }}<span class="code">el-GR</span></span></li>
       <li><span class="language gu">{{ _('Gujarati') }}<span class="code">gu</span></span></li>
       <li><span class="language gu-IN">{{ _('Gujarati') }}<span class="code">gu-IN</span></span></li>
       <li><span class="language gun">{{ _('Gun') }}<span class="code">gun</span></span></li>
       <li><span class="language ht">{{ _('Haitian') }}<span class="code">ht</span></span></li>
       <li><span class="language ht-HT">{{ _('Haitian') }}<span class="code">ht-HT</span></span></li>
       <li><span class="language ha">{{ _('Hausa') }}<span class="code">ha</span></span></li>
       <li><span class="language he">{{ _('Hebrew') }}<span class="code">he</span></span></li>
       <li><span class="language he-IL">{{ _('Hebrew') }}<span class="code">he-IL</span></span></li>
       <li><span class="language hi">{{ _('Hindi') }}<span class="code">hi</span></span></li>
       <li><span class="language hi-IN">{{ _('Hindi') }}<span class="code">hi-IN</span></span></li>
       <li><span class="language hu">{{ _('Hungarian') }}<span class="code">hu</span></span></li>
       <li><span class="language hu-HU">{{ _('Hungarian') }}<span class="code">hu-HU</span></span></li>
       <li><span class="language is">{{ _('Icelandic') }}<span class="code">is</span></span></li>
       <li><span class="language is-IS">{{ _('Icelandic') }}<span class="code">is-IS</span></span></li>
       <li><span class="language ig">{{ _('Igbo') }}<span class="code">ig</span></span></li>
       <li><span class="language ilo">{{ _('Iloko') }}<span class="code">ilo</span></span></li>
       <li><span class="language id">{{ _('Indonesian') }}<span class="code">id</span></span></li>
       <li><span class="language id-ID">{{ _('Indonesian') }}<span class="code">id-ID</span></span></li>
       <li><span class="language ia">{{ _('Interlingua') }}<span class="code">ia</span></span></li>
       <li><span class="language ga">{{ _('Irish') }}<span class="code">ga</span></span></li>
       <li><span class="language ga-IE">{{ _('Irish') }}<span class="code">ga-IE</span></span></li>
       <li><span class="language it">{{ _('Italian') }}<span class="code">it</span></span></li>
       <li><span class="language it-IT">{{ _('Italian') }}<span class="code">it-IT</span></span></li>
       <li><span class="language ja">{{ _('Japanese') }}<span class="code">ja</span></span></li>
       <li><span class="language ja-JP">{{ _('Japanese') }}<span class="code">ja-JP</span></span></li>
       <li><span class="language jv">{{ _('Javanese') }}<span class="code">jv</span></span></li>
       <li><span class="language kn">{{ _('Kannada') }}<span class="code">kn</span></span></li>
       <li><span class="language kn-IN">{{ _('Kannada') }}<span class="code">kn-IN</span></span></li>
       <li><span class="language ks">{{ _('Kashmiri') }}<span class="code">ks</span></span></li>
       <li><span class="language ks-IN">{{ _('Kashmiri') }}<span class="code">ks-IN</span></span></li>
       <li><span class="language csb">{{ _('Kashubian') }}<span class="code">csb</span></span></li>
       <li><span class="language kk">{{ _('Kazakh') }}<span class="code">kk</span></span></li>
       <li><span class="language kk-KZ">{{ _('Kazakh') }}<span class="code">kk-KZ</span></span></li>
       <li><span class="language km">{{ _('Khmer') }}<span class="code">km</span></span></li>
       <li><span class="language km-KH">{{ _('Khmer') }}<span class="code">km-KH</span></span></li>
       <li><span class="language rw">{{ _('Kinyarwanda') }}<span class="code">rw</span></span></li>
       <li><span class="language ky">{{ _('Kirgyz') }}<span class="code">ky</span></span></li>
       <li><span class="language tlh">{{ _('Klingon') }}<span class="code">tlh</span></span></li>
       <li><span class="language ko">{{ _('Korean') }}<span class="code">ko</span></span></li>
       <li><span class="language ko-KR">{{ _('Korean') }}<span class="code">ko-KR</span></span></li>
       <li><span class="language ku">{{ _('Kurdish') }}<span class="code">ku</span></span></li>
       <li><span class="language ku-IQ">{{ _('Kurdish') }}<span class="code">ku-IQ</span></span></li>
       <li><span class="language lo">{{ _('Lao') }}<span class="code">lo</span></span></li>
       <li><span class="language lo-LA">{{ _('Lao') }}<span class="code">lo-LA</span></span></li>
       <li><span class="language la">{{ _('Latin') }}<span class="code">la</span></span></li>
       <li><span class="language lv">{{ _('Latvian') }}<span class="code">lv</span></span></li>
       <li><span class="language lv-LV">{{ _('Latvian') }}<span class="code">lv-LV</span></span></li>
       <li><span class="language li">{{ _('Limburgian') }}<span class="code">li</span></span></li>
       <li><span class="language ln">{{ _('Lingala') }}<span class="code">ln</span></span></li>
       <li><span class="language lt">{{ _('Lithuanian') }}<span class="code">lt</span></span></li>
       <li><span class="language lt-LT">{{ _('Lithuanian') }}<span class="code">lt-LT</span></span></li>
       <li><span class="language nds">{{ _('Low German') }}<span class="code">nds</span></span></li>
       <li><span class="language lb">{{ _('Luxembourgish') }}<span class="code">lb</span></span></li>
       <li><span class="language mk">{{ _('Macedonian') }}<span class="code">mk</span></span></li>
       <li><span class="language mk-MK">{{ _('Macedonian') }}<span class="code">mk-MK</span></span></li>
       <li><span class="language mai">{{ _('Maithili') }}<span class="code">mai</span></span></li>
       <li><span class="language mg">{{ _('Malagasy') }}<span class="code">mg</span></span></li>
       <li><span class="language ms">{{ _('Malay') }}<span class="code">ms</span></span></li>
       <li><span class="language ml">{{ _('Malayalam') }}<span class="code">ml</span></span></li>
       <li><span class="language ml-IN">{{ _('Malayalam') }}<span class="code">ml-IN</span></span></li>
       <li><span class="language ms-MY">{{ _('Malay') }}<span class="code">ms-MY</span></span></li>
       <li><span class="language mt">{{ _('Maltese') }}<span class="code">mt</span></span></li>
       <li><span class="language mt-MT">{{ _('Maltese') }}<span class="code">mt-MT</span></span></li>
       <li><span class="language mi">{{ _('Maori') }}<span class="code">mi</span></span></li>
       <li><span class="language arn">{{ _('Mapudungun') }}<span class="code">arn</span></span></li>
       <li><span class="language mr">{{ _('Marathi') }}<span class="code">mr</span></span></li>
       <li><span class="language mr-IN">{{ _('Marathi') }}<span class="code">mr-IN</span></span></li>
       <li><span class="language mn">{{ _('Mongolian') }}<span class="code">mn</span></span></li>
       <li><span class="language mn-MN">{{ _('Mongolian') }}<span class="code">mn-MN</span></span></li>
       <li><span class="language nah">{{ _('Nahuatl') }}<span class="code">nah</span></span></li>
       <li><span class="language nr">{{ _('Ndebele, South') }}<span class="code">nr</span></span></li>
       <li><span class="language nap">{{ _('Neapolitan') }}<span class="code">nap</span></span></li>
       <li><span class="language ne">{{ _('Nepali') }}<span class="code">ne</span></span></li>
       <li><span class="language ne-NP">{{ _('Nepali') }}<span class="code">ne-NP</span></span></li>
       <li><span class="language se">{{ _('Northern Sami') }}<span class="code">se</span></span></li>
       <li><span class="language nso">{{ _('Northern Sotho') }}<span class="code">nso</span></span></li>
       <li><span class="language no">{{ _('Norwegian') }}<span class="code">no</span></span></li>
       <li><span class="language nb">{{ _('Norwegian Bokmål') }}<span class="code">nb</span></span></li>
       <li><span class="language nb-NO">{{ _('Norwegian Bokmål') }}<span class="code">nb-NO</span></span></li>
       <li><span class="language no-NO">{{ _('Norwegian') }}<span class="code">no-NO</span></span></li>
       <li><span class="language nn">{{ _('Norwegian Nynorsk') }}<span class="code">nn</span></span></li>
       <li><span class="language nn-NO">{{ _('Norwegian Nynorsk') }}<span class="code">nn-NO</span></span></li>
       <li><span class="language oc">{{ _('Occitan') }}<span class="code">oc</span></span></li>
       <li><span class="language or">{{ _('Oriya') }}<span class="code">or</span></span></li>
       <li><span class="language or-IN">{{ _('Oriya') }}<span class="code">or-IN</span></span></li>
       <li><span class="language pa">{{ _('Panjabi') }}<span class="code">pa</span></span></li>
       <li><span class="language pa-IN">{{ _('Panjabi') }}<span class="code">pa-IN</span></span></li>
       <li><span class="language pap">{{ _('Papiamento') }}<span class="code">pap</span></span></li>
       <li><span class="language fa">{{ _('Persian') }}<span class="code">fa</span></span></li>
       <li><span class="language fa-IR">{{ _('Persian') }}<span class="code">fa-IR</span></span></li>
       <li><span class="language pms">{{ _('Piemontese') }}<span class="code">pms</span></span></li>
       <li><span class="language pl">{{ _('Polish') }}<span class="code">pl</span></span></li>
       <li><span class="language pl-PL">{{ _('Polish') }}<span class="code">pl-PL</span></span></li>
       <li><span class="language pt">{{ _('Portuguese') }}<span class="code">pt</span></span></li>
       <li><span class="language pt-BR">{{ _('Portuguese') }}<span class="code">pt-BR</span></span></li>
       <li><span class="language pt-PT">{{ _('Portuguese') }}<span class="code">pt-PT</span></span></li>
       <li><span class="language ps">{{ _('Pushto') }}<span class="code">ps</span></span></li>
       <li><span class="language ro">{{ _('Romanian') }}<span class="code">ro</span></span></li>
       <li><span class="language ro-RO">{{ _('Romanian') }}<span class="code">ro-RO</span></span></li>
       <li><span class="language rm">{{ _('Romansh') }}<span class="code">rm</span></span></li>
       <li><span class="language ru">{{ _('Russian') }}<span class="code">ru</span></span></li>
       <li><span class="language ru-RU">{{ _('Russian') }}<span class="code">ru-RU</span></span></li>
       <li><span class="language sm">{{ _('Samoan') }}<span class="code">sm</span></span></li>
       <li><span class="language sc">{{ _('Sardinian') }}<span class="code">sc</span></span></li>
       <li><span class="language sco">{{ _('Scots') }}<span class="code">sco</span></span></li>
       <li><span class="language sr">{{ _('Serbian') }}<span class="code">sr</span></span></li>
       <li><span class="language sr@latin">{{ _('Serbian') }}<span class="code">sr@latin</span></span></li>
       <li><span class="language sr-RS@latin">{{ _('Serbian') }}<span class="code">sr-RS@latin</span></span></li>
       <li><span class="language sr-RS">{{ _('Serbian') }}<span class="code">sr-RS</span></span></li>
       <li><span class="language sn">{{ _('Shona') }}<span class="code">sn</span></span></li>
       <li><span class="language si">{{ _('Sinhala') }}<span class="code">si</span></span></li>
       <li><span class="language si-LK">{{ _('Sinhala') }}<span class="code">si-LK</span></span></li>
       <li><span class="language sk">{{ _('Slovak') }}<span class="code">sk</span></span></li>
       <li><span class="language sk-SK">{{ _('Slovak') }}<span class="code">sk-SK</span></span></li>
       <li><span class="language sl">{{ _('Slovenian') }}<span class="code">sl</span></span></li>
       <li><span class="language sl-SI">{{ _('Slovenian') }}<span class="code">sl-SI</span></span></li>
       <li><span class="language so">{{ _('Somali') }}<span class="code">so</span></span></li>
       <li><span class="language son">{{ _('Songhay') }}<span class="code">son</span></span></li>
       <li><span class="language st">{{ _('Sotho, Southern') }}<span class="code">st</span></span></li>
       <li><span class="language st-ZA">{{ _('Sotho, Southern') }}<span class="code">st-ZA</span></span></li>
       <li><span class="language es-AR">{{ _('Spanish') }}<span class="code">es-AR</span></span></li>
       <li><span class="language es-BO">{{ _('Spanish') }}<span class="code">es-BO</span></span></li>
       <li><span class="language es">{{ _('Spanish') }}<span class="code">es</span></span></li>
       <li><span class="language es-CL">{{ _('Spanish') }}<span class="code">es-CL</span></span></li>
       <li><span class="language es-CO">{{ _('Spanish') }}<span class="code">es-CO</span></span></li>
       <li><span class="language es-CR">{{ _('Spanish') }}<span class="code">es-CR</span></span></li>
       <li><span class="language es-DO">{{ _('Spanish') }}<span class="code">es-DO</span></span></li>
       <li><span class="language es-EC">{{ _('Spanish') }}<span class="code">es-EC</span></span></li>
       <li><span class="language es-SV">{{ _('Spanish') }}<span class="code">es-SV</span></span></li>
       <li><span class="language es-MX">{{ _('Spanish') }}<span class="code">es-MX</span></span></li>
       <li><span class="language es-NI">{{ _('Spanish') }}<span class="code">es-NI</span></span></li>
       <li><span class="language es-PA">{{ _('Spanish') }}<span class="code">es-PA</span></span></li>
       <li><span class="language es-PY">{{ _('Spanish') }}<span class="code">es-PY</span></span></li>
       <li><span class="language es-PE">{{ _('Spanish') }}<span class="code">es-PE</span></span></li>
       <li><span class="language es-PR">{{ _('Spanish') }}<span class="code">es-PR</span></span></li>
       <li><span class="language es-ES">{{ _('Spanish') }}<span class="code">es-ES</span></span></li>
       <li><span class="language es-UY">{{ _('Spanish') }}<span class="code">es-UY</span></span></li>
       <li><span class="language es-VE">{{ _('Spanish') }}<span class="code">es-VE</span></span></li>
       <li><span class="language su">{{ _('Sundanese') }}<span class="code">su</span></span></li>
       <li><span class="language sw">{{ _('Swahili') }}<span class="code">sw</span></span></li>
       <li><span class="language sw-KE">{{ _('Swahili') }}<span class="code">sw-KE</span></span></li>
       <li><span class="language sv">{{ _('Swedish') }}<span class="code">sv</span></span></li>
       <li><span class="language sv-FI">{{ _('Swedish') }}<span class="code">sv-FI</span></span></li>
       <li><span class="language sv-SE">{{ _('Swedish') }}<span class="code">sv-SE</span></span></li>
       <li><span class="language tl">{{ _('Tagalog') }}<span class="code">tl</span></span></li>
       <li><span class="language tl-PH">{{ _('Tagalog') }}<span class="code">tl-PH</span></span></li>
       <li><span class="language tg">{{ _('Tajik') }}<span class="code">tg</span></span></li>
       <li><span class="language tg-TJ">{{ _('Tajik') }}<span class="code">tg-TJ</span></span></li>
       <li><span class="language ta">{{ _('Tamil') }}<span class="code">ta</span></span></li>
       <li><span class="language ta-IN">{{ _('Tamil') }}<span class="code">ta-IN</span></span></li>
       <li><span class="language ta-LK">{{ _('Tamil') }}<span class="code">ta-LK</span></span></li>
       <li><span class="language tt">{{ _('Tatar') }}<span class="code">tt</span></span></li>
       <li><span class="language te">{{ _('Telugu') }}<span class="code">te</span></span></li>
       <li><span class="language te-IN">{{ _('Telugu') }}<span class="code">te-IN</span></span></li>
       <li><span class="language th">{{ _('Thai') }}<span class="code">th</span></span></li>
       <li><span class="language th-TH">{{ _('Thai') }}<span class="code">th-TH</span></span></li>
       <li><span class="language bo">{{ _('Tibetan') }}<span class="code">bo</span></span></li>
       <li><span class="language bo-CN">{{ _('Tibetan') }}<span class="code">bo-CN</span></span></li>
       <li><span class="language ti">{{ _('Tigrinya') }}<span class="code">ti</span></span></li>
       <li><span class="language to">{{ _('Tongan') }}<span class="code">to</span></span></li>
       <li><span class="language tr">{{ _('Turkish') }}<span class="code">tr</span></span></li>
       <li><span class="language tr-TR">{{ _('Turkish') }}<span class="code">tr-TR</span></span></li>
       <li><span class="language tk">{{ _('Turkmen') }}<span class="code">tk</span></span></li>
       <li><span class="language ug">{{ _('Uighur') }}<span class="code">ug</span></span></li>
       <li><span class="language uk">{{ _('Ukrainian') }}<span class="code">uk</span></span></li>
       <li><span class="language uk-UA">{{ _('Ukrainian') }}<span class="code">uk-UA</span></span></li>
       <li><span class="language hsb">{{ _('Upper Sorbian') }}<span class="code">hsb</span></span></li>
       <li><span class="language ur">{{ _('Urdu') }}<span class="code">ur</span></span></li>
       <li><span class="language ur-PK">{{ _('Urdu') }}<span class="code">ur-PK</span></span></li>
       <li><span class="language uz">{{ _('Uzbek') }}<span class="code">uz</span></span></li>
       <li><span class="language ve">{{ _('Venda') }}<span class="code">ve</span></span></li>
       <li><span class="language vi">{{ _('Vietnamese') }}<span class="code">vi</span></span></li>
       <li><span class="language vi-VN">{{ _('Vietnamese') }}<span class="code">vi-VN</span></span></li>
       <li><span class="language vls">{{ _('Vlaams') }}<span class="code">vls</span></span></li>
       <li><span class="language wa">{{ _('Walloon') }}<span class="code">wa</span></span></li>
       <li><span class="language cy">{{ _('Welsh') }}<span class="code">cy</span></span></li>
       <li><span class="language cy-GB">{{ _('Welsh') }}<span class="code">cy-GB</span></span></li>
       <li><span class="language fy">{{ _('Western Frisian') }}<span class="code">fy</span></span></li>
       <li><span class="language fy-NL">{{ _('Western Frisian') }}<span class="code">fy-NL</span></span></li>
       <li><span class="language wo">{{ _('Wolof') }}<span class="code">wo</span></span></li>
       <li><span class="language wo-SN">{{ _('Wolof') }}<span class="code">wo-SN</span></span></li>
       <li><span class="language xh">{{ _('Xhosa') }}<span class="code">xh</span></span></li>
       <li><span class="language yi">{{ _('Yiddish') }}<span class="code">yi</span></span></li>
       <li><span class="language yo">{{ _('Yoruba') }}<span class="code">yo</span></span></li>
       <li><span class="language zu">{{ _('Zulu') }}<span class="code">zu</span></span></li>
       <li><span class="language zu-ZA">{{ _('Zulu') }}<span class="code">zu-ZA</span></span></li>

       <li class="no-match">No results match "<span></span>"</li>
       </ul>
     </div>
   </div>
