   <div class="locale select">
     <div class="button confirm">
       <span class="language"></span>
     </div>
     <div class="button selector">
       <span class="handle"> &#9652;</span>
     </div>
     <div class="menu">
       <input type="text" class="search">
       <div class="horizontal-separator"></div>
       <ul>
       <li><span class="language af">{{ _('Afrikaans (af)') }}</span></li>
       <li><span class="language af-ZA">{{ _('Afrikaans (af-ZA)') }}</span></li>
       <li><span class="language ak">{{ _('Akan (ak)') }}</span></li>
       <li><span class="language sq">{{ _('Albanian (sq)') }}</span></li>
       <li><span class="language sq-AL">{{ _('Albanian (sq-AL)') }}</span></li>
       <li><span class="language aln">{{ _('Albanian Gheg (aln)') }}</span></li>
       <li><span class="language am">{{ _('Amharic (am)') }}</span></li>
       <li><span class="language am-ET">{{ _('Amharic (am-ET)') }}</span></li>
       <li><span class="language ar">{{ _('Arabic (ar)') }}</span></li>
       <li><span class="language ar-SA">{{ _('Arabic (ar-SA)') }}</span></li>
       <li><span class="language an">{{ _('Aragonese (an)') }}</span></li>
       <li><span class="language hy">{{ _('Armenian (hy)') }}</span></li>
       <li><span class="language hy-AM">{{ _('Armenian (hy-AM)') }}</span></li>
       <li><span class="language as">{{ _('Assamese (as)') }}</span></li>
       <li><span class="language as-IN">{{ _('Assamese (as-IN)') }}</span></li>
       <li><span class="language ast">{{ _('Asturian (ast)') }}</span></li>
       <li><span class="language az">{{ _('Azerbaijani (az)') }}</span></li>
       <li><span class="language az-AZ">{{ _('Azerbaijani (az-AZ)') }}</span></li>
       <li><span class="language bal">{{ _('Balochi (bal)') }}</span></li>
       <li><span class="language eu">{{ _('Basque (eu)') }}</span></li>
       <li><span class="language eu-ES">{{ _('Basque (eu-ES)') }}</span></li>
       <li><span class="language be">{{ _('Belarusian (be)') }}</span></li>
       <li><span class="language be-BY">{{ _('Belarusian (be-BY)') }}</span></li>
       <li><span class="language be@tarask">{{ _('Belarusian (be@tarask)') }}</span></li>
       <li><span class="language bn">{{ _('Bengali (bn)') }}</span></li>
       <li><span class="language bn-BD">{{ _('Bengali (bn-BD)') }}</span></li>
       <li><span class="language bn-IN">{{ _('Bengali (bn-IN)') }}</span></li>
       <li><span class="language bs">{{ _('Bosnian (bs)') }}</span></li>
       <li><span class="language bs-BA">{{ _('Bosnian (bs-BA)') }}</span></li>
       <li><span class="language br">{{ _('Breton (br)') }}</span></li>
       <li><span class="language bg">{{ _('Bulgarian (bg)') }}</span></li>
       <li><span class="language bg-BG">{{ _('Bulgarian (bg-BG)') }}</span></li>
       <li><span class="language my">{{ _('Burmese (my)') }}</span></li>
       <li><span class="language my-MM">{{ _('Burmese (my-MM)') }}</span></li>
       <li><span class="language ca">{{ _('Catalan (ca)') }}</span></li>
       <li><span class="language ca-ES">{{ _('Catalan (ca-ES)') }}</span></li>
       <li><span class="language ca@valencia">{{ _('Catalan (ca@valencia)') }}</span></li>
       <li><span class="language hne">{{ _('Chhattisgarhi (hne)') }}</span></li>
       <li><span class="language zh">{{ _('Chinese (zh)') }}</span></li>
       <li><span class="language zh-CN">{{ _('Chinese (zh-CN)') }}</span></li>
       <li><span class="language zh-CN.GB2312">{{ _('Chinese (zh-CN.GB2312)') }}</span></li>
       <li><span class="language zh-HK">{{ _('Chinese (zh-HK)') }}</span></li>
       <li><span class="language zh-TW">{{ _('Chinese (zh-TW)') }}</span></li>
       <li><span class="language zh-TW.Big5">{{ _('Chinese (zh-TW.Big5)') }}</span></li>
       <li><span class="language kw">{{ _('Cornish (kw)') }}</span></li>
       <li><span class="language crh">{{ _('Crimean Turkish (crh)') }}</span></li>
       <li><span class="language hr">{{ _('Croatian (hr)') }}</span></li>
       <li><span class="language hr-HR">{{ _('Croatian (hr-HR)') }}</span></li>
       <li><span class="language cs">{{ _('Czech (cs)') }}</span></li>
       <li><span class="language cs-CZ">{{ _('Czech (cs-CZ)') }}</span></li>
       <li><span class="language da">{{ _('Danish (da)') }}</span></li>
       <li><span class="language da-DK">{{ _('Danish (da-DK)') }}</span></li>
       <li><span class="language nl">{{ _('Dutch (nl)') }}</span></li>
       <li><span class="language nl-BE">{{ _('Dutch (nl-BE)') }}</span></li>
       <li><span class="language nl-NL">{{ _('Dutch (nl-NL)') }}</span></li>
       <li><span class="language dz">{{ _('Dzongkha (dz)') }}</span></li>
       <li><span class="language dz-BT">{{ _('Dzongkha (dz-BT)') }}</span></li>
       <li><span class="language en">{{ _('English (en)') }}</span></li>
       <li><span class="language en-AU">{{ _('English (en-AU)') }}</span></li>
       <li><span class="language en-CA">{{ _('English (en-CA)') }}</span></li>
       <li><span class="language en-IE">{{ _('English (en-IE)') }}</span></li>
       <li><span class="language en-ZA">{{ _('English (en-ZA)') }}</span></li>
       <li><span class="language en-GB">{{ _('English (en-GB)') }}</span></li>
       <li><span class="language en-US">{{ _('English (en-US)') }}</span></li>
       <li><span class="language eo">{{ _('Esperanto (eo)') }}</span></li>
       <li><span class="language et">{{ _('Estonian (et)') }}</span></li>
       <li><span class="language et-EE">{{ _('Estonian (et-EE)') }}</span></li>
       <li><span class="language fo">{{ _('Faroese (fo)') }}</span></li>
       <li><span class="language fo-FO">{{ _('Faroese (fo-FO)') }}</span></li>
       <li><span class="language fil">{{ _('Filipino (fil)') }}</span></li>
       <li><span class="language fi">{{ _('Finnish (fi)') }}</span></li>
       <li><span class="language fi-FI">{{ _('Finnish (fi-FI)') }}</span></li>
       <li><span class="language frp">{{ _('Franco-Provençal (frp)') }}</span></li>
       <li><span class="language fr">{{ _('French (fr)') }}</span></li>
       <li><span class="language fr-CA">{{ _('French (fr-CA)') }}</span></li>
       <li><span class="language fr-FR">{{ _('French (fr-FR)') }}</span></li>
       <li><span class="language fr-CH">{{ _('French (fr-CH)') }}</span></li>
       <li><span class="language fur">{{ _('Friulian (fur)') }}</span></li>
       <li><span class="language gd">{{ _('Gaelic, Scottish (gd)') }}</span></li>
       <li><span class="language gl">{{ _('Galician (gl)') }}</span></li>
       <li><span class="language gl-ES">{{ _('Galician (gl-ES)') }}</span></li>
       <li><span class="language ka">{{ _('Georgian (ka)') }}</span></li>
       <li><span class="language ka-GE">{{ _('Georgian (ka-GE)') }}</span></li>
       <li><span class="language de">{{ _('German (de)') }}</span></li>
       <li><span class="language de-DE">{{ _('German (de-DE)') }}</span></li>
       <li><span class="language de-CH">{{ _('German (de-CH)') }}</span></li>
       <li><span class="language el">{{ _('Greek (el)') }}</span></li>
       <li><span class="language el-GR">{{ _('Greek (el-GR)') }}</span></li>
       <li><span class="language gu">{{ _('Gujarati (gu)') }}</span></li>
       <li><span class="language gu-IN">{{ _('Gujarati (gu-IN)') }}</span></li>
       <li><span class="language gun">{{ _('Gun (gun)') }}</span></li>
       <li><span class="language ht">{{ _('Haitian (ht)') }}</span></li>
       <li><span class="language ht-HT">{{ _('Haitian (ht-HT)') }}</span></li>
       <li><span class="language ha">{{ _('Hausa (ha)') }}</span></li>
       <li><span class="language he">{{ _('Hebrew (he)') }}</span></li>
       <li><span class="language he-IL">{{ _('Hebrew (he-IL)') }}</span></li>
       <li><span class="language hi">{{ _('Hindi (hi)') }}</span></li>
       <li><span class="language hi-IN">{{ _('Hindi (hi-IN)') }}</span></li>
       <li><span class="language hu">{{ _('Hungarian (hu)') }}</span></li>
       <li><span class="language hu-HU">{{ _('Hungarian (hu-HU)') }}</span></li>
       <li><span class="language is">{{ _('Icelandic (is)') }}</span></li>
       <li><span class="language is-IS">{{ _('Icelandic (is-IS)') }}</span></li>
       <li><span class="language ig">{{ _('Igbo (ig)') }}</span></li>
       <li><span class="language ilo">{{ _('Iloko (ilo)') }}</span></li>
       <li><span class="language id">{{ _('Indonesian (id)') }}</span></li>
       <li><span class="language id-ID">{{ _('Indonesian (id-ID)') }}</span></li>
       <li><span class="language ia">{{ _('Interlingua (ia)') }}</span></li>
       <li><span class="language ga">{{ _('Irish (ga)') }}</span></li>
       <li><span class="language ga-IE">{{ _('Irish (ga-IE)') }}</span></li>
       <li><span class="language it">{{ _('Italian (it)') }}</span></li>
       <li><span class="language it-IT">{{ _('Italian (it-IT)') }}</span></li>
       <li><span class="language ja">{{ _('Japanese (ja)') }}</span></li>
       <li><span class="language ja-JP">{{ _('Japanese (ja-JP)') }}</span></li>
       <li><span class="language jv">{{ _('Javanese (jv)') }}</span></li>
       <li><span class="language kn">{{ _('Kannada (kn)') }}</span></li>
       <li><span class="language kn-IN">{{ _('Kannada (kn-IN)') }}</span></li>
       <li><span class="language ks">{{ _('Kashmiri (ks)') }}</span></li>
       <li><span class="language ks-IN">{{ _('Kashmiri (ks-IN)') }}</span></li>
       <li><span class="language csb">{{ _('Kashubian (csb)') }}</span></li>
       <li><span class="language kk">{{ _('Kazakh (kk)') }}</span></li>
       <li><span class="language kk-KZ">{{ _('Kazakh (kk-KZ)') }}</span></li>
       <li><span class="language km">{{ _('Khmer (km)') }}</span></li>
       <li><span class="language km-KH">{{ _('Khmer (km-KH)') }}</span></li>
       <li><span class="language rw">{{ _('Kinyarwanda (rw)') }}</span></li>
       <li><span class="language ky">{{ _('Kirgyz (ky)') }}</span></li>
       <li><span class="language tlh">{{ _('Klingon (tlh)') }}</span></li>
       <li><span class="language ko">{{ _('Korean (ko)') }}</span></li>
       <li><span class="language ko-KR">{{ _('Korean (ko-KR)') }}</span></li>
       <li><span class="language ku">{{ _('Kurdish (ku)') }}</span></li>
       <li><span class="language ku-IQ">{{ _('Kurdish (ku-IQ)') }}</span></li>
       <li><span class="language lo">{{ _('Lao (lo)') }}</span></li>
       <li><span class="language lo-LA">{{ _('Lao (lo-LA)') }}</span></li>
       <li><span class="language la">{{ _('Latin (la)') }}</span></li>
       <li><span class="language lv">{{ _('Latvian (lv)') }}</span></li>
       <li><span class="language lv-LV">{{ _('Latvian (lv-LV)') }}</span></li>
       <li><span class="language li">{{ _('Limburgian (li)') }}</span></li>
       <li><span class="language ln">{{ _('Lingala (ln)') }}</span></li>
       <li><span class="language lt">{{ _('Lithuanian (lt)') }}</span></li>
       <li><span class="language lt-LT">{{ _('Lithuanian (lt-LT)') }}</span></li>
       <li><span class="language nds">{{ _('Low German (nds)') }}</span></li>
       <li><span class="language lb">{{ _('Luxembourgish (lb)') }}</span></li>
       <li><span class="language mk">{{ _('Macedonian (mk)') }}</span></li>
       <li><span class="language mk-MK">{{ _('Macedonian (mk-MK)') }}</span></li>
       <li><span class="language mai">{{ _('Maithili (mai)') }}</span></li>
       <li><span class="language mg">{{ _('Malagasy (mg)') }}</span></li>
       <li><span class="language ms">{{ _('Malay (ms)') }}</span></li>
       <li><span class="language ml">{{ _('Malayalam (ml)') }}</span></li>
       <li><span class="language ml-IN">{{ _('Malayalam (ml-IN)') }}</span></li>
       <li><span class="language ms-MY">{{ _('Malay (ms-MY)') }}</span></li>
       <li><span class="language mt">{{ _('Maltese (mt)') }}</span></li>
       <li><span class="language mt-MT">{{ _('Maltese (mt-MT)') }}</span></li>
       <li><span class="language mi">{{ _('Maori (mi)') }}</span></li>
       <li><span class="language arn">{{ _('Mapudungun (arn)') }}</span></li>
       <li><span class="language mr">{{ _('Marathi (mr)') }}</span></li>
       <li><span class="language mr-IN">{{ _('Marathi (mr-IN)') }}</span></li>
       <li><span class="language mn">{{ _('Mongolian (mn)') }}</span></li>
       <li><span class="language mn-MN">{{ _('Mongolian (mn-MN)') }}</span></li>
       <li><span class="language nah">{{ _('Nahuatl (nah)') }}</span></li>
       <li><span class="language nr">{{ _('Ndebele, South (nr)') }}</span></li>
       <li><span class="language nap">{{ _('Neapolitan (nap)') }}</span></li>
       <li><span class="language ne">{{ _('Nepali (ne)') }}</span></li>
       <li><span class="language ne-NP">{{ _('Nepali (ne-NP)') }}</span></li>
       <li><span class="language se">{{ _('Northern Sami (se)') }}</span></li>
       <li><span class="language nso">{{ _('Northern Sotho (nso)') }}</span></li>
       <li><span class="language no">{{ _('Norwegian (no)') }}</span></li>
       <li><span class="language nb">{{ _('Norwegian Bokmål (nb)') }}</span></li>
       <li><span class="language nb-NO">{{ _('Norwegian Bokmål (nb-NO)') }}</span></li>
       <li><span class="language no-NO">{{ _('Norwegian (no-NO)') }}</span></li>
       <li><span class="language nn">{{ _('Norwegian Nynorsk (nn)') }}</span></li>
       <li><span class="language nn-NO">{{ _('Norwegian Nynorsk (nn-NO)') }}</span></li>
       <li><span class="language oc">{{ _('Occitan (oc)') }}</span></li>
       <li><span class="language or">{{ _('Oriya (or)') }}</span></li>
       <li><span class="language or-IN">{{ _('Oriya (or-IN)') }}</span></li>
       <li><span class="language pa">{{ _('Panjabi (pa)') }}</span></li>
       <li><span class="language pa-IN">{{ _('Panjabi (pa-IN)') }}</span></li>
       <li><span class="language pap">{{ _('Papiamento (pap)') }}</span></li>
       <li><span class="language fa">{{ _('Persian (fa)') }}</span></li>
       <li><span class="language fa-IR">{{ _('Persian (fa-IR)') }}</span></li>
       <li><span class="language pms">{{ _('Piemontese (pms)') }}</span></li>
       <li><span class="language pl">{{ _('Polish (pl)') }}</span></li>
       <li><span class="language pl-PL">{{ _('Polish (pl-PL)') }}</span></li>
       <li><span class="language pt">{{ _('Portuguese (pt)') }}</span></li>
       <li><span class="language pt-BR">{{ _('Portuguese (pt-BR)') }}</span></li>
       <li><span class="language pt-PT">{{ _('Portuguese (pt-PT)') }}</span></li>
       <li><span class="language ps">{{ _('Pushto (ps)') }}</span></li>
       <li><span class="language ro">{{ _('Romanian (ro)') }}</span></li>
       <li><span class="language ro-RO">{{ _('Romanian (ro-RO)') }}</span></li>
       <li><span class="language rm">{{ _('Romansh (rm)') }}</span></li>
       <li><span class="language ru">{{ _('Russian (ru)') }}</span></li>
       <li><span class="language ru-RU">{{ _('Russian (ru-RU)') }}</span></li>
       <li><span class="language sm">{{ _('Samoan (sm)') }}</span></li>
       <li><span class="language sc">{{ _('Sardinian (sc)') }}</span></li>
       <li><span class="language sco">{{ _('Scots (sco)') }}</span></li>
       <li><span class="language sr">{{ _('Serbian (sr)') }}</span></li>
       <li><span class="language sr@latin">{{ _('Serbian (sr@latin)') }}</span></li>
       <li><span class="language sr-RS@latin">{{ _('Serbian (sr-RS@latin)') }}</span></li>
       <li><span class="language sr-RS">{{ _('Serbian (sr-RS)') }}</span></li>
       <li><span class="language sn">{{ _('Shona (sn)') }}</span></li>
       <li><span class="language si">{{ _('Sinhala (si)') }}</span></li>
       <li><span class="language si-LK">{{ _('Sinhala (si-LK)') }}</span></li>
       <li><span class="language sk">{{ _('Slovak (sk)') }}</span></li>
       <li><span class="language sk-SK">{{ _('Slovak (sk-SK)') }}</span></li>
       <li><span class="language sl">{{ _('Slovenian (sl)') }}</span></li>
       <li><span class="language sl-SI">{{ _('Slovenian (sl-SI)') }}</span></li>
       <li><span class="language so">{{ _('Somali (so)') }}</span></li>
       <li><span class="language son">{{ _('Songhay (son)') }}</span></li>
       <li><span class="language st">{{ _('Sotho, Southern (st)') }}</span></li>
       <li><span class="language st-ZA">{{ _('Sotho, Southern (st-ZA)') }}</span></li>
       <li><span class="language es-AR">{{ _('Spanish (es-AR)') }}</span></li>
       <li><span class="language es-BO">{{ _('Spanish (es-BO)') }}</span></li>
       <li><span class="language es">{{ _('Spanish (es)') }}</span></li>
       <li><span class="language es-CL">{{ _('Spanish (es-CL)') }}</span></li>
       <li><span class="language es-CO">{{ _('Spanish (es-CO)') }}</span></li>
       <li><span class="language es-CR">{{ _('Spanish (es-CR)') }}</span></li>
       <li><span class="language es-DO">{{ _('Spanish (es-DO)') }}</span></li>
       <li><span class="language es-EC">{{ _('Spanish (es-EC)') }}</span></li>
       <li><span class="language es-SV">{{ _('Spanish (es-SV)') }}</span></li>
       <li><span class="language es-MX">{{ _('Spanish (es-MX)') }}</span></li>
       <li><span class="language es-NI">{{ _('Spanish (es-NI)') }}</span></li>
       <li><span class="language es-PA">{{ _('Spanish (es-PA)') }}</span></li>
       <li><span class="language es-PY">{{ _('Spanish (es-PY)') }}</span></li>
       <li><span class="language es-PE">{{ _('Spanish (es-PE)') }}</span></li>
       <li><span class="language es-PR">{{ _('Spanish (es-PR)') }}</span></li>
       <li><span class="language es-ES">{{ _('Spanish (es-ES)') }}</span></li>
       <li><span class="language es-UY">{{ _('Spanish (es-UY)') }}</span></li>
       <li><span class="language es-VE">{{ _('Spanish (es-VE)') }}</span></li>
       <li><span class="language su">{{ _('Sundanese (su)') }}</span></li>
       <li><span class="language sw">{{ _('Swahili (sw)') }}</span></li>
       <li><span class="language sw-KE">{{ _('Swahili (sw-KE)') }}</span></li>
       <li><span class="language sv">{{ _('Swedish (sv)') }}</span></li>
       <li><span class="language sv-FI">{{ _('Swedish (sv-FI)') }}</span></li>
       <li><span class="language sv-SE">{{ _('Swedish (sv-SE)') }}</span></li>
       <li><span class="language tl">{{ _('Tagalog (tl)') }}</span></li>
       <li><span class="language tl-PH">{{ _('Tagalog (tl-PH)') }}</span></li>
       <li><span class="language tg">{{ _('Tajik (tg)') }}</span></li>
       <li><span class="language tg-TJ">{{ _('Tajik (tg-TJ)') }}</span></li>
       <li><span class="language ta">{{ _('Tamil (ta)') }}</span></li>
       <li><span class="language ta-IN">{{ _('Tamil (ta-IN)') }}</span></li>
       <li><span class="language ta-LK">{{ _('Tamil (ta-LK)') }}</span></li>
       <li><span class="language tt">{{ _('Tatar (tt)') }}</span></li>
       <li><span class="language te">{{ _('Telugu (te)') }}</span></li>
       <li><span class="language te-IN">{{ _('Telugu (te-IN)') }}</span></li>
       <li><span class="language th">{{ _('Thai (th)') }}</span></li>
       <li><span class="language th-TH">{{ _('Thai (th-TH)') }}</span></li>
       <li><span class="language bo">{{ _('Tibetan (bo)') }}</span></li>
       <li><span class="language bo-CN">{{ _('Tibetan (bo-CN)') }}</span></li>
       <li><span class="language ti">{{ _('Tigrinya (ti)') }}</span></li>
       <li><span class="language to">{{ _('Tongan (to)') }}</span></li>
       <li><span class="language tr">{{ _('Turkish (tr)') }}</span></li>
       <li><span class="language tr-TR">{{ _('Turkish (tr-TR)') }}</span></li>
       <li><span class="language tk">{{ _('Turkmen (tk)') }}</span></li>
       <li><span class="language ug">{{ _('Uighur (ug)') }}</span></li>
       <li><span class="language uk">{{ _('Ukrainian (uk)') }}</span></li>
       <li><span class="language uk-UA">{{ _('Ukrainian (uk-UA)') }}</span></li>
       <li><span class="language hsb">{{ _('Upper Sorbian (hsb)') }}</span></li>
       <li><span class="language ur">{{ _('Urdu (ur)') }}</span></li>
       <li><span class="language ur-PK">{{ _('Urdu (ur-PK)') }}</span></li>
       <li><span class="language uz">{{ _('Uzbek (uz)') }}</span></li>
       <li><span class="language ve">{{ _('Venda (ve)') }}</span></li>
       <li><span class="language vi">{{ _('Vietnamese (vi)') }}</span></li>
       <li><span class="language vi-VN">{{ _('Vietnamese (vi-VN)') }}</span></li>
       <li><span class="language vls">{{ _('Vlaams (vls)') }}</span></li>
       <li><span class="language wa">{{ _('Walloon (wa)') }}</span></li>
       <li><span class="language cy">{{ _('Welsh (cy)') }}</span></li>
       <li><span class="language cy-GB">{{ _('Welsh (cy-GB)') }}</span></li>
       <li><span class="language fy">{{ _('Western Frisian (fy)') }}</span></li>
       <li><span class="language fy-NL">{{ _('Western Frisian (fy-NL)') }}</span></li>
       <li><span class="language wo">{{ _('Wolof (wo)') }}</span></li>
       <li><span class="language wo-SN">{{ _('Wolof (wo-SN)') }}</span></li>
       <li><span class="language xh">{{ _('Xhosa (xh)') }}</span></li>
       <li><span class="language yi">{{ _('Yiddish (yi)') }}</span></li>
       <li><span class="language yo">{{ _('Yoruba (yo)') }}</span></li>
       <li><span class="language zu">{{ _('Zulu (zu)') }}</span></li>
       <li><span class="language zu-ZA">{{ _('Zulu (zu-ZA)') }}</span></li>
       </ul>
     </div>
   </div>
