   <div class="locale select">
     <div class="button confirm">
       <span class="language"></span>
     </div>
     <div class="button selector">
       <span class="handle"> &#9652;</span>
     </div>
     <ul class="menu">
       <li><span class="language ach">{{ _('Acholi') }}</span></li>
       <li><span class="language af">{{ _('Afrikaans') }}</span></li>
       <li><span class="language ak">{{ _('Akan') }}</span></li>
       <li><span class="language sq">{{ _('Albanian') }}</span></li>
       <li><span class="language ar">{{ _('Arabic') }}</span></li>
       <li><span class="language hy-AM">{{ _('Armenian') }}</span></li>
       <li><span class="language as">{{ _('Assamese') }}</span></li>
       <li><span class="language ast">{{ _('Asturian') }}</span></li>
       <li><span class="language eu">{{ _('Basque') }}</span></li>
       <li><span class="language be">{{ _('Belarusian') }}</span></li>
       <li><span class="language bn-BD">{{ _('Bengali (Bangladesh)') }}</span></li>
       <li><span class="language bn-IN">{{ _('Bengali (India)') }}</span></li>
       <li><span class="language bs">{{ _('Bosnian') }}</span></li>
       <li><span class="language br">{{ _('Breton') }}</span></li>
       <li><span class="language bg">{{ _('Bulgarian') }}</span></li>
       <li><span class="language ca">{{ _('Catalan') }}</span></li>
       <li><span class="language zh-CN">{{ _('Chinese (China)') }}</span></li>
       <li><span class="language zh-HK">{{ _('Chinese (Hong Kong)') }}</span></li>
       <li><span class="language zh-TW">{{ _('Chinese (Taiwan)') }}</span></li>
       <li><span class="language hr">{{ _('Croatian') }}</span></li>
       <li><span class="language cs">{{ _('Czech') }}</span></li>
       <li><span class="language da">{{ _('Danish') }}</span></li>
       <li><span class="language nl">{{ _('Dutch') }}</span></li>
       <li><span class="language en-ZA">{{ _('English (South Africa)') }}</span></li>
       <li><span class="language en-GB">{{ _('English (United Kingdom)') }}</span></li>
       <li><span class="language eo">{{ _('Esperanto') }}</span></li>
       <li><span class="language et">{{ _('Estonian') }}</span></li>
       <li><span class="language fi">{{ _('Finnish') }}</span></li>
       <li><span class="language fr">{{ _('French') }}</span></li>
       <li><span class="language fy">{{ _('Frisian') }}</span></li>
       <li><span class="language fur">{{ _('Friulian') }}</span></li>
       <li><span class="language ff">{{ _('Fulah') }}</span></li>
       <li><span class="language gl">{{ _('Galician') }}</span></li>
       <li><span class="language ka">{{ _('Georgian') }}</span></li>
       <li><span class="language de">{{ _('German') }}</span></li>
       <li><span class="language el">{{ _('Greek') }}</span></li>
       <li><span class="language gu-IN">{{ _('Gujarati') }}</span></li>
       <li><span class="language ht">{{ _('Haitian') }}</span></li>
       <li><span class="language he">{{ _('Hebrew') }}</span></li>
       <li><span class="language hi-IN">{{ _('Hindi') }}</span></li>
       <li><span class="language hu">{{ _('Hungarian') }}</span></li>
       <li><span class="language is">{{ _('Icelandic') }}</span></li>
       <li><span class="language ilo">{{ _('Iloko') }}</span></li>
       <li><span class="language id">{{ _('Indonesian') }}</span></li>
       <li><span class="language ga">{{ _('Irish') }}</span></li>
       <li><span class="language it">{{ _('Italian') }}</span></li>
       <li><span class="language ja">{{ _('Japanese') }}</span></li>
       <li><span class="language kn">{{ _('Kannada') }}</span></li>
       <li><span class="language csb">{{ _('Kashubian') }}</span></li>
       <li><span class="language kk">{{ _('Kazakh') }}</span></li>
       <li><span class="language km">{{ _('Khmer') }}</span></li>
       <li><span class="language ko">{{ _('Korean') }}</span></li>
       <li><span class="language ku">{{ _('Kurdish') }}</span></li>
       <li><span class="language lv">{{ _('Latvian') }}</span></li>
       <li><span class="language lij">{{ _('Ligurian') }}</span></li>
       <li><span class="language lt">{{ _('Lithuanian') }}</span></li>
       <li><span class="language lg">{{ _('Luganda') }}</span></li>
       <li><span class="language mk">{{ _('Macedonian') }}</span></li>
       <li><span class="language mai">{{ _('Maithili') }}</span></li>
       <li><span class="language ms">{{ _('Malay') }}</span></li>
       <li><span class="language ml">{{ _('Malayalam') }}</span></li>
       <li><span class="language mt">{{ _('Maltese') }}</span></li>
       <li><span class="language mr">{{ _('Marathi') }}</span></li>
       <li><span class="language mn">{{ _('Mongolian') }}</span></li>
       <li><span class="language ne-NP">{{ _('Nepali (Nepal)') }}</span></li>
       <li><span class="language nso">{{ _('Northern Sotho (Pedi)') }}</span></li>
       <li><span class="language nb-NO">{{ _('Norwegian Bokmål') }}</span></li>
       <li><span class="language nn-NO">{{ _('Norwegian Nynorsk') }}</span></li>
       <li><span class="language oc">{{ _('Occitan') }}</span></li>
       <li><span class="language or">{{ _('Oriya') }}</span></li>
       <li><span class="language fa">{{ _('Persian') }}</span></li>
       <li><span class="language pl">{{ _('Polish') }}</span></li>
       <li><span class="language pt">{{ _('Portuguese') }}</span></li>
       <li><span class="language pt-BR">{{ _('Portuguese (Brazil)') }}</span></li>
       <li><span class="language pa">{{ _('Punjabi') }}</span></li>
       <li><span class="language ro">{{ _('Romanian') }}</span></li>
       <li><span class="language rm">{{ _('Romansh') }}</span></li>
       <li><span class="language ru">{{ _('Russian') }}</span></li>
       <li><span class="language gd">{{ _('Scottish Gaelic') }}</span></li>
       <li><span class="language sr">{{ _('Serbian') }}</span></li>
       <li><span class="language sr-LATN">{{ _('Serbian (Latin)') }}</span></li>
       <li><span class="language si">{{ _('Sinhala') }}</span></li>
       <li><span class="language sk">{{ _('Slovak') }}</span></li>
       <li><span class="language sl">{{ _('Slovenian') }}</span></li>
       <li><span class="language son">{{ _('Songhay') }}</span></li>
       <li><span class="language st">{{ _('Sotho') }}</span></li>
       <li><span class="language es">{{ _('Spanish') }}</span></li>
       <li><span class="language es-AR">{{ _('Spanish (Argentina)') }}</span></li>
       <li><span class="language es-CL">{{ _('Spanish (Chile)') }}</span></li>
       <li><span class="language es-MX">{{ _('Spanish (Mexico)') }}</span></li>
       <li><span class="language sw">{{ _('Swahili') }}</span></li>
       <li><span class="language sv">{{ _('Swedish') }}</span></li>
       <li><span class="language ta">{{ _('Tamil (India)') }}</span></li>
       <li><span class="language ta-LK">{{ _('Tamil (Sri Lanka)') }}</span></li>
       <li><span class="language te">{{ _('Telugu') }}</span></li>
       <li><span class="language th">{{ _('Thai') }}</span></li>
       <li><span class="language tr">{{ _('Turkish') }}</span></li>
       <li><span class="language uk">{{ _('Ukrainian') }}</span></li>
       <li><span class="language vi">{{ _('Vietnamese') }}</span></li>
       <li><span class="language cy">{{ _('Welsh') }}</span></li>
       <li><span class="language wo">{{ _('Wolof') }}</span></li>
     </ul>
   </div>
