{% extends "example_base.html" %}

{% block content %}
<h1>
    <a href="/">{{ _('Hello world') }}</a>
</h1>

{# L10n: This is a localizer comment #}
{% if request.MOBILE %}
  <p>{{ _('This is a <em>test view</em> for mobile browsers.') }}</p>
{% else %}
  <p>{{ _('This is a <em>test view</em> for desktop browsers.') }}</p>
{% endif %}
<p>
  {% trans docs_url='http://playdoh.rtfd.org/' %}
  <a href="{{ docs_url }}">Learn you some Playdoh</a> and then go build
  something <strong>awesome</strong>.
  {% endtrans %}  
</p>
<p>
  {% trans langs=LANGUAGES.items() %}
    Current locale: {{ LANG }}.<br>
    Available locales: {{ langs }}.
  {% endtrans %}
</p>
<p>Some more examples:</p>
<ul>
  <li><a href="{{ url('examples.bleach') }}">Input sanitization with Bleach</a></li>
</ul>
{% endblock %}
