.sideshow-step-description button.sideshow-next-step-button {
  background-color: #F36;
  border: #F36;
}

.sideshow-step-description button.sideshow-next-step-button:hover {
  background-color: #F36;
  border: #F36;
}

.sideshow-step-description .sideshow-step-position {
  font-family: sans-serif;
}

.sideshow-step-description .sideshow-step-text a {
  color: #F36;
  font-weight: 400;
}

.sideshow-subject-arrow {
  color: #F36;
}
