.otherlocales > ul {
    list-style: none;
    margin: 0;
}

.otherlocales > ul li {
    border-bottom: 1px solid #5E6475;
    cursor: pointer;
    margin: 0;
    padding: 5px 10px 20px 10px;
    transition: all 0.1s ease-out;
}

.otherlocales > ul li:hover {
    background: #4D5967;
    border-color: #5E6475;
}

.otherlocales > ul li > header {
    color: #AAAAAA;
    display: block;
    font-size: 11px;
    font-weight: 300;
    padding: 1px 0 5px;
    text-align: right;
    text-transform: uppercase;
}

.otherlocales > ul li > header span {
    color: #7BC876;
    padding-left: 3px;
}

.otherlocales > ul li > p {
    min-height: 22px;
    text-align: start;
    white-space: pre-wrap;
}
