.batch-actions {
  height: 100%;
  line-height: 22px;
}

.batch-actions .topbar {
  background: var(--grey-3);
  border-bottom: 1px solid var(--main-border-1);
  padding: 12px 10px 13px;
}

.batch-actions .topbar .selecting {
  color: var(--light-grey-6);
  float: right;
  margin-top: 2px;
}

.batch-actions .topbar button {
  background: none;
  border: none;
  color: var(--light-grey-6);
  font-weight: 300;
  padding: 0;
}

.batch-actions .topbar button:hover {
  color: var(--status-translated);
}

.batch-actions .topbar button.select-all {
  float: left;
}

.batch-actions .topbar button.selected-count {
  float: right;
}

.batch-actions .topbar button.selected-count .stress {
  color: var(--status-translated-alt);
}

.batch-actions .topbar button .fas {
  padding-right: 5px;
}

.batch-actions .topbar .selected-count .fa-times {
  display: inline;
}

.batch-actions .actions-panel {
  overflow: auto;
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
}

.batch-actions .actions-panel div {
  margin: 0 auto;
  min-width: 300px;
  padding: 20px;
  width: 50%;
}

.batch-actions .actions-panel h2 {
  color: var(--light-grey-6);
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 2px;
}

.batch-actions .actions-panel .intro p {
  color: var(--light-grey-7);
  font-style: italic;
}

.batch-actions .actions-panel .intro p .stress {
  color: var(--status-error);
}

.batch-actions .actions-panel button,
.batch-actions .actions-panel input {
  display: block;
  width: 100%;
}

.batch-actions .actions-panel button {
  background: var(--status-translated);
  border: none;
  border-radius: 3px;
  color: var(--translation-main-button-color);
  font-weight: 600;
  margin-top: 10px;
  padding: 15px 5px;
  position: relative;
}

.batch-actions .actions-panel button .fas {
  position: absolute;
  right: 10px;
  top: 12px;
  opacity: 0.5;
}

.batch-actions .actions-panel button.reject-all {
  background: var(--status-error);
}

.batch-actions .actions-panel input {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--light-grey-1);
  color: var(--white-1);
  float: none;
  margin-bottom: 10px;
  padding: 15px 0 5px;
}

/* Remove highlight in Chrome */
.batch-actions .actions-panel input:focus {
  outline: none;
}

/* Remove cancel button in Chrome */
.batch-actions .actions-panel input::-webkit-search-cancel-button {
  display: none;
}

/* Style placeholder color in Chrome */
.batch-actions .actions-panel input::-webkit-input-placeholder {
  color: var(--light-grey-7);
}
