.context-issue-button {
  background: var(--dark-grey-1);
  border: 1px solid var(--dark-grey-2);
  border-radius: 4px;
  color: var(--light-grey-6);
  float: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 100;
  margin: -1px -1px -1px 4px; /* Compensate for invisible border in default state */
  padding: 2px 4px;
}

.context-issue-button:hover {
  border-color: var(--translation-border);
}
