.entity-navigation {
    background: #4d5967;
    border-bottom: 1px solid #5e6475;
    padding: 12px 10px 13px;
}

.entity-navigation button {
    background: none;
    border: none;
    color: #cccccc;
    float: right;
    font-weight: 300;
    padding: 0;
}

.entity-navigation button.link {
    float: left;
}

.entity-navigation button.previous {
    margin-right: 30px;
}

.entity-navigation button:hover {
    color: #7bc876;
}

.entity-navigation button .fa {
    padding-right: 5px;
}
