.entity-navigation {
  background: var(--grey-3);
  border-bottom: 1px solid var(--main-border-1);
  padding: 12px 10px 13px;
}

.entity-navigation button {
  background: none;
  border: none;
  color: var(--light-grey-6);
  float: right;
  font-weight: 300;
  padding: 0;
}

.entity-navigation button.string-list {
  display: none;
  float: left;
  margin-right: 30px;
}

.entity-navigation button.link {
  float: left;
}

.entity-navigation button.previous {
  margin-right: 30px;
}

.entity-navigation button:hover {
  color: var(--status-translated);
}

.entity-navigation button:disabled {
  cursor: default;
  opacity: 0.4;
  pointer-events: none;
}

.entity-navigation button .fa {
  padding-right: 5px;
}
