@import '../../../../../pontoon/static/css/dark-theme.css' .entity-navigation {
  background: var(--grey-3);
  border-bottom: 1px solid var(--light-grey-1);
  padding: 12px 10px 13px;
}

.entity-navigation button {
  background: none;
  border: none;
  color: var(--light-grey-9);
  float: right;
  font-weight: 300;
  padding: 0;
}

.entity-navigation button.link {
  float: left;
}

.entity-navigation button.previous {
  margin-right: 30px;
}

.entity-navigation button:hover {
  color: var(--light-green-1);
}

.entity-navigation button:disabled {
  cursor: default;
  opacity: 0.4;
  pointer-events: none;
}

.entity-navigation button .fa {
  padding-right: 5px;
}
