.entity-details {
  display: flex;
  height: 100%;
}

.entity-details > section {
  height: 100%;
}

.entity-details .main-column {
  max-height: 100%;
  overflow-y: auto;
  width: 66.67%;
}

.entity-details .third-column {
  width: 33.33%;
  border-left: 1px solid var(--main-border-1);
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .entity-details {
    display: block;
    height: auto;
  }

  .entity-details .main-column {
    width: 100%;
  }

  .entity-details .third-column {
    width: 100%;
  }
}
