.metadata {
  background-color: var(--dark-grey-2);
  color: var(--light-grey-7);
  font-size: 12px;
  font-style: italic;
  min-height: 114px;
  line-height: 22px;
  padding: 10px;
}

.metadata h2 {
  font-style: normal;
  font-size: 11px;
  font-weight: 300;
  line-height: 11px;
  margin-top: 6px;
  padding-bottom: 2px;
}

.metadata .title {
  color: var(--light-grey-2);
}

.metadata div a {
  color: var(--light-green-1);
  text-decoration: none;
}

.metadata .comment .content p {
  display: inline;
}

.metadata div .divider {
  font-style: normal;
  font-weight: 100;
  margin: 0 3px;
}

.metadata .original {
  color: white;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  margin-top: -2px; /* Align with the source string comment button */
  padding-bottom: 6px;
  text-align: start;
  white-space: pre-wrap;
}

.metadata .original .placeable {
  cursor: pointer;
}

.metadata .original .term {
  background: inherit;
  border-bottom: 1px solid var(--light-green-1);
  color: inherit;
  cursor: pointer;
  font-weight: normal;
  font-style: inherit;
}

.metadata ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.metadata button {
  background: none;
  border: none;
  color: var(--light-green-1);
  font-style: italic;
  padding: 0 0 0 2px;
}

.metadata .resource-comment {
  display: flex;
}

.metadata .resource-comment .comment {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.metadata .resource-comment .comment.expanded {
  white-space: normal;
}

.metadata .resource-comment button {
  white-space: nowrap;
}

.metadata .context a {
  color: var(--light-grey-7);
}

.metadata .context a:hover {
  color: var(--light-green-1);
}
