@import '../../../../../pontoon/static/css/dark-theme.css';

.screenshots {
  float: right;
  text-align: right;
  width: 150px;
}

.screenshots img {
  border: 1px solid var(--light-grey-1);
  cursor: zoom-in;
  max-height: 100px;
  max-width: 150px;
}

.screenshots img:hover {
  opacity: 0.5;
}

.lightbox {
  align-items: center;
  background-color: var(--black-5);
  cursor: zoom-out;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.lightbox img {
  max-height: 90%;
  max-width: 90%;
}
