.screenshots {
    float: right;
    text-align: right;
    width: 150px;
}

.screenshots img {
    border: 1px solid #5e6475;
    cursor: zoom-in;
    max-height: 100px;
    max-width: 150px;
}

.screenshots img:hover {
    opacity: 0.5;
}
