.terms-popup {
    background-color: #272a2f;
    border: 1px solid #333941;
    font-style: normal;
    max-width: 500px;
    position: absolute;
    z-index: 20;
}

.terms-popup .terms-list .term:not(.cannot-copy):hover {
    background-color: #3f4752;
}

.terms-popup li.term:last-child {
    border-bottom: none;
}
