{% macro checkbox(label, class, attribute, is_enabled=False, title=False, help=False, form_field=None, is_large=False) %}
<div class="check-box {{ class }}{% if is_enabled %} enabled{% endif %}" data-attribute="{{ attribute }}"{% if title %} title="{{title}}"{% endif %}>
    <div class="{% if is_large %} large-check-box-wrapper {% else %} check-box-wrapper {% endif %}">
        <span class="label">{{ label }}</span>
        <i class="fas {% if is_large %} large-checkbox {% else %} fa-fw {% endif %}"></i>
    </div>
    {% if help %}
    <p class="help">{{ help|safe }}</p>
    {% endif %}
    {% if form_field %}
    {{ form_field }}
    {% endif %}
</div>
{% endmacro %}
