{% import 'widgets/deadline.html' as Deadline %}
{% import 'widgets/priority.html' as Priority %}

{% macro heading_item(title, link, class='') %}
<a class="{{ class }}" href="{{ link }}">{{ title }}</a>
{% endmacro %}

{% macro details_item(title, class, value, title_link=None, value_link=None, value_class=None) %}
<li class="{{ class }}">
  <span class="title">{{ title }}{% if title_link %}<sup><a href="{{ title_link }}" target="_blank" rel="noopener noreferrer">*</a></sup>{% endif %}</span>
  <span class="value{% if value_class %} {{ value_class }}{% endif %}">
    {% if value_link %}<a href="{{ value_link }}">{% endif %}
    {{ value }}
    {% if value_link %}</a>{% endif %}
  </span>
</li>
{% endmacro %}

{% macro details_item_priority(priority, title='Priority') %}
<li class="priority">
  <span class="title">{{ 중요도 }}</span>
  <span class="value">
    {{ Priority.priority(priority) }}
  </span>
</li>
{% endmacro %}

{% macro details_item_deadline(deadline, complete) %}
<li class="deadline">
  <span class="title"></span>
  <span class="value">
    {{ Deadline.deadline(deadline, complete) }}
  </span>
</li>
{% endmacro %}

{% macro details_item_url(title, class, url) %}
  {% if url %}
  {{ details_item(
    title=title,
    class=class,
    value=url|pretty_url,
    value_link=url,
    value_class='overflow')
  }}
  {% endif %}
{% endmacro %}

{% macro details_item_resources(resources, locale_code=None) %}
  {% if resources|length %}
  <li class="resources clearfix">
    <span class="title">리소스</span>
    <span class="value overflow">
      {% for resource in resources %}
        {% if loop.index != 1 %}&middot;{% endif %}
        <a href="{{ resource.url|local_url(locale_code) }}">{{ resource.name }}</a>
      {% endfor %}
    </span>
  </li>
  {% endif %}
{% endmacro %}

{% macro progress_chart() %}
<div class="progress">
  <canvas class="chart" height="130" width="130"></canvas>
  <span class="number noselect"></span>
</div>
{% endmacro %}

{% macro legend_item(title, class, value, link=None) %}
<li class="{{ class }}">
  {% if link %}<a href="{{ link }}">{% endif %}
    {% if class != 'all' %}
      <span class="fa status"></span>
    {% endif %}
    {{ title }}
    <span class="value" data-value="{{ value }}">{{ value|intcomma }}</span>
  {% if link %}</a>{% endif %}
</li>
{% endmacro %}

{% macro progress_chart_legend(obj, link=None) %}
<ul class="legend">
  {{ legend_item(
    title='번역됨',
    class='translated',
    value=obj.approved_strings,
    link=(link + '?status=translated') if link else None)
  }}
  {{ legend_item(
    title='애매한 번역',
    class='fuzzy',
    value=obj.fuzzy_strings,
    link=(link + '?status=fuzzy') if link else None)
  }}
  {{ legend_item(
    title='경고',
    class='warnings',
    value=obj.strings_with_warnings,
    link=(link + '?status=warnings') if link else None)
  }}
  {{ legend_item(
    title='오류',
    class='errors',
    value=obj.strings_with_errors,
    link=(link + '?status=errors') if link else None)
  }}
  {{ legend_item(
    title='번역 없음',
    class='missing',
    value=(obj.total_strings - obj.approved_strings - obj.fuzzy_strings - obj.strings_with_warnings - obj.strings_with_errors),
    link=(link + '?status=missing') if link else None)
  }}
</ul>
<div class="non-plottable">
  <div class="all">
    {% if link %}<a href="{{ link }}">{% endif %}
      <p class="title">전체 줄 갯수</p>
      <p class="value" data-value="{{ obj.total_strings }}">{{ obj.total_strings|intcomma }}</p>
    {% if link %}</a>{% endif %}
  </div>
  <div class="unreviewed{% if obj.unreviewed_strings %} pending{% endif %}">
    {% if link %}<a href="{{ link + '?status=unreviewed' }}">{% endif %}
      <p class="title">리뷰 안됨</p>
      <p class="value">
        <span class="fa status"></span>
        <span class="text">{{ obj.unreviewed_strings|intcomma }}</span>
      </p>
    {% if link %}</a>{% endif %}
  </div>
</div>
{% endmacro %}
