{% macro button() %}
<div class="button selector">
  {% if user.is_authenticated %}
    <img class="rounded" src="{{ user.gravatar_url(88) }}" width="44" height="44">
  {% else %}
    <div class="menu-icon fa fa-bars"></div>
  {% endif %}
</div>
{% endmacro %}

{% macro top_menu() %}
{% if user.is_authenticated %}
  <li class="details">
    <a href="{{ url('pontoon.contributors.contributor.username', username=user) }}">
      <img class="rounded" src="{{ user.gravatar_url(176) }}" width="88" height="88">
      <p class="name">{{ user.name_or_email|nospam }}</p>
      <p class="email">{{ user.email|nospam }}</p>
    </a>
  </li>
  <li class="horizontal-separator"></li>
{% endif %}
{% endmacro %}
