a.avatar {
  display: block;
  margin-bottom: 5px;
  position: relative;
}

a.avatar .desc {
  bottom: 0;
  color: #ffffff;
  display: none;
  font-size: 16px;
  font-weight: bold;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

a.avatar:hover .desc {
  display: block;
}

a.avatar:hover .desc ~ img {
  opacity: 0.3;
}
