#heading, #middle {
  text-align: center;
}

a.avatar {
  display: block;
  position: relative;
}

a.avatar .desc {
  bottom: 0;
  color: #FFFFFF;
  display: none;
  font-size: 16px;
  font-weight: bold;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

a.avatar:hover .desc {
  display: block;
}

a.avatar:hover .desc ~ img {
  opacity: 0.3;
}

#username {
  color: #EBEBEB;
  font-size: 48px;
  letter-spacing: normal;
  padding: 8px 0 20px;
  text-transform: none;
}

#profile-form {
  display: block;
  position: relative;
  text-align: left;
  margin: 0 auto 70px auto;
  width: 620px;
}
#profile-form .field {
  margin-top: 10px;
}

#profile-form .field input {
  color: #FFFFFF;
  background: #333941;
  border: 1px solid #4d5967;
  border-radius: 3px;
  float: none;
  width: 290px;
  padding: 4px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#profile-form .field input:hover,
#profile-form .field input:focus {
  border-color: #888888;
}

#profile-form button {
  margin-top: 10px;
}

.info {
  list-style: none;
  margin: 0;
  display: inline-block;
  text-align: left;
}

.info li {
  color: #AAAAAA;
  display: block;
  font-size: 16px;
  font-weight: 300;
  overflow: hidden;
  padding: 4px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 980px;
}

.info a {
  color: #7BC876;
}

.info .fa {
  margin-right: 6px;
}

.info li.check-box {
  cursor: pointer;
  display: table;
}

#timeline-loader {
  display: none;
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

#timeline-loader div {
  color: #7BC876;
  font-size: 48px;
}
