.controls .submenu .links {
  text-align: right;
}

.rank {
  text-align: center;
}

td.rank {
  color: #EBEBEB;
  font-size: 36px;
  width: 41px;
}

.contributor {
  display: inline-block;
  position: relative;
  width: 498px;
}

.contributor img {
  margin-right: 5px;
}

.contributor p {
  overflow: hidden;
  padding-left: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 440px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contributor p.name {
  display: inline-block;
  font-size: 1.5em;
  height: 1.5em;
}

.contributor p.role {
  color: #EBEBEB;
  left: 67px;
  position: absolute;
  top: 42px;
}

.no-contributors {
  padding: 10px;
  border-bottom: 1px solid #4D5967;
  margin-top: 20px;
}

th:last-child,
.stats .details {
  text-align: center;
  width: 360px;
}

th:last-child {
  position: relative;
}

th:last-child sup {
  top: 7px;
  position: absolute;
}

.stats .details div {
  border: none;
}

.stats .details div.approved {
  color: #7BC876;
}

.stats .details div.fuzzy {
  color: #FED271;
}

.stats .details div.unreviewed {
  color: #4FC4F6;
}

.stats .details div p {
  font-size: 20px;
  padding: 3px 0 0;
}
