.right-column ul {
  max-height: none;
}

.right-column li.notification-item[data-unread="true"] {
  background: #3F4752;
}

/* No notifications */
#main.no .left-column {
  display: none;
}

#main.no .right-column {
  background: transparent;
  float: none;
  width: auto;
}
