#main .container > div {
  float: left;
}

#main .container .left-column {
  color: #ccc;
  margin-right: 30px;
  width: 260px;
}

#main .container .right-column {
  width: 690px;
}

/* Sidebar */

#main .container .left-column .block {
  padding: 8px 0;
}

#main .container .left-column hr {
  border-color: #4d5967;
  margin: 8px 0;
}

h2 {
  color: #ebebeb;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4em;
  text-transform: none;
}

.avatar img.rounded {
  border-color: #333941;
}

.display-name {
  font-size: 24px;
  padding-bottom: 0;
}

.username {
  color: #7bc876;
  line-height: 1.4em;
  font-size: 20px;
  font-weight: 300;
}

.bio {
  font-size: 16px;
  line-height: 1.4em;
}

.item-with-icon {
  color: #888;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.8em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item-with-icon .icon {
  font-size: 16px;
  padding-right: 5px;
}

.permissions .item-with-icon .icon {
  font-size: 24px;
  vertical-align: bottom;
}

.item-with-icon a {
  color: #888;
  font-weight: normal;
}

.item-with-icon a:hover {
  color: #7bc876;
}

.item-with-icon .stress {
  color: #7bc876;
}

.personal-information .button {
  background: #333941;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  height: 32px;
  padding: 8px 12px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

h4 {
  font-size: 14px;
}

h4.superuser {
  border: 1px solid #f36;
  border-radius: 16px;
  line-height: 30px;
  text-align: center;
  color: #f36;
}

/* Approval Ratio */

#insights {
  float: left;
  width: 476px;
}

#insights .block {
  padding: 20px;
}

#insights h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

#insights .chart-group-navigation ul li.active .icon {
  background-color: #7bc876;
}

#insights h3 .tooltip li.current-month::marker {
  color: #41554c;
}

#insights h3 .tooltip li.twelve-month-average::marker {
  color: #7bc876;
}

/* Stats */

#stats {
  border-radius: 6px;
  background: #333941;
  box-sizing: border-box;
  float: right;
  padding: 20px;
  text-align: right;
  width: 184px;
}

#stats > div {
  font-weight: 300;
  margin-bottom: 38px;
}

#stats > div:last-child {
  margin-bottom: 0;
}

#stats > div span {
  color: #aaaaaa;
  font-size: 14px;
  text-transform: uppercase;
}

#stats > div.translated span {
  color: #7bc876;
}

#stats > div.unreviewed span {
  color: #4fc4f6;
}

#stats > div p {
  color: #ffffff;
  font-size: 25px;
}

/* Stats when Approval rates not visible */

#stats:first-child {
  text-align: center;
  width: 100%;
}

#stats:first-child div {
  margin: 0;
  display: inline-block;
  text-align: center;
}

#stats:first-child div:first-child {
  float: left;
  text-align: left;
}

#stats:first-child div:last-child {
  float: right;
  text-align: right;
}

/* Contribution Graph */

#contributions {
  margin-top: 50px;
}

#contributions .type-selector {
  float: right;
  padding-left: 0;
  width: 260px;
}

#contributions .type-selector .selector {
  font-size: 16px;
  padding: 8px 12px;
  width: 100%;
  text-align: left;
}

#contributions .type-selector .selector .icon {
  position: absolute;
  right: 10px;
  top: 8px;
}

#contributions .type-selector .menu {
  background: #333941;
  bottom: auto;
  box-sizing: border-box;
  width: 100%;
}

#contributions .type-selector .menu li span {
  color: #ccc;
  width: 100%;
}

#contributions h3 {
  float: left;
  line-height: 32px;
}

#contributions h3,
#timeline h3 {
  color: #ccc;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
}

#contribution-graph rect.day:hover,
#contribution-graph rect.day.selected {
  stroke-width: 1;
  stroke: #fff;
}

svg.js-calendar-graph-svg {
  fill: #aaa;
  font-weight: 100;
}

.svg-tip {
  display: none;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #bbb;
  font-size: 12px;
  position: absolute;
  z-index: 99999;
  text-align: center;
  border-radius: 3px;
}

.svg-tip:after {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  height: 5px;
  width: 5px;
  bottom: -10px;
  margin: 0 0 0 -5px;
  content: ' ';
  border: 5px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.8);
}

/* Contribution Timeline */

#timeline {
  color: #888;
  margin-top: 40px;
}

#timeline h3 {
  padding-bottom: 5px;
}

#timeline .contribution-group {
  border-left: 2px solid #333941;
  margin-left: 20px;
  padding: 20px 0 20px 30px;
}

#timeline .heading {
  background: #333941;
  border-radius: 6px 6px 0 0;
  color: #ccc;
  padding: 20px 20px 0;
  position: relative;
}

#timeline .heading:after {
  position: absolute;
  left: -14px;
  bottom: 2px;
  content: ' ';
  border: 7px solid transparent;
  border-right-color: #333941;
}

#timeline .heading .icon {
  background: #333941;
  border: 2px solid #272a2f;
  box-sizing: border-box;
  display: block;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  padding: 8px;
  position: absolute;
  top: 10px;
  left: -49px;
}

#timeline .heading .icon:before {
  color: #888;
  font-size: 16px;
}

#timeline .heading .icon.user-translations:before {
  content: '\f044';
}

#timeline .heading .icon.user-reviews:before {
  content: '\f058';
}

#timeline .heading .icon.peer-reviews:before {
  content: '\f2b6';
}

#timeline .localizations {
  background: #333941;
  border-radius: 0 0 6px 6px;
  list-style: none;
  margin: 0;
  padding: 20px 10px;
}

#timeline .localizations li {
  line-height: 1.8em;
  padding: 0 10px;
}

#timeline .localizations li:hover {
  background: #272a2f;
}

#timeline .localizations li a {
  color: #aaa;
  display: block;
}

#timeline .localizations li a .stress {
  color: #7bc876;
}

#timeline .localizations li a .contribution-count {
  color: #888;
  float: right;
}
