#main .container > div {
  float: left;
}

#main .container .left-column {
  color: var(--light-grey-6);
  margin-right: 30px;
  width: 260px;
}

#main .container .right-column {
  width: 690px;
}

/* Sidebar */

#main .container .left-column .block {
  padding: 8px 0;
}

#main .container .left-column hr {
  border-color: var(--main-border-1);
  margin: 8px 0;
}

h2 {
  color: var(--white-1);
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4em;
  text-transform: none;
}

.avatar img.rounded {
  border-color: var(--dark-grey-1);
}

.avatar .status {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 24px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: absolute;
  bottom: 3px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: var(--dark-grey-1);
  color: var(--user-admin);
}

.avatar .status span {
  font-size: 12px;
  font-weight: bold;
}

.display-name {
  font-size: 24px;
  padding-bottom: 0;
}

.username {
  color: var(--status-translated-alt);
  line-height: 1.4em;
  font-size: 20px;
  font-weight: 300;
  overflow-wrap: break-word;
}

.bio {
  font-size: 16px;
  line-height: 1.4em;
  overflow-wrap: break-word;
}

.item-with-icon {
  color: var(--light-grey-2);
  font-size: 14px;
  font-weight: normal;
  line-height: 1.8em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item-with-icon .icon {
  font-size: 16px;
  padding-right: 5px;
}

.permissions .item-with-icon .icon {
  font-size: 24px;
  vertical-align: bottom;
}

.item-with-icon a {
  color: var(--light-grey-2);
  font-weight: normal;
}

.item-with-icon a:hover {
  color: var(--status-translated);
}

.item-with-icon .stress {
  color: var(--status-translated-alt);
}

.personal-information .button {
  background: var(--dark-grey-1);
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  height: 32px;
  padding: 8px 12px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.achievements .block {
  font-size: 0;
}

.achievements .badge-wrapper {
  position: relative;
  display: inline-block;
  margin: 10px 7px 0 0;
}

.achievements .badge-wrapper:last-child {
  margin-right: 0;
}

.achievements img.badge {
  border: 2px solid var(--main-border-1);
  border-radius: 50%;
}

.achievements .badge-level {
  position: absolute;
  user-select: none;
  bottom: 5px;
  left: 2px;
  background: var(--icon-background-1);
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 12px;
}

h4 {
  font-size: 14px;
}

h4.superuser {
  border: 1px solid var(--user-admin);
  border-radius: 16px;
  line-height: 30px;
  text-align: center;
  color: var(--user-admin);
}

/* Approval Ratio */

#insights {
  float: left;
  width: 476px;
}

#insights .block {
  padding: 20px;
}

#insights h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

#insights .chart-group {
  width: 1000px;
  overflow: hidden;
  transition: margin 0.4s ease-in-out;
}

#insights .chart-group .chart-item {
  float: left;
  padding-right: 60px;
}

#insights .chart-group-navigation {
  text-align: center;
}

#insights .chart-group-navigation ul li {
  cursor: pointer;
  display: inline-block;
  margin: 15px 15px 0;
}

#insights .chart-group-navigation ul li .icon {
  background-color: var(--black-3);
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  height: 12px;
  width: 12px;
}

#insights .chart-group-navigation ul li .label {
  color: var(--grey-3);
  cursor: pointer;
  font-weight: bold;
  vertical-align: text-top;
}

#insights .chart-group-navigation ul li.active .icon {
  background-color: var(--status-translated);
}

#insights .chart-group-navigation ul li.active .label {
  color: var(--white-1);
}

#insights h3 .tooltip li.current-month::marker {
  color: var(--forest-green-1);
}

#insights h3 .tooltip li.twelve-month-average::marker {
  color: var(--status-translated);
}

/* Stats */

#stats {
  border-radius: 6px;
  background: var(--dark-grey-1);
  box-sizing: border-box;
  float: right;
  padding: 20px;
  text-align: right;
  width: 184px;
}

#stats > div {
  font-weight: 300;
  margin-bottom: 38px;
}

#stats > div:last-child {
  margin-bottom: 0;
}

#stats > div span {
  color: var(--light-grey-7);
  font-size: 14px;
  text-transform: uppercase;
}

#stats > div.translated span {
  color: var(--status-translated-alt);
}

#stats > div.unreviewed span {
  color: var(--status-unreviewed);
}

#stats > div p {
  color: var(--white-1);
  font-size: 25px;
}

/* Stats when Approval rates not visible */

#stats:first-child {
  text-align: center;
  width: 100%;
}

#stats:first-child div {
  margin: 0;
  display: inline-block;
  text-align: center;
}

#stats:first-child div:first-child {
  float: left;
  text-align: left;
}

#stats:first-child div:last-child {
  float: right;
  text-align: right;
}

/* Contribution Graph */

#contributions {
  margin-top: 50px;
}

#contributions .type-selector {
  float: right;
  padding-left: 0;
  width: 260px;
}

#contributions .type-selector .selector {
  font-size: 16px;
  padding: 8px 12px;
  width: 100%;
  text-align: left;
}

#contributions .type-selector .selector .icon {
  position: absolute;
  right: 10px;
  top: 8px;
}

#contributions .type-selector .menu {
  background: var(--dark-grey-1);
  bottom: auto;
  box-sizing: border-box;
  width: 100%;
}

#contributions .type-selector .menu li span {
  color: var(--light-grey-7);
  width: 100%;
}

#contributions h3 {
  float: left;
  line-height: 32px;
}

#contributions h3,
#timeline h3 {
  color: var(--white-1);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
}

#contribution-graph rect.day:hover,
#contribution-graph rect.day.selected {
  stroke-width: 1;
  stroke: var(--white-1);
}

svg.js-calendar-graph-svg {
  fill: var(--light-grey-7);
  font-weight: 100;
}

.svg-tip {
  display: none;
  padding: 10px;
  background: var(--tooltip-background);
  color: var(--tooltip-color-2);
  font-size: 12px;
  position: absolute;
  z-index: 99999;
  text-align: center;
  border-radius: 3px;
}

.svg-tip:after {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  height: 5px;
  width: 5px;
  bottom: -10px;
  margin: 0 0 0 -5px;
  content: ' ';
  border: 5px solid transparent;
  border-top-color: var(--tooltip-background);
}

/* Contribution Timeline */

#timeline {
  color: var(--light-grey-2);
  margin-top: 40px;
}

#timeline h3 {
  padding-bottom: 5px;
}

#timeline .contribution-group {
  border-left: 2px solid var(--dark-grey-1);
  margin-left: 20px;
  padding: 15px 0 5px 30px;
}

#timeline .contribution-type {
  margin-bottom: 20px;
}

#timeline .contribution-month {
  margin-left: -45px;
  margin-bottom: 10px;
  background-color: var(--black-3);
  padding: 10px 0 10px;
  font-weight: bold;
}

#timeline .heading {
  background: var(--dark-grey-1);
  border-radius: 6px 6px 0 0;
  color: var(--light-grey-6);
  padding: 20px 20px 0;
  position: relative;
}

#timeline .heading:after {
  position: absolute;
  left: -14px;
  bottom: 2px;
  content: ' ';
  border: 7px solid transparent;
  border-right-color: var(--dark-grey-1);
}

#timeline .heading .icon {
  background: var(--dark-grey-1);
  border: 2px solid var(--black-3);
  box-sizing: border-box;
  display: block;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  padding: 8px;
  position: absolute;
  top: 10px;
  left: -49px;
}

#timeline .heading .icon:before {
  color: var(--light-grey-2);
  font-size: 16px;
}

#timeline .heading .icon.user-translations:before {
  content: '\f044';
}

#timeline .heading .icon.user-reviews:before {
  content: '\f058';
}

#timeline .heading .icon.peer-reviews:before {
  content: '\f2b6';
}

#timeline .localizations {
  background: var(--dark-grey-1);
  border-radius: 0 0 6px 6px;
  list-style: none;
  margin: 0;
  padding: 20px 10px;
}

#timeline .localizations li {
  line-height: 1.8em;
  padding: 0 10px;
}

#timeline .localizations li:hover {
  background: var(--black-3);
}

#timeline .localizations li a {
  color: var(--light-grey-7);
  display: block;
}

#timeline .localizations li a .stress {
  color: var(--status-translated-alt);
}

#timeline .localizations li a .contribution-count {
  color: var(--light-grey-2);
  float: right;
}

#timeline .month-label {
  color: var(--light-grey-2);
}

#show-more {
  background: var(--dark-grey-1);
  font-size: 16px;
  font-weight: normal;
  height: 32px;
  text-transform: uppercase;
  width: 100%;
  border: none;
  border-radius: 3px;
  color: var(--light-grey-7);
  margin-top: 20px;
}

#show-more:hover {
  color: var(--white-1);
}

#account-status-form {
  margin-top: 8px;
}

#account-status-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 3px;
  color: var(--light-grey-7);
}

#account-status-form button:hover {
  color: var(--white-1);
}
