#main .container > div {
  float: left;
}

#main .container .left-column {
  color: #ccc;
  margin-right: 30px;
  width: 276px;
}

#main .container .right-column {
  width: 674px;
}

/* Sidebar */

#main .container .left-column .block {
  padding: 8px 0;
}

#main .container .left-column hr {
  border-color: #4d5967;
  margin: 8px 0;
}

.display-name {
  color: #ebebeb;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1.4em;
  padding: 0;
  text-transform: none;
}

.username {
  color: #7bc876;
  line-height: 1.4em;
  font-size: 20px;
  font-weight: 300;
}

.bio {
  font-size: 16px;
  line-height: 1.4em;
}

.item-with-icon {
  color: #888;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.8em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item-with-icon .icon {
  font-size: 16px;
  padding-right: 5px;
}

.permissions .item-with-icon .icon {
  font-size: 24px;
  vertical-align: bottom;
}

.item-with-icon a {
  color: #888;
  font-weight: normal;
}

.item-with-icon a:hover {
  color: #7bc876;
}

.item-with-icon .stress {
  color: #7bc876;
}

.personal-information .button {
  background: #333941;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  height: 32px;
  padding: 8px 12px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

h4 {
  font-size: 14px;
}

h4.superuser {
  border: 1px solid #f36;
  border-radius: 16px;
  line-height: 30px;
  text-align: center;
  color: #f36;
}

/* Approval Ratio */

#insights {
  float: left;
  width: 460px;
}

#insights .block {
  padding: 20px;
}

#insights h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

#insights .chart-group-navigation ul li.active .icon {
  background-color: #7bc876;
}

#insights h3 .tooltip li.current-month::marker {
  color: #41554c;
}

#insights h3 .tooltip li.twelve-month-average::marker {
  color: #7bc876;
}

/* Stats */

#stats {
  border-radius: 6px;
  background: #333941;
  box-sizing: border-box;
  float: right;
  padding: 20px;
  text-align: right;
  width: 184px;
}

#stats > div {
  margin-bottom: 46px;
}

#stats > div:last-child {
  margin-bottom: 0;
}

#stats > div span {
  color: #aaaaaa;
  font-size: 14px;
  text-transform: uppercase;
}

#stats > div.translated span {
  color: #7bc876;
}

#stats > div.unreviewed span {
  color: #4fc4f6;
}

#stats > div p {
  color: #ffffff;
  font-size: 25px;
}

/* Stats when Approval rates not visible */

#stats:first-child {
  text-align: center;
  width: 674px;
}

#stats:first-child div {
  margin: 0;
  display: inline-block;
  text-align: center;
}

#stats:first-child div:first-child {
  float: left;
  text-align: left;
}

#stats:first-child div:last-child {
  float: right;
  text-align: right;
}

/* Contribution Graph */

#contributions {
  margin-top: 30px;
}

#contribution-graph rect.day:hover {
  stroke-width: 1;
  stroke: #fff;
}

svg.js-calendar-graph-svg {
  fill: #aaa;
  font-weight: 100;
}

.svg-tip {
  display: none;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #bbb;
  font-size: 12px;
  position: absolute;
  z-index: 99999;
  text-align: center;
  border-radius: 3px;
}

.svg-tip:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  height: 5px;
  width: 5px;
  bottom: -10px;
  margin: 0 0 0 -5px;
  content: ' ';
  border: 5px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.8);
}
