#main .container > div {
  float: left;
}

#main .container .left-column {
  color: #ccc;
  margin-right: 30px;
  width: 260px;
}

#main .container .right-column {
  width: 690px;
}

/* Sidebar */

#main .container .left-column .block {
  padding: 8px 0;
}

#main .container .left-column hr {
  border-color: #4d5967;
  margin: 8px 0;
}

.display-name {
  color: #ebebeb;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1.4em;
  padding: 0;
  text-transform: none;
}

.username {
  color: #7bc876;
  line-height: 1.4em;
  font-size: 20px;
  font-weight: 300;
}

.bio {
  font-size: 16px;
  line-height: 1.4em;
}

.item-with-icon {
  color: #888;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.8em;
}

.item-with-icon .icon {
  font-size: 16px;
  padding-right: 5px;
}

.permissions .item-with-icon .icon {
  font-size: 24px;
  vertical-align: bottom;
}

.item-with-icon a {
  color: #888;
  font-weight: normal;
}

.item-with-icon a:hover {
  color: #7bc876;
}

.item-with-icon .stress {
  color: #7bc876;
}

.personal-information .button {
  background: #333941;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  height: 32px;
  padding: 8px 12px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

h4 {
  font-size: 14px;
}

h4.superuser {
  border: 1px solid #f36;
  border-radius: 4px;
  line-height: 30px;
  text-align: center;
  color: #f36;
  text-transform: uppercase;
  font-weight: 100;
}

#main .container .right-column > section {
  padding-bottom: 30px;
}

/* Approval Ratio */

#insights.half {
  width: 400px;
}

#insights .block {
  padding: 20px;
}

#insights h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

#insights .chart-group {
  height: 185px;
}

#insights .chart-group-navigation ul li.active .icon {
  background-color: #7bc876;
}

#insights h3 .tooltip li.current-month::marker {
  color: #41554c;
}

#insights h3 .tooltip li.twelve-month-average::marker {
  color: #7bc876;
}

/* Stats */

#stats .details {
  text-align: center;
}

#stats .details div {
  width: 227px;
  border-top: 5px solid;
  color: #aaaaaa;
  display: inline-block;
  margin-right: 1px;
}

#stats .details div:last-child {
  margin-right: 0;
}

#stats .details div.translated {
  border-color: #7bc876;
}

#stats .details div.unreviewed {
  border-color: #4fc4f6;
}

#stats .details div span {
  font-size: 10px;
  text-transform: uppercase;
}

#stats .details div p {
  color: #ffffff;
  font-size: 28px;
  line-height: 18px;
  padding: 10px 0;
  position: relative;
}
