#heading {
  text-align: center;
}

#locale-settings {
  font-size: 0;
}

#preferred-locale {
  margin-top: 10px;
}

#locale-settings,
#account-settings .label,
.double-check-box > .label,
.toggle-label {
  color: var(--light-grey-7);
  float: left;
  font-size: 16px;
  font-weight: 300;
  padding: 6px 30px 6px 0;
  text-align: right;
  width: 295px;
}

#locale-settings .locale-selector {
  display: inline-block;
}

#locale-settings .locale-selector .locale.select {
  width: 295px;
}

#locale-settings .locale-selector .locale.select .button {
  color: var(--light-grey-7);
  font-size: 16px;
  font-weight: 400;
  height: 32px;
  padding: 8px 12px;
  width: 100%;
}

#locale-settings .locale-selector .locale.select .button:hover {
  color: var(--white-1);
}

#locale-settings .locale-selector .locale.select .menu {
  border: 1px solid var(--popup-background-1);
  top: 30px;
  width: 295px;
  z-index: 30;
  padding: 10px 12px;
}

#account-settings .delete-user-btn {
  background: var(--status-error);
  border: none;
  border-radius: 3px;
  font-weight: 400;
  color: var(--black-3);
  font-size: 14px;
  padding: 6px 12px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}

#delete-user-modal {
}

#display-name {
  color: var(--white-1);
  font-size: 48px;
  letter-spacing: normal;
  padding: 10px 0 0;
  text-transform: none;
}

#main form {
  margin: 0 auto;
}

#main form section {
  margin: 0 auto 70px;
}

#main form section h3 {
  margin-bottom: 20px;
}

#main .controls .cancel {
  float: none;
  margin: 9px;
}

#main .field {
  color: var(--light-grey-7);
  font-size: 16px;
  margin-bottom: 20px;
  text-align: left;
}

#main .field:last-child {
  margin-bottom: 0;
}

#main .field a {
  float: none;
  text-transform: none;
}

#main .field label {
  display: inline-block;
  margin-right: 25px;
  padding-top: 6px;
  text-align: right;
  vertical-align: top;
  width: 295px;
}

#main .field label:hover {
  color: var(--white-1);
}

#main .field input,
#main .field textarea {
  float: none;
  padding: 4px;
  box-sizing: border-box;
  width: 295px;
}

#main .field textarea {
  height: 142px;
}

#main .field .help,
#main .field .verify,
.errorlist {
  font-size: 14px;
  margin: 5px 0 0 325px;
}

#main .field .help {
  color: var(--light-grey-2);
  font-style: italic;
}

#main .field .help.hide {
  display: none;
}

#main .check-list .header .title {
  color: var(--light-grey-7);
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  padding: 8px 0;
  text-align: center;
  width: 147.5px;
}

#main .check-list .check-box {
  display: inline-block;
  padding: 8px 0;
}

#main .check-list .check-box.field {
  padding: 0;
}

#main .check-list .double-check-box {
  font-size: 0;

  > .label {
    padding-bottom: 8px;
    padding-top: 8px;
  }

  > .check-boxes {
    display: inline-block;
    font-size: 0;
  }

  .check-box {
    width: 147.5px;

    .check-box-wrapper {
      text-align: center;
      width: 100%;

      .fas {
        margin: 0;
      }
    }
  }

  .check-box:first-child:not(.enabled) + .check-box {
    pointer-events: none;

    .fas:before {
      color: var(--toggle-color-2);
    }
  }

  .check-box:last-child {
    padding-bottom: 8px;
  }
}

#main .appearance .field .help {
  margin: 0 0 -12px;
}

#main .appearance .toggle-button button {
  width: 207px;
}

#main .appearance .toggle-button button:first-child {
  margin-right: -1px;
}

#main .appearance .toggle-button button:nth-child(2) {
  border-radius: 0;
}

#main .appearance .toggle-button button .icon {
  margin-right: 10px;
}

#main .notifications .field .help {
  margin: 0;
}

#main .field .verify {
  color: var(--status-translated);
  font-style: italic;
}

#main .field .verify.hide {
  display: none;
}

.errorlist {
  color: var(--status-error);
  font-style: italic;
  list-style: none;
}

.error-message {
  color: var(--status-error);
  font-style: italic;
}

#notification-email-frequency {
  margin-top: 20px;
}

/* hide personal access token implementation temporarily */
#pat-settings {
  display: none;

  .pat-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .token-card {
      background-color: var(--input-background-1);
      padding: 15px;
      border-radius: 3px;
      max-width: 620px;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 20px;

      .token-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .token-name {
          font-size: 18px;
          font-weight: bold;
          padding-top: 3px;
        }

        .right {
          display: flex;

          .status {
            border: 1px solid var(--main-border-1);
            border-radius: 3px;
            margin-right: 10px;
            padding: 7px;
            text-align: left;
            width: 120px;

            .icon {
              padding-right: 2px;
            }
          }

          .status.active {
            .icon,
            .value {
              color: var(--status-translated);
            }
          }

          .status.expired {
            .icon,
            .value {
              color: var(--status-warning);
            }
          }

          .status.revoked {
            .icon,
            .value {
              color: var(--status-error);
            }
          }

          .delete-btn {
            background: var(--button-background-2);
            width: 33px;
            height: 33px;
            font-size: 18px;
          }

          .delete-btn:hover {
            background: var(--status-error);
          }
        }
      }

      .token-info-container {
        display: flex;
        justify-content: space-between;

        .token-info {
          color: var(--light-grey-7);

          .icon {
            padding-right: 2px;
          }

          .date {
            color: var(--white-1);
          }
        }
      }

      .token-details {
        display: flex;
        align-items: center;
        margin-top: 15px;

        .token-value {
          color: var(--white-1);
          font-size: 16px;
          text-align: left;
          height: 33px;
          width: 100%;
          background-color: var(--black-3);
          border-radius: 3px 0 0 3px;
          box-sizing: border-box;
          margin-bottom: 0px;
          padding-left: 6px;
        }

        .copy-btn {
          align-self: center;
          width: 33px;
          height: 33px;
          font-size: 18px;
          border-radius: 0 3px 3px 0;
          border-left: none;
          border-right: 1px solid #4d5967;
          border-bottom: 1px solid #4d5967;
          border-top: 1px solid #4d5967;
        }
      }

      .copy-message {
        font-size: 14px;
        color: var(--light-grey-2);
        font-style: italic;
        text-align: left;
        margin: 5px 0 0 0px;
      }
    }

    .token-card.created {
      background: var(--dark-grey-2);

      .token-header .delete-btn {
        background: var(--button-background-1);
      }
    }
  }

  .generate-token {
    display: flex;
    justify-content: right;

    .token-name-input {
      flex-grow: 1;
      margin-right: 10px;
    }

    .generate-token-btn {
      background: var(--status-translated);
      border: none;
      border-radius: 3px;
      font-weight: 400;
      color: var(--black-3);
      font-size: 14px;
      padding: 6px 12px;
      text-align: center;
      text-transform: uppercase;
      box-sizing: border-box;
    }

    .generate-token-btn:disabled {
      background: var(--button-background-1);
      color: var(--light-grey-7);
      cursor: not-allowed;
    }
  }
}
