{% extends "base.html" %}
{% import "search/widgets/translation_list.html" as Translations %}
{% import 'widgets/heading_info.html' as HeadingInfo %}
{% import 'heading.html' as Heading %}

{% block heading %}
  {% if entity %}
    <section id="heading">
      <div class="container clearfix">
        <h1>
          {{ HeadingInfo.heading_item(
            title=entity.string,
            link=request.get_full_path())
          }}
          {{ HeadingInfo.details_item(
          title='Keys: ',
          class='entity-key',
          value=", ".join(entity.key)
          ) }}
          {{ HeadingInfo.details_item(
            title='Project Name: ',
            class='project-name',
            value=entity.project.name)
          }}
          {{ HeadingInfo.details_item(
            title='Project Slug: ',
            class='project-slug',
            value=entity.project.slug)
          }}
          {{ HeadingInfo.details_item(
            title='Resource Path: ',
            class='resource-path',
            value=entity.resource.path)
          }}
        </h1>
      </div>
    </section>
  {% else %}
    {{ Heading.heading(title='Entity') }}
  {% endif %}
{% endblock %}

{% block bottom %}
<section id="main">
  <div class="container">

    {% if entity.translations %}
      {{ Translations.list_translations(entity, site_url) }}
    {% else %}
      {{ Translations.no_translations() }}
    {% endif %}
  </div>
</section>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'search' %}
{% endblock %}
