{% extends "base.html" %}
{% import "search/widgets/entity_list.html" as Entities %}
{% import 'heading.html' as Heading %}
{% import 'teams/widgets/team_selector.html' as team_selector %}
{% import 'projects/widgets/project_selector.html' as project_selector %}
{% import "widgets/checkbox.html" as Checkbox %}

{% block title %}Search{% endblock %}

{% block class %}search{% endblock %}

{% block heading %}
  {{ Heading.heading(title='Translation Search', subtitle='Search engine for entity translations') }}
{% endblock %}

{% block bottom %}
<section id="main">
  <div class="container">
    <menu>
      <div id="search-menu" class="controls">
        <div class="search-wrapper big clearfix">
          <div class="icon fas fa-search"></div>
          <input class="search-input" type="search" autocomplete="off" autofocus placeholder="Type and press Enter to search" value="{{ search }}">
        </div>
        <div id="project-selector">
          {{ project_selector.project(projects, preferred_project) }}
        </div>
        <div id="locale-selector">
          {{ team_selector.locale(locales, preferred_locale) }}
        </div>
      </div>
      <div class="errors"></div>
    <div id="search-filters">
      {{ Checkbox.checkbox('Search in string Identifiers', class='field search-identifiers-enabled', attribute='search-identifiers-enabled',
          is_enabled=search_identifiers_enabled, icon_first=True) }}
      {{ Checkbox.checkbox('Case Sensitive', class='field match-case-enabled', attribute='match-case-enabled',
          is_enabled=match_case_enabled, icon_first=True) }}
      {{ Checkbox.checkbox('Entire Words', class='field match-whole-word-enabled', attribute='match-whole-word-enabled',
          is_enabled=match_whole_word_enabled, icon_first=True) }}
    </div>
    </menu>

  <section id="search-results">
      {% if entities and search %}
        {{ Entities.list_entities(entities, preferred_locale, has_more) }}
      {% elif not entities and search %}
        <div>No Results Found.</div>
      {% endif %}
  </section>
  </div>
</section>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'search' %}
{% endblock %}

{% block extend_js %}
  {% javascript 'search' %}
{% endblock %}
