{% load static %}
{% load socialaccount %}
{% load helpers %}
<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}Pontoon{% endblock %}</title>
    <meta name="description" content="Mozilla’s Localization Platform">
    <meta name="author" content="Mozilla">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}" title="" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/nprogress.css' %}" title="" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" title="" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/boilerplate.css' %}" title="" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" title="" type="text/css" />

    {% include "tracker.html" %}

    {% block extend_css %}
    <!-- Inlining CSS mitigates/prevents fouc. -->
    <style>
      body {
         background: #333941;
      }
    </style>
    {% endblock %}
    {% block extend_js %}
    {% endblock extend_js %}
  </head>

  <body class="{% block class %}{% endblock %}">
    <header>
      <ul class="notification">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>

      <div class="container">
        <nav>
          <a href="{% url 'pontoon.homepage' %}" class="logo"><img src="{% static 'img/logo.svg' %}" width="32" height="32"></a>

          <ul class="links">
            <li><a href="{% url 'pontoon.teams' %}">팀</a></li>
            <li><a href="{% url 'pontoon.projects' %}">프로젝트</a></li>
            <li><a href="{% url 'pontoon.contributors' %}">기여자</a></li>
            <li><a href="{% url 'pontoon.machinery' %}">기계 검색</a></li>
          </ul>

          <div class="right">
            <div id="profile" class="select">
              <div class="button selector">
                {% if user.is_authenticated %}
                  <img class="rounded" src="{{ request.user.gravatar_url_small }}" width="44" height="44">
                {% else %}
                  <div class="menu-icon fa fa-bars"></div>
                {% endif %}
              </div>
              <div class="menu">
                <ul>
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'pontoon.contributors.contributor.username' username=user %}"><i class="fa fa-user fa-fw"></i>내 프로파일</a></li>
                  <li><a href="{% url 'pontoon.contributors.settings' %}"><i class="fa fa-cog fa-fw"></i>설정 변경</a></li>
                  <li class="horizontal-separator"></li>
                  {% endif %}

                  <li><a href="{% url 'pontoon.terms' %}" rel="noopener noreferrer" target="_blank"><i class="fa fa-gavel fa-fw"></i>사용 규정</a></li>
                  <li><a href="https://github.com/mozilla/pontoon/" rel="noopener noreferrer" target="_blank"><i class="fab fa-github fa-fw"></i>Pontoon Github로 가기</a></li>
                  <li><a href="https://discourse.mozilla.org/c/pontoon" rel="noopener noreferrer" target="_blank"><i class="fa fa-comment-dots fa-fw"></i>피드백 제공하기</a></li>
                  <li><a href="https://mozilla-l10n.github.io/localizer-documentation/tools/pontoon/" rel="noopener noreferrer" target="_blank"><i class="fa fa-life-ring fa-fw"></i>Pontoon 도움말</a></li>

                  <li class="horizontal-separator"></li>

                  {% if perms.base.can_manage_project %}
                  <li><a href="{% url 'pontoon.admin' %}">관리</li>
                  {% endif %}

                  {% if settings.AUTHENTICATION_METHOD == 'django' %}
                    {% if user.is_authenticated %}
                      <li id="standalone-sign-out"><a href="{% url 'standalone_logout' %}" title="{{ user.email|nospam }}"><i class="fa fa-sign-out-alt fa-fw"></i>로그아웃</a></li>
                    {% else %}
                      <li id="standalone-signin"><a href="{% url 'standalone_login' %}"><i class="fa fa-sign-in-alt fa-fw"></i>Sign in</a></li>
                    {% endif %}
                  {% else %}
                    {% if user.is_authenticated %}
                      <li id="sign-out"><a href="{% url 'account_logout' %}" title="{{ user.email|nospam }}">{{ SignOut.csrf_form }}<i class="fa fa-sign-out-alt fa-fw"></i>Pontoon 가입</a></li>
                    {% else %}
                      <li id="sign-in"><a id="fxa-sign-in" href="{{ provider_login_url }}"><i class="fa fa-sign-in-alt fa-fw"></i>Sign in</a></li>
                    {% endif %}
                  {% endif %}
                </ul>
              </div>

            </div>
          </div>
        </nav>
      </div>
    </header>

    <section id="error">
      <div class="inner">
        {% block content %}
        {% endblock %}
      </div>
    </section>

    <!-- Javascript at the bottom for fast page loading -->
    {% providers_media_js %}
    <script type="text/javascript" charset="utf-8" src="{% static 'js/lib/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'js/lib/nprogress.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'js/main.js' %}"></script>
  </body>
</html>
