{% extends "base.html" %}
{% import "contributors/widgets/contributor_list.html" as Contributors %}
{% import 'widgets/heading_info.html' as HeadingInfo %}
{% import 'heading.html' as Heading %}

{% block title %}최고 기여자{% endblock %}

{% block class %}top-contributors{% endblock %}

{% block heading %}
  {% if contributors %}
    {% set top_contributor = contributors[0] %}
    <section id="heading">
      <div class="container clearfix">
        <h1>
          {{ HeadingInfo.heading_item(
            title='최고 기여자',
            link=url('pontoon.contributors'))
          }}
        </h1>

        <ul class="details">
          {{ HeadingInfo.details_item(
            title='최고 기여자',
            class='banner',
            value='')
          }}
          {{ HeadingInfo.details_item(
            title='이름',
            class='name',
            value=top_contributor.name_or_email,
            value_link=url('pontoon.contributors.contributor.username', top_contributor.username))
          }}
          {{ HeadingInfo.details_item(
            title='역할',
            class='role',
            value=top_contributor.user_role)
          }}
          {{ HeadingInfo.details_item(
            title='시작 년월',
            class='date-joined',
            value=top_contributor.date_joined.strftime('%d %B %Y'))
          }}
          {{ HeadingInfo.details_item(
            title='마지막 활동',
            class='latest-activity',
            value=top_contributor.contributed_translations.latest('date').date|naturaltime)
          }}
        </ul>

        <div class="progress">
          <a href="{{ url('pontoon.contributors.contributor.username', top_contributor.username) }}">
            <img class="rounded" src="{{ top_contributor.gravatar_url(252) }}" height="126" width="126">
          </a>
        </div>

        <ul class="legend">
          {{ HeadingInfo.details_item(
            title='선택된 기간동안 기여',
            class='banner',
            value='')
          }}
          {{ HeadingInfo.legend_item(
            title='전체 줄',
            class='all',
            value=top_contributor.translations_count)
          }}
          {{ HeadingInfo.legend_item(
            title='번역된 줄',
            class='translated',
            value=top_contributor.translations_approved_count)
          }}
          {{ HeadingInfo.legend_item(
            title='애매한 줄',
            class='fuzzy',
            value=top_contributor.translations_needs_work_count)
          }}
          {{ HeadingInfo.legend_item(
            title='리뷰 안 된 제안',
            class='unreviewed',
            value=top_contributor.translations_unapproved_count)
          }}
        </ul>
      </div>
    </section>
  {% else %}
    {{ Heading.heading(title='Top Contributors') }}
  {% endif %}
{% endblock %}

{% block bottom %}
<section id="main">
  <div class="container">
    <menu class="controls contributors">
      {{ Contributors.select_period(period, url('pontoon.contributors')) }}
    </menu>

    {% if contributors %}
      {{ Contributors.list_contributors(contributors) }}
    {% else %}
      {{ Contributors.no_contributors() }}
    {% endif %}
  </div>
</section>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'contributors' %}
{% endblock %}
