{% extends "base.html" %}

{% import "widgets/checkbox.html" as Checkbox %}
{% import "widgets/toggle.html" as Toggle %}
{% import "widgets/theme_toggle.html" as ThemeToggle %}
{% import 'teams/widgets/multiple_team_selector.html' as multiple_team_selector %}
{% import 'teams/widgets/team_selector.html' as team_selector %}


{% block title %}Settings{% endblock %}

{% block heading %}
<section id="heading">


</section>
{% endblock %}

{% block bottom %}
<section id="main">
    <form method="POST" action="{{ url('pontoon.contributors.settings.token') }}" class="user-locales-settings">
        {% csrf_token %}
        <!-- <input type="hidden" name="return_url" value="{{ return_url(request) }}"> -->

        <section>
            <h3>Create Personal Access Token</h3>
            <div class="field">
                {{ create_token_form.name.label_tag(label_suffix='') }}
                {{ create_token_form.name }}
                {{ create_token_form.name.errors }}
            </div>
            <div class="field">
                {{ create_token_form.description.label_tag(label_suffix='') }}
                {{ create_token_form.description }}
                {{ create_token_form.description.errors }}
            </div>
            <div class="field">
                {{ create_token_form.expires_at.label_tag(label_suffix='') }}
                {{ create_token_form.expires_at }}
                {{ create_token_form.expires_at.errors }}
                <p class="help">Displayed on the <a href="{{ url('pontoon.contributors.profile') }}">Profile page</a>
                </p>
            </div>
        </section>

        
        <div class="controls">
            <a class="cancel" href="{{ url('pontoon.contributors.settings') }}">Cancel</a>
            <button class="submit button active">Save</button>
        </div>
    </form>
</section>
{% endblock %}

{% block extend_css %}
{% stylesheet 'settings' %}
{% endblock %}

{% block extend_js %}
{% javascript 'settings' %}
{% endblock %}
