{% extends "base.html" %}

{% block title %}{{ contributor.name_or_email }}{% endblock %}

{% block class %}user{% endblock %}

{% block before %}
<!-- Server data -->
<div id="server" class="hidden"
     {% if csrf_token %}data-csrf="{{ csrf_token }}"{% endif %}
     {% if user.is_authenticated and user.email %}data-email="{{ user.email|nospam }}"{% endif %}
     >
</div>
{% endblock %}

{% set my_profile = (user.is_authenticated and user.email == contributor.email) %}

{% block heading %}
<section id="heading">
  <a class="avatar" href="{% if my_profile %}https://gravatar.com/{% endif %}">
    {% if my_profile %}
      <div class="desc">프로파일 그림 업데이트</div>
    {% endif %}
    <img class="rounded" src="{{ contributor.gravatar_url(400) }}" width="200" height="200">
  </a>

  <h2 id="username">{{ contributor.first_name }}</h2>

  <ul class="info">
    <li>
      <span class="fa fa-fw fa-envelope"></span>
      {% if user.is_authenticated %}
      <a href="mailto:{{ contributor.email|nospam }}">{{ contributor.email|nospam }}</a>
      {% else %}
      {% if settings.AUTHENTICATION_METHOD == 'django' %}
        {% set login_url = url('standalone_login') %}
      {% else %}
        {% set login_url = provider_login_url(request) %}
      {% endif %}
      <a id="sidebar-signin" href="{{ login_url }}">Sign in to see email address</a>
      {% endif %}
    </li>
    <li>
      <span class="fa fa-fw fa-lock"></span>
      {{ contributor|display_permissions() }}
    </li>
    {% if my_profile %}
    <li class="settings">
      <i class="fa fa-fw fa-cog"></i>
      <a href="{{ url('pontoon.contributors.settings') }}">Change Settings</a>
    </li>
    {% endif %}
  </ul>
</section>
{% endblock %}

{% block middle %}
<section id="middle">
  <div class="container details">
    <div class="total">
      <span>전체 줄</span>
      <p>{{ translations.count()|intcomma }}</p>
    </div><div class="translated">
      <span>번역됨</span>
      <p>{{ translations.filter(approved=True).count()|intcomma }}</p>
    </div><div class="fuzzy">
      <span>애매한 번역</span>
      <p>{{ translations.filter(fuzzy=True).count()|intcomma }}</p>
    </div><div class="unreviewed">
      <span>리뷰 안됨</span>
      <p>{{ translations.exclude(approved=True).exclude(fuzzy=True).exclude(rejected=True).count()|intcomma }}</p>
    </div>
  </div>
</section>
{% endblock %}

{% block bottom %}
<section id="main" data-url="{{ url('pontoon.contributors.contributor.timeline', username=contributor.username) }}" data-page="0" data-finalized="0">
  <div class="container"></div>

  <div id="timeline-loader">
    <div class="fa fa-sync fa-spin"></div>
  </div>
</section>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'profile' %}
{% endblock %}

{% block extend_js %}
  {% javascript 'profile' %}
{% endblock %}
