{% import "insights/widgets/tooltip.html" as Tooltip %}

{% extends "base.html" %}

{% block title %}{{ contributor.name_or_email }}{% endblock %}

{% block class %}user{% endblock %}

{% block bottom %}
<section id="main" class="clearfix"
    data-url="{{ url('pontoon.contributors.contributor.timeline', username=contributor.username) }}" data-page="0"
    data-finalized="0">
    <div class="container clearfix">
        <div class="left-column">

            {% set my_profile = (user.is_authenticated and user.email == contributor.email) %}

            <a class="avatar" href="{% if my_profile %}https://gravatar.com/{% endif %}">
                {% if my_profile %}
                <div class="desc">Change your profile picture</div>
                {% endif %}
                <img class="rounded" src="{{ contributor.gravatar_url(512) }}" width="256" height="256">
            </a>

            <div class="personal-information">
                <div class="block">
                    <h2 class="display-name">{{ contributor.first_name }}</h2>
                    {% if contributor.profile.username %}
                    <div class="username">{{ contributor.profile.username }}</div>
                    {% endif %}
                </div>

                {% if contributor.profile.bio %}
                <div class="block">
                    <div class="bio">{{ contributor.profile.bio }}</div>
                </div>
                {% endif %}

                <div class="block">
                    {% if user.is_authenticated %}
                    {% if contributor.profile.visibility_email == "Logged in users" or user.translated_locales %}
                    {% set email = contributor.profile.contact_email or contributor.email %}
                    <div class="item-with-icon">
                        <span class="icon fa fa-envelope"></span>
                        <a href="mailto:{{ email|nospam }}">{{ email|nospam }}</a>
                    </div>
                    {% endif %}
                    {% endif %}

                    {% if contributor.profile.visibility_external_accounts == "Public" or user.translated_locales %}

                    {% if contributor.profile.chat %}
                    <div class="item-with-icon" title="Chat Account">
                        <span class="icon fa fa-comment-dots"></span>
                        <span>{{ contributor.profile.chat }}</span>
                    </div>
                    {% endif %}

                    {% if contributor.profile.github %}
                    <div class="item-with-icon" title="GitHub Account">
                        <span class="icon fab fa-github"></span>
                        <a href="https://github.com/{{ contributor.profile.github }}">{{ contributor.profile.github }}</a>
                    </div>
                    {% endif %}

                    {% if contributor.profile.bugzilla %}
                    <div class="item-with-icon" title="Bugzilla Account">
                        <span class="icon fa fa-bug"></span>
                        <a href="mailto:{{ contributor.profile.bugzilla|nospam }}">{{ contributor.profile.bugzilla|nospam }}</a>
                    </div>
                    {% endif %}

                    {% endif %}
                </div>

                {% if my_profile %}
                <div class="block">
                    <a class="button" href="{{ url('pontoon.contributors.settings') }}">Change Settings</a>
                </div>
                {% endif %}
            </div>

            <hr>

            <div class="dates">
                <div class="block">
                    <h4 class="subtitle">Latest activity</h4>
                    <div class="item-with-icon">
                        <span class="icon fa fa-calendar-alt"></span>
                        {% set action = contributor.latest_action %}
                        {% if action and action.translation %}
                        {% set resource = action.translation.entity.resource %}
                        {% set string = action.translation.entity.pk %}
                        <a href="{{ url('pontoon.translate', action.translation.locale.code, resource.project.slug, resource.path) }}?string={{ string }}">{{ action.created_at|format_datetime("date") }}</a>
                        {% else %}
                        <span>No activity yet</span>
                        {% endif %}
                    </div>
                </div>

                <div class="block">
                    <h4 class="subtitle">Last login</h4>
                    <div class="item-with-icon">
                        <span class="icon fa fa-calendar-alt"></span>
                        <span>{{ contributor.last_login|format_datetime("date") }}</span>
                    </div>
                </div>

                <div class="block">
                    <h4 class="subtitle">Member since</h4>
                    <div class="item-with-icon">
                        <span class="icon fa fa-calendar-alt"></span>
                        <span>{{ contributor.date_joined|format_datetime("date") }}</span>
                    </div>
                </div>
            </div>

            <hr>

            <div class="permissions">
                {% if contributor.translator_for_locales %}
                <div class="block">
                    <h4 class="subtitle">Translator</h4>
                    {% for locale in contributor.translator_for_locales %}
                    <div class="item-with-icon">
                        <span class="icon fa fa-language"></span>
                        <span>{{ locale.name }} <span class="stress">{{ locale.code }}</span></span>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if contributor.manager_for_locales %}
                <div class="block">
                    <h4 class="subtitle">Team manager</h4>
                    {% for locale in contributor.manager_for_locales %}
                    <div class="item-with-icon">
                        <span class="icon fa fa-language"></span>
                        <a href="{{ url('pontoon.teams.team', locale.code) }}">{{ locale.name }} <span class="stress">{{ locale.code }}</span></a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if contributor.is_superuser %}
                <div class="block">
                    <h4 class="subtitle superuser">Project manager</h4>
                </div>
                {% endif %}
            </div>

        </div>

        <div class="right-column">

            <section id="insights" class="half" data-dates="{{ dates }}">
                <div class="block clearfix">
                    <div class="chart-group">
                        <div class="chart-item approval-ratio">
                            <h3 class="controls">
                                Approval ratio
                                {{ Tooltip.display(
                                    items=[{
                                        'class': 'current-month',
                                        'name': 'Current month',
                                        'definition': 'Ratio of translations approved within all translations reviewed during each month.',
                                    }, {
                                        'class': 'twelve-month-average',
                                        'name': '12-month average',
                                        'definition': 'Ratio of translations approved within all translations reviewed in the 12 months before the specific month.',
                                    }]
                                ) }}
                            </h3>
                            <canvas
                                id="approval-ratio-chart"
                                data-approval-ratios="{{ approval_ratios }}"
                                data-approval-ratios-12-month-avg="{{ approval_ratios_12_month_avg }}"
                                width="360"
                                height="145">
                            </canvas>
                        </div>
                        <div class="chart-item self-approval-ratio">
                            <h3 class="controls">
                                Self-approval ratio
                                {{ Tooltip.display(
                                    items=[{
                                        'class': 'current-month',
                                        'name': 'Current month',
                                        'definition': 'Ratio of self-approved translations within all approved translations during each month.',
                                    }, {
                                        'class': 'twelve-month-average',
                                        'name': '12-month average',
                                        'definition': 'Ratio of self-approved translations within all approved translations in the 12 months before the specific month.',
                                    }]
                                ) }}
                            </h3>
                            <canvas
                                id="self-approval-ratio-chart"
                                data-self-approval-ratios="{{ self_approval_ratios }}"
                                data-self-approval-ratios-12-month-avg="{{ self_approval_ratios_12_month_avg }}"
                                width="360"
                                height="145">
                            </canvas>
                        </div>
                    </div>
                    <nav class="chart-group-navigation">
                        <ul class="unselectable">
                            <li class="active" title="Approval ratio">
                                <i class="icon"></i><span class="label">Approval ratio</span>
                            </li>
                            </li>
                            <li title="Self-approval ratio">
                                <i class="icon"></i><span class="label">Self-approval ratio</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>

            <section id="stats">
                <div class="details">
                    <div class="total">
                        <span>All strings</span>
                        <p>{{ translations.count()|intcomma }}</p>
                    </div>
                    <div class="translated">
                        <span>Translated</span>
                        <p>{{ translations.filter(approved=True).count()|intcomma }}</p>
                    </div>
                    <div class="unreviewed">
                        <span>Unreviewed</span>
                        <p>{{ translations.exclude(approved=True).exclude(rejected=True).count()|intcomma }}</p>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <div id="timeline-loader">
        <div class="fa fa-sync fa-spin"></div>
    </div>
</section>
{% endblock %}

{% block extend_css %}
{% stylesheet 'profile' %}
{% endblock %}

{% block extend_js %}
{% javascript 'profile' %}
{% endblock %}
