{% extends "base.html" %}
{% import 'heading.html' as Heading %}
{% import 'teams/widgets/team_selector.html' as team_selector %}

{% block title %}Machinery{% endblock %}

{% block class %}machinery{% endblock %}

{% block before %}
<!-- Server data -->
<div id="server"
     class="hidden"
     data-is-authenticated="{{ user.is_authenticated|to_json() }}"
     data-is-google-translate-supported="{{ is_google_translate_supported|to_json() }}"
     data-is-microsoft-translator-supported="{{ is_microsoft_translator_supported|to_json() }}"
     data-is-systran-translate-supported="{{ is_systran_translate_supported|to_json() }}"
     >
</div>
{% endblock %}

{% block heading %}
  {{ Heading.heading(title='Machinery', subtitle='Metasearch engine for translations') }}
{% endblock %}

{% block bottom %}
<section id="main">
  <div class="container">
    <menu class="controls">
      <div id="search" class="search-wrapper big clearfix">
        <div class="icon fa fa-search"></div>
        <div class="icon fa fa-cog fa-spin"></div>
        <input type="search" autocomplete="off" autofocus placeholder="Type and press Enter to search">
      </div>

      {{ team_selector.locale(locales, locale) }}
    </menu>

    <div id="helpers">
      <section class="machinery">
        <ul></ul>
      </section>
    </div>
  </div>
</section>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'machinery' %}
{% endblock %}

{% block extend_js %}
  {% javascript 'machinery' %}
{% endblock %}
