<?xml version='1.0' encoding='utf-8'?>
<soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/">
    <soap-env:Header></soap-env:Header>
    <soap-env:Body>
        <GetTranslations xmlns="http://api.terminology.microsoft.com/terminology">
            <text>{{ text }}</text>
            <from>en-US</from>
            <to>{{ to }}</to>
            <sources>
                <TranslationSource>Terms</TranslationSource>
                <TranslationSource>UiStrings</TranslationSource>
            </sources>
            <maxTranslations>{{ max_result }}</maxTranslations>
        </GetTranslations>
    </soap-env:Body>
</soap-env:Envelope>
