{# Template responsible for rendering pages of the timeline. #}
{% for event in events %}
<div class="clearfix">
    <div class="tick"></div>
    <div class="content">
        <h4>
            <div class="day">{{ event.date.strftime('%d') }}</div>
            <div>
                <div class="weekday">{{ event.date.strftime('%A') }}</div>
                <div class="month">{{ event.date.strftime('%B %Y') }}</div>
            </div>
        </h4>
        <h2>
            {% if event.type == 'translation' %}
            새로이 번역을 추가하셨습니다
            {% if event.count > 1 %}
            <div>(and {{ event.count-1 }} other{% if event.count > 2 %}s{% endif %})</div>
            {% endif %}
            {% elif event.type == 'join' %}
            Pontoon에 가입하셨습니다.
            {% endif %}
        </h2>
        {% if event.translation %}
        {% set direction = event.translation.locale.direction %}
        <div class="fa fa-2x quote {% if direction == 'ltr' %}fa-quote-left{% else %}fa-quote-right{% endif %}"></div>
        <p dir="{{ direction }}" lang="{{ event.translation.locale.code }}" data-script="{{ event.translation.locale.script }}">{{ event.translation.string|as_simple_translation() }}</p>
        {% endif %}
        <div class="label clearfix {{ event.type }}">
            <figure>
                <div class="icon fa-3x {% if event.count %}far fa-comment{% if event.count > 1 %}s{% endif %}{% elif event.type == 'join' %}fas fa-child{% endif %}"></div>
                <figcaption>{{ event.date.strftime('%H:%M') }}</figcaption>
            </figure>
            {% if event.project %}
            {% if not event.project.disabled %}
            <a href="{{ url('pontoon.translate', event.translation.locale.code, event.project.slug, event.translation.entity.resource.path) }}">{{ event.project.name }}</a>
            {% else %}
            <span class="project">{{ event.project.name }}</span>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
