.entity {
    color: white;
    cursor: pointer;
    line-height: 2rem;
    padding: 10px 25px 10px 43px;
    position: relative;
    vertical-align: baseline;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}
.entity.selected,
.entity:hover {
    background-color: #4d5967;
}

.entity > div {
    height: 22px;
    line-height: 22px;
}

.entity .source-string,
.entity .translation-string {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 49%;
}
.entity .translation-string {
    color: #AAAAAA;
    padding-left: 2%;
    text-align: start;
}
.entity .translation-string[data-script="Latin"],
.entity .translation-string[data-script="Greek"],
.entity .translation-string[data-script="Cyrillic"],
.entity .translation-string[data-script="Vietnamese"] {
    font-style: italic;
}

.entity > .status {
    margin: -13px -13px -13px -16px;
    padding: 13px 13px 13px 16px;
    font-size: 16px;
}

.entity .status.fa {
    left: 16px;
    top: 13px;
    position: absolute;
}
.entity .status:before {
    color: #4D5967;
    content: "";
}
.entity.fuzzy .status:before {
    color: #FED271;
}
.entity.approved .status:before {
    color: #7BC876;
}
.entity.untranslated .status:before {
    color: #AAAAAA;
    content: "";
}
.entity.unreviewed .status:before {
    color: #4FC4F6;
    content: "";
}
.entity.rejected .status:before {
    color: #AAAAAA;
    content: "";
}
.entity.time-range .status:before {
    color: #AAAAAA;
    content: "";
}

.entity.missing.selected .status:before,
.entity.missing:hover .status:before {
    color: #3F4752;
}
