<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}playdoh examples{% endblock %}</title>

    {% block site_css %}
      {{ css('example_css') }}
    {% endblock %}
  </head>
  <body data-mobile-cookie="{{ settings.MOBILE_COOKIE }}">
    {% block content %}{% endblock %}

    <div id="footer">
      {# These links will add/remove cookies. See JavaScript. #}
      <a class="desktop-link" href="">{{ _('View Desktop Site') }}</a>
      &nbsp;|&nbsp;
      <a class="mobile-link" href="">{{ _('View Mobile Site') }}</a>
    </div>

    {% block site_js %}
      {{ js('example_js') }}
    {% endblock %}
  </body>
</html>

