body{text-align:center;margin:0;padding:0;font-family:verdana;min-width:990px}#nav-access{display:none}#doc{width:980px;margin:auto;text-align:left;position:relative;z-index:1}[dir="rtl"] #doc{text-align:right}#doc:after{content:".";display:block;height:0;clear:both;visibility:hidden}#wrapper{min-width:980px}.hide{display:none}body{background:#fff url(/img/template/page-background.png) 50% 0 repeat-x;border-top:2px solid #686868}#header{text-align:center;height:58px;margin:0
10px}#header
h1{margin:0;float:left}#header h1 a,
#header h1 a:link,
#header h1 a:visited{display:block;height:68px;width:171px;background:url(/img/covehead/template/title.png?2011-09-07) 0 0 no-repeat;text-indent: -500px;font-size:1px;overflow:hidden}#footer h3 a:hover,
#footer h3 a:active{background: -moz-radial-gradient(center 45deg, ellipse closest-side, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%),
url(/img/template/header-logos.png) 15px 0 no-repeat;-moz-transition:background 0.2s ease-in-out}#nav-main{display:inline-block;*display:inline;_height:47px;zoom:1;text-align:left;font-family:"Trebuchet MS",sans-serif;font-weight:bold;font-size:13px;text-transform:uppercase}#nav-main
li{list-style:none}#nav-main
ul{float:left;z-index:99;left:auto;margin:0;padding:0}#nav-main
li{float:left;background:none;margin:0
0 0 -1px;padding:0;position:relative;z-index:100}#nav-main ul li a,
#nav-main ul li a:link,
#nav-main ul li a:visited,
#nav-main ul li
span{padding:15px
30px 10px 10px;height:18px;display:block;float:left;border-width:0 1px;border-style:solid;border-color:#98b2c9;z-index:100;position:relative;color:#484848;text-decoration:none}#nav-main ul li.current.last
a{border-color:#98b2c9}#nav-main ul li.hover a,
#nav-main ul li.hover a:link,
#nav-main ul li.hover a:visited{-webkit-box-shadow:inset rgba(255,255,255,0.8) 0 -6px 20px 10px;-webkit-box-shadow:rgba(152,178,201,0.2) 0 0px 0px,
inset rgba(255,255,255,0.8) 0 -6px 20px 10px;box-shadow:rgba(152,178,201,0.2) 0 0px 0px,
inset rgba(255,255,255,0.8) 0 -6px 20px 10px;-moz-transition:0.2s linear;-moz-transition-property:background, box-shadow, border-right;background:rgb(251,253,255);background:rgba(255,255,255,0);outline:0;padding-bottom:15px}#nav-main ul li.last a,
#nav-main ul li.last
span{border-right-color:transparent}#nav-main ul li.last a:hover,
#nav-main ul li.last a:focus,
#nav-main ul li.last a:active,
.js #nav-main ul li.last a:focus,
#nav-main ul li.hover
a{border-right-color:#98b2c9}#nav-main ul li.last a:hover,
#nav-main ul li.last a:focus,
#nav-main ul li.last a:active,
.js #nav-main ul li.last a:focus,
#nav-main ul li.hover
a{border-right-color:#98b2c9}.js #nav-main li.hover
ul{margin-top:47px;left:0;opacity:1;-moz-transition:opacity 0.2s ease-in-out;-webkit-transition:opacity 0.2s ease-in-out;transition:opacity 0.2s ease-in-out}#nav-main ul ul,
#nav-main ul ul
li{height:auto;border:0;float:none}#nav-main ul
ul{position:absolute;left: -999em;opacity:0;z-index:99;border:1px
solid #98b2c9;width:190px;-webkit-border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-topright:4px;-moz-border-radius-bottomright:4px;-moz-border-radius-bottomleft:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;text-shadow:1px 1px 0 #fff, 0 0 5px #fff;background:#fbfdff;background:rgba(255,255,255,0.9);-webkit-box-shadow:inset rgba(152,178,201,0.3) 0 -2px 0;-webkit-box-shadow:rgba(152,178,201,0.2) 0 2px 0px,
inset rgba(152,178,201,0.3) 0 -2px 0;box-shadow:rgba(152,178,201,0.2) 0 2px 0px,
inset rgba(152,178,201,0.3) 0 -2px 0}#nav-main ul ul
li{-webkit-box-shadow:inset rgba(152,178,201,0.2) 0 -1px 0 0;box-shadow:inset rgba(152,178,201,0.2) 0 -1px 0 0;margin-left:0}#nav-main ul ul li a,
#nav-main ul ul li a:link,
#nav-main ul ul li a:visited,
#nav-main ul ul li
span{overflow:hidden;padding:8px
10px;margin:0;height:auto;float:none;display:block;font-size:10px;border:0;background:none;box-shadow:none;position:relative;-moz-transition:background 0.1s ease-in;-webkit-transition:background 0.1s ease-in;transition:background 0.1s ease-in}#nav-main ul ul li a:hover,
#nav-main ul ul li a:focus,
#nav-main ul ul li a:active,
.js #nav-main ul ul li a:focus,
#nav-main ul li.current ul li a:hover,
#nav-main ul li.current ul li a:focus,
#nav-main ul li.current ul li a:active,
.js #nav-main ul li.current ul li a:focus{background:rgb(227,235,244);background:rgba(152,178,201,0.2);-webkit-box-shadow:0 0 3px 2px rgba(152,178,201,.2) inset;-webkit-box-shadow:inset rgba(152,178,201,0.3) 0 2px 0px,
0 0 3px 2px rgba(152,178,201,.2) inset;box-shadow:inset rgba(152,178,201,0.3) 0 2px 0px,
0 0 3px 2px rgba(152,178,201,.2) inset;-moz-transition:background 0.1s ease-out;-webkit-transition:background 0.1s ease-out;transition:background 0.1s ease-out}#nav-main ul li:hover ul li a,
#nav-main ul li.hover ul li a:link,
#nav-main ul li.hover ul li a:visited{padding-bottom:8px}#nav-main ul li.current span,
#nav-main ul li.current a,
#nav-main ul li.current a:link,
#nav-main ul li.current a:visited{border-bottom-width:1px;-webkit-border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-moz-border-radius-bottomleft:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;background:#fbfdff;background: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.8) 100%);-webkit-box-shadow:inset rgba(255,255,255,0.8) 0 -6px 6px 4px;-webkit-box-shadow:rgba(152,178,201,0.2) 0 0px 0px,
inset rgba(152,178,201,0.3) 0 -2px 0,
inset rgba(255,255,255,0.8) 0 -6px 6px 4px;box-shadow:rgba(152,178,201,0.2) 0 0px 0px,
inset rgba(152,178,201,0.3) 0 -2px 0,
inset rgba(255,255,255,0.8) 0 -6px 6px 4px;padding-right:30px;padding-bottom:15px}#nav-main ul li.current:hover a,
#nav-main ul li.current.hover a,
#nav-main ul li.current a:hover,
#nav-main ul li.current a:focus,
#nav-main ul li.current a:active,
.js #nav-main ul li.current a:focus{box-shadow:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border-bottom:0}#nav-main ul li.current ul span,
#nav-main ul li.current ul a,
#nav-main ul li.current ul a:link,
#nav-main ul li.current ul a:visited{background:none;height:auto;-moz-box-shadow:none;box-shadow:none;padding:8px
10px}#header
a.mozilla{position:relative;float:right;display:block;height:49px;width:118px;background:url(/img/covehead/template/title.png) 100% 0 no-repeat;text-indent: -200px;overflow:hidden}.darkbg #nav-main ul li a,
.darkbg #nav-main ul li a:link,
.darkbg #nav-main ul li a:visited,
.darkbg #nav-main ul li
span{color:#fff;border-color:#555}.darkbg #nav-main ul li li a,
.darkbg #nav-main ul li li a:link,
.darkbg #nav-main ul li li a:visited,
.darkbg #nav-main ul li li
span{color:#484848}.darkbg #nav-main ul li a:hover,
.darkbg #nav-main ul li:hover a,
.darkbg #nav-main ul li.hover a,
.darkbg #nav-main ul li.hover a:link,
.darkbg #nav-main ul li.hover a:visited{background:#ccc;color:#484848;border-color:#98B2C9}.darkbg #header h1 a,
.darkbg #header
a.mozilla{background-image:url(/img/covehead/template/title-darkbg.png)}#sub-footer{background:#3d6db5 url(/img/template/footer-background.png) top center repeat-x;color:#476fbe;clear:both}#sub-footer #sub-footer-contents{margin:auto;width:980px;text-align:left}#sub-footer
h3{margin:115px
0 10px 0;float:left;background:url(/img/template/footer-social.png) 50% 0 no-repeat;height:100px;width:126px;padding:15px
0 0 25px;font-family:georgia,serif;font-weight:normal;font-style:italic;color:#33559b;font-size:22px;line-height:22px}#sub-footer h3
span{font-family:MetaBlack,"Trebuchet MS",sans-serif;font-weight:bold;text-transform:uppercase;font-style:normal;font-size:22px;color:#fff}#sub-footer
ul{margin:100px
0 0 0;left:auto;float:left}#sub-footer ul
li{float:left;padding:0;margin:0
15px 0 0;background:none}#sub-footer ul li a,
#sub-footer ul li a:link,
#sub-footer ul li a:visited{display:block;background:url(/img/template/footer-social.png) 50% 0 no-repeat;width:110px;padding:60px
0 0 0;font-family:georgia,serif;font-weight:normal;font-size:18px;line-height:18px;font-style:italic;text-align:center;color:#fff;-moz-transition:text-shadow 0.2s ease-out;-webkit-transition:text-shadow 0.2s ease-out;transition:text-shadow 0.2s ease-out}#sub-footer a:hover,
#sub-footer a:active{text-shadow:1px 1px 2px rgba(0,0,0,0.5), 0 0 5px rgba(51,85,155,1), 0 0 20px rgba(255,255,255,0.6);-moz-transition:text-shadow 0.1s ease-out;-webkit-transition:text-shadow 0.1s ease-out;transition:text-shadow 0.1s ease-out}#sub-footer
ul{background-position:50% -115px;margin-bottom:30px}#sub-footer ul li#footer-twitter
a{background-position:50% -115px}#sub-footer ul li#footer-facebook
a{background-position:50% -215px}#sub-footer ul li#footer-connect
a{background-position:50% -315px}#sub-footer #sub-footer-newsletter{float:right;background:url(/img/template/footer-social.png) 30% -412px no-repeat;margin:0
32px 0 0;padding:135px
0 0 0;line-height:1em;text-align:left}#sub-footer #sub-footer-newsletter
span.intro{display:block;font-family:georgia,serif;font-weight:normal;font-size:18px;line-height:18px;font-style:italic;color:#fff}#footer{background:#33559b url(/img/template/footer-background.png) -200px center repeat-x;text-align:center;color:#476fbe;clear:both;padding:5px
0}#footer a:link,
#footer a:visited{color:#669be1;text-decoration:none;-moz-transition:color 0.1s ease-in;-webkit-transition:color 0.1s ease-in;transition:color 0.1s ease-in}#footer a:hover,
#footer a:active{color:#fff;text-decoration:underline;-moz-transition:color 0.1s ease-out;-webkit-transition:color 0.1s ease-out;transition:color 0.1s ease-out}#footer-contents{width:980px;text-align:left;margin:auto}#footer-contents[dir=rtl]{text-align:right}#footer h3 a,
#footer h3 a:link,
#footer h3 a:visited{display:block;height:40px;width:100px;background:url(/img/covehead/template/footer-title.png) 0 0 no-repeat;text-indent: -200px;font-size:1px;overflow:hidden}#footer-logo{float:left;display:inline;margin:15px
50px 0 10px}#footer-logo a,
#footer-logo a:link,
#footer-logo a:visited{font-size:28px;padding:0}#footer-menu,
#footer-menu
ul{margin:0;padding:0;list-style-type:none;left:auto}#footer-menu
li{margin:15px
10px 0 0;padding:0;list-style-type:none;float:left;display:inline;display:inline;font-weight:bold;background:none;position:relative;width:115px}#footer-menu li a,
#footer-menu li a:link,
#footer-menu li a:visited,
#footer #lang_form
label{color:#fff;font-family:MetaBlack,TrechuchetMS,sans-serif;font-weight:bold;font-size:14px;text-transform:uppercase}#footer li li a:link,
#footer li li a:visited{color:#669be1;font-family:georgia,serif;font-weight:normal;font-size:13px;text-transform:none}#footer li li a:hover,
#footer li li a:active{color:#fff}#footer-menu ul li
ul{margin:4px
0 15px 0}#footer-menu
li.last{margin-right:0}#footer-menu ul ul
li{float:none;padding:0
0 0.3em 0;margin:0;font-weight:normal;display:block;width:auto}#footer #footer-right{float:right;width:175px}#footer
#lang_form{margin:0
0 15px 22px}#footer #lang_form
label{margin:10px
0 4px 0;display:block}#footer #lang_form
select{width:140px;font-family:sans-serif}#footer #lang_form
div{display:inline}#footer
#copyright{clear:both}#footer #copyright
p{margin-bottom:0.5em;font-size:85%}#footer #copyright a:hover,
#footer #copyright a:active{text-decoration:underline}#footer #footer-links{font-size:85%}.portal-page
#footer{background:#fff url(/img/template/footer-background-minimal.png) 0 0  repeat-x;text-align:center;color:#999;clear:both;padding:100px
0 20px 0}.portal-page #footer a:hover,
.portal-page #footer a:active{color:#447BC4}#side-menu{position:absolute;top:75px;right:35px;left:auto;list-style-type:none;margin:0;padding:0;width:170px;font-family:verdana;font-size:80%;line-height:1}#side-menu
li{list-style-type:none;margin:0;padding:7px
3px 5px 5px;background:url(/img/tignish/template/side-menu-divider.png) top center no-repeat}#side-menu
li.first{background:none}#side-menu li
ul{margin:5px
0 0 0;left:auto}#side-menu li ul
li{padding-left:8px}#side-menu
span{color:#fff;font-weight:bold}#side-menu h3
span{font-weight:normal}#side-menu
h3{margin:0;color:#fff}#side-menu a:link,
#side-menu a:visited{color:#1e4262}#side-menu a:hover,
#side-menu a:active{color:#1e4262}#breadcrumbs{margin:15px
10px 20px 25px;color:#303030}#breadcrumbs
b{font-weight:bold;font-size:120%}#breadcrumbs
a.home{background:url(/img/template/breadcrumb-home.png) 0 0 no-repeat;display:inline;float:left;margin:5px
5px 0 0;height:13px;width:15px;overflow:hidden;line-height:50px}#main-content{margin:0
20px;zoom:1}#content{margin:0
20px}@media
handheld{#main-content,#main-feature{font-size:130%}}#sub-footer-newsletter .email-form .email-open,
.email-form .email-open{display:inline-block;width:26px;height:24px;text-align:center;color:#4878bf;font-weight:bold;font-size:19px;line-height:1.1;background: -moz-linear-gradient(
left,
#bad3f1,
#bad3f1 30%,
#7eaae7
);text-shadow:1px 0 2px rgba(255,255,255, 0.5),
1px 0 1px rgba(255,255,255,0.4);-moz-border-radius:7px;-moz-box-shadow: -2px 0 1px #6a95cc inset, 2px 0 0 rgba(0,0,0,0.1);-moz-transform:rotate(90deg);box-shadow: -2px 0 1px #6a95cc inset, 2px 0 0 rgba(0,0,0,0.1);border-radius:7px}.email-form .email-open.opened{-moz-box-shadow: -2px 0 1px #6a95cc inset, 2px 0 0 rgba(0,0,0,0.2);box-shadow: -2px 0 1px #6a95cc inset, 2px 0 0 rgba(0,0,0,0.2);opacity:0.5;cursor:default}.email-form ul.error .email-open:active,
.email-form ul.error .email-open:focus,
.email-form .email-open.opened:active,
.email-form .email-open.opened:focus{outline:none}.email-form ul.error .form-pane{display:block}.form-pane .form-details,
.success-pane
p{color:#555;font-size:14px;line-height:1.2}#firstrun .form-pane .form-details{margin-left:240px}.success-pane
p{padding:10px
0}.form-pane,.success-pane{clear:left;position:relative}.success-pane
h3{font-weight:normal;font-style:italic;margin:0}.success-pane h3
img{position:absolute;top: -12px;right:0}.form-pane
p.intro{width:170px;float:left;margin:5px
0 0 50px;font-size:13px}#firstrun .form-pane p.footnote,
#whatsnew #sidebar .form-pane
p.footnote{color:#999}#whatsnew #sidebar .form-pane
p.footnote{margin:0;font-size:10px}.footnote{padding:5px
0;font-size:12px}.email-form select.country,
.email-form select.lang,
.email-form
input.email{color:#555;background:#fff;border-width:1px;border-style:solid;padding:3px;-moz-border-radius:3px}.email-form
input.email{width:218px;border-color:#aaa #cdcdcd #cdcdcd #aaa;-moz-box-shadow:inset 1px 1px 2px rgba(0,0,0,0.1)}#whatsnew .email-form
input.email{width:200px}.email-form input.email:-moz-placeholder{color:#999}.email-form
input.email.placeholder{color:#999}.email-form input.email:focus{}.form-pane .country-field{padding:12px
2px 2px 2px}.email-form select.country,
.email-form
select.lang{width:225px;color:#555;border-color:#cdcdcd #aaa #aaa #cdcdcd;font-size:14px;-moz-box-shadow:inset -1px -1px 2px rgba(0,0,0,0.1)}#whatsnew .email-form
select.country{width:208px}.email-form .form-pane
input.subscribe{background:#666;background: -moz-linear-gradient(
center top,
#669be1 0%,
#5784bf 100%);border:none;padding:6px
32px 8px;font-family:"Trebuchet MS",sans-serif;font-weight:bold;font-style:normal;font-size:16px;color:#fff;white-space:nowrap;margin:10px
0 0 2px;-moz-border-radius:5px;-moz-box-shadow:0 3px 0 rgba(0, 0, 0, 0.1),
0 -3px 0 rgba(0,0,0,0.1) inset}.email-form .form-pane input.subscribe:hover{-moz-box-shadow:0 3px 0 rgba(0, 0, 0, 0.1),
0 -3px 0 rgba(0,0,0,0.1) inset,
0 -1px 80px rgba(0,0,0,0.1) inset}.email-form .form-pane input.subscribe:active{position:relative;top:1px;-moz-box-shadow:0 2px 0 rgba(0, 0, 0, 0.1),
0 -3px 0 rgba(0,0,0,0.1) inset,
0 -1px 80px rgba(0,0,0,0.1) inset}.email-form .form-pane
label{display:block;padding:10px
0 0 0}#meil-form .form-pane label
input{vertical-align:middle}.email-form .form-pane .form-error
input.email{border-width:2px;padding:2px;border-color:#cc4927}.email-form .error-wrapper,
#email-form .error-wrapper{display:inline-block;padding:2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}.email-form .form-pane label.privacy-check-label
a{text-decoration:underline}#whatsnew #sidebar .email-form p.form-error,
.email-form p.form-error,
#email-form p.form-error{z-index:1000;display:none;border:none;color:#fff;background:#b11a04;font-family:MetaWebPro-Book,sans-serif;font-size:13px;padding:7px
13px;width:150px;position:absolute;left:475px;top: -30px;text-shadow:none;-moz-border-radius:5px;-moz-box-shadow:0 3px 0 rgba(0,0,0,0.1),
0 1px 10px rgba(0,0,0,0.2)}#whatsnew #sidebar .email-form p.form-error{left:217px}.email-form p.form-error-visible{display:block}.email-form .format-field{padding-top:10px}.email-form .form-pane .privacy-field{font-size:12px;clear:left}.email-form .radio-wrapper{padding:1px
4px;float:left;margin:0;line-height:0.8;display:inline-block}.email-form .form-pane .format-field
label{padding:0;margin:0
12px 0 0;width:auto;float:left}.email-form .form-pane .format-field
input{width:auto;float:none;margin:0
4px}.error-email .email-error,
.error-email #email-error{display:block !important}.error-privacy .privacy-error,
.error-privacy #privacy-error{display:block !important}.error-email .email-field .error-wrapper,
.error-email #email-field .error-wrapper{background:#b11a04}.error-privacy .privacy-field .error-wrapper,
.error-privacy #privacy-field .error-wrapper{border-color:#b11a04;background:#eb7a6b}.success .open-pane,
.success #open-pane{display:none !important}.success .form-pane,
.success #form-pane{display:none !important}.success .success-pane,
.success #success-pane{display:block !important}.success-pane,#success-pane,.form-pane{display:none}#sub-footer
#newsletter{position:relative;overflow:visible}#sub-footer #newsletter .success-pane
p{color:white}#sub-footer .form-pane{position:absolute;top:55px;background-color:white;border-radius:15px;padding:15px;z-index:20}#sub-footer #newsletter
p{max-width:300px;color:white}#sub-footer .email-form p.form-error{position:static;color:white !important}#sub-footer #newsletter,
#sub-footer #newsletter p,
#sub-footer .form-pane p,
#sub-footer .form-pane,
#sub-footer .form-pane .form-details{color:black}#sub-footer #newsletter ul,
#sub-footer #newsletter ul
li{margin:0;list-style:none;color:white;float:none}#sub-footer #newsletter
h3{float:none;background:none;width:auto;height:auto;margin:0;padding:0;color:white}#sub-footer #newsletter .privacy-field
a{background:none;display:inline;font-size:12px}#sub-footer #newsletter a,
#sub-footer #newsletter a:link,
#sub-footer #newsletter a:visited{padding:2px
1px;font-family:Georgia,serif;margin:0;font-style:normal;color:black}#sub-footer #newsletter a:hover{text-decoration:none;text-shadow:none}#sub-footer #newsletter a.email-open{color:#4878BF;text-align:center}.clear{clear:both}body{font-family:georgia,serif;font-size:13px;line-height:1.231;color:#6d7581}a:link,a:visited{text-decoration:none;color:#447bc4}a:hover,a:active{text-decoration:underline;color:#447bc4}a.external:link,a.external:visited{padding-right:8px}a.external:hover,a.external:active{padding-right:8px;background:transparent url(/img/tignish/content/external-link.png) center right no-repeat}h1 a.external:link,
h2 a.external:link,
h3 a.external:link,
h4 a.external:link,
h5 a.external:link,
h6 a.external:link,
h1 a.external:visited,
h2 a.external:visited,
h3 a.external:visited,
h4 a.external:visited,
h5 a.external:visited,
h6 a.external:visited{padding-right:16px}h1 a.external:hover,
h2 a.external:hover,
h3 a.external:hover,
h4 a.external:hover,
h5 a.external:hover,
h6 a.external:hover,
h1 a.external:active,
h2 a.external:active,
h3 a.external:active,
h4 a.external:active,
h5 a.external:active,
h6 a.external:active{padding-right:16px;background:transparent url(/img/tignish/content/external-link-large.png) center right no-repeat}a.email:link,a.email:visited{padding-right:16px}a.email:hover,a.email:hover{padding-right:16px;background:transparent url(/img/tignish/content/email-link.png) center right no-repeat}p{margin:0
0 1em 0}img{border:0}p,
dd,
#content li,
#main-content
li{line-height:1.5}#footer a.external:hover,
#footer a.external:hover{background-image:url(/img/tignish/content/external-link-footer.png)}strong{font-weight:bold}em{font-style:italic}abbr,acronym{border-bottom:1px dotted #000;cursor:help}p,fieldset,table,pre{margin-bottom:1em}h1,h2,h3,h4,h5,h6{font-family:georgia,serif;font-weight:normal;font-style:italic;color:#484848}h1 span, h2 span, h3 span, h4 span, h5 span, h6
span{font-family:MetaBlack,"Trebuchet MS",sans-serif;font-weight:bold;text-transform:uppercase;font-style:normal;font-size:130%;display:block;letter-spacing: -0.02em}h1{font-size:36px}h2{font-size:28px}h3{font-size:22px}h4{font-size:18px}h5{font-size:16px}h6{font-size:14px}h1,h2,h3{margin:1em
0 0.5em 0}ul{margin:1em
0 1em 0;padding:0}blockquote{margin:1em}ol,dl{margin:1em}ol,dl{margin-left:0;padding-left:1.5em}ol li,
ul li ol
li{list-style:decimal outside;background:none}dl
dd{margin-left:1em}td,th{border:0}table.data-table{border-top:1px solid #eee}table.data-table td,
table.data-table
th{padding:0.5em 0.5em;border-bottom:1px solid #eee}ul.home-download,
ul.home-download
li{margin:0;padding:0;list-style-type:none;background:none}ul.home-download{margin-left:0;position:relative;width:300px;overflow:hidden}a.download-link,a.download-link:link,a.download-link:visited{display:block;margin:0
0 10px 50px;height:95px;-moz-box-shadow:0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);-webkit-box-shadow:0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);box-shadow:0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;color:#fff;overflow:visible;background:#58a100;background: -moz-linear-gradient(top, #84C63C 0%, #489615 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84C63C), color-stop(100%,#489615));background:linear-gradient(top, #84C63C 0%, #489615 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#84C63C', endColorstr='#489615',GradientType=0 );-moz-transition:box-shadow 0.2s ease-in-out;-webit-transition:box-shadow 0.2s ease-in-out;transition:box-shadow 0.2s ease-in-out;zoom:1}a.download-link:hover,a.download-link:active{-moz-box-shadow:0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);-webkit-box-shadow:0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);box-shadow:0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);-moz-transition:box-shadow 0.2s ease-in-out;-webkit-transition:box-shadow 0.2s ease-in-out;transition:box-shadow 0.2s ease-in-out}a.download-link span.download-content{position:relative;margin-left: -50px;display:block;background:url(/img/home/download-logo.png) 0 0 no-repeat;height:95px;font-family:georgia,"Bitstream Charter",serif;font-style:italic;font-weight:normal;font-size:18px;line-height:18px;padding:10px
10px 0 112px}* html a.download-link,
* html a.download-link:link,
* html a.download-link:active,
* html a.download-link:hover,
* html a.download-link:active{background:none;box-shadow:none}* html a.download-link span.download-content{background:url(/img/home/download-ie6.jpg) 0 0 no-repeat}a.download-link span.download-title{display:block;font-style:normal;font-size:28px;line-height:28px;letter-spacing: -0.02em}.home-download a.download-link span.download-title{font-size:26px}a.download-link:hover,a.download-link:active{background-position: -300px 0;text-decoration:none;cursor:pointer}* html ul.home-download li a.download-link{overflow:hidden;height:105px;filter:none}ul.home-download li a.download-link span.download-info{display:block;margin-top:3px;color:#346012;font-size:12px;font-style:normal;line-height:12px}ul.beta-download li a.download-link span.download-info{color:#fff}ul.home-download li a.download-link #download-arrow,
ul.home-download li a.download-link .download-arrow{position:absolute;top:15px;right:15px}ul.home-download li a.download-link span.download-info
em{display:block;font-style:normal}.download-noscript{margin-left:35px;width:400px}.download-noscript
h3{font-size:120%;margin-bottom:0}.download-noscript h3
span{display:block;font-size:75%;color:#898378}.download-noscript
ul{margin-top:0.5em}.download-other{font-family:"Trebuchet MS",sans-serif;font-size:11px;width:310px;text-align:center;color:#ccc;margin:0}#download .download-noscript h3 span a,
#download .download-noscript h3 span a:link,
#download .download-noscript h3 span a:visited,
.download-other a,
.download-other a:link,
.download-other a:visited{white-space:nowrap;color:#999}.home-download abbr,
.download-noscript
abbr{border-bottom:0}#download.top-right{position:absolute;right:10px;top:85px;z-index:9}#download.top-right  ul.home-download{width:auto}* html #download.top-right ul.home-download{width:330px}#download a.download-link{height:45px;margin-bottom:3px}* html #download a.download-link{height:48px;background:#58a100}#download a.download-link span.download-content{margin-left: -25px;padding-left:55px;font-size:14px;background-image:url(/img/download-logo-sub.png);height:40px;line-height:auto;padding-top:8px}#download a.download-link span.download-title{font-size:22px;display:inline-block;padding-right:20px;padding-bottom:3px;margin-right:5px;vertical-align:middle;background:url(/img/firefox/download-arrow.png) 100% 50% no-repeat}#download .download-other{width:auto;margin:0;text-align:left;margin-left:80px}#download .download-noscript{width:275px;background:url(/img/download-logo-sub.png) 0 0 no-repeat;padding-left:55px;margin-left:25px}#download .download-noscript
h3{margin:0}#download .download-noscript h3
span{font-family:"Trebuchet MS",sans-serif;font-size:11px;font-weight:normal;text-transform:none}#download .download-noscript
ul{list-style-type:none;margin:0}#download .download-noscript ul
li{display:inline;margin-right:10px;font-family:"Trebuchet MS",sans-serif;font-size:11px}* html
#download.mobile{width:250px}#download.mobile .dl,
#download.mobile .dl:link,
#download.mobile .dl:visited{font-size:17px;display:block;margin-bottom:5px;-moz-box-shadow:0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);-webkit-box-shadow:0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);box-shadow:0 3px rgba(0,0,0,0.1), inset 0 -4px rgba(0,0,0,0.1);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;color:#fff;overflow:visible;background:#84C63C;background: -moz-linear-gradient(top, #84C63C 0%, #489615 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84C63C), color-stop(100%,#489615));background:linear-gradient(top, #84C63C 0%, #489615 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#84C63C', endColorstr='#489615',GradientType=0 );-moz-transition:box-shadow 0.2s ease-in-out;-webit-transition:box-shadow 0.2s ease-in-out;transition:box-shadow 0.2s ease-in-out}#download.mobile .dl
span{display:block;background:url(/img/firefox/download-arrow.png) 10px 14px no-repeat;padding:8px
20px 8px 30px}#download.mobile .dl:hover,
#download.mobile .dl:active{-moz-box-shadow:0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);-webkit-box-shadow:0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);box-shadow:0 3px rgba(0,0,0,0.15), inset 0 -4px rgba(0,0,0,0.15), inset 0 0 80px rgba(255,255,255,0.3);-moz-transition:box-shadow 0.2s ease-in-out;-webkit-transition:box-shadow 0.2s ease-in-out;transition:box-shadow 0.2s ease-in-out}#download.mobile
h3{line-height:0.9;margin:0
0 20px;zoom:1}#download.mobile h3
span{color:#447bc4}#download.mobile
.notes{font-size:11px;font-family:"Trebuchet MS",sans-serif;zoom:1}li.os_linux,li.os_windows,li.os_osx{display:none}ul.os_linux li.os_linux,
ul.os_windows li.os_windows,
ul.os_osx li.os_osx,
noscript li.os_linux,
noscript li.os_windows,
noscript
li.os_osx{display:block}#main-feature{margin:0
20px}#main-feature
h2{font-size:40px;padding:10px
0;margin:0;line-height:1.2em}#main-feature h2
span{font-size:65px}#main-feature
p{color:#484848;font-size:20px;line-height:1.4em}