{% import 'widgets/latest_activity.html' as LatestActivity %}
{% import 'widgets/progress_chart.html' as ProgressChart %}

{% macro header() %}
  <table class="table table-sort project-list">
    <thead>
      <tr>
        <th class="resource asc">Resource<i class="fa"></i></th>
        <th class="latest-activity">Latest Activity<i class="fa"></i></th>
        <th class="progress">Progress<i class="fa"></i></th>
      </tr>
    </thead>
    <tbody>
{% endmacro %}

{% macro item(resource, main_link, chart_link, latest_activity, chart, class='limited', link_parameter=True) %}
  <tr class="{{ class }}">
    <td class="resource">
      <h3>
        <a href="{{ main_link }}">{{ resource.title }}</a>
      </h3>
    </td>
    <td class="latest-activity">
      {{ LatestActivity.span(latest_activity, resource=resource.title) }}
    </td>
    <td class="progress">
      {{ ProgressChart.span(chart, chart_link, link_parameter) }}
    </td>
  </tr>
{% endmacro %}

{% macro footer() %}
    </tbody>
  </table>
{% endmacro %}
