<!-- Resource selector -->
<div class="part select {% if project.slug == 'all-projects' %}hidden{% endif %}">
  <div class="button breadcrumbs selector" title="{{ part }}">
    <span class="title noselect">{% if part == 'all-resources' %}{{ 'All Resources' }}{% else %}{{ part.rsplit('/')[-1] }}{% endif %}</span>
  </div>

  <div class="menu">
    <div class="search-wrapper clearfix">
      <div class="icon fa fa-search"></div>
      <input type="search" autocomplete="off" autofocus>
    </div>

    <ul>
      <li class="no-match">No results</li>
    </ul>

    <div class="static-links">
      <section class="internal">
        <div class="all-resources">
          <span class="title">All Resources</span>
          <span class="percent"></span>
        </div>
        <div class="all-projects">
          <span class="name title" data-name="All Projects" data-slug="all-projects" data-parts="{{ {locale.code: locale.stats()}|to_json }}">All Projects</span>
        </div>
      </section>
    </div>
  </div>
</div>
