.navigation {
  float: left;
  font-size: 14px;
  line-height: 60px;
}

.navigation > ul > li {
  float: left;
}

.navigation > ul > li + li::before {
  color: var(--icon-border-1);
  content: '/';
  font-size: 28px;
  font-weight: 100;
  vertical-align: bottom;
}

.navigation > ul > li > a {
  color: var(--translation-color);
  font-weight: 300;
  padding: 0 12px;
}

.navigation > ul > li > a:hover {
  color: var(--status-translated);
}

.navigation img {
  margin-top: -2px;
  vertical-align: middle;
}

.navigation .locale-code {
  color: var(--status-translated);
  padding-left: 7px;
}
