{% load i18n %}

<html>
    <head>
        <script src="{{ STATIC_URL }}js/pontoon.js"></script>
    </head>
    <body>
        <h2>{% trans "Pontoon hook for Django" %}</h2>
        <p>{% trans "This page tests pontoon's wrapping of various marked up strings in a Django app" %}<p>
        <p>{% trans "A message wrapped in 'trans' templatetag" %}</p>
        <p>{% blocktrans %}This is wrapped inside blocktrans with '{{ message }}' placeholder.{% endblocktrans %}</p>
        <div>
            <p><strong>{% trans "A sample form" %}</strong></p>
            <form>
                {% for field in form %}
                    <div class="fieldwrapper">
                        {{ field.errors }}
                        {{ field.label_tag }}: {{ field }}
                        {{ field.help_text }}
                    </div>
                {% endfor %}
            </form>
        </div>
    </body>
</html>
