.navigation {
    font-size: 1.1em;
    line-height: 60px;
}

.navigation ul {
    list-style: none;
    margin-left: 8px;
}

.navigation ul li {
    display: inline;
    padding: 0 8px;
}

.navigation ul li + li::before {
    color: #666;
    content: '/';
    font-weight: bold;
    padding-right: 16px;
}

.navigation img {
    vertical-align: middle;
}

.navigation a {
    color: white;
    font-weight: 400;
}

.navigation .locale-code {
    color: #7BC876;
    padding-left: 5px;
}
