#app {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    height: 100%;
}

#app > header {
    background: #272a2f;
    border-bottom: 1px solid #333941;
    box-sizing: border-box;
    height: 60px;
    min-width: 700px;
    position: relative;
}

#app > header .user-controls {
    float: right;
}

#app .main-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    overflow: auto;
}

#app .panel-content,
#app .panel-list {
    height: 100%;
    position: relative;
}

#app .panel-list {
    width: 25%;
}

#app .panel-content {
    border-left: 1px solid #5e6475;
    box-sizing: border-box;
    width: 75%;
}

#app .inner {
    display: table-cell;
    vertical-align: middle;
}

/* NProgress: A nanoscopic progress bar. */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #7bc876;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #7bc876, 0 0 5px #7bc876;
    opacity: 1;
    transform: rotate(3deg) translate(0px, -4px);
}
