#app {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 60px auto;
    height: 100vh;
}

#app > header {
    background: #272a2f;
    border-bottom: 1px solid #333941;
    grid-column-start: 1;
    grid-column-end: 3;
    min-width: 700px;
}

#app > header .user-controls {
    float: right;
}

#app .panel-content,
#app .panel-list {
    height: calc(100vh - 60px);
    position: relative;
}

#app .panel-content {
    border-left: 1px solid #5e6475;
    box-sizing: border-box;
}

#app .inner {
    display: table-cell;
    vertical-align: middle;
}

/* NProgress: A nanoscopic progress bar. */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #7bc876;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #7bc876, 0 0 5px #7bc876;
    opacity: 1;
    transform: rotate(3deg) translate(0px, -4px);
}
