#app {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px auto;
    height: 100vh;
}

#app header {
    grid-column-start: 1;
    grid-column-end: 3;
}

#app .panel-content,
#app .panel-list {
    height: calc(100vh - 60px);
}

#app .panel-list {
    position: relative;
}

#app .panel-content {
	border-left: 1px solid #5E6475;
	box-sizing: border-box;
}

#app .inner {
    display: table-cell;
    vertical-align: middle;
}
