body {
  margin: 0;
  padding: 0;
  font: 13px/1.231 sans-serif;
  font-family: "Open Sans","Lucida Sans","Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
}

body, html, #root {
  height: 100%;
  width: 100%;
}
