#insights .block {
  border-radius: 6px;
  background: var(--dark-grey-1);
  overflow: hidden;
  padding: 30px;
}

#insights h3 {
  color: var(--white-1);
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  height: 25px;
  letter-spacing: normal;
  margin-bottom: 30px;
}

/* Tooltip */

#insights .controls .selector {
  background: var(--button-background-2);
  color: var(--light-grey-7);
  cursor: pointer;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 3px;
  margin-left: 5px;
  padding-top: 5px;
  box-sizing: border-box;
}

#insights h3 .fas {
  float: right;
  font-size: 14px;
}

#insights h3 .fas.active,
#insights h3 .fas:hover {
  background: var(--button-background-hover-2);
}

#insights h3 .tooltip {
  background: var(--tooltip-background);
  color: var(--tooltip-color);
  position: absolute;
  display: none;
  margin-top: 10px;
  padding: 10px;
  z-index: 1;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5em;
  border-radius: 3px;
  right: 0;
  max-width: 570px;
}

#insights h3 .tooltip ul {
  margin-left: 15px;
  margin-top: 15px;
}

#insights h3 .tooltip li {
  list-style-type: disc;
}

#insights h3 .tooltip li:not(:last-child) {
  padding-bottom: 5px;
}

/* Custom chart legend */

#insights .legend {
  text-align: center;
}

#insights .legend li {
  display: inline-block;
  font-size: 12px;
  margin: 15px;
  margin-bottom: 5px;
}

#insights .legend li .icon {
  display: inline-block;
  border-radius: 50%;
  margin-right: 8px;
  height: 12px;
  width: 12px;
}

#insights .legend li .label {
  cursor: pointer;
  font-weight: bold;
  vertical-align: text-top;
}

#insights .legend li.disabled .label {
  color: var(--grey-3);
}

#insights .legend li.disabled .label:hover {
  color: var(--light-grey-2);
}
