{% extends "base.html" %}

{% block title %}{{ _('Pontoon &middot; Page not found') }}{% endblock %}

{% block content %}
<section id="intro" class="visible">
  <div class="inner">

    <a href="/"><h1 id="title">{{ _('Oops') }}</h1></a>

    <p class="notification error">Sorry, we couldn't find the page you're looking for.</p>

    <nav>
      <ul class="links">
        <li><a href="/" title="Home">{{ _('Home') }}</a></li>
        <li><a href="https://wiki.mozilla.org/L10n:Pontoon" target="_blank" title="Learn">Wiki</a></li>
        <li><a href="https://github.com/mathjazz/pontoon" target="_blank" title="Hack">GitHub</a></li>
        <li><a href="https://twitter.com/#!/mozillapontoon" target="_blank" title="Follow">Twitter</a></li>
      </ul>
    </nav>

  </div>
</section>
{% endblock %}

{% block site_js %}
{% endblock %}
