{% extends "base.html" %}

{% block title %}Pontoon &middot; Page not found{% endblock %}

{% block content %}
<section id="intro" class="visible">
  <div class="inner">

    <nav>
      <ul class="links">
        <li><a href="https://developer.mozilla.org/en-US/docs/Localizing_with_Pontoon" target="_blank" title="Localize">How it works</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Implementing_Pontoon_Mozilla" target="_blank" title="Integrate">Developers</a></li>
        <li><a href="https://github.com/mathjazz/pontoon" target="_blank" title="Hack">GitHub</a></li>
        <li><a href="https://twitter.com/#!/mozillapontoon" target="_blank" title="Follow">Twitter</a></li>
      </ul>
    </nav>

    <h1 id="title"><a href="/">Oops</a></h1>
    <h2 id="subtitle">{% block subtitle %}We couldn't find the page you're looking for.{% endblock %}</h2>

    <p id="action">
      <a id="link" href="/">Go Home</a>
    </p>

  </div>
</section>
{% endblock %}

{% block site_js %}
{% endblock %}
