{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block middle %}
<section id="error">
  <div class="inner">
    <div id="box">
      <a href={{ url('pontoon.admin.project.new') }}>
        <div class="fas fa-plus-square"></div>
      </a>
      <p>There aren't any project set up currently</p>
    </div>
    <div id="subtitle">
      <a href={{ url('pontoon.admin.project.new') }}>
        {% block description %}Set up your first project{% endblock %}
      </a>
    </div>
  </div>
</section>
{% endblock %}
