{% extends "base.html" %}

{% block title %}{{ _('Pontoon &middot; %(subtitle)s')|format(subtitle=subtitle) }}{% endblock %}

{% block class %}admin-form{% endblock %}

{% block content %}
<section id="intro" class="visible">
  <form method="POST" action="{{ request.path }}" class="{{ subtitle.split(" ")[0].lower() }}">

    <h1 id="title">{{ _('%(subtitle)s')|format(subtitle=subtitle) }}</h1>
    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    {% if pk %}<input type="hidden" value="{{ pk }}" name="pk">{% endif %}

    <p>
        {{ form.name.label_tag() }}
        {{ form.name }}
        {{ form.name.errors }}
    </p><p>
        {{ form.url.label_tag() }}
        {{ form.url }}
        {{ form.url.errors }}
    </p><p>
        {{ form.locales.label_tag() }}
        {{ form.locales }}
        {{ form.locales.errors }}
    </p>

    <h2>Repositories</h2>
    <p class="svn clearfix">
        {{ form.svn.label_tag() }}
        {{ form.svn }}
        {% if subtitle.split(" ")[0].lower() == "edit" %}
        <button title="{{ _('Update from SVN') }}" data-source="svn" class="button"><img class="update" src="{{ static('img/update.png') }}" alt="{{ _('Update from SVN') }}" /></button>
        {% endif %}
        {{ form.svn.errors }}
    </p><p class="transifex clearfix">
        {{ form.transifex_project.label_tag() }}
        {{ form.transifex_resource.label_tag() }}
        {{ form.transifex_project }}
        {{ form.transifex_resource }}
        {% if subtitle.split(" ")[0].lower() == "edit" %}
        <button title="{{ _('Update from Transifex') }}" data-source="transifex" class="button"><img class="update" src="{{ static('img/update.png') }}" alt="{{ _('Update from Transifex') }}" /></button>
        {% endif %}
        {{ form.transifex_project.errors }}
        {{ form.transifex_resource.errors }}
    </p>

    <h2>Subpages</h2>
    {{ formset.management_form }}
    {% for form in formset %}
        {{ form.id }}
    <p class="subpages clearfix">
        {{ form.name.label_tag() }}
        {{ form.url.label_tag() }}
        {{ form.name }}
        {{ form.url }}
        {{ form.name.errors }}
        {{ form.url.errors }}
    </p>
    {% endfor %}

    <h2>General info</h2>
    <p>
        {{ form.info_brief.label_tag() }}
        {{ form.info_brief }}
        {{ form.info_brief.errors }}
    </p><p>
        {{ form.info_locales.label_tag() }}
        {{ form.info_locales }}
        {{ form.info_locales.errors }}
    </p><p>
        {{ form.info_audience.label_tag() }}
        {{ form.info_audience }}
        {{ form.info_audience.errors }}
    </p><p>
        {{ form.info_metrics.label_tag() }}
        {{ form.info_metrics }}
        {{ form.info_metrics.errors }}
    </p><p class="controls">
        <button class="button">Save</button>
    </p>

  </form>
</section>
{% endblock %}
