<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}Pontoon{% endblock %}</title>
    <meta name="description" content="Mozilla’s Localization Platform">
    <meta name="author" content="Mozilla">

    <!-- Defining a type is a workaround for bug 1422289. -->
    <link rel="icon" href="{{ static('img/logo.svg') }}" type="image/svg+xml">
    <link rel="icon" href="{{ static('img/favicon.ico') }}">

    {% block site_css %}
    <!-- Inlining CSS mitigates/prevents fouc. -->
    <style>
      body {
         background: #333941;
      }
    </style>

      {% stylesheet 'base' %}

      {% block extend_css %}
      {% endblock %}
    {% endblock %}

    {% include "tracker.html" %}
  </head>

  <body
    class="{% block class %}{% endblock %}"
    {% if csrf_token %}data-csrf="{{ csrf_token }}"{% endif %}
  >
    {% block content %}

      {% include "addon_promotion.html" %}

      {% include "header.html" %}

      {% block before %}
      {% endblock %}

      {% block heading %}
      {% endblock %}

      {% block middle %}
      {% endblock %}

      {% block bottom %}
      {% endblock %}

    {% endblock %}

    <!-- Javascript at the bottom for fast page loading -->
    {% block site_js %}
      {{ providers_media_js(request) }}
      {% javascript 'base' %}

      {% block extend_js %}
      {% endblock %}
    {% endblock %}
  </body>
</html>
