{% import "widgets/signout.html" as SignOut with context %}
{% import "widgets/profile.html" as Profile with context %}
{% import "contributors/widgets/notifications_menu.html" as Notifications with context %}

<header>
  <ul class="notification">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>

  <div class="container">
    <nav>
      <a href="{{ url('pontoon.homepage') }}" class="logo"><img src="{{ static('img/logo.svg') }}" width="32" height="32"></a>

      <ul class="links">
        <li><a href="{{ url('pontoon.teams') }}">Teams</a></li>
        <li><a href="{{ url('pontoon.projects') }}">Projects</a></li>
        <li><a href="{{ url('pontoon.contributors') }}">Contributors</a></li>
        <li><a href="{{ url('pontoon.machinery') }}">Machinery</a></li>
      </ul>

      <div class="right">
        {{ Notifications.menu() }}

        {% if not user.is_authenticated %}
        <div class="sign-in-header">
          {% if settings.AUTHENTICATION_METHOD == 'django' %}
          <a href="{{ url('standalone_login') }}" class="button">Sign in</a>
          {% else %}
          <a id="fxa-sign-in" href="{{ provider_login_url(request) }}" class="button">Sign in</a>
          {% endif %}
        </div>
        {% endif %}

        <div id="profile" class="select">
          {{ Profile.button() }}
          <div class="menu">
            <ul>
              {{ Profile.top_menu() }}

              <li><a href="{{ url('pontoon.terms') }}" rel="noopener noreferrer" target="_blank"><i class="fa fa-gavel fa-fw"></i>Terms of Use</a></li>
              <li><a href="https://github.com/mozilla/pontoon/" rel="noopener noreferrer" target="_blank"><i class="fab fa-github fa-fw"></i>Hack it on GitHub</a></li>
              <li><a href="https://discourse.mozilla.org/c/pontoon" rel="noopener noreferrer" target="_blank"><i class="fa fa-comment-dots fa-fw"></i>Give Feedback</a></li>
              <li><a href="https://mozilla-l10n.github.io/localizer-documentation/tools/pontoon/" rel="noopener noreferrer" target="_blank"><i class="fa fa-life-ring fa-fw"></i>Help</a></li>

              {% if user.is_authenticated %}
              <li class="horizontal-separator"></li>
              {% endif %}

              {% if perms.base.can_manage_project %}
              <li><a href="{{ url('pontoon.admin') }}"><i class="fa fa-wrench fa-fw"></i>Admin</a></li>
                {% if project %}
                <li><a href="{{ url('pontoon.admin.project', project.slug) }}"><i class="fa fa-wrench fa-fw"></i>Admin &middot; Current Project</a></li>
                {% endif %}
              {% endif %}

              {% if user.is_authenticated %}
                <li><a href="{{ url('pontoon.contributors.settings') }}"><i class="fa fa-cog fa-fw"></i>Settings</a></li>

                {% if settings.AUTHENTICATION_METHOD == 'django' %}
                <li id="standalone-sign-out"><a href="{{ url('standalone_logout') }}" title="{{ user.email|nospam }}"><i class="fa fa-sign-out-alt fa-fw"></i>Sign out</a></li>
                {% else %}
                <li id="sign-out"><a href="{{ url('account_logout') }}" title="{{ user.email|nospam }}">{{ SignOut.csrf_form() }}<i class="fa fa-sign-out-alt fa-fw"></i>Sign out</a></li>
                {% endif %}

              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
