{% extends "landing.html" %}

{% block class %}home{% endblock %}

{% block before %}
<!-- Server data -->
<div id="server"
     class="hidden"
     data-accept-language="{{ accept_language }}"
     data-locale="{{ locale_code }}"
     data-project="{{ project }}"
     data-redirect="{{ redirect }}">
</div>
{% endblock %}

{% block intro_class %}{% endblock %}

{% block middle %}
<form class="clearfix{% if not user.is_authenticated() %} hidden{% endif %}">

  {% include 'project_selector.html' %}

  {% include 'locale_selector.html' %}

  <!-- Go -->
  <div class="go select">
    <a id="go" href="#">Go</a>
  </div>

</form>

{% if not user.is_authenticated() %}
<p id="action">
  <a id="link" href="/">Try it out</a>
  <span id="loading" class="spacing">or</span>
  <img id="browserid" src="{{ static('img/plain_sign_in_blue.png') }}" alt="Sign in with Persona" />
</p>
{% endif %}

<ul class="notification{% if not messages %} hidden{% endif %}">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endblock %}

{% block after %}
<!-- Project loading indicator -->
{% include 'loader.html' %}
{% endblock %}

{% block extend_css %}
  <link rel="stylesheet" href="{{ static('css/home.css') }}">
{% endblock %}

{% block extend_js %}
  {% compress js %}
  <script src="{{ static('js/home.js') }}"></script>
  {% endcompress %}

<script src="https://login.persona.org/include.js"></script>
{% endblock %}
