{% extends "base.html" %}

{% block content %}
<!-- Server data -->
<div id="server"
     class="hidden"
     {% if accept_language %}data-accept-language="{{ accept_language }}"{% endif %}>
</div>

<!-- Frontpage -->
<section id="intro">
  <div class="inner">

    <h1 id="title">Pontoon</h1>

    <form>
      <input name="url" class="url" type="text" placeholder="{{ _('Type URL and press Enter') }}" />
      <!-- Locale selector -->
      {% include 'locales.html' %}
    </form>

    <p class="notification">...</p>

    <nav>
      <ul class="links">
        <li><a id="demo" class="button" href="#" title="Demo">{{ _('Demo') }}</a></li>
        <li><a href="https://wiki.mozilla.org/L10n:Pontoon" target="_blank" title="Learn">Wiki</a></li>
        <li><a href="https://github.com/mathjazz/pontoon" target="_blank" title="Hack">GitHub</a></li>
        <li><a href="https://twitter.com/#!/mozillapontoon" target="_blank" title="Follow">Twitter</a></li>
      </ul>
    </nav>

    <div id="install">
      <p>{{ _('To enable localization of your site with Pontoon, paste this code before the closing &lt;/head&gt; tag:') }}</p>
      <pre>
        <code></code>
      </pre>
    </div>

    <noscript>
      <p>{{ _('In order to use Pontoon, please <a href="http://www.activatejavascript.org/" target="_blank">enable JavaScript</a>.') }}</p>
    </noscript>

  </div>
</section>

<!-- Project loading indicator -->
{% include 'loader.html' %}

{% endblock %}
