{% extends "base.html" %}

{% block class %}home{% endblock %}

{% block content %}
<!-- Server data -->
<div id="server"
     class="hidden"
     {% if locale_code %}data-locale="{{ locale_code }}"{% endif %}
     {% if project %}data-project="{{ project }}"{% endif %}>
</div>

<!-- Frontpage -->
<section id="intro">

  <div class="inner">

    <nav>
      <ul class="links">
        <li><a href="https://developer.mozilla.org/en-US/docs/Localizing_with_Pontoon" target="_blank" title="{{ _('Localize') }}">How it works</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Implementing_Pontoon_Mozilla" target="_blank" title="{{ _('Integrate') }}">Developers</a></li>
        <li><a href="https://github.com/mathjazz/pontoon" target="_blank" title="{{ _('Hack') }}">GitHub</a></li>
        <li><a href="https://twitter.com/#!/mozillapontoon" target="_blank" title="{{ _('Follow') }}">Twitter</a></li>
        <li id="admin"{% if not perms.base.can_manage %} class="hidden"{% endif %}><a href="{{ url('pontoon.admin') }}" title="{{ _('Admin') }}">{{ _('Admin') }}</a></li>
        <li id="signout"{% if not user.is_authenticated() %} class="hidden"{% endif %}><a href="{{ url('signout') }}" title="{{ user.email }}">{{ _('Sign out') }}</a></li>
      </ul>
    </nav>

    <h1 id="title"><a href="/">Pontoon</a></h1>
    <h2 id="subtitle">Translate websites. In place.</h2>

    <form class="clearfix{% if not user.is_authenticated() %} hidden{% endif %}">

      <!-- Project input/select -->
      <div class="project select">
        {% if projects|length > 0 %}
        <div class="button breadcrumbs selector">
          <span class="title" data-url="">Select website</span>
        </div>
        {% endif %}
        <div class="menu">
          <input type="text" class="search" autocomplete="off">
          <ul>
            {% for project in projects %}
            <li class="clearfix">
              <span class="project-name"
                data-id={{ project.id }}
                data-locales="{% for l in project.locales.all() %}{{ l.code|lower }},{% endfor %}"
                data-pages="{% if pages %}{% for p in pages.filter(project=project) %}{{ p.name }},{% endfor %}{% endif %}">{{ project.name }}</span>
              <span class="project-url">{{ project.url }}</span>
            </li>
            {% endfor %}
            <li class="no-match">{{ _('No results') }}</li>
          </ul>
        </div>
      </div>

      <!-- Locale selector -->
      <div class="locale select">
        <div class="button breadcrumbs selector">
          <span class="language">Select language
          </span>
        </div>
        <div class="menu">
          <input type="text" class="search" autocomplete="off">
          <ul>
            {% for locale in locales %}
            <li><span class="language {{ locale.code|lower }}">{{ locale.name }}<span class="code">{{ locale.code }}</span></span></li>
            {% endfor %}
            <li class="no-match">{{ _('No results') }}</li>
          </ul>
        </div>
      </div>

      <!-- Go -->
      <div class="go select">
        <a id="go" href="#">Go</a>
      </div>

    </form>

    {% if not user.is_authenticated() %}
    <p id="action">
      <a id="link" href="/locale/de/project/Testpilot/">{{ _('Try it out') }}</a>
      <span id="loading" class="spacing">or</span>
      <img id="browserid" src="{{ static('img/plain_sign_in_blue.png') }}" alt="{{ _('Sign in with Persona') }}" />
    </p>
    {% endif %}

    <ul class="notification{% if not messages %} hidden{% endif %}">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>

  </div>
</section>

<!-- Project loading indicator -->
{% include 'loader.html' %}

{% endblock %}

{% block extend_js %}
  {% compress js %}
  <script src="{{ static('js/home.js') }}"></script>
  {% endcompress %}

<script src="https://login.persona.org/include.js"></script>
{% endblock %}
