<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pontoon Intro">
    <meta name="author" content="Mozilla">

    <title data-l10n-id="title">Pontoon Intro</title>
    <base target="_parent" />

    <!-- {% stylesheet 'intro' %} -->
</head>

<body id="page-top" class="index">

    <p> Hello world</p>


</body>

</html>
