{% extends "base.html" %}
{% import "widgets/signout.html" as SignOut with context %}

{% block content %}

{% block before %}
{% endblock %}

    <nav>
      <ul class="links">
        <li><a href="{{ url('pontoon.home') }}">Home</a></li>
        <li><a href="{{ url('pontoon.teams') }}">Teams</a></li>
        <li><a href="{{ url('pontoon.projects') }}">Projects</a></li>
        <li><a href="{{ url('pontoon.contributors') }}">Contributors</a></li>
        <li><a href="{{ url('pontoon.search') }}">Terminology</a></li>
        <li><a href="{{ url('pontoon.terms') }}">Terms</a></li>
        <li><a href="https://developer.mozilla.org/docs/Mozilla/Localization/Localizing_with_Pontoon" target="_blank">Help</a></li>
        <li id="admin"{% if not perms.base.can_manage %} class="hidden"{% endif %}><a href="{{ url('pontoon.admin') }}">Admin</a></li>
          {% if settings.DJANGO_LOGIN %}
            {% if user.is_authenticated() %}
              <li id="standalone-sign-out"><a href="{{ url('standalone_logout') }}" title="{{ user.email|nospam }}">Sign out</a></li>
            {% else %}
              <li id="standalone-signin"><a href="{{ url('standalone_login') }}">Sign in</a></li>
            {% endif %}
          {% else %}
            {% if user.is_authenticated() %}
              <li id="sign-out"><a href="{{ url('account_logout') }}" title="{{ user.email|nospam }}">{{ SignOut.csrf_form() }} Sign out</a></li>
            {% else %}
              <li id="sign-in"><a id="fxa-sign-in" href="{{ provider_login_url(request) }}">Sign in</a></li>
            {% endif %}
          {% endif %}
      </ul>
    </nav>

    {% block header %}
    <h1 id="title"><a href="{% block heading_url %}/{% endblock %}">{% block heading %}Pontoon{% endblock %}</a></h1>
    <h2 id="subtitle">{% block subtitle %}Localize the web. In place.{% endblock %}</h2>
    {% endblock %}

    {% block middle %}
    <p id="action">
      <a id="link" href="/">Go Home</a>
    </p>
    {% endblock %}

{% block after %}
{% endblock %}

{% endblock %}
