<!-- Locale selector -->
<div class="locale select">
  {% if locale and locale.code != '' %}
  <div class="button breadcrumbs selector noselect">
    <span class="language {{ locale.code|lower }}">{{ locale.name }}</span><span class="code">{{ locale.code }}
    </span>
  </div>
  {% endif %}
  <div class="menu">
    <div class="search-wrapper clearfix">
      {% if user.is_authenticated() %}
      <a class="new" title="Request new locale" href="#new">
        <span class="fa fa-plus-square"></span>
      </a>
      {% endif %}
      <div class="icon fa fa-search"></div>
      <input type="search" autocomplete="off" autofocus>
    </div>
    {% if not locale %}
    <div class="sort clearfix">
      <span class="asc">Language<i class="fa"></i></span>
      <span>Locale<i class="fa"></i></span>
      <span>Progress<i class="fa"></i></span>
    </div>
    {% endif %}
    <ul>
      {% for l in locales %}
      <li class="clearfix{% if locale and locale == l %} current{% endif %}{% if l and l.chart %} filter{% endif %}">
        {% if l and l.chart %}
        <a href="{% if project %}{{ url('pontoon.translate', l.code, project.slug) }}{% else %}{{ url('pontoon.locale', l.code) }}{% endif %}" class="clearfix">
        {% endif %}
          <span class="language {{ l.code|lower }}">{{ l.name }}</span>
          <span class="code">{{ l.code }}</span>
          {% if l and l.chart %}
          <span class="chart-wrapper">
            <span class="chart" data-chart="{{ l.chart|to_json }}">
              <span class="approved" style="width:{{ l.chart.approved / l.chart.total * 100 }}%;"></span>
              <span class="translated" style="width:{{ l.chart.translated / l.chart.total * 100 }}%;"></span>
              <span class="fuzzy" style="width:{{ l.chart.fuzzy / l.chart.total * 100 }}%;"></span>
            </span>
            <p class="percent">{{ (l.chart.approved / l.chart.total * 100) | round(0, 'floor') | int }}%</p>
          </span>
        </a>
          {% endif %}
      </li>
      {% endfor %}
      <li class="no-match">No results</li>
    </ul>
  </div>
</div>
