{% extends "landing.html" %}

{% import "widgets/menu.html" as Menu %}

{% block title %}Pontoon &middot; {{ locale.name }} ({{ locale.code }}){% endblock %}

{% block class %}locale{% endblock %}

{% block subtitle %}{{ locale.name }} ({{ locale.code }}){% endblock %}

{% block middle %}
<div class="container">
    {% if locale.team_description %}
        <div class="about">
            <p>{{ locale.team_description|safe }}</p>
        </div>
    {% endif %}

    {% set current_page = request.path.split('/')[2]|default('') %}
    {% call Menu.submenu(class='submenu tabs') %}
        {{ Menu.item('Projects', url('pontoon.locale', locale.code), is_active = (current_page == '')) }}
        {{ Menu.item('Contributors', url('pontoon.locale.contributors', locale.code), is_active = (current_page == 'contributors')) }}
        {% if request.user.has_perm('base.can_manage_locale', locale) %}
            {{ Menu.item('Manage', url('pontoon.locale.manage', locale.code), is_active = (current_page == 'manage')) }}
        {% endif %}
    {% endcall %}

    {% block locale_subpage %}
        {% include 'project_selector.html' %}
    {% endblock %}
</div>
{% endblock %}
