<!-- Locale selector -->
<div class="locale select">
  {% if locale and locale.code != '' %}
  <div class="button breadcrumbs selector noselect">
    <span class="language {{ locale.code|lower }}">{{ locale.name }}</span><span class="code">{{ locale.code }}
    </span>
  </div>
  {% endif %}
  <div class="menu">
    <div class="search-wrapper clearfix">
      {% if user.is_authenticated() %}
      <a class="new" title="Request new locale" href="#new">
        <span class="fa fa-plus-square"></span>
      </a>
      {% endif %}
      <div class="icon fa fa-search"></div>
      <input type="search" autocomplete="off" autofocus>
    </div>
    {% if not locale %}
    <div class="sort clearfix">
      <span class="asc">Language<i class="fa"></i></span>
      <span>Locale<i class="fa"></i></span>
      <span>Progress<i class="fa"></i></span>
    </div>
    {% endif %}
    <ul>
      {% for locale in locales %}
      <li class="clearfix{% if locale and locale.chart %} filter{% endif %}">
        {% if locale and locale.chart %}<a href="/{{ locale.code|lower }}/{{ project.slug }}/" class="clearfix">{% endif %}
          <span class="language {{ locale.code|lower }}">{{ locale.name }}</span>
          <span class="code">{{ locale.code }}</span>
          {% if locale and locale.chart %}
          <span class="chart-wrapper">
            <span class="chart" data-chart="{{ locale.chart }}">
              <span class="approved" style="width:{{ locale.chart.approved / locale.chart.total * 100 }}%;"></span>
              <span class="translated" style="width:{{ locale.chart.translated / locale.chart.total * 100 }}%;"></span>
              <span class="fuzzy" style="width:{{ locale.chart.fuzzy / locale.chart.total * 100 }}%;"></span>
            </span>
          </span>
        </a>
          {% endif %}
      </li>
      {% endfor %}
      <li class="no-match">No results</li>
    </ul>
  </div>
</div>
