{% extends 'locale.html' %}
{% import 'widgets/multiple_choice.html' as MultipleChoice %}

{% block title %}{{ super() }} &middot; Manage {% endblock %}

{% block locale_subpage %}
<form method="POST" action="{{ url('pontoon.locale.manage', locale.code) }}">
  <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
  <input type="hidden" name="translators">
  <input type="hidden" name="managers">

  <div class="clearfix">
    {{ MultipleChoice.select(
      'available',
      choices=all_users,
      label='<a class="all active" href="#">All users</a> | <a class="contributors" href="#">Contributors</a>',
      description="Click on user's email address to move it to the group pointed to by the arrow.",
      extra=contributors
    ) }}

    {{ MultipleChoice.select(
      'translators',
      choices=translators,
      label='Translators',
      description="Translators can submit and approve translations in projects available for your team.",
      extra=contributors
    ) }}

    {{ MultipleChoice.select(
      'managers',
      choices=managers,
      label='Managers',
      description="Managers can change team permissions and edit other settings like team decription.",
      extra=contributors
    ) }}
  </div>

  <button class="button">Save</button>
</form>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'locale_manage' %}
{% endblock %}

{% block extend_js %}
  {% javascript 'locale_manage' %}
{% endblock %}
