{% extends 'locale.html' %}
{% import 'widgets/contributors.html' as Contributors %}

{% block title %}{{ super() }} &middot; Contributors {% endblock %}

{% block class %}locale{% endblock %}

{% block locale_subpage %}
  {% if contributors %}
    {{ Contributors.select_period(period, url('pontoon.locale.contributors', locale.code)) }}
    {{ Contributors.list_contributors(contributors) }}
  {% else %}
    {{ Contributors.no_contributors() }}
  {% endif %}
{% endblock %}

{% block extend_css %}
  {% stylesheet 'users' %}
{% endblock %}
