{% extends "landing.html" %}

{% import "widgets/menu.html" as Menu %}

{% block title %}Pontoon &middot; {{ locale.name }} ({{ locale.code }}){% endblock %}

{% block class %}locale{% endblock %}

{% block subtitle %}{{ locale.name }} ({{ locale.code }}){% endblock %}

{% block middle %}
<div class="container">
	{% if locale.team_description %}
		<div class="about">
			<p>{{ locale.team_description|safe }}</p>
		</div>
	{% endif %}

	{{ Menu.submenu((
		(url('pontoon.locale', locale.code), 'Projects', ''),
		(url('pontoon.locale.contributors', locale.code), 'Contributors', 'contributors')
	), request.path.split('/')[2]|default(''), 'submenu tabs') }}

	{% block locale_subpage %}
		{% include 'project_selector.html' %}
	{% endblock %}
</div>
{% endblock %}
