<!-- Locale selector -->
<div class="locale select">
  <div class="button breadcrumbs selector">
    {% if locale and locale.code != '' %}
    <span class="language {{ locale.code }}">{{ locale.name }}<span class="code">{{ locale.code }}</span>
    {% else %}
    <span class="language">Select language
    {% endif %}
    </span>
  </div>
  <div class="menu">
    <div class="search-wrapper clearfix">
      <div class="icon fa fa-search"></div>
      <input type="search" class="search" autocomplete="off">
    </div>
    <ul>
      {% for locale in locales %}
      <li><span class="language {{ locale.code|lower }}">{{ locale.name }}<span class="code">{{ locale.code }}</span></span></li>
      {% endfor %}
      <li class="no-match">No results</li>
    </ul>
  </div>
</div>
