   <div class="locale select">
     <div class="button confirm">
       <span class="language"></span>
     </div>
     <div class="button selector">
       <span class="handle"> &#9652;</span>
     </div>
     <div class="menu">
       <div class="hidden horizontal-separator"></div>
       <input type="text" class="search">
       <div class="horizontal-separator"></div>
       <ul>
       {% for locale in locales %}
       <li><span class="language {{ locale.code }}">{{ locale.name }}<span class="code">{{ locale.code }}</span></span></li>
       {% endfor %}
       <li class="no-match">{{ _('No results match') }} "<span></span>"</li>
       </ul>
     </div>
   </div>
