{% import 'widgets/latest_activity.html' as LatestActivity %}
{% import 'widgets/progress_chart.html' as ProgressChart %}

<!-- Part selector -->
<div class="part select">
  {% if part %}
  <div class="button breadcrumbs selector" title="{{ part }}">
    <span class="title noselect">{{ part.rsplit('/')[-1] }}</span>
  </div>
  {% endif %}

  <div class="menu">
    <div class="search-wrapper clearfix">
      <div class="icon fa fa-search"></div>
      <input type="search" autocomplete="off" autofocus>
    </div>

    {% if not part %}
    <div class="sort clearfix">
      <span class="name asc">File Name<i class="fa"></i></span>
      <span class="latest">Latest activity<i class="fa"></i></span>
      <span class="progress">Progress<i class="fa"></i></span>
    </div>
    {% endif %}

    <ul>
      {% if not part %}
      {% for p in parts %}
        {% if not loop.last %}
          {% set link = url('pontoon.translate', locale.code, project.slug, p.title) %}
          <li class="clearfix">
            <span class="name">
              <a href="{{ link }}" class="clearfix">
                {{ p.title }}
              </a>
            </span>

            {{ LatestActivity.span(p.latest_activity) }}

            {{ ProgressChart.span(p.chart, link) }}
          </li>
        {% endif %}
      {% endfor %}
      {% endif %}

      <li class="no-match">No results</li>
    </ul>

    <div class="static-links">
      <div class="all-resources">
        <span class="title">All Resources</span>
        <span class="percent"></span>
      </div>
    </div>
  </div>
</div>
