{% if projects|length > 0 %}
<!-- Project select -->
<div class="project select">
  {% if project and project.name != '' %}
  <div class="button breadcrumbs selector">
    <span class="title noselect" data-slug="{{ project.slug }}">{{ project.name }}</span>
  </div>
  {% endif %}
  <div class="menu">
    <div class="search-wrapper clearfix">
      <div class="icon fa fa-search"></div>
      <input type="search" autocomplete="off" autofocus>
    </div>
    {% if not project %}
    <div class="sort clearfix">
      <span class="asc">Name<i class="fa"></i></span>
      <span>Website<i class="fa"></i></span>
      <span>Progress<i class="fa"></i></span>
    </div>
    {% endif %}
    <ul>
      {% for p in projects %}
      <li class="clearfix{% if project and project == p %} current{% endif %}">
        {% if p and p.chart and p.chart.total %}
        <a href="/{{ url_prefix }}/{{ p.slug }}/" class="clearfix">
        {% endif %}
          <span class="name"
            data-slug="{{ p.slug }}"
            data-details="{{ p.details }}">{{ p.name }}</span>
          <span class="url">{{ p.url }}</span>
          {% if p and p.chart and p.chart.total %}
          <span class="chart-wrapper">
            <span class="chart" data-chart="{{ p.chart }}">
              <span class="approved" style="width:{{ p.chart.approved / p.chart.total * 100 }}%;"></span>
              <span class="translated" style="width:{{ p.chart.translated / p.chart.total * 100 }}%;"></span>
              <span class="fuzzy" style="width:{{ p.chart.fuzzy / p.chart.total * 100 }}%;"></span>
            </span>
          </span>
        </a>
          {% endif %}
      </li>
      {% endfor %}
      <li class="no-match">No results</li>
    </ul>
  </div>
</div>
{% endif %}
