{% import 'widgets/latest_activity.html' as LatestActivity %}
{% import 'widgets/progress_chart.html' as ProgressChart %}

<!-- Project selector -->
<div class="project select">
  {% if project and project.name != '' %}
  <div class="button breadcrumbs selector">
    <span class="title noselect" data-slug="{{ project.slug }}">{{ project.name }}</span>
  </div>
  {% endif %}
  <div class="menu">
    <div class="search-wrapper clearfix">
      {% if locale and user.is_authenticated() %}
      <a class="new" title="Request new projects" href="#new">
        <span class="fa fa-plus-square"></span>
      </a>
      {% endif %}
      <div class="icon fa fa-search"></div>
      <input type="search" autocomplete="off" autofocus>
    </div>
    {% if not project %}
    <div class="sort clearfix">
      <span class="name asc">Name<i class="fa"></i></span>
      <span class="latest">Latest activity<i class="fa"></i></span>
      <span class="progress">Progress<i class="fa"></i></span>
    </div>
    {% endif %}
    <ul>
      {% for p in projects %}
        {% if locale %}
          {% set link = url('pontoon.locale.project', locale.code, p.slug) %}
        {% elif admin %}
          {% set link = url('pontoon.admin.project', p.slug) %}
        {% else %}
          {% set link = url('pontoon.project', p.slug) %}
        {% endif %}

        {% if not project and p.total_strings %}
          {% set chart = p.get_chart(locale|default(none)) %}
        {% endif %}

        <li class="clearfix{% if chart != None %} limited{% endif %}"{% if project and project == p %} style="display: list-item;"{% endif %}>
          <span class="name"
            {% for key, value in p.serialize().iteritems() %}
              data-{{ key }}="{{ value }}"
            {% endfor %}
            {% if project and locale %}
              {% if project == p %}
                data-parts="{{ {locale.code: locale.parts_stats(p)}|to_json }}"
              {% endif %}
            {% endif %}
          >
            {% if not project %}<a href="{{ link }}" class="clearfix">{% endif %}
              {{ p.name }}
            {% if not project %}</a>{% endif %}
          </span>

          {% if locale and user.is_authenticated() %}
            <span class="check fa fa-fw"></span>
          {% endif %}

          {% if not project %}
            {{ LatestActivity.span(p.get_latest_activity(locale|default(none))) }}

            {% if p.total_strings %}
              {{ ProgressChart.span(chart, link) }}
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
      <li class="no-match">No results</li>
    </ul>
    {% if locale and user.is_authenticated() %}
      <button id="request-projects">Requets new projects</button>
    {% endif %}
  </div>
</div>
