{% extends "landing.html" %}

{% block title %}Pontoon &middot; {{ project.name }}{% endblock %}

{% block class %}project{% endblock %}

{% block before %}
<!-- Server data -->
<div id="server"
     class="hidden"
     {% if csrf_token %}data-csrf="{{ csrf_token }}"{% endif %}
     data-project="{{ project.slug }}"
     data-project-locales="{{ project_locales }}">
</div>
{% endblock %}

{% block subtitle %}{{ project.name }}{% endblock %}

{% block middle %}
<form>
  <ul class="notification"></ul>

  <div class="about">
	{% if project.info_brief %}<p>{{ project.info_brief|safe }}</p>{% endif %}
	{% if project.url %}<p><span>Website: </span><a href="{{ project.url }}">{{ project.url }}</a></p>{% endif %}
  </div>
  {% include 'locale_selector.html' %}
</form>
{% endblock %}

{% block extend_css %}
  <link rel="stylesheet" href="{{ static('css/project.css') }}">
{% endblock %}

{% block extend_js %}
  {% compress js %}
  <script src="{{ static('js/project.js') }}"></script>
  {% endcompress %}
{% endblock %}
