{% if projects|length > 0 %}
<!-- Project input/select -->
<div class="project select">
  {% if project and project.name != '' %}
  <div class="button breadcrumbs selector">
    <span class="title" data-slug="{{ project.slug }}">{{ project.name }}</span>
  </div>
  {% endif %}
  <div class="menu">
    <div class="search-wrapper clearfix">
      <div class="icon fa fa-search"></div>
      <input type="search" autocomplete="off">
    </div>
    <ul>
      {% for project in projects %}
      <li class="clearfix">
        <span class="project-name"
          data-slug="{{ project.slug }}"
          data-details="{{ project.details }}">{{ project.name }}</span>
        <span class="project-url">{{ project.url }}</span>
      </li>
      {% endfor %}
      <li class="no-match">No results</li>
    </ul>
  </div>
</div>
{% endif %}
