{% extends 'landing.html' %}

{% block title %}Pontoon &middot; Sign In Migration{% endblock %}

{% block subtitle %}Migrating to Firefox Accounts{% endblock %}

{% block middle %}
<div class="container">
  <p class="center"><a class="action" href="{{ provider_login_url(request, 'fxa', process='connect') }}">sign in with Firefox Account</a>to continue using Pontoon with your existing profile</p>

  <dl>
    <dt>More Information</dt>
    <dd>
      We are switching the sign in provider from Persona to Firefox Accounts. This means you will have to migrate your existing Pontoon profile to Firefox Account before continuing to use Pontoon.
      <br /><br />
      We recognize this is an inconvenience, and we apologize for it. Unfortunately, this is <a href="https://wiki.mozilla.org/Identity/Persona_Shutdown_Guidelines_for_Reliers#FAQs">out of our control</a>.
    </dd>
    <dt>How can I migrate my Pontoon profile to Firefox Account?</dt>
    <dd>
      If you sign in with Persona to your existing Pontoon profile, you are taken to this page. Then <a href="{{ provider_login_url(request, 'fxa', process='connect') }}">sign in with Firefox Account</a> and you are done. From this point on, you can log in with Firefox Account directly. Note that the email address of your Firefox Account and Pontoon account <i>do not</i> need to match.
      <br /><br />
      If you sign in with Firefox Account first, it will be automatically connected with your existing Pontoon profile if you use the same email address. If you use a different email, you can manually connect the account by going to <a href="/">Pontoon homepage </a> and selecting <i>Connect with Persona account</i> from the profile menu on top right.
      <br /><br />
      <i>Note:</i> If you don't have a Firefox Account yet, you will be able to create it during the <a href="{{ provider_login_url(request, 'fxa', process='connect') }}">sign in</a> process.
    </dd>
    <dt>How much time do I have?</dt>
    <dd>
      You can no longer use Pontoon with your profile if you don't migrate it to Firefox Accounts. Also, we no longer allow new account sign ups using Persona.
      <br /><br />
      <i>November 1, 2016</i> will the last day for you to sign in to Pontoon using Persona and migrate your existing Pontoon profile to Firefox Account.
      <br /><br />
      We will be issuing increasingly frequent notifications to migrate Pontoon profiles to Firefox Account starting now. Please do this as soon as you can, in order to avoid any risk of losing access to Pontoon.
    </dd>
  </dl>
</div>
{% endblock %}

{% block extend_css %}
  <link rel="stylesheet" href="{{ static('css/terms.css') }}">
{% endblock %}
