{% extends 'base.html' %}
{% import 'heading.html' as Heading %}

{% block title %}Terms of Use{% endblock %}

{% block class %}terms{% endblock %}

{% block heading %}
  {{ Heading.heading(title='Pontoon Terms of Use', subtitle='Last updated: 18 October 2018') }}
{% endblock %}

{% block bottom %}
<section id="main">
  <div class="container">
    <p>By using Pontoon, you are indicating your agreement to the <a href="https://www.mozilla.org/about/governance/policies/participation/">Mozilla Community Participation Guidelines</a> and the terms set out in the <a href="https://www.mozilla.org/about/governance/policies/commit/requirements/">Mozilla Commit Access Requirements</a>. To sum up:</p>

    <dl>
      <dt>License</dt>
      <dd>Translations are governed by the Mozilla Public License 2.0, or another license or set of licenses acceptable to the Mozilla Foundation.</dd>
      <dt>User Accounts</dt>
      <dd>Mozilla has complete control and discretion over capabilities associated with Your credentials and may change them for any reason at any time.</dd>
      <dt>Personal Information</dt>
      <dd>Your name and email address, or a derivative of it, may be attached to your contributions and so be visible worldwide.</dd>
    </dl>

    <p>Learn more at <a href="https://www.mozilla.org/about/governance/policies/commit/requirements/">Mozilla.org</a>.</p>

    <dl>
      <dt>Third-Party Services</dt>
      <dd>Pontoon uses the following third-party services that are subject to the copyright notice:
        <ul>
          <li>Microsoft Terminology Service API. © 2018 Microsoft Corporation. All rights reserved.</li>
          <li>Microsoft Translator API. © 2018 Microsoft Corporation. All rights reserved.</li>
        </ul>
      </dd>
    </dl>

    <dl>
      <dt>Google Translate service</dt>
      <dd>THIS SERVICE MAY CONTAIN TRANSLATIONS POWERED BY GOOGLE. GOOGLE DISCLAIMS ALL WARRANTIES RELATED TO THE TRANSLATIONS, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTIES OF ACCURACY, RELIABILITY, AND ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.</dd>
    </dl>

  </div>
</section>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'terms' %}
{% endblock %}
