{% extends 'base.html' %}
{% import 'heading.html' as Heading %}

{% block title %}Terms of Use{% endblock %}

{% block class %}terms{% endblock %}

{% block heading %}
  {{ Heading.heading(title='Pontoon 사용 규정', subtitle='2020년 4월 24일 수정 및 업데이트함') }}
{% endblock %}

{% block bottom %}
<section id="main">
  <div class="container">
    <p>Pontoon은 <a href="https://www.mozilla.org/">Mozilla Community</a>의 지적 자산이며, BSD 3-Clause "New" or "Revised" License 라이선스로 배포되는 자유 소프트웨어 입니다.

    <dl>
      <dt>라이선스</dt>
      <dd>원본 텍스트와 번역물은 기본적인 모드 정책상 <a href="https://www.paradoxplaza.com/">Paradox Interactive</a>의 소유물입니다. 그러나, 자유로이 배포할수 있으며, 이런 경우 원하는 라이선스를 선택하시면 됩니다. Mozilla Public License 2.0 혹은 괜찮은 라이선스를 선택하시면 되겠습니다.</dd>
      <dt>사용자 계정</dt>
      <dd>Pontoon을 운영하는 측에서는 사용자의 계정 정보를 제어(삭제 및 그룹 수정 등등)할 수 있으며, 언제라도 바꿀수 있음을 알려드립니다. 그러니까, 트롤이나 번역기를 마구 돌리거나 한다면 계정 삭제나 혹은 제안밖에 못하게 할 수 있습니다.</dd>
      <dt>개인 정보(제일 중요한 것중 하나)</dt>
      <dd>여러분이 Pontoon에서 사용하는 사용자명, 이메일 주소(네 구글 ID), 혹은 여러분이 기여한 것은 전세계에 보여질수 있다는 점을 알려드립니다. 일단 robot.txt를 사용하여 검색엔진 검색을 막고 애널리틱스를 사용하지 않으며, 여러분의 개인 정보를 최우선으로 생각합니다. 연락은 디스코드의 책읽는달팽이나 혹은 <A href="mailto:bjh13579@gmail.com">제 메일주소</a>으로 연락주세요</dd>
    </dl>
 <p>기타 Pontoon이 공개하는 정보에 대해서는 <a href="https://www.mozilla.org/about/governance/policies/commit/requirements/">Mozilla.org</a>에서 더 확인하실수 있습니다.</p>

    <dl>
      <dt>서드 파티 서비스</dt>
      <dd>Pontoon 은 다음과 같은 서드파티 서비스를 사용중이며, 저작권 정보는 다음과 같습니다:
        <ul>
          <li>Microsoft Terminology Service API. © 2018 Microsoft Corporation. All rights reserved.</li>
          <li>Microsoft Translator API. © 2018 Microsoft Corporation. All rights reserved.</li>
        </ul>
      </dd>
    </dl>

    <dl>
      <dt>Google Translate service</dt>
      <dd>THIS SERVICE MAY CONTAIN TRANSLATIONS POWERED BY GOOGLE. GOOGLE DISCLAIMS ALL WARRANTIES RELATED TO THE TRANSLATIONS, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTIES OF ACCURACY, RELIABILITY, AND ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.</dd>
    </dl>

  </div>
</section>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'terms' %}
{% endblock %}
