{% extends "base.html" %}

{% import "widgets/checkbox.html" as Checkbox %}

{% block class %}translate{% endblock %}

{% block content %}
<!-- Server data -->
<div id="server"
     class="hidden"
     data-site-url="{{ settings.SITE_URL }}"
     {% if csrf_token %}data-csrf="{{ csrf_token }}"{% endif %}
     {% if user.email %}data-email="{{ user.email|nospam }}"{% endif %}
     {% if user.first_name %}data-name="{{ user.first_name }}"{% endif %}
     {% if user.profile and user.profile.force_suggestions %}data-force-suggestions="{{ user.profile.force_suggestions }}"{% endif %}
     {% if user.translated_locales %}data-user-translated-locales="{{ user.translated_locales|to_json() }}"{% endif %}
     {% if perms.base.can_manage %}data-manager="true"{% endif %}
     >
</div>

<!-- Main toolbar -->
<header>
  <div class="container clearfix">
    <button id="switch" class="fa fa-bars fa-2x"></button>

    {% include 'locale_selector.html' %}

    {% include 'project_selector.html' %}

    {% include 'part_selector.html' %}

    <!-- Go -->
    <div class="go select">
      <a id="go" class="noselect" href="#">Go</a>
    </div>

    <!-- Progress indicator -->
    <div id="progress" class="select">
      <div class="selector">
        <canvas class="graph" width="44" height="44"></canvas>
        <span class="number noselect"></span>
      </div>
      <aside class="menu">
        <div>
          <header>
            <h2>All strings <span></span></h2>
          </header>
          <canvas class="big graph" width="220" height="220"></canvas>
          <span class="number"></span>
        </div>
        <div class="details">
          <div class="approved">
            <span>Translated</span>
            <p></p>
          </div><div class="translated">
            <span>Suggested</span>
            <p></p>
          </div><div class="fuzzy">
            <span>Fuzzy</span>
            <p></p>
          </div><div class="untranslated">
            <span>Missing</span>
            <p></p>
          </div>
        </div>
      </aside>
    </div>

    <!-- Project Info -->
    <div id="info" class="select">
      <div class="button selector fa fa-info"></div>
      <aside class="menu">
        <h2>Project info</h2>
        <p class="content"></p>
      </aside>
    </div>

    <div class="right">
      <ul class="notification">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
      <span id="loading" class="fa fa-refresh fa-spin"></span>

      <!-- Profile -->
      <div id="profile" class="select">
        <div class="button selector">
          <span class="title noselect">{% if user.email %}{{ user.name_or_email|nospam }}{% else %}Anonymous{% endif %}<span class="fa fa-chevron-down"></span></span>
          <img class="rounded" src="{% if request.user.is_authenticated() %}{{ request.user.gravatar_url(44) }}{% else %}{{ static('img/anon.jpg') }}{% endif %}">
        </div>
        <div class="menu">
          <ul>
            {% if user.is_authenticated() %}
            <li><a href="{{ url('pontoon.profile') }}"><i class="fa fa-user fa-fw"></i>My Profile</a></li>
            {{ Checkbox.checkbox('Quality Checks', class='quality-checks', attribute='quality_checks', is_enabled=user.profile.quality_checks) }}
              {% if user.translated_locales %}
              {{ Checkbox.checkbox('Make Suggestions', class='force-suggestions', attribute='force_suggestions', is_enabled=user.profile.force_suggestions) }}
              {% endif %}
            <li class="horizontal-separator"></li>
            {% endif %}

            <li class="download"><i class="fa fa-cloud-download fa-fw"></i>Download Translations</i></li>
            <li class="upload"><i class="fa fa-cloud-upload fa-fw"></i>Upload Translations</li>

            <li class="horizontal-separator"></li>

            <li><a href="{{ url('pontoon.projects') }}"><i class="fa fa-bar-chart-o fa-fw"></i>Project Overview</a></li>
            <li><a href="{{ url('pontoon.teams') }}"><i class="fa fa-flag fa-fw"></i>Localization Teams</a></li>
            <li><a href="{{ url('pontoon.contributors') }}"><i class="fa fa-trophy fa-fw"></i>Top Contributors</a></li>
            <li><a href="{{ url('pontoon.search') }}"><i class="fa fa-search fa-fw"></i>Terminology Search</a></li>
            <li><a href="{{ url('pontoon.terms') }}"><i class="fa fa-legal fa-fw"></i>Terms of Use</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Localizing_with_Pontoon"><i class="fa fa-life-ring fa-fw"></i>Help</a></li>
            <li class="hotkeys"><i class="fa fa-keyboard-o fa-fw"></i>Keyboard Shortcuts</li>

            <li class="horizontal-separator"></li>

            {% if perms.base.can_manage %}
            <li><a href="{{ url('pontoon.admin') }}">Admin</a></li>
            <li class="admin-current-project"><a href="">Admin &middot; Current Project</a></li>
            {% endif %}

            {% if user.is_authenticated() %}
            <li class="sign-out"><a href="{{ url('signout') }}"><i class="fa fa-sign-out fa-fw"></i>Sign Out</a></li>
            {% else %}
            <li class="sign-in"><i class="fa fa-sign-in fa-fw"></i>Sign in</li>
            {% endif %}
          </ul>
        </div>

        <!-- Keyboard shortcuts -->
        <aside id="hotkeys" class="popup">
          <h2>Keyboard shortcuts</h2>
          <table>
            <tbody>
              <tr>
                <td>Save Translation</td>
                <td><span>Enter</span></td>
              </tr>
              <tr>
                <td>Cancel Translation</td>
                <td><span>Esc</span></td>
              </tr>
              <tr>
                <td>Insert A New Line</td>
                <td><span>Shift</span>&nbsp;+&nbsp;<span>Enter</span></td>
              </tr>
              <tr>
                <td>Copy From Source</td>
                <td><span>Ctrl</span>&nbsp;+&nbsp;<span>Alt</span>&nbsp;+&nbsp;<span>C</span></td>
              </tr>
              <tr>
                <td>Clear Translation</td>
                <td><span>Ctrl</span>&nbsp;+&nbsp;<span>Alt</span>&nbsp;+&nbsp;<span>Backspace</span></td>
              </tr>
              <tr>
                <td>Go To Next String</td>
                <td><span>Ctrl</span>&nbsp;+&nbsp;<span>Alt</span>&nbsp;+&nbsp;<span>.</span></td>
              </tr>
              <tr>
                <td>Go To Previous String</td>
                <td><span>Ctrl</span>&nbsp;+&nbsp;<span>Alt</span>&nbsp;+&nbsp;<span>,</span></td>
              </tr>
              <tr>
                <td>Search Strings</td>
                <td><span>Ctrl</span>&nbsp;+&nbsp;<span>Alt</span>&nbsp;+&nbsp;<span>F</span></td>
              </tr>
              <tr>
                <td>Copy From Helpers</td>
                <td><span>Tab</span></td>
              </tr>
            </tbody>
          </table>
        </aside>
      </div>
    </div>

  </div>
</header>

<aside id="sidebar">
  <!-- Strings placeholder -->
  <div id="entitylist">
    <div class="search-wrapper clearfix">
      <div class="icon fa fa-search"></div>
      <input id="search" type="search" autocomplete="off" placeholder="Search All" title="Search Strings (Alt + F)">
      <div id="filter" class="select" data-current-filter="all">
        <div class="button selector all">
          <span class="status fa"></span>
          <span class="title">All</span>
        </div>
        <div class="menu">
          <ul>
            <li class="all"><span class="status fa"></span>All</li>
            <li class="untranslated"><span class="status fa"></span>Missing</li>
            <li class="fuzzy"><span class="status fa"></span>Fuzzy</li>
            <li class="translated"><span class="status fa"></span>Suggested</li>
            <li class="approved"><span class="status fa"></span>Translated</li>
            <li class="horizontal-separator"></li>
            <li class="not-translated"><span class="status fa"></span>Untranslated</li>
            <li class="has-suggestions"><span class="status fa"></span>Has Suggestions</li>
            <li class="unchanged"><span class="status fa"></span>Unchanged</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <ul class="editables"></ul>
      <h2 id="not-on-page">Not on the current page</h2>
      <ul class="uneditables"></ul>
      <h3 class="no-match"><div class="fa fa-exclamation-circle"></div>No results</h3>
      <h3 class="loading"><div class="fa fa-refresh fa-spin"></div></h3>
    </div>
  </div>

  <!-- Translation editor -->
  <div id="editor">
    <!-- Element for dragging entity list and editor -->
    <div id="drag-1" draggable="true"></div>

    <div id="topbar" class="clearfix">
      <a id="back" href="#back" title="Cancel Translation (Esc)"><span class="fa fa-chevron-left fa-lg"></span>Back to list</a>
      <a id="next" href="#next" title="Go To Next String (Alt + Down)"><span class="fa fa-chevron-down fa-lg"></span>Next</a>
      <a id="previous" href="#previous" title="Go To Previous String (Alt + Up)"><span class="fa fa-chevron-up fa-lg"></span>Previous</a>
    </div>

    <div id="source-pane">
        <h2></h2>
        <p id="original"></p>
        <div id="metadata"></div>
        <div id="screenshots"></div>
    </div>

    <nav id="plural-tabs">
      <ul>
        <li class="active"><a href="#plural1"><span></span><sup></sup></a></li>
        <li><a href="#plural2"><span></span><sup></sup></a></li>
        <li><a href="#plural3"><span></span><sup></sup></a></li>
        <li><a href="#plural4"><span></span><sup></sup></a></li>
        <li><a href="#plural5"><span></span><sup></sup></a></li>
        <li><a href="#plural6"><span></span><sup></sup></a></li>
      </ul>
    </nav>

    <textarea {% if not user.is_authenticated() %} readonly {% endif %} dir="auto" lang="{{ locale.code }}" id="translation" placeholder="Type translation and press Enter to save"></textarea>

    <menu>
      {% if user.is_authenticated() %}
        <div id="unsaved" class="warning-overlay">
          <a href="#" class="cancel">&times;</a>
          <h2>You have unsaved changes</h2>
          <p>Sure you want to leave?</p>
          <button id="leave-anyway">Leave anyway</button>
        </div>
        <div id="quality" class="warning-overlay">
          <a href="#" class="cancel">&times;</a>
          <h2>The following checks have failed</h2>
          <ul></ul>
          <button id="save-anyway"></button>
        </div>
        <div id="translation-length">
          <span class="current-length"></span>|<span class="original-length"></span>
        </div>
        <button id="copy" title="Copy From Source (Alt + C)">Copy</button>
        <button id="clear" title="Clear Translation (Alt + Backspace)">Clear</button>
        <button id="save" title="Save Translation (Enter)"></button>
      {% else %}
        <p id="sign-in-required"><a id="sidebar-signin" href="">Sign in</a> to translate.</p>
      {% endif %}
    </menu>

    <div id="helpers" class="tabs">
      <nav>
        <ul>
          <li class="active">
            <a href="#history">
              <span>History
                <span class="fa fa-cog fa-lg fa-spin"></span>
                <span class="count"></span>
              </span>
            </a>
          </li><li>
            <a href="#machinery">
              <span>Machinery
                <span class="fa fa-cog fa-lg fa-spin"></span>
                <span class="count"></span>
              </span>
            </a>
          </li><li>
            <a href="#other-locales">
              <span>Locales
                <span class="fa fa-cog fa-lg fa-spin"></span>
                <span class="count"></span>
              </span>
            </a>
          </li>
        </ul>
      </nav>

      <section class="history">
        <ul></ul>
      </section>

      <section class="machinery">
        <div class="search-wrapper clearfix">
          <div class="icon fa fa-search"></div>
          <input type="search" autocomplete="off" placeholder="Type to search machinery">
        </div>
        <ul></ul>
      </section>

      <section class="other-locales">
        <ul></ul>
      </section>
    </div>
  </div>

  <!-- Element for dragging sidebar -->
  <div id="drag" draggable="true"></div>
</aside>

<!-- Website placeholder + iframe fix: prevent iframes from capturing the mousemove events during a drag -->
<iframe id="source"{% if project.pk == 1 %} src="{{ project.url }}"{% endif %}></iframe>
<div id="iframe-cover"></div>

<!-- Project loading indicator -->
<div id="project-load" class="overlay">
  <div class="inner">
    <div class="animation">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="text">"640K ought to be enough for anybody."</div>
  </div>
</div>

<form id="download-file" method="POST" action="{{ url('pontoon.download') }}">
    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    {{ download_form.slug }}
    {{ download_form.code }}
    {{ download_form.part }}
</form>

<form id="upload-file" method="POST" action="{{ url('pontoon.upload') }}" enctype="multipart/form-data">
    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    {{ upload_form.slug }}
    {{ upload_form.code }}
    {{ upload_form.part }}
    {{ upload_form.uploadfile }}
</form>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'translate' %}
{% endblock %}

{% block extend_js %}
  {% javascript 'translate' %}
{% endblock %}
