{% extends "base.html" %}

{% block class %}translate{% endblock %}

{% block content %}
<!-- Server data -->
<div id="server"
     class="hidden"
     {% if accept_language %}data-accept-language="{{ accept_language }}"{% endif %}
     {% if csrf_token %}data-csrf="{{ csrf_token }}"{% endif %}
     {% if locale %}data-locale="{{ locale.stringify() }}"{% endif %}
     {% if project_url %}data-url="{{ project_url }}"{% endif %}
     {% if project.id %}data-id="{{ project.id }}"{% endif %}
     {% if project.format %}data-format="{{ project.format }}"{% endif %}
     {% if project.width %}data-width="{{ project.width }}"{% endif %}
     {% if project.links %}data-links="{{ project.links|lower }}"{% endif %}
     {% if entities %}data-entities="{{ entities }}"{% endif %}
     {% if user.email %}data-email="{{ user.email }}"{% endif %}
     {% if user.first_name %}data-name="{{ user.first_name }}"{% endif %}
     {% if perms.base.can_localize %}data-localizer="true"{% endif %}
     {% if perms.base.can_manage %}data-manager="true"{% endif %}
     >
</div>

<!-- Main toolbar -->
<header>
  <!-- Loading Main UI spinner -->
  <span id="spinner" class="loader fa fa-refresh fa-spin"></span>

  <div class="container">
    <button id="switch" class="fa fa-bars fa-2x"></button>

    {% include 'project_selector.html' %}

    <!-- Page selector -->
    <div class="page select{% if not current_page %} hidden{% endif %}">
      <div class="button breadcrumbs selector">
        <span class="title">{{ current_page }}</span>
      </div>
      <div class="menu">
        <div class="search-wrapper clearfix">
          <div class="icon fa fa-search"></div>
          <input type="text" class="search" autocomplete="off">
        </div>
        <ul>
          <li class="no-match">No results</li>
        </ul>
      </div>
    </div>

    {% include 'locale_selector.html' %}

    <!-- Go -->
    <div class="go select">
      <a id="go" href="#">Go</a>
    </div>

    <!-- Progress indicator -->
    <div id="progress">
      <span class="graph approved"></span>
      <span class="graph translated"></span>
      <span class="graph fuzzy"></span>
      <span class="number"></span>
    </div>

    <div class="right">
      <div class="notification"></div>
      <span id="loading" class="fa fa-refresh fa-spin"></span>

      <!-- Profile -->
      <div id="profile" class="select">
        <div class="button selector">
          {% if user.first_name %}<span class="title">{{ user.first_name }}</span>
          {% elif user.email %}<span class="title">{{ user.email }}</span>{% endif %}
          {% if gravatar_url %}<img src="{{ gravatar_url }}">
          {% else %}<span class="icon fa fa-user fa-2x"></span>{%endif %}
        </div>
        <div class="menu">
          <ul>
            {% if user.is_authenticated() %}
              {% if perms.base.can_localize %}
                {% if project.repository_type in ('git', 'hg', 'svn') %}
                <li class="repository-commit">Commit to repository</li>
                <li class="repository-update">Update from repository</li>
                <li class="horizontal-separator"></li>
                {% endif %}

                {% if project.repository_type == 'transifex' %}
                <li class="transifex">Save to Transifex</li>
                <li class="horizontal-separator"></li>
                {% endif %}
              {% endif %}
            {% endif %}

            {% if project.repository_path and project.repository_type != 'file' %}
            <li class="zip">Download .zip</li>
            {% endif %}

            {% if project.url %}
            <li class="html">Download .html</li>
            {% endif %}

            <li class="json">Download .json</li>

            {% if user.is_authenticated() %}
              <li class="horizontal-separator"></li>

              {% if perms.base.can_manage %}
              <li class="admin" data-url="{{ url('pontoon.admin') }}">Admin</li>
              <li class="project-admin" data-url="{{ url('pontoon.admin.project', project.slug) }}">Project Admin</li>
              {% endif %}

              <li class="sign-out">Sign out</li>
            {% endif %}

          </ul>
        </div>
        {% if project.transifex_project and project.transifex_resource %}
        <aside id="transifex" class="popup">
          <h2>
            Sign in to Transifex
            <a class="cancel" href="#">&times;</a>
          </h2>
          <form>
            <input name="username" type="text" placeholder="Email or Username" />
            <input name="password" type="password" placeholder="Password" />
            <span class="button">Sign in</span>
            <div class="bottom">
              <label class="remember">
                <input name="remember" type="checkbox" />Remember me
              </label>
              <a class="new" target="_blank" href="https://www.transifex.net/plans/signup/free/">New to Transifex?</a>
            </div>
          </form>
        </aside>
        {% endif %}
        {% if project.repository_type in ('git', 'hg', 'svn') %}
        <aside id="repository" class="popup">
          <h2>
            Sign in to repository
            <a class="cancel" href="#">&times;</a>
          </h2>
          <form>
            <input name="username" type="text" placeholder="Email" />
            <input name="password" type="password" placeholder="Password" />
            <span class="button">Sign in</span>
            <div class="bottom">
              <label class="remember">
                <input name="remember" type="checkbox" />Remember me
              </label>
              <a class="new" target="_blank" href="https://l10n.mozilla.org/">New to Mozilla?</a>
            </div>
          </form>
        </aside>
        {% endif %}
      </div>

      <div id="info" class="select">
        <div class="button selector fa fa-info-circle fa-2x">
        </div>
        <aside class="menu">
          <!-- Keyboard shortcuts -->
          <section id="hotkeys">
            <h2>Keyboard shortcuts</h2>
            <table>
              <tbody>
                <tr>
                  <td>Save translation</td>
                  <td><span>Enter</span></td>
                </tr>
                <tr>
                  <td>Cancel translation</td>
                  <td><span>Esc</span></td>
                </tr>
                <tr>
                  <td>Insert a new line</td>
                  <td><span>Shift</span>&nbsp;+&nbsp;<span>Enter</span></td>
                </tr>
                <tr>
                  <td>Copy from source</td>
                  <td><span>Alt</span>&nbsp;+&nbsp;<span>C</span></td>
                </tr>
                <tr>
                  <td>Clear translation</td>
                  <td><span>Alt</span>&nbsp;+&nbsp;<span>Backspace</span></td>
                </tr>
                <tr>
                  <td>Next string</td>
                  <td><span>Alt</span>&nbsp;+&nbsp;<span>Down</span></td>
                </tr>
                <tr>
                  <td>Previous string</td>
                  <td><span>Alt</span>&nbsp;+&nbsp;<span>Up</span></td>
                </tr>
                <tr>
                  <td>Search</td>
                  <td><span>Alt</span>&nbsp;+&nbsp;<span>F</span></td>
                </tr>
                <tr>
                  <td>Select suggestions</td>
                  <td><span>Tab</span></td>
                </tr>
              </tbody>
            </table>
          </section>
          {% if project.info_brief %}
          <!-- Project info -->
          <section>
            <h2>Project info</h2>
            <p>{{ project.info_brief }}</p>
          </section>
          {% endif %}
        </aside>
      </div>

      <a id="home" class="fa fa-home fa-2x" href="/"></a>
    </div>

  </div>
</header>

<aside id="sidebar">
  <!-- Strings placeholder -->
  <div id="entitylist">
    <div class="search-wrapper clearfix">
      <div class="icon fa fa-search"></div>
      <input id="search" type="search" placeholder="Search text to translate">
      <div id="filter" class="select">
        <div class="button selector all">
          <span class="status fa"></span>
          <span class="title">All</span>
        </div>
        <div class="menu">
          <ul>
            <li class="all"><span class="status fa"></span>All</li>
            <li class="horizontal-separator"></li>
            <li class="untranslated"><span class="status fa"></span>Untranslated</li>
            <li class="fuzzy"><span class="status fa"></span>Need work</li>
            <li class="translated"><span class="status fa"></span>Translated</li>
            <li class="approved"><span class="status fa"></span>Approved</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <ul class="editables"></ul>
      {% if project.url %}
      <h2 id="not-on-page">Not on the current page</h2>
      {% endif %}
      <ul class="uneditables"></ul>
      <h3 class="no-match"><div>ఠ_ఠ</div>No results.</h3>
    </div>
  </div>

  <!-- Translation editor -->
  <div id="editor">
    <!-- Element for dragging entity list and editor -->
    <div id="drag-1" draggable="true"></div>

    <div id="topbar" class="clearfix">
      <a id="back" href="#back"><span class="fa fa-chevron-left fa-lg"></span>Back to list</a>
      <a id="next" href="#next"><span class="fa fa-chevron-down fa-lg"></span>Next</a>
      <a id="previous" href="#previous"><span class="fa fa-chevron-up fa-lg"></span>Previous</a>
    </div>

    <div id="source-pane">
        <p id="metadata"></p>
        <h2></h2>
        <p id="original"></p>
    </div>

    <nav id="plural-tabs">
      <ul>
        <li class="active"><a href="#plural1">Plural <span></span></a></li>
        <li><a href="#plural2">Plural <span></span></a></li>
        <li><a href="#plural3">Plural <span></span></a></li>
        <li><a href="#plural4">Plural <span></span></a></li>
        <li><a href="#plural5">Plural <span></span></a></li>
        <li><a href="#plural6">Plural <span></span></a></li>
      </ul>
    </nav>
    <textarea id="translation" placeholder="Enter translation"></textarea>

    <menu>
      <div id="warning">
        <a href="#" class="cancel">&times;</a>
        <h2>The following checks have failed</h2>
        <ul></ul>
        <button id="save-anyway">Save anyway</button>
      </div>
      <div id="translation-length">
        <span class="current-length"></span>|<span class="original-length"></span>
      </div>
      <button id="copy">Copy</button>
      <button id="clear">Clear</button>
      <button id="cancel">Cancel</button>
      <button id="save">Save</button>
    </menu>

    <div id="helpers">
      <nav>
        <ul>
          <li class="active"><a href="#history">History</a></li>
          <li><a href="#machinery"><span>Machinery</span><span class="fa fa-cog fa-lg fa-spin"></span></a></li>
          <li><a href="#other-locales">Locales</a></li>
          <li><a href="#custom-search">Search</a></li>
        </ul>
      </nav>

      <section id="history">
        <ul></ul>
      </section>

      <section id="machinery">
        <ul></ul>
      </section>

      <section id="other-locales">
        <ul></ul>
      </section>

      <section id="custom-search">
        <div class="search-wrapper clearfix">
          <div class="icon fa fa-search"></div>
          <div class="icon fa fa-cog fa-spin"></div>
          <input type="search" class="search" autocomplete="off" placeholder="Type and press Enter to search">
        </div>
        <ul></ul>
      </section>
    </div>
  </div>

  <!-- Element for dragging sidebar -->
  <div id="drag" draggable="true"></div>
</aside>

{% if project.url %}
<!-- Website placeholder + iframe fix: prevent iframes from capturing the mousemove events during a drag -->
<iframe id="source"></iframe>
<div id="iframe-cover"></div>
{% endif %}

<!-- Project loading indicator -->
{% include 'loader.html' %}
{% endblock %}

{% block extend_css %}
  <link rel="stylesheet" href="{{ static('css/translate.css') }}">
{% endblock %}

{% block extend_js %}
  {% compress js %}
  <script src="{{ static('js/translate.js') }}"></script>
  {% endcompress %}
{% endblock %}
