{% extends "landing.html" %}

{% block title %}Pontoon &middot; {% if contributor.first_name %}{{ contributor.first_name }}{% else %}{{ contributor.email }}{% endif %}{% endblock %}

{% block class %}user{% endblock %}

{% block before %}
<!-- Server data -->
<div id="server" class="hidden"
     {% if csrf_token %}data-csrf="{{ csrf_token }}"{% endif %}
     >
</div>
{% endblock %}

{% block heading %}
<img class="rounded" src="{% if gravatar_url %}{{ gravatar_url }}{% else %}{{ static('img/anonymous.jpg') }}{% endif %}">
{% endblock %}

{% block subtitle %}
  {% if user.is_authenticated() and user.email == contributor.email %}
    <div class="wrapper">
      <input type="text" placeholder="What's your name?" value="{{ contributor.first_name }}" maxlength="30">
      <div class="submit fa fa-arrow-circle-right"></div>
    </div>
  {% else %}
    <div class="uneditable">{{ contributor.first_name }}</div>
  {% endif %}
{% endblock %}

{% block middle %}
<ul class="info">
  <li><a href="mailto:{{ contributor.email }}">{{ contributor.email }}</a></li>
</ul>

<ul class="notification"></ul>

<div class="details">
  <div class="total">
    <span>Total</span>
    <p>{{ translations.count() }}</p>
  </div><div class="approved">
    <span>Approved</span>
    <p>{{ translations.filter(approved=True).count() }}</p>
  </div><div class="translated">
    <span>Unapproved</span>
    <p>{{ translations.exclude(approved=True).exclude(fuzzy=True).count() }}</p>
  </div><div class="fuzzy">
    <span>Needs work</span>
    <p>{{ translations.filter(fuzzy=True).count() }}</p>
  </div>
</div>

<section id="timeline">
  <div class="container">

    {% for event in timeline %}
    <div class="clearfix">
      <div class="tick"></div>
      <div class="content">
        <h3>
          <div class="day">{{ event.date.strftime('%d') }}</div>
          <div>
            <div class="weekday">{{ event.date.strftime('%A') }}</div>
            <div class="month">{{ event.date.strftime('%B %Y') }}</div>
          </div>
        <h3>
        <h2>{% if event.type == 'translated' %}Added new translation{% if event.count > 1 %}<div>(and {{ event.count-1 }} other{% if event.count > 2 %}s{% endif %})</div>{% endif %}
            {% elif event.type == 'joined' %}Joined Pontoon{% endif %}
        </h2>
        {% if event.translation %}
        <p>{{ event.translation.string.decode('utf8') }}</p>
        {% endif %}
        <div class="label clearfix {{ event.type }}">
          <figure>
            <div class="fa fa-3x {% if event.count %}fa-comment{% if event.count > 1 %}s{% endif %}-o{% elif event.type == 'joined' %}fa-child{% endif %}"></div>
            <figcaption>{{ event.date.strftime('%H:%M') }}</figcaption>
          </figure>
          {% if event.projects %}
          <a href="{{ url('pontoon.project', event.projects[0].slug) }}">{{ event.projects[0].name }}</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</section>
{% endblock %}

{% block extend_css %}
  <link rel="stylesheet" href="{{ static('css/user.css') }}">
{% endblock %}

{% block extend_js %}
  {% compress js %}
  <script src="{{ static('js/user.js') }}"></script>
  {% endcompress %}
{% endblock %}
