{% extends "landing.html" %}
{% import "widgets/contributors.html" as Contributors %}
{% block title %}Pontoon &middot; Top Contributors{% endblock %}

{% block class %}users{% endblock %}

{% block subtitle %}Top Contributors{% endblock %}

{% block middle %}
<div class="container">
  {% if contributors %}
    {{ Contributors.select_period(period, url('pontoon.contributors')) }}
    {{ Contributors.list_contributors(contributors) }}
  {% else %}
    {{ Contributors.no_contributors() }}
  {% endif %}
</div>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'users' %}
{% endblock %}
