{% extends "landing.html" %}

{% block title %}Pontoon &middot; Top Contributors{% endblock %}

{% block class %}users{% endblock %}

{% block subtitle %}Top Contributors{% endblock %}

{% block middle %}
<form>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Contributor</th>
        <th>Translations<sup><a href="#fn-translations" id="ref-translations">*</a></sup></th>
      </tr>
    </thead>
    <tbody>
    {% for contributor in contributors %}
      <tr>
        <td class="rank">{{ loop.index }}</td>
        <td class="contributor">
          <a href="{{ url('pontoon.contributor', contributor.email) }}">
            <img class="rounded" src="{% if contributor.gravatar_url %}{{ contributor.gravatar_url }}{% else %}{{ static('img/anonymous.jpg') }}{% endif %}">
            <p class="name">{{ contributor.first_name or contributor.email.split('@')[0] }}</p>
          </a>
          <p class="email">{{ contributor.email }}</p>
        </td>
        <td class="stats">
          <div class="details">
            <div class="total">
              <span>Total</span>
              <p>{{ contributor.translations.count() }}</p>
            </div><div class="approved">
              <span>Approved</span>
              <p>{{ contributor.translations.filter(approved=True).count() }}</p>
            </div><div class="translated">
              <span>Unapproved</span>
              <p>{{ contributor.translations.exclude(approved=True).exclude(fuzzy=True).count() }}</p>
            </div><div class="fuzzy">
              <span>Needs work</span>
              <p>{{ contributor.translations.filter(fuzzy=True).count() }}</p>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"><sup id="fn-translations">Translation counts do not include unchanged translations.<a href="#ref-translations" title="Jump back to top.">↩</a></sup></td>
      </tr>
    </tfoot>
  </table>
</form>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'users' %}
{% endblock %}
