{% extends "landing.html" %}

{% import "widgets/contributors.html" as Contributors %}

{% block title %}Pontoon &middot; {{ contributor.name_or_email }}{% endblock %}

{% block class %}user{% endblock %}

{% block before %}
<!-- Server data -->
<div id="server" class="hidden"
     {% if csrf_token %}data-csrf="{{ csrf_token }}"{% endif %}
     {% if user.is_authenticated() and user.email %}data-email="{{ user.email|nospam }}"{% endif %}
     >
</div>
{% endblock %}

{% block heading_url %}
  {% if user.is_authenticated() and user.email == contributor.email %}
    http://gravatar.com/
  {% endif %}
{% endblock %}

{% block heading %}
{% if user.is_authenticated() and user.email == contributor.email %}<div class="desc">Update profile picture</div>{% endif %}
<img class="rounded" src="{{ contributor.gravatar_url(200) }}">
{% endblock %}

{% block subtitle %}
  {% if user.is_authenticated() and user.email == contributor.email %}
    <div class="wrapper">
      <input type="text" placeholder="What's your name?" value="{{ contributor.first_name }}" maxlength="30">
      <div class="submit fa fa-arrow-circle-right"></div>
    </div>
  {% else %}
    <div class="uneditable">{{ contributor.first_name }}</div>
  {% endif %}
{% endblock %}

{% block middle %}
<ul class="info">
  <li><span class="fa fa-fw fa-envelope"></span><a href="mailto:{{ contributor.email|nospam }}">{{ contributor.email|nospam }}</a></li>
  <li><span class="fa fa-fw fa-lock"></span>{{ contributor|display_permissions() }}</li>
  {% if user.is_authenticated() and user.email == contributor.email %}
    <li class="settings"><i class="fa fa-fw fa-cog"></i><a href="{{ url('pontoon.user_settings') }}">Change Settings</a></li>
  {% endif %}
</ul>

<ul class="notification">
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
</ul>

<div class="details">
  <div class="total">
    <span>Total</span>
    <p>{{ translations.count() }}</p>
  </div><div class="translated">
    <span>Translated</span>
    <p>{{ translations.filter(approved=True).count() }}</p>
  </div><div class="suggested">
    <span>Suggested</span>
    <p>{{ translations.exclude(approved=True).exclude(fuzzy=True).count() }}</p>
  </div><div class="fuzzy">
    <span>Fuzzy</span>
    <p>{{ translations.filter(fuzzy=True).count() }}</p>
  </div>
</div>

<section id="timeline" data-url="{{ url('pontoon.contributor.timeline', username=contributor.username) }}" data-page="0" data-finalized="0">
  <div class="container">
  </div>
  <div id="timeline-loader">
    <div class="fa fa-refresh fa-spin"></div>
  </div>
</section>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'user' %}
{% endblock %}

{% block extend_js %}
  {% javascript 'user' %}
{% endblock %}
