{% extends "base.html" %}
{% import 'widgets/heading_info.html' as HeadingInfo %}
{% import 'projects/widgets/project_list.html' as ProjectList %}

{% block title %}프로젝트{% endblock %}

{% block class %}projects{% endblock %}

{% block heading %}
<section id="heading">
  <div class="container clearfix">
    <h1>
      {{ HeadingInfo.heading_item(
        title='프로젝트',
        link=url('pontoon.projects'))
      }}
    </h1>

    <ul class="details">
      {{ HeadingInfo.details_item(
        title='프로젝트 갯수',
        class='projects-count',
        value=projects|length)
      }}
      {{ HeadingInfo.details_item(
        title='제일 많이 번역된 프로젝트',
        class='most-translations',
        value=top_instances['most_translations'],
        value_link=url('pontoon.projects.project', top_instances['most_translations'].slug))
      }}
      {{ HeadingInfo.details_item(
        title='제일 많이 리뷰 안 된 프로젝트',
        class='most-suggestions',
        value=top_instances['most_suggestions'],
        value_link=url('pontoon.projects.project', top_instances['most_suggestions'].slug))
      }}
      {{ HeadingInfo.details_item(
        title='제일 많이 번역 안 된 프로젝트',
        class='missing-strings',
        value=top_instances['most_missing'],
        value_link=url('pontoon.projects.project', top_instances['most_missing'].slug))
      }}
      {{ HeadingInfo.details_item(
        title='제일 번역량이 많은 프로젝트',
        class='most-strings',
        value=top_instances['most_strings'],
        value_link=url('pontoon.projects.project', top_instances['most_strings'].slug))
      }}
    </ul>

    {{ HeadingInfo.progress_chart() }}
    {{ HeadingInfo.progress_chart_legend(projects.get_stats_sum()) }}
  </div>
</section>
{% endblock %}

{% block bottom %}
<section id="main" class="clearfix">
  <div class="container">
    <menu class="controls">
      <div class="search-wrapper small clearfix">
        <div class="icon fa fa-search"></div>
        <input class="table-filter" type="search" autocomplete="off" autofocus placeholder="프로젝트 필터">
      </div>
    </menu>

    {{ ProjectList.header() }}

    {% for project in projects %}
      {% set main_link = url('pontoon.projects.project', project.slug) %}
      {% set chart_link = url('pontoon.projects.project', project.slug) %}
      {% set latest_activity = project.get_latest_activity() %}
      {% set chart = project.get_chart() %}

      {{ ProjectList.item(project, main_link, chart_link, latest_activity, chart) }}
    {% endfor %}

    {{ ProjectList.footer() }}
  </div>
</section>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'projects' %}
{% endblock %}

{% block extend_js %}
  {% javascript 'projects' %}
{% endblock %}
