{% extends "base.html" %}

{% import 'admin_team_selector.html' as admin_team_selector %}
{% import 'admin_inline_formset.html' as inline_formset %}
{% import 'tag_inline_formset.html' as tag_inline_formset %}

{% block title %}{{'%(subtitle)s' | format(subtitle=subtitle) }}{% endblock %}

{% block class %}admin-project{% endblock %}

{% block middle %}
<form id="admin-form" method="POST" action="{{ request.path }}" class="{% if pk %}edit{% else %}add{% endif %}">

  <h1>
  {{ '%(subtitle)s' | format(subtitle=subtitle) }}
  {% if pk %}
  <aside>
    <a href="{{ url('pontoon.admin.project.new') }}">프로젝트 추가</a>
    {% if translate_locale and form.slug.value() != '' %}
    <a class="translate" href="{{ url('pontoon.localizations.localization', translate_locale, form.slug.value()) }}">번역하기</a>
    {% endif %}
  </aside>
  {% endif %}
  </h1>

  {% csrf_token %}

  {% if pk %}
  <input type="hidden" value="{{ pk }}" name="pk">
  {% endif %}

  <div class="half clearfix">
    <div class="labels">
      {{ form.name.label_tag() }}
      {{ form.slug.label_tag() }}
    </div>
    <div class="fields">
      {{ form.name }}
      {{ form.slug }}
    </div>
    <div class="errors">
      <div class="for-name">
        {{ form.name.errors }}
      </div>
      <div class="for-slug">
        {{ form.slug.errors }}
      </div>
    </div>
  </div>

  <h3>로케일</h3>

  <div class="locales clearfix">
      {{ admin_team_selector.render(locales_available, locales_selected, locales_readonly) }}
      {{ form.locales }}
      {{ form.locales.errors }}
      {{ form.locales_readonly }}
      {{ form.locales_readonly.errors }}
  </div>

  <div class="locales-toolbar clearfix">
    <section class="can-be-requested checkbox clearfix">
      <label for="id_can_be_requested">
          {{ form.can_be_requested }}로케일 옵트인을 가능하게 합니다
      </label>
    </section>
    <section class="copy-locales clearfix">
      <select id="copy-locales">
        <option selected>다른 프로젝트에서 로케일 복사해오기</option>
        {% for project in projects %}
          <option value="{{ project.locales|to_json() }}">{{ project.name }}</option>
        {% endfor %}
      </select>
    </section>
  </div>

  <section class="data-source">
    <h3>
      <span>데이터 소스</span>
    </h3>
    {{ form.data_source }}
  </section>

  <section class="new-strings">
    <h3>
      <span>줄</span>
    </h3>
    {% if not pk %}
    <div class="clearfix">
      <label for="id_new_strings">
        첫번째 항목을 작성하시려면 줄을 넣어주세요. 줄은 줄바뀜 문자로 나눠집니다.
      </label>
      <textarea id="id_new_strings" name="new_strings" class="strings-source" placeholder="처음 줄"></textarea>
    </div>
    {% endif %}
    {% if pk %}
    <div class="clearfix manage-strings">
      <a href="{{ url('pontoon.admin.project.strings', slug) }}">줄 관리</a>
      <a href="{{ url('pontoon.admin.project.strings', slug) }}?format=csv">줄 다운로드</a>
    </div>
    {% endif %}
  </section>

  <section class="repositories">
  <h3>
    <span>저장소</span>
    <a href="#add-repo" class="add-repo">더 추가하기</a>
  </h3>

  {{ repo_formset.management_form }}
  {{ repo_formset.non_form_errors() }}
  {% for repo_form in repo_formset %}
    <div class="repository clearfix">
      {{ repo_form.id }}
      <div class="clearfix">
        <section class="type-wrapper">
          {{ repo_form.type.label_tag(label_suffix='') }}
          {{ repo_form.type }}
        </section>
        <section class="details-wrapper">
          <div class="repo">
            {{ repo_form.url.label_tag(label_suffix='') }}
            {{ repo_form.url }}
            {{ repo_form.url.errors }}
          </div>
        </section>
        <section class="branch-wrapper">
          <div class="branch">
            {{ repo_form.branch.label_tag(label_suffix='') }}
            {{ repo_form.branch }}
            {{ repo_form.branch.errors }}
          </div>
        </section>
      </div>
      <section class="prefix-wrapper clearfix">
        <div class="prefix">
          {{ repo_form.permalink_prefix.label_tag(label_suffix='') }}
          {{ repo_form.permalink_prefix }}
          {{ repo_form.permalink_prefix.errors }}
        </div>
      </section>
      <section class="website-wrapper clearfix">
        <div class="website">
          {{ repo_form.website.label_tag(label_suffix='') }}
          {{ repo_form.website }}
          {{ repo_form.website.errors }}
        </div>
      </section>
      <div class="repository-toolbar clearfix">
        <section class="checkbox source-wrapper">
          <label for="id_repositories-0-source_repo" title="{{ repo_form.source_repo.help_text|trim }}">
              {{ repo_form.source_repo }}{{ repo_form.source_repo.label }}
          </label>
        </section>
        <section class="delete-wrapper">
          <div class="delete">
            {{ repo_form.DELETE.label_tag(label_suffix='') }}
            {{ repo_form.DELETE }}
          </div>
        </section>
      </div>
    </div>
  {% endfor %}
  <div class="repository-empty clearfix">
    {{ repo_formset.empty_form.id }}
    <div class="clearfix">
      <section class="type-wrapper">
        {{ repo_formset.empty_form.type.label_tag() }}
        {{ repo_formset.empty_form.type }}
      </section>
      <section class="details-wrapper">
        <div class="repo">
          {{ repo_formset.empty_form.url.label_tag() }}
          {{ repo_formset.empty_form.url }}
        </div>
      </section>
      <section class="branch-wrapper">
        <div class="branch">
          {{ repo_formset.empty_form.branch.label_tag() }}
          {{ repo_formset.empty_form.branch }}
        </div>
      </section>
    </div>
    <section class="prefix-wrapper clearfix">
      <div class="prefix">
        {{ repo_formset.empty_form.permalink_prefix.label_tag() }}
        {{ repo_formset.empty_form.permalink_prefix }}
      </div>
    </section>
    <section class="website-wrapper clearfix">
      <div class="website">
        {{ repo_formset.empty_form.website.label_tag() }}
        {{ repo_formset.empty_form.website }}
      </div>
    </section>
    <div class="repository-toolbar clearfix">
      <section class="delete-wrapper">
        <div class="delete">
          {{ repo_formset.empty_form.DELETE.label_tag() }}
          {{ repo_formset.empty_form.DELETE }}
        </div>
      </section>
    </div>
    {{ repo_formset.empty_form.errors }}
  </div>
  </section>

  <h3>
    <span>{{ form.configuration_file.label }}</span>
    <span class="small stress"> (옵션)</span>
  </h3>

  <div class="clearfix">
    <input id="id_configuration_file" name="설정 파일" type="text" placeholder="l10n.toml" value="{{ form.configuration_file.value() or '' }}">
    <label for="id_configuration_file">
      {{ form.configuration_file.help_text|trim }}
      <a href="https://moz-l10n-config.readthedocs.io/en/latest/fileformat.html" target="_blank">더 알아보기.</a>
    </label>
    {{ form.configuration_file.errors }}
  </div>

  <h3>프로젝트 정보<span class="small stress">(옵션)</span></h3>

  <div>
      {{ form.info }}
      <p class="subtitle">HTML를 지원합니다</p>
      {{ form.info.errors }}
  </div>

  <div>
      <label for="id_admin_notes">내부 관리자 노트 - 이 페이지에서만 보입니다</label>
      {{ form.admin_notes }}
      {{ form.admin_notes.errors }}
  </div>

  <div class="deadline-priority-contact clearfix">
    <section class="deadline clearfix">
      {{ form.deadline.label_tag() }}
      <input id="id_deadline" name="deadline" value="{{ form.deadline.value() or '' }}" type="text" placeholder="YYYY-MM-DD">
      {{ form.deadline.errors }}
    </section>
    <section class="priority clearfix">
      {{ form.priority.label_tag() }}
      {{ form.priority }}
      {{ form.priority.errors }}
    </section>
    <section class="contact clearfix">
        {{ form.contact.label_tag() }}
        {{ form.contact }}
        {{ form.contact.errors }}
    </section>
  </div>

  {{ inline_formset.render(title='External resources', type='externalresource', formset=external_resource_formset) }}
  <datalist id="external-resource-types">
    <option value="Development site">
    <option value="Production site">
    <option value="Development build">
    <option value="Production build">
    <option value="Screenshots">
    <option value="Issue tracking">
  </datalist>

  <h3>내부 문맥 로컬라이제이션 <span class="small stress">(옵션)</span></h3>

  <div class="clearfix">
      {{ form.url.label_tag() }}
      {{ form.url }}
      {{ form.url.errors }}
  </div>
  <div class="clearfix">
      {{ form.width.label_tag() }}
      {{ form.width }}
      {{ form.width.errors }}
  </div>
  <div class="checkbox clearfix">
      <label for="id_links">
          {{ form.links }}{{ form.links.label }}
      </label>
  </div>

  {{ inline_formset.render(title='Subpages', type='subpage', formset=subpage_formset) }}

  <section class="tags">
    <h3>
      <span>태그</span>
      <span class="small stress"> (옵션)</span>
    </h3>
    <div class="controls clearfix">
      <div class="checkbox clearfix">
        <label for="id_tags_enabled">
          {{ form.tags_enabled }}{{ form.tags_enabled.label }}
        </label>
      </div>
    </div>
    {% if tag_formset %}
    {{ tag_inline_formset.render(title='Linked tags', type='tag', formset=tag_formset, project=project) }}
    {% endif %}
  </section>

  <section class="visibility">
        <h3>
            <span>Visibility</span>
        </h3>
        {{ form.visibility }}
  </section>

  <section class="controls clearfix">
    <h3>
      <span>미리 번역</span>
    </h3>
    <div class="clearfix">
      <button class="pretranslate button clearfix">미리 번역</button>
      <div class="checkbox clearfix">
        <label for="id_pretranslation_enabled">
            {{ form.pretranslation_enabled }}{{ form.pretranslation_enabled.label }}
        </label>
      </div>
    </div>
  </section>

  <div class="controls clearfix">
      <div class="checkbox clearfix">
          <label for="id_disabled">
              {{ form.disabled }}{{ form.disabled.label }}
          </label>
      </div>
      <div class="checkbox clearfix">
          <label for="id_sync_disabled">
              {{ form.sync_disabled }}{{ form.sync_disabled.label }}
          </label>
      </div>
      {% if settings.MANUAL_SYNC %}
      <button class="sync button">동기화</button>
      {% endif %}
      <button class="button active save">프로젝트 저장</button>
      <a href="{{ url('pontoon.admin') }}" class="cancel">취소</a>
  </div>

</form>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'admin_project' %}
{% endblock %}

{% block extend_js %}
  {% javascript 'admin_project' %}
  {{ render_bundle('tag_admin') }}
{% endblock %}
