{% extends "base.html" %}

{% block title %}{{ _('Pontoon &middot; Admin') }}{% endblock %}

{% block class %}admin{% endblock %}

{% block content %}
<section id="intro" class="visible">
  <div class="inner">

    <nav>
      <ul class="links">
        <li><a href="{{ url('pontoon.home') }}" title="{{ _('Pontoon Home') }}">&larr; Home</a></li>
      </ul>
    </nav>

    <a href="{{ url('pontoon.admin') }}"><h1 id="title">{{ _('Admin') }}</h1></a>

    <form>
      <!-- Project input/select -->
      <div class="project select">
        <input name="url" class="url" type="text" placeholder="{{ _('Select a project or add a new one') }}" autocomplete="off" />
        <div class="button selector">
          <span class="handle">&#9662;</span>
        </div>
        <div class="menu">
          {% if projects %}
          <div class="horizontal-separator"></div>
          <ul>
            {% for project in projects %}
            <li class="clearfix"><span class="project-name">{{ project.name }}</span><span class="project-url">{{ project.url }}</span></li>
            {% endfor %}
          </ul>
          {% endif %}
          <div class="horizontal-separator"></div>
          <a class="add" href="{{ url('pontoon.admin.project.new') }}">Add a new project</a>
        </div>
      </div>
    </form>

  </div>
</section>
{% endblock %}
