{% extends "landing.html" %}

{% block title %}Pontoon &middot; Admin{% endblock %}

{% block class %}admin{% endblock %}

{% block heading %}Admin{% endblock %}

{% block subtitle %}Don't mess it up. Please.{% endblock %}

{% block middle %}
<form>
  <div class="add">
    <a href="{{ url('pontoon.admin.project.new') }}">Add new project</a>
  </div>

  {% include 'project_selector.html' %}
</form>
{% endblock %}

{% block extend_css %}
  <link rel="stylesheet" href="{{ static('css/admin.css') }}">
{% endblock %}

{% block extend_js %}
  {% compress js %}
  <script src="{{ static('js/admin.js') }}"></script>
  {% endcompress %}
{% endblock %}
