{% extends "landing.html" %}

{% import 'widgets/multiple_locale_selector.html' as multiple_locale_selector %}

{% block title %}Pontoon &middot; {{'%(subtitle)s' | format(subtitle=subtitle) }}{% endblock %}

{% block class %}admin-project{% endblock %}

{% block header %}{% endblock %}

{% block middle %}
<form id="admin-form" method="POST" action="{{ request.path }}" class="{% if pk %}edit{% else %}add{% endif %}">

  <h1 id="title">
  {{ '%(subtitle)s' | format(subtitle=subtitle) }}
  {% if pk %}
  <aside>
    <a href="{{ url('pontoon.admin.project.new') }}">Add new</a>
    {% if translate_locale and form.slug.value() != '' %}
    <a class="translate{% if not ready %} hidden{% endif %}" href="{{ url('pontoon.locale.project', translate_locale, form.slug.value()) }}">Translate</a>
    {% endif %}
  </aside>
  {% endif %}
  </h1>

  <ul class="notification{% if not messages %} hidden{% endif %}">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>

  {% csrf_token %}

  {% if pk %}
  <input type="hidden" value="{{ pk }}" name="pk">
  {% endif %}

  <div class="clearfix">
      {{ form.name.label_tag() }}
      {{ form.name }}
      {{ form.name.errors }}
  </div>
  <div class="clearfix">
      {{ form.slug.label_tag() }}
      {{ form.slug }}
      {{ form.slug.errors }}
  </div>
  <div class="locales clearfix">
      {{ multiple_locale_selector.render(locales_available, locales_selected) }}
      {{ form.locales }}
      {{ form.locales.errors }}
  </div>

  <h2>
    <span>Repositories</span>
    <a href="#add-subpage" class="add-repo">Add more</a>
  </h2>
  {{ repo_formset.management_form }}
  {{ repo_formset.non_form_errors() }}
  {% for repo_form in repo_formset %}
    <div class="repository clearfix">
      {{ repo_form.id }}
      <section class="type-wrapper">
        {{ repo_form.type.label_tag() }}
        {{ repo_form.type }}
      </section>
      <section class="details-wrapper">
        <div class="repo">
          {{ repo_form.url.label_tag() }}
          {{ repo_form.url }}
        </div>
      </section>
      <section class="source-wrapper">
        {{ repo_form.source_repo.label_tag() }}
        {{ repo_form.source_repo }}
      </section>
      <section class="delete-wrapper">
        <div class="delete">
          {{ repo_form.DELETE.label_tag() }}
          {{ repo_form.DELETE }}
        </div>
      </section>
      <section class="branch-wrapper">
        <div class="branch">
          {{ repo_form.branch.label_tag() }}
          {{ repo_form.branch }}
        </div>
      </section>
      <section class="prefix-wrapper">
        <div class="prefix">
          {{ repo_form.permalink_prefix.label_tag() }}
          {{ repo_form.permalink_prefix }}
          {{ repo_form.permalink_prefix.errors }}
        </div>
      </section>
    </div>
  {% endfor %}
  <div class="repository-empty clearfix">
    {{ repo_formset.empty_form.id }}
    <section class="type-wrapper">
      {{ repo_formset.empty_form.type.label_tag() }}
      {{ repo_formset.empty_form.type }}
    </section>
    <section class="details-wrapper">
      <div class="repo">
        {{ repo_formset.empty_form.url.label_tag() }}
        {{ repo_formset.empty_form.url }}
      </div>
    </section>
    <section class="delete-wrapper">
      <div class="delete">
        {{ repo_formset.empty_form.DELETE.label_tag() }}
        {{ repo_formset.empty_form.DELETE }}
      </div>
    </section>
    <section class="branch-wrapper">
      <div class="branch">
        {{ repo_formset.empty_form.branch.label_tag() }}
        {{ repo_formset.empty_form.branch }}
      </div>
    </section>
    <section class="prefix-wrapper">
      <div class="prefix">
        {{ repo_formset.empty_form.permalink_prefix.label_tag() }}
        {{ repo_formset.empty_form.permalink_prefix }}
      </div>
    </section>
    {{ repo_formset.empty_form.errors }}
  </div>

  <h2>Website</h2>

  <div class="clearfix">
      {{ form.url.label_tag() }}
      {{ form.url }}
      {{ form.url.errors }}
  </div>
  <div class="clearfix">
      {{ form.width.label_tag() }}
      {{ form.width }}
      {{ form.width.errors }}
  </div>
  <div class="checkbox clearfix">
      <label for="id_links">
          {{ form.links }}{{ form.links.label }}
      </label>
  </div>

  <h2>Subpages
      <span class="small">(optional)</span>
      <a href="#add-subpage" class="add-subpage">Add more</a>
  </h2>

  {{ subpage_formset.management_form }}
  {% for form in subpage_formset %}
      {{ form.id }}
  <div class="subpages clearfix">
      {{ form.name.label_tag(label_suffix='') }}
      {{ form.url.label_tag(label_suffix='') }}
      {{ form.name }}
      {{ form.url }}
      <button title="Delete subpage" class="button delete-subpage fa fa-trash-o" tabindex="-1"></button>
      {{ form.DELETE }}
      {{ form.name.errors }}
      {{ form.url.errors }}
  </div>
  {% endfor %}
  <div class="subpages clearfix" data-count="{{ subpage_formset.total_form_count() }}">
      {{ subpage_formset.empty_form.name.label_tag(label_suffix='') }}
      {{ subpage_formset.empty_form.url.label_tag(label_suffix='') }}
      {{ subpage_formset.empty_form.name }}
      {{ subpage_formset.empty_form.url }}
      <button title="Delete subpage" class="button delete-subpage fa fa-trash-o" tabindex="-1"></button>
      {{ subpage_formset.empty_form.DELETE }}
      {{ subpage_formset.empty_form.name.errors }}
      {{ subpage_formset.empty_form.url.errors }}
  </div>

  <h2>Project info <span class="small">(optional)</span></h2>

  <div>
      {{ form.info_brief }}
      <p class="subtitle">Supports HTML</p>
      {{ form.info_brief.errors }}
  </div>

  <div class="controls clearfix">
      {% if settings.MANUAL_SYNC %}
      <button class="sync button">Sync</button>
      {% endif %}
      <div class="checkbox clearfix">
          <label for="id_disabled">
              {{ form.disabled }}{{ form.disabled.label }}
          </label>
      </div>
      <button class="button">Save project</button>
      <a href="{{ url('pontoon.admin') }}" class="cancel">Cancel</a>
  </div>

</form>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'admin_project' %}
  {% stylesheet 'multiple_locale_selector' %}
{% endblock %}

{% block extend_js %}
  {% javascript 'admin_project' %}
  {% javascript 'multiple_locale_selector' %}
{% endblock %}

