.skeleton-loader.entities {
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.skeleton-loader p {
    height: 0.8125rem;
    background-color: #E2E2E2;
    animation: fading 1.5s infinite;
}

.skeleton-loader .text-2 {
    width: 50%;
    margin-bottom: 5px;
    display: inline-block;
}

@keyframes fading {
    0% {
        opacity: .1;
    }
  
    50% {
        opacity: .2;
    }
  
    100% {
        opacity: .1;
    }
}
