#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#app > header {
  background: var(--black-3);
  border-bottom: 1px solid var(--main-border-1);
  box-sizing: border-box;
  height: 60px;
  position: relative;
}

#app > .main-content {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

#app > .main-content > .panel-content,
#app > .main-content > .panel-list {
  position: relative;
}

#app > .main-content > .panel-list {
  width: 25%;
}

#app > .main-content > .panel-content {
  border-left: 1px solid var(--main-border-1);
  box-sizing: border-box;
  width: 75%;
}

/* NProgress: A nanoscopic progress bar. */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--status-translated);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--status-translated),
    0 0 5px var(--status-translated);
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

@media screen and (max-width: 600px) {
  /* Header */
  #app > header {
    min-width: auto;
  }

  #app .navigation > ul > li:first-child {
    margin-right: -7px;
  }

  #app .navigation > ul > li:not(:first-child) {
    display: none;
  }

  #app .progress-chart .menu {
    position: fixed;
    top: 59px;
  }

  #app .project-info .panel {
    left: -1px;
    right: -1px;
  }

  #app .user-notifications-menu .menu {
    right: -1px;
    position: fixed;
  }

  /* Main Content */
  #app > .main-content {
    overflow-x: hidden; /* Prevent horizontal scroll */
  }

  #app > .main-content > .panel-list,
  #app > .main-content > .panel-content {
    flex: none;
    left: -100%;
    transition: left 0.3s ease-in-out;
    width: 100%;
  }

  /* String List */
  #app > .main-content.entities-list {
    overflow: hidden; /* Prevent double scroll */
  }

  #app > .main-content.entities-list > .panel-list,
  #app > .main-content.entities-list > .panel-content {
    left: 0%;
  }

  #app .entity:hover .indicator {
    display: block;
  }

  #app .filters-panel .menu {
    border: 0;
    left: 0;
    width: 100%;
  }

  /* Editor */
  #app .entity-details {
    display: block;
  }

  #app .entity-details > section {
    height: auto;
    max-height: none;
    overflow-y: inherit;
    width: 100%;
  }

  #app .entity-navigation button.string-list {
    display: block;
    margin-right: 15px;
  }

  #app .entity-navigation button.previous {
    margin-right: 15px;
  }

  #app .keyboard-shortcuts .overlay {
    padding: 10px;
    width: 360px;
  }

  /* History */
  #app .entity-details .history {
    background: var(--editor-menu-background);
  }

  /* Helpers */
  #app > .main-content .third-column {
    border-left: none;
  }

  #app > .main-content .third-column .react-tabs span.count {
    background: var(--light-grey-6);
    box-shadow: 0 0 5px;
    color: var(--light-grey-6); /* used as box-shadow color */
    font-size: 0;
    height: 4px;
    width: 4px;
    padding: 0;
    position: absolute;
  }

  #app > .main-content .third-column .react-tabs span.count:has(.preferred),
  #app > .main-content .third-column .react-tabs span.count:has(.pinned) {
    background: var(--status-translated-alt);
    color: var(--status-translated-alt); /* used as box-shadow color */
  }
}
