@import '../../pontoon/static/css/dark-theme.css';

/* Reset HTML5 Search Input in Webkit */
input[type='search'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

body,
select,
input,
textarea,
button {
  font-family: 'Open Sans', 'Lucida Sans', 'Lucida Grande',
    'Lucida Sans Unicode', Verdana, sans-serif;
}

body {
  background: var(--black-4);
  color: var(--white-4);
}

body,
html,
#root {
  height: 100%;
  width: 100%;
}

a:link,
a:visited {
  color: var(--light-grey-8);
  font-weight: 300;
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--light-green-1);
  text-decoration: none;
}

/* Bug 1351813
 * Increase font size for the Arabic language to make it readable.
*/
[data-script='Arabic'] {
  font-size: 1.1em;
}

[data-script='Arabic'] .placeable {
  font-size: 0.9em;
}
