.editor-menu {
    color: #fff;
    padding: 10px;
    position: relative;
}

.editor-menu .actions {
    float: right;
}

.editor-menu .actions button {
    background: transparent;
    border: none;
    color: #EBEBEB;
    height: 40px;
    margin: 0 2px;
    padding: 10px 3px;
    text-transform: uppercase;
}

.editor-menu .actions button:hover {
    color: #7BC876;
}

.editor-menu .actions .action-save,
.editor-menu .actions .action-suggest {
    background: #7BC876;
    border-radius: 3px;
    color: #272A2F;
    font-weight: 600;
    margin-left: 10px;
    padding: 10px;
}

.editor-menu .actions .action-suggest {
    background: #4FC4F6;
}

.editor-menu .actions .action-save:hover,
.editor-menu .actions .action-suggest:hover {
    color: #EBEBEB;
}

.editor-menu .banner {
    font-style: italic;
    line-height: 40px;
}

.editor-menu .banner a {
    color: #7BC876;
}
