.notification-panel {
  background: var(--tooltip-background);
  cursor: pointer;
  font-size: 14px;
  font-style: italic;
  left: 0;
  line-height: 60px;
  list-style: none;
  margin: 0;
  position: fixed;
  text-align: center;
  top: -60px;
  width: 100%;
  z-index: 100;
  transition: 200ms;
}

.notification-panel .info,
.notification-panel .success,
.notification-panel .badge {
  color: var(--status-translated);
}

.notification-panel .error {
  color: var(--status-error);
}

/* Showing and hiding animations. */
.notification-panel.showing {
  top: 0;
}
