@import '../../../../../pontoon/static/css/dark-theme.css' .notification-panel {
  background: var(--grey-7);
  cursor: pointer;
  font-size: 14px;
  font-style: italic;
  left: 0;
  line-height: 60px;
  list-style: none;
  margin: 0;
  position: fixed;
  text-align: center;
  top: -60px;
  width: 100%;
  z-index: 100;
  transition: 200ms;
}

.notification-panel .info,
.notification-panel .success {
  color: var(--light-green-1);
}

.notification-panel .error {
  color: var(--red-pink);
}

/* Showing and hiding animations. */
.notification-panel.showing {
  top: 0;
}
