{% autoescape off %}
{% if projects %}
Please add the following projects to {{locale}} ({{ code }}):
{{ projects }}
{% else %}
Please add team {{ locale }} ({{ code }}) to Pontoon.
{% endif %}
Requested by {{ user }}, {{ user_role }}:
{{ user_url }}
{% endautoescape %}
