.history {
    background: #3F4752;
    color: white;
    overflow-y: auto;
    padding-top: 25px;
}

.history ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.history p {
    min-height: 22px;
}

.history > p {
    border-bottom: 1px solid #5E6475;
    color: #aaa;
    font-style: italic;
    padding: 5px 10px 20px 10px;
}
