.history .wrapper {
    border-bottom: 1px solid #5e6475;
}

.history .translation {
    cursor: pointer;
    padding: 15px 10px;
    display: flex;
}

.history .translation.cannot-copy {
    pointer-events: none;
}

.history .translation:not(.cannot-copy):hover {
    background: #4d5967;
}

.history .translation .user-avatar {
    padding-right: 8px;
    position: relative;
    top: 3px;
}

.history .translation .user-avatar img {
    border-radius: 6px;
    border: 2px solid #5e6475;
}

.history .translation:hover .user-avatar img {
    border-color: #637283;
}

.history .translation .content {
    flex-grow: 1;
}

.history .translation .content > header {
    color: #aaaaaa;
    display: block;
    font-size: 11px;
    font-weight: 300;
    padding: 1px 0 5px;
}

.history .translation .content > header .info {
    float: left;
}

.history .translation .content > header .toolbar {
    display: block;
    float: right;
}

.history .translation .content > header + p {
    clear: both;
    text-align: start;
    white-space: pre-wrap;
}

.history .translation .content > header .info time {
    padding-left: 3px;
}

.history .translation .content > header .info time::before {
    content: '•';
    padding-right: 3px;
}

.history .translation .content > header .info a {
    color: #7bc876;
}

.history .translation .content > header .toggle-diff,
.history .translation .content > header .toggle-comments {
    font-size: inherit;
    font-weight: 300;
    margin-right: 6px;
    text-transform: uppercase;
    pointer-events: auto;
}

.history .translation .content > header .toggle-diff:hover,
.history .translation .content > header .toggle-diff.active,
.history .translation .content > header .toggle-comments:hover,
.history .translation .content > header .toggle-comments.active {
    color: #7bc876;
}

.history .translation .content > header .toggle-comments.active {
    background: #333941;
    border: 1px solid #3f4752;
    border-radius: 4px;
    padding: 2px 4px;
}

.history .translation:hover .content > header .toggle-comments.active {
    border-color: #4d5967;
}

.history .translation .content > header .toggle-comments.active:hover {
    border-color: #637283;
}

.history .translation .content > header .toggle-comments.active .stress {
    color: #ccc;
}

.history .translation .content > header .divider {
    margin-right: 3px;
    margin-left: -3px;
}

.history .translation .content > header button {
    background: no-repeat transparent;
    border: none;
    color: #aaaaaa;
    display: inline-block;
    padding: 0;
    outline: none;
}

.history .translation .content > header button.fa,
.history .translation .content > header button.far {
    font-size: 1.8em;
    height: 22px;
    opacity: 0.5;
    pointer-events: auto;
    cursor: default;
    vertical-align: bottom;
    width: 22px;
}

.history .translation.rejected.can-reject header button.delete,
.history .translation.can-approve header button.approve,
.history .translation.can-approve header button.unapprove,
.history .translation.can-reject header button.reject,
.history .translation.can-reject header button.unreject {
    opacity: 1;
    cursor: pointer;
}

.history .translation.rejected {
    opacity: 0.4;
}

.history .translation.rejected:hover {
    opacity: 1;
}

.history .translation.fuzzy .content > header button.approve:before {
    color: #fed271;
}

.history .translation .content > header button.approve:before,
.history .translation .content > header button.unapprove:before {
    content: '';
}

.history .translation.can-approve .content > header button.approve:hover:before,
.history .translation .content > header button.unapprove:before {
    color: #7bc876;
}

.history .translation:not(.can-approve) .content > header button.approve:before,
.history
    .translation.can-approve
    .content
    > header
    button.approve:not(:hover):before,
.history
    .translation.can-approve
    .content
    > header
    button.unapprove:hover:before {
    font-weight: 400;
}

.history .translation .content > header button.reject:before,
.history .translation .content > header button.unreject:before {
    content: '';
    margin-left: 5px;
}

.history .translation.can-reject .content > header button.reject:hover:before,
.history .translation .content > header button.unreject:before {
    color: #f36;
}

.history .translation:not(.can-reject) .content > header button.reject:before,
.history
    .translation.can-reject
    .content
    > header
    button.reject:not(:hover):before,
.history
    .translation.can-reject
    .content
    > header
    button.unreject:hover:before {
    font-weight: 400;
}

.translation .content > header button.delete {
    margin-right: 1px;
}

.translation .content > header button.delete:before {
    content: '';
    float: left;
    font-size: 19px;
    margin-top: -1px;
}

.translation .content > header button.delete:hover:before {
    color: #f36;
}

.machinery-sources {
    position: absolute;
    top: 0;
    left: -2px;
    color: #7bc876;
    font-size: 14px;
}

.machinery-sources::before {
    content: '';
}

.history .translation .avatar-container {
    position: relative;
}
