.history .translation {
    border-bottom: 1px solid #5E6475;
    cursor: pointer;
    padding: 5px 10px 20px 10px;
    transition: all 0.1s ease-out;
}

.history .translation:hover {
    background: #4D5967;
}

.history .translation > header {
    color: #AAAAAA;
    display: block;
    font-size: 11px;
    font-weight: 300;
    padding: 1px 0 5px;
    text-transform: uppercase;
}

.history .translation > header .info {
    float: left;
}

.history .translation > header .toolbar {
    display: block;
    float: right;
}

.history .translation > header + p {
    clear: both;
    text-align: start;
    white-space: pre-wrap;
}

.history .translation > header .info time {
    color: #7BC876;
    padding-left: 3px;
}
.history .translation > header .info a {
    text-transform: none;
}

.history .translation > header .toggle-diff {
    margin-right: 6px;
}

.history .translation > header .toggle-diff.active {
    color: #7BC876;
}

.history .translation > header button {
    background: no-repeat transparent;
    border: none;
    color: #AAAAAA;
    display: inline-block;
    pointer-events: none;
    opacity: 0.5;
    outline: none;
    font-size: 1.8em;
    height: 22px;
    padding: 0;
    vertical-align: bottom;
    width: 22px;
}

.history .translation.rejected.can-reject header button.delete,
.history .translation.can-approve header button.approve,
.history .translation.can-approve header button.unapprove,
.history .translation.can-reject header button.reject,
.history .translation.can-reject header button.unreject {
    pointer-events: auto;
    opacity: 1;
}

.history .translation.rejected {
    opacity: 0.4;
}

.history .translation.rejected:hover {
    opacity: 1;
}

.history .translation.fuzzy > header button.approve:before {
    color: #FED271;
}

.history .translation > header button.approve:before,
.history .translation > header button.unapprove:before {
    content: "";
}

.history .translation > header button.approve:hover:before,
.history .translation > header button.unapprove:before {
    color: #7BC876;
}

.history .translation > header button.approve:not(:hover):before,
.history .translation > header button.unapprove:hover:before {
    font-weight: 400;
}

.history .translation > header button.reject:before,
.history .translation > header button.unreject:before {
    content: "";
    margin-left: 5px;
}

.history .translation > header button.reject:hover:before,
.history .translation > header button.unreject:before {
    color: #F36;
}

.history .translation > header button.reject:not(:hover):before,
.history .translation > header button.unreject:hover:before {
    font-weight: 400;
}

.translation > header button.delete {
    margin-right: 1px;
}

.translation > header button.delete:before {
    content: "";
    float: left;
    font-size: 19px;
    margin-top: -1px;
}

.translation > header button.delete:hover:before {
    color: #F36;
}
