.machinery .translation {
  border-bottom: 1px solid var(--main-border-1);
  cursor: pointer;
  padding: 10px;
}

.machinery .translation.cannot-copy {
  pointer-events: none;
}

.machinery .translation.cannot-copy .sources.projects {
  pointer-events: auto;
}

.machinery .translation:not(.cannot-copy):hover,
.machinery .translation.selected {
  background: var(--dark-grey-1);
}

.machinery .translation > header {
  color: var(--light-grey-7);
  display: block;
  font-size: 11px;
  font-weight: 300;
  padding: 1px 0 5px;
  text-align: right;
}

.machinery .translation > header ul {
  display: inline-block;
}

.machinery .translation > header ul li {
  display: inline;
  padding-left: 3px;
}

.machinery .translation > header a {
  pointer-events: auto;
}

.machinery .translation > header > ul > li:not(:first-child)::before {
  content: '•';
  padding-right: 3px;
}

.machinery .translation > header li.google-translation {
  position: relative;
}

.machinery
  .translation
  > header
  li.google-translation:hover
  .translation-source {
  color: var(--status-translated);
}

.machinery .translation > header li.google-translation .selected-option {
  margin-left: 3px;
  margin-right: 3px;
  color: var(--status-translated);
}

.machinery .translation > header li.google-translation .dropdown-toggle {
  background: var(--status-translated);
  border: none;
  border-radius: 2px;
  color: var(--translation-main-button-color);
  padding: 0 2px;
}

.machinery .translation > header li.google-translation .dropdown-title {
  padding-right: 2px;
}

.machinery .translation > header li.google-translation .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 10px 12px;
  background-color: var(--black-3);
  border: 1px solid var(--main-border-1);
  color: var(--light-grey-7);
  overflow: hidden;
  list-style: none;
}

.machinery .translation > header li.google-translation .dropdown-menu li {
  padding: 2px 4px;
  text-align: left;
  display: block;
  white-space: nowrap;
}

.machinery .translation > header li.google-translation .dropdown-menu li:hover {
  background: var(--dark-grey-2);
  color: var(--white-1);
}

.machinery
  .translation
  > header
  li.google-translation
  .dropdown-menu
  li.horizontal-separator {
  border-top: 1px solid var(--main-border-1);
  height: 0;
  margin: 5px 0;
  padding: 0;
}

.machinery .translation > header .quality::after {
  content: '•';
  color: var(--light-grey-7);
  padding-left: 3px;
}

.machinery .translation > header .quality,
.machinery .translation > header sup {
  color: var(--status-translated-alt);
}

.machinery .translation > header .projects {
  max-width: calc(100% - 10px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.machinery .translation p {
  color: var(--translation-color);
  min-height: 22px;
  text-align: start;
  white-space: pre-wrap;
}

.machinery .translation p.original {
  color: var(--translation-secondary-color);
}

.machinery .translation p.suggestion .fa-spin {
  color: var(--translation-secondary-color);
}
