.machinery .translation {
  border-bottom: 1px solid var(--main-border-1);
  cursor: pointer;
  padding: 10px;
}

.machinery .translation.cannot-copy {
  pointer-events: none;
}

.machinery .translation.cannot-copy .sources.projects {
  pointer-events: auto;
}

.machinery .translation:not(.cannot-copy):hover,
.machinery .translation.selected {
  background: var(--dark-grey-1);
}

.machinery .translation > header {
  color: var(--light-grey-7);
  display: block;
  font-size: 11px;
  font-weight: 300;
  padding: 1px 0 5px;
  text-align: right;
}

.machinery .translation > header ul {
  display: inline-block;
}

.machinery .translation > header ul li {
  display: inline;
  padding-left: 3px;
}

.machinery .translation > header a {
  pointer-events: auto;
}

.machinery .translation > header ul li:not(:first-child)::before {
  content: '•';
  padding-right: 3px;
}

.machinery .translation > header .quality::after {
  content: '•';
  color: var(--light-grey-7);
  padding-left: 3px;
}

.machinery .translation > header .quality,
.machinery .translation > header sup {
  color: var(--status-translated-alt);
}

.machinery .translation > header .projects {
  max-width: calc(100% - 10px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.machinery .translation p {
  color: var(--translation-color);
  min-height: 22px;
  text-align: start;
  white-space: pre-wrap;
}

.machinery .translation p.original {
  color: var(--translation-secondary-color);
}

.google-translation {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
  color: var(--status-translated);
}

.selected-option {
  margin-left: 10px;
  margin-right: 10px;
  color: var(--status-translated);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: var(--black-3);
  color: var(--status-translated);
  box-shadow: 0px 8px 16px 0px var(--toggle-color-1);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
}

.machinery .translation > header ul li .dropdown-menu li {
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  list-style-type: none;
}

.dropdown-menu li:hover {
  background: var(--dark-grey-2);
  color: var(--white-1);
}
