.new-contributor-tooltip {
  background: #272a2f;
  border: 1px solid #333941;
  border-radius: 10px;
  box-shadow: 0 0 20px #000b;
  box-sizing: border-box;
  margin: -20px auto;
  padding: 20px;
  position: absolute;
  right: -280px;
  width: 250px;
  z-index: 20;
}

.new-contributor-tooltip p {
  color: #aaa;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.new-contributor-tooltip p:not(:last-child) {
  padding-bottom: 10px;
}

.new-contributor-tooltip p.title {
  font-size: 24px;
  padding-bottom: 20px;
  text-align: center;
}

.new-contributor-tooltip p a {
  color: #f36;
}
