name: Frontend

on:
  push:
    branches:
      - master
    paths:
      - frontend/**
      - .github/workflows/frontend.yml
  pull_request:
    branches:
      - master
    paths:
      - frontend/**
      - .github/workflows/frontend.yml

jobs:
  flow:
    name: Flow & build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Root install
        run: npm install
      - name: Install dependencies
        run: yarn
        working-directory: frontend
      - name: flow
        run: yarn flow
        working-directory: frontend
      - name: build
        run: yarn build
        working-directory: frontend

  jest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install globals
        run: |
          npm install -g yarn codecov
      - name: Install dependencies
        run: npm install
        working-directory: frontend
      - name: Test
        run: yarn test --coverage
        working-directory: frontend
      - name: codecov.io
        run: codecov -F frontend

  flow-to-ts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: git config
        run: |
          git config --global user.email "Jane@example.com"
          git config --global user.name "Jane Doe"

      - name: Install globals
        run: |
          npm install -g yarn @khanacademy/flow-to-ts
      - name: npm install
        run: npm install
      - name: install frontend
        working-directory: frontend
        run: yarn install
      - name: Pre-flight switches
        working-directory: frontend
        run: |
          yarn remove flow-bin
          yarn add -D typescript @types/jest @types/node @types/react @types/react-dom
      - name: Redirect prettier
        run: |
          python -c "from pathlib import Path;pack_path=Path('package.json');pack_path.write_text(pack_path.read_text().replace('**/frontend/**/*.{js,css}','**/frontend/**/*.{ts,tsx,css}'))"
      - name: Pre-flight diff
        run: git diff
      - name: Pre-flight commit
        run: git commit -am"Pre-flight flow to ts"
      - name: flow-to-ts
        run: flow-to-ts --inline-utility-types --write --delete-source 'frontend/src/**/!(*.test).js'
      - name: prettier
        run: npm run prettier
      - name: Stage
        run: |
          git add frontend
          git commit -m'flow-to-ts'
      - name: flow-to-ts diff
        run: git -c diff.renameLimit=36000 show HEAD
      - name: tsc
        working-directory: frontend
        run: ./node_modules/.bin/tsc -b no-tsconfig.json --pretty
        continue-on-error: true
