name: Python linting

on:
  push:
    branches:
      - main
    paths:
      - pontoon/**.py
      - .github/workflows/py-lint.yml
      - requirements/lint.txt
  pull_request:
    branches:
      - main
    paths:
      - pontoon/**.py
      - .github/workflows/py-lint.yml
      - requirements/lint.txt
  workflow_dispatch:

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Set up uv
        uses: astral-sh/setup-uv@v2
        with:
          enable-cache: true
          version: "0.4.9"
      - name: Install Dependencies
        run: uv pip install -r requirements/lint.txt
        env:
          UV_SYSTEM_PYTHON: 1
      - name: ruff lint
        run: ruff check pontoon
      - name: ruff format
        run: ruff format --check pontoon
