You have gained a new badge level!
<br>
{{ badge }}: Level {{ level }}
<br>
You can view this badge on your <a href="{{ url('pontoon.contributors.contributor.username', user.username) }}">profile page</a>.
