{% extends 'base.html' %}

{% block title %}Email consent{% endblock %}

{% block class %}email-consent{% endblock %}

{% block middle %}
<section id="main">
    <section>
      <div class="container">
        <h1>{{ settings.EMAIL_CONSENT_TITLE }}</h1>
        <p class="main-text">{{ settings.EMAIL_CONSENT_MAIN_TEXT|safe }}</p>
        <div class="buttons">
          <button class="enable">Enable email communications</button>
          <button class="disable">No, thanks</button>
        </div>
        <p class="privacy-notice">{{ settings.EMAIL_CONSENT_PRIVACY_NOTICE|safe }}</p>
      </div>
    </section>
</section>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'email_consent' %}
{% endblock %}

{% block extend_js %}
  {% javascript 'email_consent' %}
{% endblock %}
