{% extends 'base.html' %}
{% import "widgets/checkbox.html" as Checkbox %}
{% import 'heading.html' as Heading %}
{% import "contributors/widgets/notifications_menu.html" as Notifications with context %}
{% import 'teams/widgets/multiple_team_selector.html' as multiple_team_selector %}
{% import 'widgets/multiple_item_selector.html' as multiple_item_selector %}

{% block title %}Messaging Center{% endblock %}

{% block class %}messaging{% endblock %}

{% block heading %}
{{ Heading.heading(title='Messaging Center', subtitle='Send emails and notifications to localizers') }}
{% endblock %}

{% block bottom %}
<section id="main">
  <div class="container">
    <section class="clearfix">
      <div class="menu permanent left-column">
        <ul>
          <li class="selected">
            <a href="#compose" data-target="#compose">Compose</a>
          </li>
          <li class="horizontal-separator"></li>
          <li>
            <a href="#sent" data-target="#sent">
              <span class="name">Sent</span>
              <span class="count">{{ messages|length }}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="menu permanent right-column">
        <section id="compose" class="selected">
          <form id="send-message" method="POST" action="{{ url('pontoon.messaging.send_message') }}">
            {% csrf_token %}

            <h3><span class="stress">#1</span> Message type</h3>
            <section class="message-type">
              <ul class="check-list">
                {{ Checkbox.checkbox('Notification', class='notification', attribute='notification') }}
                <li><input type="checkbox" name="notification"></li>
                {{ Checkbox.checkbox('Email', class='email', attribute='email') }}
                <li><input type="checkbox" name="email"></li>
                {{ Checkbox.checkbox('Transactional', class='transactional', attribute='transactional', help='Transactional emails are also sent to users who have not opted in to email communication. They are restricted in the type of content that can be included.') }}
                <li class="transactional"><input type="checkbox" name="transactional"></li>
              </ul>

                <div class="errors">
                  <p>You must select at least one message type</p>
                </div>
            </section>

            <h3><span class="stress">#2</span> Message editor</h3>
            <section class="message-editor">
              <div class="field clearfix subject">
                <label for="subject">Subject</label>
                <input type="text" name="subject" required="" id="subject">
                <div class="errors">
                  <p>Your message must include a subject</p>
                </div>
              </div>

              <div class="field clearfix body">
                <label for="body">Body</label>
                <textarea name="body" cols="40" rows="10" required="" id="body"></textarea>
                <div class="subtitle">
                  <p>Supports html</p>
                </div>
                <div class="errors">
                  <p>Your message must include a body</p>
                </div>
              </div>
            </section>

            <h3><span class="stress">#3</span> Filter by User Role</h3>
            <section class="filter-user-role">
              <ul class="check-list">
                {{ Checkbox.checkbox('Managers', class='managers', attribute='managers', is_enabled=True) }}
                <li><input type="checkbox" name="managers" checked="checked"></li>
                {{ Checkbox.checkbox('Translators', class='translators', attribute='translators', is_enabled=True) }}
                <li><input type="checkbox" name="translators" checked="checked"></li>
                {{ Checkbox.checkbox('Contributors', class='contributors', attribute='contributors', is_enabled=True) }}
                <li><input type="checkbox" name="contributors" checked="checked"></li>
              </ul>

                <div class="errors">
                  <p>You must select at least one user role</p>
                </div>
            </section>

            <h3><span class="stress">#4</span> Filter by Locale</h3>
            <section class="filter-locale">
                <div class="multi-selector locale-selector">
                    <div class="clearfix">
                      {{ multiple_team_selector.render(available_locales, [], form_field='locales') }}
                    </div>
                </div>
                <div class="errors">
                    <p>You must select at least one locale</p>
                </div>
            </section>

            <h3><span class="stress">#5</span> Filter by Project</h3>
            <section class="filter-project">
                <div class="multi-selector project-selector">
                    <div class="clearfix">
                      {{ multiple_item_selector.render(available_projects, [], form_field='projects') }}
                    </div>
                </div>
                <div class="errors">
                    <p>You must select at least one project</p>
                </div>
            </section>

            <menu class="controls">
              <button class="button active send">Send</button>
            </menu>
          </form>
        </section>
        <section id="sent">
        </section>
      </div>
    </section>
  </div>
</section>
{% endblock %}

{% block extend_css %}
{% stylesheet 'messaging' %}
{% endblock %}

{% block extend_js %}
{% javascript 'messaging' %}
{% endblock %}
