{% extends 'base.html' %}

{% block title %}Unsubscribe{% endblock %}

{% block class %}standalone{% endblock %}

{% block middle %}
<section id="main">
    <section>
      <div class="container">
        <h1>You've been unsubscribed</h1>
        <p class="main-text">Unsubscribed by accident? <a href="{{ url('pontoon.messaging.subscribe', uuid) }}">Subscribe again</a> or update your email <a href="{{ url('pontoon.contributors.settings') }}">settings</a>.</p>
      </div>
    </section>
</section>
{% endblock %}

{% block extend_css %}
  {% stylesheet 'standalone' %}
{% endblock %}
